.popular {
	margin-bottom: 15px;

	&__inner {
		position: relative;
		padding: 20px 30px;
		padding-bottom: 40px;
		background: #fff;
	}

	&__swiper{
		margin-bottom: 20px;
		border-bottom: 1px solid  #f2f2f2;
	}

	&__item{
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {

			width: 25%;
		}
	}

	&__link {
		color: #000;
		display: block;
		padding: 5px 0;
	}

	@media (--tablet) {

		&__list {

			&-item {
				width: 33.33%;
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		.container {
			width: 100%;
		}
	}

	@media (--phone) {

		&__list {

			&-item {
				width: 100%;
				text-align: center;
			}
		}

		&__inner{
			padding: 20px;
		}
	}
}