{%set popularItems = ['Варочные центры Miele','Духовые шкафы Miele','Вытяжки Miele', 'Микроволновые печи Miele', 'Микроволновые печи Miele', 'Посудомоечные машины Miele', 'Подогреватели Miele', 'Пароварки Miele','Пароварки Miele', 'Кофемашины Miele', 'Винные холодильники Miele']%}

<div class="popular">
	<div class="popular__inner">
		<div class="swiper__wrapper swiper__wrapper_popular">
			<div class="small-title">Популярные категории товаров в бренде</div>
			<div class="swiper-container swiper_top-popular js-swiper-top-popular">
				<div class="swiper-wrapper">
					<div class="swiper-slide active" data-slide="0">
						<img src="images/popular/miele.png" alt="">
					</div>
					<div class="swiper-slide" data-slide="1">
						<img src="images/popular/dedietrich.png" alt="">
					</div>
					<div class="swiper-slide" data-slide="2">
						<img src="images/popular/gaggenau.png" alt="">
					</div>
					<div class="swiper-slide" data-slide="3">
						<img src="images/popular/kuppersbusch.png" alt="">
					</div>
					<div class="swiper-slide" data-slide="4">
						<img src="images/popular/aeg.png" alt="">
					</div>
					<div class="swiper-slide" data-slide="5">
						<img src="images/popular/kuppersberg.png" alt="">
					</div>
				</div>
			</div>
			<div class="swiper-container swiper_popular js-swiper-popular">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<ul class="popular__list">
							{% for item in popularItems %}
							<li class="popular__list-item">
								<a class="popular__link" href="#">{{item}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="swiper-slide">
						<ul class="popular__list">
							{% for item in popularItems %}
							<li class="popular__list-item">
								<a class="popular__link" href="#">{{item}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="swiper-slide">
						<ul class="popular__list">
							{% for item in popularItems %}
							<li class="popular__list-item">
								<a class="popular__link" href="#">{{item}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="swiper-slide">
						<ul class="popular__list">
							{% for item in popularItems %}
							<li class="popular__list-item">
								<a class="popular__link" href="#">{{item}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="swiper-slide">
						<ul class="popular__list">
							{% for item in popularItems %}
							<li class="popular__list-item">
								<a class="popular__link" href="#">{{item}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="swiper-slide">
						<ul class="popular__list">
							{% for item in popularItems %}
							<li class="popular__list-item">
								<a class="popular__link" href="#">{{item}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="swiper-button-prev swiper-button-prev_popular"></div>
				<div class="swiper-button-next swiper-button-next_popular"></div>
			</div>
		</div>
	</div>
</div>