.search-menu{
	max-width: 1015px;
	margin-left: auto;
	margin-right: auto;
	display: flex;

	&.hide{
		display: none;
	}

	&__wrap{
		position: relative;
		width: 25%;
	}

	&__title{
		margin-bottom: 15px;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 16px;

	}
	&__block{
		margin-bottom: 35px;
	}

	&__list{
		list-style-type: none;
		margin:0;
		padding: 0;
		margin-bottom: 10px;
	}

	&__link{
		font-size: 13px;
		color: #ababab;
		font-weight: 300;
		line-height: 24px;

		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}

	&__more{
		position: relative;
		border: none;
		background: none;
		color: #d30216;
		font-weight: 400;
		padding: 0;
		padding-right: 20px;
		cursor: pointer;

		&:focus{
			outline: none;
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			right: 0;
			top: 4px;
			width: 8px;
			height: 8px;
			border: 2px solid transparent;
			border-bottom-color: #d30216;
			border-right-color: #d30216;
			transform: rotate(45deg);
		}

		&.active {

			&:after {
				top: 8px;
				transform: rotate(-135deg);
			}
		}
	}

	&__image{
		position: relative;
		bottom: -40px;
		left: 0;
		display: flex;
		align-items: flex-end;
	}

	@media (--tabletAndMobile) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media (--phone) {
		padding-left: 3%;
		padding-right: 3%;
		justify-content: center;

		&__wrap{
			display: none;

			&:last-child{
				width: auto;
				display: inline-block;
			}
		}

		&__block{
			display: none;
		}

		&__image{
			bottom: 0;

			img{
				max-width: 100% ;
			}
		}
	}
}

a.search-menu__title{

	&:hover{
		color: #d30216;
		text-decoration: none;
	}
}