{%set homeItems = ['Стиральные машины','Сушильные машины','Паровые шкафы для одежды','Гладильные системы','Телевизоры','Винные шкафы','Мойки','Смесители','Измельчители', 'Хьюмидоры', 'Дровяные печи','Аксессуары']%}
{%set kitchenItems = ['Духовые шкафы','Варочные панели','Холодильники','Посудомоечные машины','Микроволновые печи','Пароварки','Кофемашины','Вытяжки', 'Комбт-панели', 'Подогреватели', 'Фритюрницы', 'Грили', 'Вакуумные упаковщики']%}
{%set techniqueItems = ['Блендеры','Миксеры','Тостеры', 'Чайники', 'Соковыжималки', 'Весы', 'Кофемолки','Вафельницы', 'Кухонные комбайны', 'Мультиварки', 'Посуда']%}
{%set bangItems = ['Телевизоры','Акустические системы','Беспроводные акустические системы', 'Наушники', 'Аксессуары и принадлежности']%}
{%set informationItems = ['ЖК партнеры','Новости','Статьи' , 'Конфиденциальность' , 'Контакты']%}
{%set serviceItems = ['Бесплатный выезд менежера','Сотрудничество с дизайнерами','Обмен и возврат','Доставка и оплата','Условия продажи товара физическим лицам']%}
{%set actionItems = ['Промо-акция KitchenAid','Новогоднее предложение KitchenAid','Подарки от Smeg 2017!' , 'Скидка на сушильную машину Miele']%}

<div class="search-menu js-search-menu">
	<div class="search-menu__wrap">
		<div class="search-menu__block">
			<div class="search-menu__title">Для дома</div>
			<ul class="search-menu__list js-search-menu__list">
				{% for item in homeItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="search-menu__more js-search-menu__more">Показать еще</button>
		</div>

		<div class="search-menu__block">
			<div class="search-menu__title">Для кухни</div>
			<ul class="search-menu__list js-search-menu__list">
				{% for item in kitchenItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="search-menu__more js-search-menu__more">Показать еще</button>
		</div>
	</div>
	<div class="search-menu__wrap">
		<div class="search-menu__block">
			<div class="search-menu__title">Мелкая техника</div>
			<ul class="search-menu__list js-search-menu__list">
				{% for item in techniqueItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="search-menu__more js-search-menu__more">Показать еще</button>
		</div>

		<div class="search-menu__block">
			<a href="#" class="search-menu__title">Для профессионалов</a>
		</div>

		<div class="search-menu__block">
			<div class="search-menu__title">Bang & Olufsen</div>
			<ul class="search-menu__list js-search-menu__list">
				{% for item in bangItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="search-menu__more js-search-menu__more">Показать еще</button>
		</div>
	</div>
	<div class="search-menu__wrap">
		<div class="search-menu__block">
			<a href="#" class="search-menu__title">Кухни Hausdorf</a>
		</div>

		<div class="search-menu__block">
			<div class="search-menu__title">Информация</div>
			<ul class="search-menu__list ">
				{% for item in informationItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="search-menu__block">
			<div class="search-menu__title">Сервис</div>
			<ul class="search-menu__list">
				{% for item in serviceItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="search-menu__wrap">
		<div class="search-menu__block">
			<div class="search-menu__title">Акции</div>
			<ul class="search-menu__list js-search-menu__list">
				{% for item in actionItems %}
				<li class="search-menu__item">
					<a class="search-menu__link" href="#">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="search-menu__more js-search-menu__more">Показать еще</button>
		</div>
		<div class="search-menu__image">
			<img src="images/discount.png" alt="">
		</div>
	</div>

</div>