{% set items = [
'images/brands/smeg.png',
'images/brands/graude.png',
'images/brands/miele.png',
'images/brands/gaggenau.png',
'images/brands/subzero.png'
]
%}

<nav class="menu">

	<ul class="menu__list">
		{% for item in items %}
		<li class="menu__item">
			<a href="#" class="menu__link">
				<img src={{ item }} alt="">
			</a>
		</li>
		<!-- /.menu__item -->
		{% endfor %}
	</ul>

</nav>
<!-- /.menu -->