.menu {
	flex-grow: 1;

	@media (max-width:$tablet) {
		display: none;
	}

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 45px;
		list-style: none;
	}

	&__link {

		padding: 0 17px;
		opacity: 0.8;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__item:hover &__link,
	&__item.active &__link {
		opacity: 1;
	}

	&__item:hover &-sub {
		opacity: 1;
		pointer-events: auto;
	}

	&-sub {
		position: absolute;
		pointer-events: none;
		opacity: 0;
		left: 0;
		width: 100%;
		margin-top: -2px;
		padding-top: 2px;
		transition: opacity 500ms;

		&__inner {
			background: #fff;
			box-shadow: 0 10px 10px -10px #555;
		}

		&__block {
			padding: 30px 0 0;
			margin: 0 auto;
			width: 1170px;
			display: flex;
			justify-content: space-between;
		}

		&__pic {
			display: block;
		}

		&__section {
			&_big {
				min-width: 40%;
			}

		}

		&__title {
			color: rgb(51, 51, 51);
			font-family: Webnar;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		&__list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		&__section_big &__list {
			columns: 3;
		}

		&__item {
		}

		&__link {
			color: rgb(51, 51, 51);
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}

	}


}
