<section class="basket js-basket-padding">
	<form class="basket__form">
		<div class="basket__top js-basket-fixed">
			<h1 class="basket__title">В корзине <strong>6</strong>&nbsp;товаров на <span>314 900 руб.</span></h1>
			<div class="basket__order-wrapper">
				<button type="submit" class="js-form__submit basket__order">Оформить заказ</button>
			</div>

		</div>
		<div class="tabs tabs_basket">
			<ul class="tabs__links">
				<li>
					<a href="#js-tabs__item-1" class="tabs__link  js-tabs__link active">Физическое лицо</a>
				</li>
				<li>
					<a href="#js-tabs__item-2" class="tabs__link  js-tabs__link ">Юридическое лицо</a>
				</li>
			</ul>

			<div class="tabs__content">
				<div class="tabs__item  js-tabs__item active" id="js-tabs__item-1">

					<div class="basket__wrapper js-form">
						<div class="basket__left">
							<div class="form-inputs__block">
								<label for="name" class="form-inputs__label form-inputs__label_required">Ваше
									имя</label>
								<input type="text" name="name" class="form-inputs__field js-required basket__field"
								       id="name"
								       placeholder="Введите имя">
							</div>
							<div class="form-inputs__block">
								<label for="email" class="form-inputs__label form-inputs__label_required">E-mail</label>
								<input type="email"
								       class="form-inputs__field js-required js-required-email basket__field"
								       name="email" id="email"
								       placeholder="Email"
								       title="Введите корректный email" data-empty="Заполните e-mail">
							</div>
							<div class="form-inputs__block">
								<label for="phone" class="form-inputs__label form-inputs__label_required">Контактный
									телефон</label>
								<div class="form-inputs__code">
									<span>+7</span>
									<input type="tel"
									       class="form-inputs__field form-inputs__field_phone basket__field js-required  js-required-phone"
									       id="phone" name="phone"
									       placeholder="Введите телефон" title="Введите корректный номер"
									       data-empty="Заполните телефон">
								</div>
							</div>
							<div class="basket__wrapper basket__wrapper_half">
								<div class="form-inputs__block form-inputs__block_town">
									<label for="city" class="form-inputs__label">Город</label>
									<input type="text" class="form-inputs__field js-optional basket__field" name="city"
									       id="city"
									       placeholder="Введите город">
								</div>
								<div class="form-inputs__block form-inputs__block_address">
									<label for="address"
									       class="form-inputs__label">Адрес</label>
									<input type="text" class="form-inputs__field js-optional basket__field"
									       name="address" id="address"
									       placeholder="Введите адрес доставки">
								</div>
							</div>
						</div>
						<div class="basket__right">

							<label for="message" class="form-inputs__label">Дополнительная информация</label>
							<textarea class="form-inputs__message basket__message" name="message" id="message"
							          cols="30"
							          rows="5"></textarea>

							<div class="form-inputs__block">
								<label class="form-inputs__label form-inputs__label_block">Способ оплаты</label>
								<div class="basket__pay">
									<div class="form-inputs__block">
										<input type="radio" name="pay" id="cash" checked>

										<label class="basket__label" for="cash">
											<span class="icon icon_cash"></span>
											Наличными
										</label>
									</div>
									<div class="form-inputs__block">
										<input type="radio" name="pay" id="yandex">

										<label class="basket__label"
										       for="yandex">
											<span class="icon icon_yandex"></span>
											Яндекс.Деньги
										</label>
									</div>
								</div>
								<div class="basket__pay">
									<div class="form-inputs__block">
										<input type="radio" name="pay" id="card">

										<label class="basket__label" for="card">
											<span class="icon icon_card"></span>
											Картой Visa, Mastercard онлайн
										</label>
									</div>
									<div class="form-inputs__block">
										<input type="radio" name="pay" id="bank">

										<label class="basket__label" for="bank">
											<span class="icon icon_bank"></span>
											Банковский платеж
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs__item  js-tabs__item " id="js-tabs__item-2">
					<div class="basket__wrapper js-form-second">
						<div class="basket__left">
							<div class="form-inputs__block">
								<label for="layerName" class="form-inputs__label form-inputs__label_required">Ваше
									имя</label>
								<input type="text" class="form-inputs__field js-required basket__field" name="layerName"
								       id="layerName"
								       placeholder="Введите имя">
							</div>
							<div class="form-inputs__block">
								<label for="layerEmail"
								       class="form-inputs__label form-inputs__label_required">E-mail</label>
								<input type="email"
								       class="form-inputs__field js-required js-required-email basket__field"
								       id="layerEmail"
								       placeholder="Email"
								       title="Введите корректный email" name="layerEmail" data-empty="Заполните e-mail">
							</div>
							<div class="form-inputs__block">
								<label for="layerPhone" class="form-inputs__label form-inputs__label_required">Контактный
									телефон</label>
								<div class="form-inputs__code">
									<span>+7</span>
									<input type="tel"
									       class="form-inputs__field form-inputs__field_phone basket__field js-required  js-required-phone"
									       id="layerPhone" name="layerPhone"
									       placeholder="Введите телефон" title="Введите корректный номер"
									       data-empty="Заполните телефон">
								</div>
							</div>

							<div class="form-inputs__block">
								<label for="layerCity" class="form-inputs__label">Город</label>
								<input type="text" name="layerCity" class="form-inputs__field js-optional basket__field"
								       id="layerCity"
								       placeholder="Введите город">
							</div>


						</div>
						<div class="basket__right">

							<label for="layerMessage" class="form-inputs__label">Дополнительная информация</label>
							<textarea class="form-inputs__message basket__message" name="message" id="layerMessage"
							          cols="30"
							          rows="5"></textarea>

							<div class="form-inputs__block">
								<label class="form-inputs__label form-inputs__label_block">Реквизиты организации (doc,
									docx, pdf, jpg)</label>
								<div class="form-inputs__block">
									<div class="file">
										<input type="file" name="file" id="file" class="file__input js-file" multiple
										       accept=".doc, .docx, .jpg, .jpeg, .pdf"/>
										<label class="file__label"
										       for="file"><span>Прикрепить реквизиты организации</span></label>
										<ul class="file__results"></ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="basket__small-title">6 товаров</div>
		<div class="basket__head">
			<div class="basket__desc"></div>
			<div class="basket__info">
				<div class="basket__block">
					<div class="basket__definition">Количество</div>
				</div>
				<div class="basket__block">
					<div class="basket__definition  basket__definition_cost">Стоимость</div>
				</div>
				<div class="basket__block">
				</div>
			</div>
		</div>
		<div class="basket__items">
			<div class="basket__item js-basket__item">
				<div class="basket__desc js-basket-desc">
					<div class="basket__image">
						<img class="lazyload" data-src="images/basket-1.png" alt="">
					</div>
					<div class="basket__content">
						<div class="subject">Беспроводная акустическая система</div>
						<a href="#" class="name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
						<div class="articul">Артикул: <span>316-64471</span></div>
					</div>
				</div>
				<div class="basket__info">
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__count">
								<div class="basket__minus js-basket-minus"></div>
								<input type="tel" class="basket__count-field js-count-field" value="1">
								<div class="basket__plus js-basket-plus"></div>
							</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<div class="basket__hide-return js-basket-return">
								<span class="icon icon_return"></span>
								<span>Вернуть в корзину</span>
							</div>
						</div>

					</div>
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__score js-basket__score">57 950 руб.</div>
							<div class="basket__number js-basket__number"></div>
							<div class="basket__price js-basket__price">57 950 руб.</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<span class="basket__hide-remove js-basket-remove">Потвердить удаление</span>
						</div>
					</div>
					<div class="basket__block">
						<span class="icon icon_basket-close js-basket-close"></span>
					</div>
				</div>
			</div>
			<div class="basket__item js-basket__item">
				<div class="basket__desc js-basket-desc">
					<div class="basket__image">
						<img class="lazyload" data-src="images/basket-2.png" alt="">
					</div>
					<div class="basket__content">
						<div class="subject">Стирально-сушильная машина</div>
						<a href="#" class="name">Kuppersbusch WA 1940.0 W </a>
						<div class="articul">Артикул: <span>316-64471</span></div>
					</div>
				</div>
				<div class="basket__info">
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__count">
								<div class="basket__minus js-basket-minus"></div>
								<input type="tel" class="basket__count-field js-count-field" value="1">
								<div class="basket__plus js-basket-plus"></div>
							</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<div class="basket__hide-return js-basket-return">
								<span class="icon icon_return"></span>
								<span>Вернуть в корзину</span>
							</div>
						</div>

					</div>
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__score js-basket__score">196 860 руб.</div>
							<div class="basket__number js-basket__number"></div>
							<div class="basket__price js-basket__price">196 860 руб.</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<span class="basket__hide-remove js-basket-remove">Потвердить удаление</span>
						</div>
					</div>
					<div class="basket__block">
						<span class="icon icon_basket-close js-basket-close"></span>
					</div>
				</div>
			</div>
			<div class="basket__item js-basket__item">
				<div class="basket__desc js-basket-desc">
					<div class="basket__image">
						<img class="lazyload" data-src="images/basket-3.png" alt="">
					</div>
					<div class="basket__content">
						<div class="subject">Встраиваемый комбинированный холодильник</div>
						<a href="#" class="name">Asko RF2826 S</a>
						<div class="articul">Артикул: <span>143-20970</span></div>
					</div>
				</div>
				<div class="basket__info">
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__count">
								<div class="basket__minus js-basket-minus"></div>
								<input type="tel" class="basket__count-field js-count-field" value="1">
								<div class="basket__plus js-basket-plus"></div>
							</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<div class="basket__hide-return js-basket-return">
								<span class="icon icon_return"></span>
								<span>Вернуть в корзину</span>
							</div>
						</div>

					</div>
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__score js-basket__score">57 950 руб.</div>
							<div class="basket__number js-basket__number"></div>
							<div class="basket__price js-basket__price">57 950 руб.</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<span class="basket__hide-remove js-basket-remove">Потвердить удаление</span>
						</div>
					</div>
					<div class="basket__block">
						<span class="icon icon_basket-close js-basket-close"></span>
					</div>
				</div>
			</div>
			<div class="basket__item js-basket__item">
				<div class="basket__desc js-basket-desc">
					<div class="basket__image">
						<img class="lazyload" data-src="images/basket-4.png" alt="">
					</div>
					<div class="basket__content">
						<div class="subject">Вытяжка</div>
						<a href="#" class="name">Kuppersbusch WA 1940.0 W </a>
						<div class="articul">Артикул: <span>316-64471</span></div>
					</div>
				</div>
				<div class="basket__info">
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__count">
								<div class="basket__minus js-basket-minus"></div>
								<input type="tel" class="basket__count-field js-count-field" value="1">
								<div class="basket__plus js-basket-plus"></div>
							</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<div class="basket__hide-return js-basket-return">
								<span class="icon icon_return"></span>
								<span>Вернуть в корзину</span>
							</div>
						</div>

					</div>
					<div class="basket__block">
						<div class="basket__active js-basket-active">
							<div class="basket__score js-basket__score">165 800 руб.</div>
							<div class="basket__number js-basket__number"></div>
							<div class="basket__price js-basket__price">165 800 руб.</div>
						</div>
						<div class="basket__hide js-basket-hide">
							<span class="basket__hide-remove js-basket-remove">Потвердить удаление</span>
						</div>
					</div>
					<div class="basket__block">
						<span class="icon icon_basket-close js-basket-close"></span>
					</div>
				</div>
			</div>
		</div>

		{% if basketMiele %}
		<div class="basket__application">
			<div class="basket__small-title">Заявка на товары Miele:</div>
			<div class="basket__text">
				На следующие товары для вас будет оформлена заявка. <a href="#">В стоимость текущей покупки товары Miele
				включены не будут. </a>
				<br>После уточнения деталей наши менеджеры пригласят вас в салон для оформления договора купли-продажи.
			</div>
			<div class="basket__head">
				<div class="basket__desc"></div>
				<div class="basket__info">
					<div class="basket__block">
						<div class="basket__definition">Количество</div>
					</div>
					<div class="basket__block">
						<div class="basket__definition basket__definition_cost">Стоимость</div>
					</div>
					<div class="basket__block">
					</div>
				</div>
			</div>
			<div class="basket__items basket__items_brand">
				<div class="basket__item js-basket__item">
					<div class="basket__desc js-basket-desc">
						<div class="basket__image">
							<img class="lazyload" data-src="images/basket-1.png" alt="">
						</div>
						<div class="basket__content">
							<div class="subject">Беспроводная акустическая система</div>
							<a href="#" class="name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
							<div class="articul">Артикул: <span>316-64471</span></div>
						</div>
					</div>
					<div class="basket__info">
						<div class="basket__block">
							<div class="basket__active js-basket-active">
								<div class="basket__count">
									<div class="basket__minus js-basket-minus"></div>
									<input type="tel" class="basket__count-field js-count-field" value="1">
									<div class="basket__plus js-basket-plus"></div>
								</div>
							</div>
							<div class="basket__hide js-basket-hide">
								<div class="basket__hide-return js-basket-return">
									<span class="icon icon_return"></span>
									<span>Вернуть в корзину</span>
								</div>
							</div>

						</div>
						<div class="basket__block">
							<div class="basket__active js-basket-active">
								<div class="basket__score js-basket__score">57 950 руб.</div>
								<div class="basket__number js-basket__number"></div>
								<div class="basket__price js-basket__price">57 950 руб.</div>
							</div>
							<div class="basket__hide js-basket-hide">
								<span class="basket__hide-remove js-basket-remove">Потвердить удаление</span>
							</div>
						</div>
						<div class="basket__block">
							<span class="icon icon_basket-close js-basket-close"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="information information_basket">
				<div class="information__item">
					<span class="icon icon_information"></span>
					<a href="#" class="information__text">Тарифы на доставку техники Miele.pdf<span
						class="information__size">8,5 мб.</span>
					</a>
				</div>
				<div class="information__item">
					<span class="icon icon_information"></span>
					<a href="#" class="information__text">Условия приобретения техники Miele.pdf<span
						class="information__size">1,3 мб.</span>
					</a>
				</div>
				<div class="information__item">
					<span class="icon icon_information"></span>
					<a href="#" class="information__text">Тарифы на подключение техники Miele.pdf<span
						class="information__size">2,2 мб.</span>
					</a>
				</div>
				<div class="information__item">
					<span class="icon icon_information"></span>
					<a href="#" class="information__text">Тарифы на подключение техники Miele.pdf<span
						class="information__size">2,2 мб.</span>
					</a>
				</div>
				<div class="information__item">
					<span class="icon icon_information"></span>
					<a href="#" class="information__text">Тарифы на подключение техники Miele.pdf<span
						class="information__size">2,2 мб.</span>
					</a>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="basket__bottom">
			<div class="basket__bottom-left">
				<ul class="basket__list">
					<li class="basket__list-item">
						<span class="basket__list-name">Имя:</span>
						<span class="basket__list-answer">Константин Константинопольский</span>
					</li>
					<li class="basket__list-item">
						<span class="basket__list-name">Телефон:</span>
						<span class="basket__list-answer">+7 495 602-96-21</span>
					</li>
					<li class="basket__list-item">
						<span class="basket__list-name">Email:</span>
						<span class="basket__list-answer">example@email.com</span>
					</li>
					<li class="basket__list-item">
						<span class="basket__list-name">Способ оплаты:</span>
						<span class="basket__list-answer">Картой Visa/MasterCard онлайн</span>
					</li>
					<li class="basket__list-item">
						<span class="basket__list-name">Адрес доставки:</span>
						<span class="basket__list-answer">г.Москва, ул. Большая Покровская, д.62/5</span>
					</li>
				</ul>
				<div class="basket__warn">
					<span class="icon icon_warn"></span>
					<div class="basket__warn-text">Онлайн-оплата вашего заказа будет доступна сразу после согласования
						вашего заказа с менеджером
					</div>
				</div>
			</div>
			<div class="basket__bottom-right">
				<div class="basket__bottom-summ"><span>6</span>&nbsp;товаров на сумму:</div>
				<div class="basket__bottom-price">314 900 руб.</div>
				<div class="basket__order-wrapper">
					<button type="submit" class="js-form__submit basket__order basket__order_bottom">Оформить
						заказ
					</button>
				</div>
				<div class="basket__admire">
					Оформляя заказ я принимаю условия <a href="#">пользовательского соглашения</a>&nbsp;о предоставлении
					персональных данных
				</div>
			</div>
		</div>
	</form>
</section>