<section class="map-block">
	<div class="map-block__text">
		Для ознакомления с образцами техники Miele и оформления заказа необходимо приехать в одну из авторизованных
		точек продаж. Подробная информация у наших операторов.
	</div>
	<div class="map-block__row">
		<div class="map-block__col">
			<div class="map-block__item">
				<div class="map-block__map js-map-block">
					<div  data-coords="55.85963007, 37.46611650"></div>
				</div>
				<span class="icon icon_service-map"></span>
				<button type="button" class="map-block__button js-map-button">Ленинский проспект д.61</button>
			</div>
		</div>
		<div class="map-block__col">
			<div class="map-block__item">
				<div class="map-block__map js-map-block">
					<div  data-coords="55.86832357, 37.45962150"></div>
				</div>
				<span class="icon icon_service-map"></span>
				<button type="button" class="map-block__button js-map-button">Ленинский проспект д.67</button>
			</div>
		</div>
		<div class="map-block__col">
			<div class="map-block__item">
				<div class="map-block__map js-map-block">
					<div data-coords="55.85784107, 37.46909900"></div>
				</div>
				<span class="icon icon_service-map"></span>
				<button type="button" class="map-block__button js-map-button">Ленинский проспект д.100</button>
			</div>
		</div>
		<div class="map-block__col">
			<div class="map-block__item">
				<div class="map-block__map js-map-block">
					<div data-coords="55.62872352, 37.42975750"></div>
				</div>
				<span class="icon icon_service-map"></span>
				<button type="button" class="map-block__button js-map-button">22-ой км. Киевского ш., "Румянцево"</button>
			</div>
		</div>
	</div>
</section>