.map-block {
	margin-bottom: 15px;
	border-bottom: 3px solid $primaryColor;

	&__text {
		margin-bottom: 30px;
		font-size: 13px;
	}

	&__button {
		border: none;
		background: none;
		padding: 0;
		border-bottom: 1px dashed #c0c0c0;
		cursor: pointer;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	&__row {
		display: flex;

	}

	&__col {
		width: 25%;
	}

	&__item {
		position: relative;
		text-align: center;

		&:first-child {
			text-align: left;
		}
	}

	&__map {
		position: absolute;
		bottom: calc(100% + 20px);
		width: 270px;
		height: 200px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
		z-index: -1;

		div {
			width: 100%;
			height: 100%;
		}

		&.active {
			opacity: 1;
			pointer-events: auto;
			z-index: 12;
		}
	}

	@media (max-width: 1200px) {
		padding-bottom: 0;
		margin-right: -1%;
		margin-left: -1%;

		&__row {
			flex-wrap: wrap;
		}

		&__item {
			margin-bottom: 20px;

			&:first-child {
				text-align: center;
			}
		}
	}

	@media (max-width: 1200px) and (min-width: 768px) {

		&__col {
			width: 50%;
		}

	}

	@media (--phone) {

		&__col {
			width: 100%;
		}
	}
}