<div class="results {% if search %} results_search {% endif %}">
	<div class="results__requests">Частые запросы:</div>
	<div class="results__models">
		<a href="#" class="results__model">Стиральные машины ASKO</a>
		<a href="#" class="results__model">Модели 2017</a>
		<a href="#" class="results__model">Миксеры</a>
		<a href="#" class="results__model">Выезд менеджера на дом</a>
	</div>
</div>