.results{
	display: flex;
	text-transform: none;

	&_search{
		margin-bottom: 55px;
	}

	&__requests{
		min-width: 110px;
		margin-right: 20px;
		margin-top: -3px;
		color: #5a5a5a;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}

	&__models{
		margin-left: -30px;
	}

	&__model{
		margin-left: 30px;
		margin-bottom: 10px;
		display: inline-block;
		vertical-align: middle;

		&:hover{

		}
	}

	@media (--phone) {

		&_search {
			margin-bottom: 20px;
			flex-direction: column;
			padding-left: 3%;
			padding-right: 3%;
		}
	}
}

