<div class="recent js-recent">
	<div class="recent__wrapper">
		<div class="small-title">Вы недавно смотрели</div>
		<div class="recent__swiper swiper-container js-recent-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-1.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
							<div class="recent__price">150 000 руб.</div>
							<a href="#" class="recent__application">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-2.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Духовой шкаф</div>
							<a href="#" class="recent__name">Asko OP8676S</a>
							<div class="recent__price">145 900 руб.</div>
							<a href="#" class="recent__application">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-3.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Беспроводная акустическая система</div>
							<a href="#" class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
							<div class="recent__price">150 000 руб.</div>
							<a href="#" class="recent__application">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-1.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
							<div class="recent__price">150 000 руб.</div>
							<a href="#" class="recent__application">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-4.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Стиральная машина</div>
							<a href="#" class="recent__name">Kuppersbusch WA 1940.0 W </a>
							<div class="recent__price">199 755 руб.</div>
							<a href="#" class="recent__application">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-1.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
							<div class="recent__price">150 000 руб.</div>
							<a href="#" class="recent__application">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-2.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Духовой шкаф</div>
							<a href="#" class="recent__name">Asko OP8676S</a>
							<div class="recent__price">145 900 руб.</div>
							<a href="#" class="recent__application">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-3.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Беспроводная акустическая система</div>
							<a href="#" class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
							<div class="recent__price">150 000 руб.</div>
							<a href="#" class="recent__application">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-1.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
							<div class="recent__price">150 000 руб.</div>
							<a href="#" class="recent__application">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="recent__item">
						<a href="#" class="recent__link">
							<span class="icon icon_likes"></span>
							<span class="icon icon_compare-card"></span>
							<div class="recent__image">
								<img class="swiper-lazy" src="images/recent-10.png" alt="">
							</div>
						</a>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Стиральная машина</div>
							<a href="#" class="recent__name">Kuppersbusch WA 1940.0 W </a>
							<div class="recent__price">199 755 руб.</div>
							<a href="#" class="recent__application">Купить</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-scrollbar"></div>
		</div>
	</div>
</div>