.recent {
	position: relative;
	background: #fff;
	@include bg;

	&__wrapper {
		padding: 30px;
	}

	&__swiper {
		padding-bottom: 30px;
	}

	&__row {
		font-size: 0;
		margin: 0 -10px;
	}

	&__col {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		padding: 0 10px;
		margin-bottom: 15px;

		&_wide {
			width: 50%;
		}

	}

	&__item {
		position: relative;
		height: 100%;
		padding-top: 50px;
		box-shadow: inset 0 0 0 2px #eaedf0;

		&:hover {
			box-shadow: inset 0 0 0 2px #494949;

			.recent__application {
				display: inline-block;
			}

			.recent__price {
				display: none;
			}

			.icon {
				display: block;
			}
		}

		.icon {
			position: absolute;
			top: 20px;
			right: 20px;
			display: none;

			&_likes {
				right: 60px;
			}
		}

		&_wide {
			padding-top: 0;
			height: 100%;
			box-shadow: none;

			&:hover {
				box-shadow: none;

				.recent__price {
					visibility: visible;
				}
			}

			.recent__image {
				position: absolute;
				width: 100%;
				height: 100%;
				padding-left: 0;
				padding-right: 0;
				max-height: inherit;
				min-height: inherit;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.recent__subject {
				min-height: inherit;
			}

			.recent__footer {
				justify-content: flex-start;
			}

			.recent__name {
				min-height: 28px;
				color: #ffffff;
			}
			.recent__application {
				margin-left: 20px;
			}
		}
	}

	&__link {
		display: inline-block;
		width: 100%;
	}

	&__image {
		min-height: 160px;
		max-height: 160px;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	&__desc {
		padding: 20px;
	}

	&__subject {
		display: block;
		color: #959595;
		min-height: 32px;
		font-size: 12px;
		font-weight: 400;
	}

	&__name {
		display: block;
		min-height: 63px;
		color: #1f1f1f;
		font-size: 15px;
		font-weight: 400;

		&:hover {
			color: $primaryColor;
		}
	}

	&__price {
		color: $primaryColor;
		font-size: 16px;
		font-weight: 500;
		line-height: 29px;
	}

	&__application {
		display: none;
		padding: 6.5px 25.5px;
		background-color: $primaryColor;
		background-image: linear-gradient(to top, rgba(255, 56, 36, 0.25) 0%, rgba(255, 56, 36, 0) 100%);
		color: #fff;
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		border: none;
		cursor: pointer;

		&:hover {
			color: #ffffff;
			background-color: #ff0019;
			background-image: none;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__wrap {
		position: absolute;
		width: 100%;
		left: 0;
		padding-left: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
		bottom: -5px;
		z-index: 3;

		@media (--phone) {
			padding-left: 10px;
		}

		&-text {
			max-width: 248px;
			color: #fff;
			font-size: 24px;
			font-weight: 300;
		}
	}

	&_favorite {

		&:after, &:before {
			display: none;
		}

		.recent__row {
			display: flex;
			flex-wrap: wrap;
		}

		.recent__application,
		.recent__price {
			display: inline-block;
			vertical-align: middle;

		}

		.recent__application {

			&_leave {
				display: none;
				min-width: 147px;
			}
		}

		.recent__item {
			position: relative;

			&:hover {

				.recent__price {
					display: inline-block;
					vertical-align: middle;
				}
			}

			&_order {

				&:hover {

					.recent__price {
						visibility: hidden;
						height: 29px;
					}

					.recent__footer {
						justify-content: flex-end;
					}

					.recent__application_basket {
						display: none;
					}

					.recent__application_leave {
						display: block;
					}
				}
			}

			.icon {
				display: inline-block;
				position: absolute;
				right: 20px;
				top: 20px;
				z-index: 1;

				&_likes {
					right: 60px;
				}
			}
		}
	}

	@media (max-width: 1135px) {

		&__footer {
			flex-direction: column;
		}

		&__item {

			&_wide {

				.recent__footer {
					flex-direction: row;
				}
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;
		padding-bottom: 0;

		&__wrapper {
			padding: 10px;
		}

		.swiper-wrapper {
			display: flex;
			-webkit-overflow-scrolling: touch;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.swiper-slide {
			width: 220px;
		}
		

		&__image {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			width: 103px;
			min-height: 93px;
			max-height: 93px;

			img {
				max-width: 100%;
			}
		}

		&__subject {
			text-overflow: ellipsis;
			min-height: inherit;
			height: 16px;
			overflow: hidden;
			white-space: nowrap;
		}

		&__application {
			padding: 6.5px 23.5px;
			padding-top: 8.5px;
			padding-bottom: 4.5px;
		}

		&__item {

			&:hover {
				box-shadow: inset 0 0 0 2px #eaedf0;
			}
		}

		&__desc {
			padding: 20px 10px;
		}

	}

	@media (--tablet) {
		.swiper-slide + .swiper-slide {
			margin-left: 10px;
		}
	}

	@media (--phone) {
		.swiper-slide + .swiper-slide {
			margin-left: -2px;
		}
	}

	@media (--phone) and (min-width: 480px) {

		&__col {
			width: 50%;

			&_wide {
				width: 100%;
				height: 258px;
			}

			&_advice {
				width: 100%;
			}
		}

		.icon{
			display: block;
		}
	}

	@media (max-width: 480px) {

		&__col {
			width: 50%;

			&_wide {
				width: 100%;
				height: 258px;
			}

			&_advice {
				width: 100%;
			}
		}

		.icon{
			display: block;
		}
	}
}