<div class="search-result" id="js-search-result">
	<div class="search-result__wrapper">
		<table class="search__result-table">
			<tr>
				<th class="search-result__cell search-result__cell_photo">
					<a href="#" class="search-result__link">
						<img src="images/search-1.png"  alt="" class="search-result__pic">
					</a>
				</th>
				<td class="search-result__cell search-result__cell_name">
					<a class="search-result__name" href="#">
						Беспроводная акустическая системa
						<span>Bang & Olufsen Beoplay A6 Oxidized brass</span>
					</a>
				</td>
			</tr>
			<tr>
				<th class="search-result__cell search-result__cell_photo">
					<a href="#" class="search-result__link">
						<img src="images/search-2.png"  alt="" class="search-result__pic">
					</a>
				</th>
				<td class="search-result__cell search-result__cell_name">
					<a class="search-result__name" href="#">
						Стирально-сушильная машина
						<span>Kuppersbusch WA6 1940.0 W</span>
					</a>
				</td>
			</tr>
			<tr>
				<th class="search-result__cell search-result__cell_photo">
					<a href="#" class="search-result__link">
						<img src="images/search-3.png"  alt="" class="search-result__pic">
					</a>
				</th>
				<td class="search-result__cell search-result__cell_name">
					<a class="search-result__name" href="#">
						Встраиваемый комбинированный холодильник
						<span>Asko RF2826 A6</span>
					</a>
				</td>
			</tr>
			<tr>
				<th class="search-result__cell search-result__cell_photo">
					<a href="#" class="search-result__link">
						<img src="images/search-4.png"  alt="" class="search-result__pic">
					</a>
				</th>
				<td class="search-result__cell search-result__cell_name">
					<a class="search-result__name" href="#">
						Новости
						<span>KitchenAid IconicA6 — дизайн неподвластный времени</span>
					</a>
				</td>
			</tr>
		</table>
	</div>

</div>