.search-result{
	display: none;
	padding: 20px;

	&.active{
		display: block;
	}

	&__cell{
		padding-bottom: 20px;

		&_photo{
			padding-right: 20px;

		}

		&_name{
			span{
				display: block;
				font-size: 15px;
				color: #1f1f1f;
			}
		}
	}

	&__name{
		color: #959595;
		font-size: 12px;
	}

}