.glossary {
	margin-bottom: 25px;

	.seo__banner{
		margin-left: -10px;
		margin-right: -10px;
	}

	&__items {
		column-count: 3;
		margin-left: -20px;
		margin-bottom: 30px;
	}

	&__block {
		padding-left: 20px;
		margin-bottom: 40px;
	}

	&__item + &__item {
		margin-top: 15px;
	}

	&__letter {
		margin-bottom: 10px;
		color: $primaryColor;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
	}

	&__link {
		opacity: 0.75;
		color: #202020;
		font-size: 13px;
		font-weight: 700;

		&:hover {
			position: relative;
			opacity: 1;
			color: #000;

			&::after {
				content: "";
				position: absolute;
				display: block;
				top: 3px;
				left: -15px;
				width: 9px;
				height: 9px;
				background-color: $primaryColor;
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;
		margin-bottom: 10px;
	}

	@media (--tablet) {

		&__items {
			column-count: 2;
		}
	}

	@media (--phone) {

		&__items {
			column-count: 1;
		}
	}
}