.rating {
	padding-top: 40px;
	margin-bottom: 15px;

	&__text {
		margin-bottom: 35px;
		font-size: 15px;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 24px;
		color: #202020;
		font-weight: 700;
	}

	&__banner {
		margin-bottom: 35px;

		img {
			max-width: 100%;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__col {
		width: 48%;
	}

	&__small-title {
		margin-bottom: 17px;
		font-size: 18px;
		font-weight: 700;
	}

	&__item {
		margin-bottom: 45px;

		&-text {
			max-width: 480px;
			font-size: 15px;
			font-weight: 300;
		}
	}

	&__promo {
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&__text {
			font-size: 12px;
		}

		&__item {

			&-text {
				font-size: 12px;
			}

		}
	}

	@media (--tablet) {
		margin-bottom: 5px;
		padding: 30px 20px;
		padding-bottom: 40px;

		&__title {
			font-size: 18px;
		}

		&__small-title {
			font-size: 15px;
		}

		&__text {
			margin-bottom: 22px;
		}

		&__item {
			margin-bottom: 30px;
		}

		&__promo {
			font-size: 15px;
		}
	}

	@media (--phone) {
		padding-top: 20px;
		margin-bottom: 2px;

		&__title,
		&__small-title {
			font-size: 13px;
		}

		&__banner {
			margin-left: -10px;
			margin-right: -10px;

			img {
				width: 100%;
			}
		}

		&__col {
			width: 100%;
		}

		&__item {
			margin-bottom: 20px;
		}

		&__promo {
			font-size: 13px;
			line-height: 18px;
		}

	}
}