<section class="rating">
	<div class="rating__text">
		Даже в домах, где придерживаются строгих критериев минимализма в оформлении своего жилья, всегда присутствует
		«базовый» набор техники: варочная поверхность, холодильник, стиральная машина. В квартирах ценителей технологий
		и комфорта этот список значительно расширяется: пароварки и микроволновые печи, вытяжки, кофемашины и винные
		шкафы, подогреватели и вакууматоры, посудомоечные машины, сушильные машины и системы по уходу за бельем,
		гладильные установки
	</div>
	<div class="rating__title">Основными критериями выбора бытовой техники для кухни и дома являются:</div>
	<div class="rating__banner">
		<picture>
		  <source media="(max-width: 767px)" srcset="images/rating__banner-mobile.jpg">
			<img class="lazyload" data-src="images/rating__banner.jpg" alt="">
		</picture>
	</div>
	<div class="rating__row">
		<div class="rating__col">
			<div class="rating__item">
				<div class="rating__small-title">Качество</div>
				<div class="rating__item-text">
					Важный параметр, определяющий целесообразность приобретения товара, и влияющий непосредственно на
					срок службы прибора. Надежные и экологичные материалы стоят дороже, но и товары, созданные из них,
					служат дольше, не теряют цвета и не выделяют токсичные вещества.
				</div>
			</div>
		</div>
		<div class="rating__col">
			<div class="rating__item">
				<div class="rating__small-title">Функциональность</div>
				<div class="rating__item-text">
					Продуманная техника в большей степени готова удовлетворять потребности взыскательных потребителей.
					Не все производители бытовых приборов подстраиваются под современные разработки и готовы дополнять
					модели инновационными технологиями, которые, непременно, скажутся на стоимости продукта.
				</div>
			</div>
		</div>
		<div class="rating__col">
			<div class="rating__item">
				<div class="rating__small-title">Дизайн</div>
				<div class="rating__item-text">
					Гармоничное внешнее исполнение и возможность комбинирования нескольких приборов одной дизайнерской
					линии, зачастую, оказывает решающее значение при выборе кухонной техники. Многие производители
					учитывают этот факт и выпускают целые серии продуктов, поддерживающих единое стилистическое
					направление.
				</div>
			</div>
		</div>
		<div class="rating__col">
			<div class="rating__item">
				<div class="rating__small-title">Цена</div>
				<div class="rating__item-text">
					В бутике Hausdorf вы можете приобрести качественную и надежную технику по приемлемой цене. Но,
					безусловно, техника, оснащенная широким функционалом, будет стоить несколько дороже, чем модели с
					минимальным набором программ.
				</div>
			</div>
		</div>
	</div>
	<div class="rating__promo">
		Ознакомившись с данным рейтингом бытовой техники, вы сможете подобрать оптимальные варианты наполнения кухни и дома, отвечающие всем вашим требованиям
	</div>
</section>