{% if card %}
<div class="similar">

	<div class="small-title">Похожие товары</div>
	<div class="similar__swiper swiper-container js-similar-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="similar__item similar__item_image">
					<img class="similar__bigImage" src="images/similar-big.png" alt="">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="similar__item">
					<a href="#" class="similar__link">
						<div class="similar__image">
							<img src="images/similar-1.png" alt="">
						</div>
						<div class="similar__desc">
							<div class="similar__subject">Стиральная машина</div>
							<div class="similar__name">Miele PW 6080 Vario RU белая</div>
							<div class="similar__difference">Отличия</div>
							<ul class="similar__list">
								<li class="similar__list-item">
									<span class="similar__list-name">Тип:</span>
									<span class="similar__list-text">вакуумный</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Мощность:</span>
									<span class="similar__list-text">620 Вт</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Объем камеры:</span>
									<span class="similar__list-text">2,5 л</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Вес:</span>
									<span class="similar__list-text">5,5 кг</span>
								</li>
							</ul>
							<div class="similar__price">453 000 руб.</div>
							<div class="similar__discount">-53 000 руб.</div>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="similar__item">
					<a href="#" class="similar__link">
						<div class="similar__image">
							<img src="images/similar-1.png" alt="">
						</div>
						<div class="similar__desc">
							<div class="similar__subject">Стиральная машина</div>
							<div class="similar__name">Miele PW 6080 Vario RU белая</div>
							<div class="similar__difference">Отличия</div>
							<ul class="similar__list">
								<li class="similar__list-item">
									<span class="similar__list-name">Тип:</span>
									<span class="similar__list-text">вакуумный</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Мощность:</span>
									<span class="similar__list-text">620 Вт</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Объем камеры:</span>
									<span class="similar__list-text">2,5 л</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Вес:</span>
									<span class="similar__list-text">5,5 кг</span>
								</li>
							</ul>
							<div class="similar__price">453 000 руб.</div>
							<div class="similar__discount">-53 000 руб.</div>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="similar__item">
					<a href="#" class="similar__link">
						<div class="similar__image">
							<img src="images/similar-1.png" alt="">
						</div>
						<div class="similar__desc">
							<div class="similar__subject">Стиральная машина</div>
							<div class="similar__name">Miele PW 6080 Vario RU белая</div>
							<div class="similar__difference">Отличия</div>
							<ul class="similar__list">
								<li class="similar__list-item">
									<span class="similar__list-name">Тип:</span>
									<span class="similar__list-text">вакуумный</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Мощность:</span>
									<span class="similar__list-text">620 Вт</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Объем камеры:</span>
									<span class="similar__list-text">2,5 л</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Вес:</span>
									<span class="similar__list-text">5,5 кг</span>
								</li>
							</ul>
							<div class="similar__price">453 000 руб.</div>
							<div class="similar__discount">-53 000 руб.</div>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="similar__item">
					<a href="#" class="similar__link">
						<div class="similar__image">
							<img src="images/similar-1.png" alt="">
						</div>
						<div class="similar__desc">
							<div class="similar__subject">Стиральная машина</div>
							<div class="similar__name">Miele PW 6080 Vario RU белая</div>
							<div class="similar__difference">Отличия</div>
							<ul class="similar__list">
								<li class="similar__list-item">
									<span class="similar__list-name">Тип:</span>
									<span class="similar__list-text">вакуумный</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Мощность:</span>
									<span class="similar__list-text">620 Вт</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Объем камеры:</span>
									<span class="similar__list-text">2,5 л</span>
								</li>
								<li class="similar__list-item">
									<span class="similar__list-name">Вес:</span>
									<span class="similar__list-text">5,5 кг</span>
								</li>
							</ul>
							<div class="similar__price">453 000 руб.</div>
							<div class="similar__discount">-53 000 руб.</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="swiper-scrollbar"></div>
	</div>
</div>
{% endif %}

{% if brand %}
<div class="similar similar_brand">
	<div class="small-title">Популярные товары Asko</div>
	<div class="similar__swiper swiper-container js-similar-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-1.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<div class="recent__name">KitchenAid KOQCX 45600</div>
							<div class="recent__price">150 000 руб.</div>
							<button type="button" class="recent__application">Оставить заявку</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-2.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Духовой шкаф</div>
							<div class="recent__name">Asko OP8676S</div>
							<div class="recent__price">145 900 руб.</div>
							<button type="button" class="recent__application">Купить</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-3.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Беспроводная акустическая система</div>
							<div class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</div>
							<div class="recent__price">150 000 руб.</div>
							<button type="button" class="recent__application">Оставить заявку</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-1.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<div class="recent__name">KitchenAid KOQCX 45600</div>
							<div class="recent__price">150 000 руб.</div>
							<button type="button" class="recent__application">Оставить заявку</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-4.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Стиральная машина</div>
							<div class="recent__name">Kuppersbusch WA 1940.0 W</div>
							<div class="recent__price">199 755 руб.</div>
							<button type="button" class="recent__application">Купить</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-1.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<div class="recent__name">KitchenAid KOQCX 45600</div>
							<div class="recent__price">150 000 руб.</div>
							<button type="button" class="recent__application">Оставить заявку</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-2.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Духовой шкаф</div>
							<div class="recent__name">Asko OP8676S</div>
							<div class="recent__price">145 900 руб.</div>
							<button type="button" class="recent__application">Купить</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-3.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Беспроводная акустическая система</div>
							<div class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</div>
							<div class="recent__price">150 000 руб.</div>
							<button type="button" class="recent__application">Оставить заявку</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-1.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<div class="recent__name">KitchenAid KOQCX 45600</div>
							<div class="recent__price">150 000 руб.</div>
							<button type="button" class="recent__application">Оставить заявку</button>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-4.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Стиральная машина</div>
							<div class="recent__name">Kuppersbusch WA 1940.0 W</div>
							<div class="recent__price">199 755 руб.</div>
							<button type="button" class="recent__application">Купить</button>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="swiper-scrollbar"></div>
	</div>

</div>
{% endif %}