.similar {
	margin-bottom: 15px;
	padding: 30px;
	background: #ffffff;

	.small-title {
		//padding-left: 30px;
	}

	&_brand {
		margin-bottom: 0;
		@include bg;
	}

	&__swiper {
		padding-bottom: 20px;
	}

	&__item {
		border: 1px solid #eaedf0;

		&_image {
			border: none;
		}
	}

	&__image {
		padding-top: 35px;
		text-align: center;
	}

	&__bigImage {
		position: relative;
		transform: translateX(-25%);
	}

	&__desc {
		padding: 20px;
	}

	&__subject {
		color: #959595;
		font-size: 12px;
		font-weight: 400;
	}

	&__name {
		display: block;
		min-height: 45px;
		color: #1f1f1f;
		font-size: 15px;
		font-weight: 400;

		&:hover{
			color: $primaryColor;
		}
	}

	&__difference {
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
		color: $primaryColor;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-bottom: 40px;

		&-item {
			font-size: 13px;
			font-weight: 300;
			line-height: 20px;
		}

		&-name {
			color: #5a5a5a;
		}

		&-text {
			color: #010101;
		}
	}

	&__price,
	&__discount {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
	}

	&__price {
		color: $primaryColor;
	}

	&__discount {
		color: #58b543;
	}

	@media (max-width: 1100px) {
		display: none;
	}
}