.relative {
	position: relative;

	&__inner {
		padding: 20px;
		padding-bottom: 40px;
		background-color: #efefef;
		overflow: hidden;
	}

	&__title {
		margin-bottom: 10px;
		color: #1f1f1f;
		font-size: 15px;
		font-weight: 700;
	}

	&__row {
		height: 200px;
		margin: 0 -5px;
		overflow-x: scroll;
	}

	&__col {
		min-width: 254px;
		float: left;
		padding: 0 5px;
	}

	&__link{
		display: flex;
		background: #fff;
		padding: 15px 20px;
	}

	&__image,
	&__desc {
		width: 50%;
	}

	&__image {

		img {
			max-width: 100%;
		}
	}

	&__subject {
		min-height: 32px;
		color: #959595;
		font-size: 12px;
		font-weight: 400;
	}

	&__name {
		display: block;
		min-height: 55px;
		color: #1f1f1f;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;

		&:hover{
			color: $primaryColor;
		}
	}

	&__price {
		color: #dd0016;
		font-size: 12px;
		font-weight: 500;
		line-height: 20px;
	}

	&__buy {
		display: block;
		padding: 6.5px 21px;
		border: none;
		background-color: #dd0016;
		background-image: linear-gradient(to top, rgba(255, 56, 36, 0.25) 0%, rgba(255, 56, 36, 0) 100%);
		color: #fff;
		font-size: 12px;
		font-weight: 500;
		cursor: pointer;

		&:hover{
			background-image: none;
		}
	}

	&__swiper {

		&_basket {
			width: 100%;

			.relative__col {
				min-width: 270px;
			}
		}

		.swiper-scrollbar{
			bottom: 15px;
		}
	}

	@media (max-width: 1140px) {

		margin-left: -1%;
		margin-right: -1%;

		&_card{
			margin-left: -20px;
			margin-right: -20px;
		}

		.swiper {

			&-wrapper {
				display: flex;
				overflow-x: scroll;
				-webkit-overflow-scrolling: touch;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			&-slide {
				width: 254px;
			}

		}

		&__swiper {

			&_basket {
				.swiper-wrapper {
					width: 10000%;
					display: block;
				}

				.swiper-slide {
					float: left;
					width: auto;
				}
			}
		}
	}

	@media (--tabletAndMobile) {

		&__buy{
			padding-top: 9.5px;
			padding-bottom: 3.5px;
		}
	}

	@media (--tablet) {
		margin: 0 -10px;
	}

}