<div class="relative {% if card %} relative_card {% endif %}">
	<div class="relative__inner">
		<div class="relative__title">С этим товаром часто покупают:</div>

		<div
			class="relative__swiper {% if card or premium or cardMiele %} js-relative-swiper{% endif %} {% if basket %}relative__swiper_basket js-relative-basket-swiper {% endif %}">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="relative__col">
						<div class="relative__item">
							<a href="#" class="relative__link">
								<div class="relative__image">
									<img class="lazyload" data-src="images/relative-1.png" alt="">
								</div>
								<div class="relative__desc">
									<div class="relative__subject">Hi-Fi наушники</div>
									<div class="relative__name">Bang & Olufsen Beoplay H6</div>
									<div class="relative__price">26 900 руб.</div>
									<button type="button" class="relative__buy js-basket-add">В корзину</button>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="relative__col">
						<div class="relative__item">
							<a href="#" class="relative__link">
								<div class="relative__image">
									<img class="lazyload" data-src="images/relative-2.png" alt="">
								</div>
								<div class="relative__desc">
									<div class="relative__subject">Пульт ДУ</div>
									<div class="relative__name">Bang & Olufsen BeoRemote One</div>
									<div class="relative__price">12 500 руб.</div>
									<button type="button" class="relative__buy js-basket-add">В корзину</button>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="relative__col">
						<div class="relative__item">
							<a href="#" class="relative__link">
								<div class="relative__image">
									<img class="lazyload" data-src="images/relative-3.png" alt="">
								</div>
								<div class="relative__desc">
									<div class="relative__subject">Беспроводные наушники</div>
									<div class="relative__name">Bang & Olufsen Beoplay H5</div>
									<div class="relative__price">12 500 руб.</div>
									<button type="button" class="relative__buy js-basket-add">В корзину</button>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="relative__col">
						<div class="relative__item">
							<a href="#" class="relative__link">
								<div class="relative__image">
									<img class="lazyload" data-src="images/relative-1.png" alt="">
								</div>
								<div class="relative__desc">
									<div class="relative__subject">Hi-Fi наушники</div>
									<div class="relative__name">Bang & Olufsen Beoplay H6</div>
									<div class="relative__price">26 900 руб.</div>
									<button type="button" class="relative__buy js-basket-add">В корзину</button>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="relative__col">
						<div class="relative__item">
							<a href="#" class="relative__link">
								<div class="relative__image">
									<img class="lazyload" data-src="images/relative-1.png" alt="">
								</div>
								<div class="relative__desc">
									<div class="relative__subject">Hi-Fi наушники</div>
									<div class="relative__name">Bang & Olufsen Beoplay H6</div>
									<div class="relative__price">26 900 руб.</div>
									<button type="button" class="relative__buy js-basket-add">В корзину</button>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar"></div>
		</div>
	</div>
</div>