<div class="centers">
	<div class="centers__items">
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/aeg.png" alt="">
			</div>
			<div class="centers__title">ООО “Мир и Сервис”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957440014">8 (495) 744 00 14</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span>с 9.00:18.00 по МСК</span>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">
						Москва, улица Промышленная, 11, стр.2</a>
				</li>
			</ul>
			<div class="centers__title">ООО “Мосспецтепломонтаж”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, улица Ивана Франко, 48, <br> строение 802</a>
				</li>
			</ul>
			<a href="#" class="centers__link js-centers-more">Все сервисные центры AEG</a>
			<div class="centers__hidden">
				<div class="centers__title">ООО “ТРАНССЕРВИС-95”</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#"> Москва, 1-й Варшавский проезд, 1 а, <br> стр. 3 </a>
					</li>
				</ul>
				<div class="centers__title">ООО “Эльдорадо”</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
					</li>
				</ul>
				<div class="centers__title">ООО "Аксеон"</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
					</li>
				</ul>

			</div>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/Beltratto.png" alt="">
			</div>
			<div class="centers__title">Сервисная служба Beltratto</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74997942813">8 (499) 794 28 13</a> <br>
					<a class="centers__phone" href="tel:+74997945360">8 (499) 794 53 60</a> <br>
					<a class="centers__phone" href="tel:+74959888761">8 (495) 988 87 61</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/delonghi.png" alt="">
			</div>
			<div class="centers__title">ООО "ВнешРемТорг"</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74955186432">8 (495) 518 64 32</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, ул. Селезневская, 30 Б-В</a>
				</li>

			</ul>
			<div class="centers__title">ООО “Эльдорадо”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+78005551111">8 (800) 555 11 11</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/gorenje.png" alt="">
			</div>
			<div class="centers__title">ООО «Пульсар»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74959871043">8 (495) 987 10 43</a> <br>
					<a class="centers__phone" href="tel:+74959871319">8 (495) 987 13 19</a>
				</li>

				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">
						Москва, ул. Олеко Дундича,д.21, к.2
					</a>
				</li>
			</ul>
			<div class="centers__title">ООО “ТРАНССЕРВИС-95”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957440110">8 (495) 744 01 10</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, 1-й Варшавский проезд, 1 а, <br> стр. 3</a>
				</li>
			</ul>
			<a href="#" class="centers__link js-centers-more">Все сервисные центры Gorenje</a>
			<div class="centers__hidden">
				<div class="centers__title">ООО “ТРАНССЕРВИС-95”</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#"> Москва, 1-й Варшавский проезд, 1 а, <br> стр. 3 </a>
					</li>
				</ul>
				<div class="centers__title">ООО “Эльдорадо”</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
					</li>
				</ul>
				<div class="centers__title">ООО "Аксеон"</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
					</li>
				</ul>

			</div>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/Miele.png" alt="">
			</div>
			<div class="centers__title">Сервисная служба Miele</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74959871043">8 (495) 987 10 43</a> <br>
					<a class="centers__phone" href="tel:+74959871319">8 (495) 987 13 19</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/smeg.png" alt="">
			</div>
			<div class="centers__title">ООО “Мир и Сервис”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957440014">8 (495) 744 00 14</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span>с 9.00:18.00 по МСК</span>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">
						Москва, улица Промышленная, 11, стр.2</a>
				</li>
			</ul>
			<div class="centers__title">ООО "ВнешРемТорг"</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, улица Ивана Франко, 48, <br> строение 802</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/teka.png" alt="">
			</div>
			<div class="centers__title">ТОТ-СЕРВИС</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74959871043">8 (495) 987 10 43</a> <br>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span>с 9.00:18.00 по МСК</span>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">
						Москва, улица Промышленная, 11, стр.2</a>
				</li>
			</ul>
			<div class="centers__title">ООО «Пульсар»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957440110">8 (495) 744 01 10</a> <br>
					<a class="centers__phone" href="tel:+74959871319">8 (495) 987 13 19</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, ул. Олеко Дундича,д.21, к.2</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/asko.png" alt="">
			</div>
			<div class="centers__title">ИП Утешев Д.Н. АСЦ «Быт Монтаж»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957405102">8 (495) 740 51 02</a>
				</li>

			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/blanco.png" alt="">
			</div>
			<div class="centers__title">Мир Кухонного Оборудования</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74959169131">8 (495) 916 91 31 </a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, ул. Генерала Дорохова, 28А</a>
				</li>
			</ul>
			<div class="centers__title">БЛАНКО РУС</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952293015">8 (495) 229 30 15 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/bugatti.png" alt="">
			</div>
			<div class="centers__title">ООО Авторизованный Центр <br>«Пионер Сервис»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+78123247533 ">8 (812) 324 75 33 </a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Санкт-Петербург, Лиговский проспект, дом 52, литера А</a>
				</li>
			</ul>
			<div class="centers__title">ООО «АВС-Сервис»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952293015">8 (495) 229 30 15 </a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#"> Москва, ул. Паустовского, д. 8, к.1</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/electrolux.png" alt="">
			</div>
			<div class="centers__title">ООО “Мир и Сервис”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957440014">8 (495) 744 00 14</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span>с 9.00:18.00 по МСК</span>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">
						Москва, улица Промышленная, 11, стр.2</a>
				</li>
			</ul>
			<div class="centers__title">ООО «ГОРСЕРВИС»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, проезд Одоевского, д. 2а</a>
				</li>
			</ul>
			<a href="#" class="centers__link js-centers-more">Все сервисные центры Electrolux</a>
			<div class="centers__hidden">
				<div class="centers__title">ООО “ТРАНССЕРВИС-95”</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#"> Москва, 1-й Варшавский проезд, 1 а, <br> стр. 3 </a>
					</li>
				</ul>
				<div class="centers__title">ООО “Эльдорадо”</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
					</li>
				</ul>
				<div class="centers__title">ООО "Аксеон"</div>
				<ul class="centers__list">
					<li class="centers__list-item">
						<span class="icon icon_centers-phone"></span>
						<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
					</li>
					<li class="centers__list-item">
						<span class="icon icon_centers-map"></span>
						<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89</a>
					</li>
				</ul>

			</div>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/kuppersberg.png" alt="">
			</div>
			<div class="centers__title">ООО "КУППЕРСБЕРГ-СЕРВИС"</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a> <br>
					<a class="centers__phone" href="tel:+74993941050">8 (499) 394 10 50</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, п. Московский, <br>ул. Адмирала Корнилова, д.61</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/kaiser.png" alt="">
			</div>
			<div class="centers__title">ООО «Центр Кайзер»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/Mitsubishi.png" alt="">
			</div>
			<div class="centers__title">ООО “Эльдорадо”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/Siemens.png" alt="">
			</div>
			<div class="centers__title">ООО "БСХ Бытовая техника"</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/B&O.png" alt="">
			</div>
			<div class="centers__title">Авторизованный сервисный центр Bang & Olufsen</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74951090051">8 (495) 109 00 51</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span> ПН-ПТ 10:00-21:00, СБ-ВС 11:00-21:00</span>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/Bosch.png" alt="">
			</div>
			<div class="centers__title">Сервисный центр Bosch</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957372961">8 (495) 737 29 61</a> <br>
					<a class="centers__phone" href="tel:+78002002961">8 (800) 200 29 61</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/de-dietrich.png" alt="">
			</div>
			<div class="centers__title">Фирменный Сервисный Центр <br>DeDietrich в Москве</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74957372961">8 (495) 737 29 61</a> <br>
					<a class="centers__phone" href="tel:+78002002961">8 (800) 200 29 61</a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/faber.png" alt="">
			</div>
			<div class="centers__title">ООО «ГОРСЕРВИС»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
			<div class="centers__title">“М.Б.Сервис”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/hansa.png" alt="">
			</div>
			<div class="centers__title">ООО “Мир и Сервис”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span>с 9.00:18.00 по МСК</span>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
			<div class="centers__title">ООО “Эльдорадо”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/hitachi.png" alt="">
			</div>
			<div class="centers__title">ООО “Эльдорадо”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
			<div class="centers__title">«ИнтерРадиоПрибор»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
		<div class="centers__item">
			<div class="centers__image">
				<img class="lazyload" data-src="images/service/liebherr.png" alt="">
			</div>
			<div class="centers__title">ООО “Мир и Сервис”</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-time"></span>
					<span>с 9.00:18.00 по МСК</span>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
			<div class="centers__title">ООО «Пульсар»</div>
			<ul class="centers__list">
				<li class="centers__list-item">
					<span class="icon icon_centers-phone"></span>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 215 51 46</a> <br>
					<a class="centers__phone" href="tel:+74952155146">8 (495) 987 13 19</a>
				</li>
				<li class="centers__list-item">
					<span class="icon icon_centers-map"></span>
					<a class="centers__address" href="#">Москва, Волоколамское шоссе, 89 </a>
				</li>
			</ul>
		</div>
	</div>
</div>