.centers {

	&__items {
		column-count: 3;
		column-gap: 15px;
		margin-bottom: 40px;
	}

	&__item {
		position: relative;
		break-inside: avoid;
		border: 1px solid #eaedf0;
		padding: 20px;
		padding-bottom: 15px;
		margin-bottom: 20px;

		&:hover {
			box-shadow: 0 3px 25px rgba(77, 107, 127, 0.2);
		}

	}

	&__image {
		margin-bottom: 30px;

		img{
			max-width: 100%;
		}
	}

	&__title {
		margin-bottom: 10px;
		color: #1f1f1f;
		font-size: 15px;
		font-weight: 700;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;

		&-item {
			position: relative;
			padding-left: 20px;
			color: #666;
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;

			.icon {
				position: absolute;
				left: 0;
				top: 0;
				margin-right: 10px;
				margin-top: 5px;
			}
		}
	}

	&__phone {
		color: #666;

		&:hover {
			color: #666;
			text-decoration: underline;
		}
	}

	&__address {
		color: #666;
		text-decoration: underline;

		&:hover {
			color: #666;
			text-decoration: none;
		}
	}

	&__link {
		font-size: 15px;
	}

	&__hidden{
		position: absolute;
		width: 100%;
		top: calc(100% - 20px);
		background: #fff;
		z-index: 3;
		left: 0;
		box-shadow: 0 10px 25px rgba(77, 107, 127, 0.2);
		padding: 20px;
		opacity: 0;
		transition: opacity 0.3s;

		&.active{
			opacity: 1;
		}
	}

	@media (--tabletAndMobile) {
		&__items {
			column-count: initial;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	@media (--tablet) {

		&__item{
			width: 48%;
		}
	}

	@media (--phone) {

		&__item {
			width: 100%;
		}
	}

}