<div class="show">
	<div class="show__wrapper">
		<div class="show__left">
			<div class="show__item">
				<a href="images/show-item-3.jpg" class="show__link show__link_white" data-fancybox>
					<img src="images/show-item-3.jpg" alt="">
				</a>
				<div class="show__promo">
					<div class="show__title">ШОУРУМ ASKO</div>
					Сочетание функциональности, комфортного использования, экологичности, неповторимого дизайна с
					чистыми линиями и графичными формами — гармония, созданная брендом Asko.
				</div>
			</div>
		</div>
		<div class="show__right">
			<div class="show__row show__row_mobile">
				<div class="show__item show__item_wide">
					<a href="images/show-item-1.jpg" class="show__link" data-fancybox>

						<picture>
						  <source media="(max-width: 767px)" srcset="images/show-item-1-mobile.jpg">
							<img src="images/show-item-1.jpg" alt="">
						</picture>
					</a>
				</div>
				<div class="show__item show__item_narrow">
					<a href="images/show-item-two.jpg" class="show__link" data-fancybox>
						<img src="images/show-item-two.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="show__row">
				<div class="show__item show__item_narrow">
					<a href="images/show-item-4.jpg" class="show__link" data-fancybox>
						<img src="images/show-item-4.jpg" alt="">
					</a>
				</div>
				<div class="show__item show__item_wide">
					<a href="images/show-item-5.jpg" class="show__link" data-fancybox>
						<img src="images/show-item-5.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="show__item">
		<a href="images/show-item-6.jpg" class="show__link" data-fancybox>
			<img src="images/show-item-6.jpg" alt="">
		</a>
		<div class="show__text show__text_right">
			<p>Шведская техника Asko уже более 60 лет является синонимом эргономичности, долговечности и эстетичности.
				Философия минималистичного дизайна, воплощенная в приборах бытовой техники Asko, отмечена престижной
				международной наградой, так называемой «дизайнерской нобелевской премией» — премией Red Dot Design.</p>
			<p> Чтобы лично убедиться в высоком качестве продукции Asko, приглашаем вас в наш шоу-рум, где представлены
				флагманы техники по уходу за бельем и приборов кухонной техники. Здесь, за чашечкой ароматного кофе,
				каждый ценитель шведского стиля и функциональности, желающий увидеть новейшие тенденции дизайна в мире
				бытовой техники, сможет оценить гармонию, с которой приборы дополняют друг друга и при этом с легкостью
				встраиваются в готовую кухню или прачечную.</p>
		</div>
	</div>

	<div class="show__item">
		<a href="images/show-item-7.jpg" class="show__link" data-fancybox>
			<img src="images/show-item-7.jpg" alt="">
		</a>
		<div class="show__text show__text_left">
			<p> Покупатели нашего бутика по достоинству оценят продукцию, так как она полностью соответствует классу
				«Люкс», а чаще всего даже превосходит все ожидания потребителей.
			</p>
			<p> Наши специалисты помогут ознакомиться с техникой, протестировать представленные модели и рассмотреть
				особенности и функционал скандинавских приборов.
			</p>
			<p> *Внимание! Посещение шоу-рума производится по предварительной записи, пожалуйста, уточняйте у менеджера
				день и время посещения.
			</p>

		</div>
	</div>
</div>