{%set items = ['Холодильники','Посудомоечные машины', 'Стиральные машины', 'Кофемашины', 'Сушильные машины','Вытяжки','Варочные панели','Подогреватели','Духовые шкафы', 'Аксессуары', 'Микроволновые печи', 'Вакуумные упаковщики']%}

<div class="filter js-filter">
	<div class="filter__mobile js-filter__mobile">
		<div class="filter__heading">Фильтр</div>
		<div class="filter__mobile-right">
			<button type="reset" class="filter__mobile-reset js-filter__mobile-apply"><span>Сбросить все </span></button>
			<button type="button" class="filter__mobile-apply js-filter__mobile-apply"><span>Применить</span></button>
		</div>

	</div>
	<div class="filter__desktop js-filter__desktop">
		{% if brand %}
		<div class="filter__item js-filter__item filter__item_all">
			<span class="filter__text js-filter__text">Вся бытовая техника</span>
			<div class="filter__sub">
				<ul class="filter__list">
					{% for item in items %}
					<li class="filter__list-item">
						<a href="#" class="filter__list-link">{{item}} <span class="filter__list-count">18</span></a>
					</li>
					{% endfor %}

				</ul>
			</div>
		</div>
		{% endif %}

		<div class="filter__item filter__item_popular js-filter__item ">
			<span class="filter__text js-filter__text">По популярности</span>
			<div class="filter__sub">
				<button class="filter__button js-filter-check js-filter__button filter__button_top" type="button">По популярности
				</button>
				<button class="filter__button js-filter-check js-filter__button" type="button">По цене</button>
				<button class="filter__button js-filter-check js-filter__button" type="button">По новизне</button>
			</div>
		</div>
		<div class="filter__item js-filter__item">
			<span class="filter__text js-filter__text">Цена</span>
			<div class="filter__sub">
				<form action="" class="filter__price">
					<div class="filter__fields">
						<div class="filter__field">
							<div class="filter__price-text">от</div>
							<input type="number" class="filter__input js-filter-check js-filter__input" min="0" placeholder="21 000">
						</div>
						<div class="filter__field">
							<div class="filter__price-text">до</div>
							<input type="number" class="filter__input js-filter-check js-filter__input" min="0" placeholder="2 256 500">
						</div>
					</div>
					<button type="submit" class="filter__submit js-filter__submit" disabled>Применить</button>
					<button type="reset" class="filter__reset js-filter__reset" disabled><span>Сбросить</span></button>
				</form>
			</div>
		</div>
		<div class="filter__item"><span class="filter__text">Размеры</span></div>
		<div class="filter__item"><span class="filter__text">Тип</span></div>
		{% if catalog %}
		<div class="filter__item js-filter__item filter__item_color">
			<span class="filter__text js-filter__text"><span class="filter__count js-filter__count"></span>Цвета</span>
			<div class="filter__sub">
				<ul class="filter__colors">
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_black" type="button">
							Черный
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_gray" type="button">
							Серый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_beige" type="button">
							Бежевый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_light" type="button">
							Светло-серый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_pink" type="button">
							Розовый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_red" type="button">
							Красный
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_lilac" type="button">
							Сиреневый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_blue" type="button">
							Синий
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_orange" type="button">
							Оранжевый
						</button>
					</li>

				</ul>
				<button type="submit" class="filter__submit js-filter__submit" disabled>Применить</button>
				<button type="reset" class="filter__reset js-filter__reset" disabled><span>Сбросить</span></button>
			</div>
		</div>
		<div class="filter__item js-filter__item filter__item_view">
			<span class="filter__text js-filter__text">Вид</span>
			<div class="filter__sub">
				<div class="filter__blocks">
					<div class="filter__block filter__block_left">
						<div class="filter__title">Вид установки</div>
						<button type="button" class="filter__button js-filter-check js-filter__view">Для дома <span
							class="filter__button-count">35</span></button>
						<button type="button" class="filter__button js-filter-check js-filter__view">Профессиональная<span
							class="filter__button-count">35</span></button>
					</div>
					<div class="filter__block filter__block_right">
						<div class="filter__title">Загрузка белья</div>

						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">5 кг <span
							class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">5.5 кг
							<span class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter-check js-filter__weight filter__button_weight">6 кг
							<span class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">6 кг
							<span
							class="filter__button-count">35</span>
							<span class=" filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">6.5 кг <span
							class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">8 кг
							<span class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">9 кг
							<span class="filter__button-count">18</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">11 кг
							<span
								class="filter__button-count">3</span>
							<span class=" filter__button-close"></span>
						</button>
					</div>
				</div>
				<button type="submit" class="filter__submit js-filter__submit" disabled>Применить</button>
				<button type="reset" class="filter__reset js-filter__reset" disabled><span>Сбросить</span></button>
			</div>
		</div>

		{% endif %}

	</div>

	<div class="filter__tablet filter__tablet_brand js-filter__tablet">
		<div class="filter__clear js-filter-clear"><span>Сбросить все</span></div>
		{% if brand %}
		<div class="filter__item js-filter__item filter__item_color">
			<span class="filter__text js-filter__text"><span class="filter__count js-filter__count"></span>Цвета</span>
			<div class="filter__sub">
				<ul class="filter__colors">
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_black"
						        type="button">Черный
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_gray" type="button">
							Серый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter-check js-filter__color filter__color-button_beige" type="button">
							Бежевый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_light" type="button">
							Светло-серый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_pink" type="button">
							Розовый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_red" type="button">
							Красный
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_lilac" type="button">
							Сиреневый
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_blue" type="button">
							Синий
						</button>
					</li>
					<li class="filter__color">
						<button class="filter__color-button js-filter-check js-filter__color filter__color-button_orange" type="button">
							Оранжевый
						</button>
					</li>

				</ul>
				<button type="submit" class="filter__submit js-filter__submit" disabled>Применить</button>
				<button type="reset" class="filter__reset js-filter__reset" disabled><span>Сбросить</span></button>
			</div>
		</div>
		<div class="filter__item js-filter__item filter__item_view">
			<span class="filter__text js-filter__text">Вид</span>
			<div class="filter__sub">
				<div class="filter__blocks">
					<div class="filter__block filter__block_left">
						<div class="filter__title">Вид установки</div>
						<button type="button" class="filter__button  js-filter-check js-filter__view">Для дома <span
							class="filter__button-count">35</span></button>
						<button type="button" class="filter__button  js-filter-check js-filter__view">Профессиональная<span
							class="filter__button-count">35</span></button>
					</div>
					<div class="filter__block filter__block_right">
						<div class="filter__title">Загрузка белья</div>

						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">5 кг <span
							class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">5.5 кг
							<span class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">6 кг
							<span class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">6 кг
							<span
								class="filter__button-count">35</span>
							<span class=" filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">6.5 кг <span
							class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">8 кг
							<span class="filter__button-count">3</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">9 кг
							<span class="filter__button-count">18</span>
							<span class="filter__button-close"></span>
						</button>
						<button type="button" class="filter__button js-filter-check js-filter__weight filter__button_weight">11 кг
							<span
								class="filter__button-count">3</span>
							<span class=" filter__button-close"></span>
						</button>
					</div>
				</div>
				<button type="submit" class="filter__submit js-filter__submit" disabled>Применить</button>
				<button type="reset" class="filter__reset js-filter__reset" disabled><span>Сбросить</span></button>
			</div>
		</div>
		{% endif %}

		<div class="filter__item"><span class="filter__text">Функции</span></div>
		{% if catalog %}
		<div class="filter__item"><span class="filter__text">Загрузка</span></div>
		<div class="filter__item"><span class="filter__text">Бренды</span></div>

		{% endif %}
	</div>

	<div class="filter__change js-filter__change">
		<div class="filter__change-number">1</div>
		<span></span>
	</div>
	<button class="filter__button-reset js-filter-button-reset">
		<span class="icon icon_close"></span>
	</button>
</div>