.brands {
	display: none;
	width: 951px;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f0f0f0;
	padding: 23px;
	z-index: 21;

	&.active {
		display: flex;

		@media (max-width: 965px) and (min-width: 768px) {
			flex-direction: column;
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 15px;
		color: #000;
		font-size: 18px;
		font-weight: 300;
		line-height: 16px;
		text-transform: uppercase;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__block {
		min-width: 350px;
		margin-right: 20px;

		@media (max-width: 965px) and (min-width: 768px) {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-top: 0;
		}

		&_suite{

			.brands__link{
				width: 100%;
				justify-content: center;
			}
		}

		&_premium {
			min-width: 340px;

			.brands__list {
				padding-top: 20px;
				padding-bottom: 20px;
				background: #ffffff;
				justify-content: flex-start;

				@media (max-width: 965px) and (min-width: 768px) {
					background: transparent;
				}
			}

			.brands__item {
				width: 145px;
				height: 29px;
				margin-bottom: 0;
				justify-content: flex-start;

				&:hover {
					box-shadow: none;
				}
			}

			.brands__link {
				color: #292929;
				padding-left: 20px;


				img {
					margin-right: 15px;
				}
			}
		}

		&_business {
			min-width: 171px;

			.brands__list{
				padding-top: 20px;
				padding-bottom: 20px;
				background: #fff;

				@media (--tablet) {
					margin-left: 0;
				}
			}

			.brands__item {
				width: 100%;
				height: 29px;
				margin-bottom: 0;
				justify-content: flex-start;

				@media (max-width: 965px) and (min-width: 768px) {
					width: auto;

				}

				&:hover {
					box-shadow: none;
				}
			}

			.brands__link {
				color: #747474;
				padding-left: 20px;

				@media (max-width: 965px) and (min-width: 768px) {
					padding-right: 20px;
				}
			}
		}

	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: -2px;

		@media (max-width: 965px) and (min-width: 768px) {
			margin-left: -10px;
			justify-content: flex-start;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 174px;
		height: 40px;
		margin-bottom: 2px;
		background-color: #fff;
		pointer-events: auto;

		@media (max-width: 965px) and (min-width: 768px) {

			margin-left: 10px;
		}

		&:hover {
			box-shadow: 0 3px 10px rgba(81, 81, 82, 0.2);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 13px;
		font-weight: 300;

		&:hover{
			color: $primaryColor;
		}
	}

	@media (max-width: $phone) {
		flex-direction: column;
		right: auto;
		width: 290px;
		padding: 10px;

		&__list {
			//width: 290px;
		}

		&__block {
			margin-bottom: 30px;
			margin-right: 0;
			min-width: inherit;

			&_premium {
				min-width: inherit;

				.brands__item {
					width: 45%;

					img{
						display: none;
					}
				}

			}

			&_business {
				.brands__item {
					width: 50%;
				}
			}
		}

		&__item {
			width: 45%;
			text-align: center;
			img {
				max-width: 90%;
			}
		}
	}
}