{%set items = ['asko','Küppersbusch', 'B&O', 'maytag', 'Beltratto', 'Miele-red', 'Bertazzoni', 'neff', 'bugatti', 'restart', 'Fhiaba', 'Smeg-color', 'Fulgor-Milano', 'subzero-color', 'Gaggenau-color', 'V-Zug', 'Ilve', 'wolf', 'Kitchenaid', 'wmf']%}
{%set businessItems = ['Bosh','Bone Crusher', 'Cold Vine', 'Electrolux', 'Franke', 'Gorenje', 'Graude', 'Kaiser', 'Korting', 'Teka', 'Vestrost', 'Whirpool', 'Zigmund Shtain']%}
<div class="brands js-brands">
	<div class="brands__block brands__block_suite">
		<div class="brands__title">Техника класса ЛЮКС</div>
		<ul class="brands__list">
			{% for item in items %}
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img class="js-lazyload" src="images/brands/{{item}}.png" alt="">
				</a>
			</li>
			{% endfor %}

		</ul>
	</div>
	<div class="brands__block brands__block_premium">
		<div class="brands__title">Премиум</div>
		<ul class="brands__list">
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/AEG.png" alt="">
					AEG
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/AEG.png" alt="">
					Gorenje Plus
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/barazza.png" alt="">
					Barazza
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/barazza.png" alt="">
					Gutmann
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/bora.png" alt="">
					Bora
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/bora.png" alt="">
					Hitachi
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/neff.png" alt="">
					Blanco
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/neff.png" alt="">
					IP
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/maytag.png" alt="">
					Cristel
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/maytag.png" alt="">
					In Sink Erator
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/Kitchen-Aid.png" alt="">
					De Buyer
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/Kitchen-Aid.png" alt="">
					IRobot
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/g.png" alt="">
					De Dietrich
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/g.png" alt="">
					Jura
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/AEG.png" alt="">
					Dunavox
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/AEG.png" alt="">
					Kuppersberg
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/barazza.png" alt="">
					Elica
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/barazza.png" alt="">
					Liebherr
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/bora.png" alt="">
					EuroCave
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/bora.png" alt="">
					<span>Mitsubishi Electric</span>
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/neff.png" alt="">
					Faber
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/neff.png" alt="">
					Siemens
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/maytag.png" alt="">
					Falmec
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/maytag.png" alt="">
					Sharp
				</a>
			</li>
			<li class="brands__item">
				<a class="brands__link" href="#">
					<img src="images/brands/Kitchen-Aid.png" alt="">
					Gemm
				</a>
			</li>
		</ul>
	</div>
	<div class="brands__block brands__block_business">
		<div class="brands__title">Бизнес</div>
		<ul class="brands__list">
			{% for item in businessItems %}
			<li class="brands__item">
				<a class="brands__link" href="#">{{item}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>