<div class="premium js-premium {% if partners %} premium_partners {% endif %}">

	<div class="premium__top">
		<div class="premium__right">
			<div class="premium__image">
				<a class="premium__link" data-fancybox="group" href="images/premium-big.jpg">
					<picture>
						<source data-srcset="images/premium-1-small.png" media="(max-width: 768px)">
						<img class="lazyload" data-src="images/premium-1.png" alt="">
					</picture>
				</a>
			</div>
		</div>
		<div class="premium__left">
			<div class="premium__block">
				<div class="premium__big">
					<div class="premium__image premium__image_second">
						<a class="premium__link" data-fancybox="group" href="images/premium-2-big.png">
							<img class="lazyload" data-src="images/premium-2-big.png" alt="">
						</a>
					</div>
				</div>
				<div class="premium__small">
					<div class="premium__image premium__image_third">
						<a class="premium__link" data-fancybox="group" href="images/premium-3-big.jpg">
							<img class="lazyload" data-src="images/premium-3.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="premium__block">
				<div class="premium__big premium__big_hide">
					<div class="premium__image">
						<a class="premium__link" data-fancybox="group" href="images/premium-4.jpg">
							<img class="lazyload" data-src="images/premium-4.png" alt="">
						</a>
					</div>
				</div>
				<div class="premium__small premium__small_mobile">
					<div class="premium__image premium__image_fifth">
						<a class="premium__link" data-fancybox="group" href="images/premium-5-big.jpg">
							<img class="lazyload" data-src="images/premium-5-big.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if premium %}
	<div class="premium__image premium__image_tablet">
		<img class="lazyload" data-src="images/premium-7.png" alt="">
	</div>
	<div class="premium__image premium__image_right">
		<img class="lazyload" data-src="images/premium-6.png" alt="">
		<div class="premium__desc">
			<div class="premium__title">MADE FOR LIFE</div>
			<div class="premium__text">
				<p>Designed to fit your style, and engineered to impress you with extraordinary sound, Beoplay A6 will
					be your digital music companion for life. </p>
				<p>Beoplay A6 is the evolution of the classic stereo and a true innovation in sound. Featuring a unique
					design that gives you Bang & Olufsen Signature Sound no matter where you are and wherever the
					speaker is placed. </p>
				<p>With the intuitive touch interface there’s no need to open your eyes or pick up your phone to control
					the speaker. Just reach out and touch Beoplay A6. </p>
			</div>
		</div>
	</div>
	<div class="premium__image premium__image_left">
		<img class="lazyload" data-src="images/premium-image.png" alt="">
		<div class="premium__desc">
			<div class="premium__title">MUSIC IN EVERY ROOM</div>
			<div class="premium__promo">
				You can play different music in different rooms – or let one song play on all your speakers throughout
				the home.
			</div>
			<div class="premium__text">
				<p>Beoplay A6 is a one-point music system that fills your home with spectacular sound by itself or you
					can connect more multiroom enabled speakers for a seamless sound experience. Beoplay A6 supports
					both Chromecast built-in and BeoLink Multiroom technology and combines seamlessly with Beoplay A9
					and Beoplay M5, or you can connect via Bluetooth, Airplay or DLNA. </p>
			</div>
		</div>
	</div>
	{% endif %}
</div>