<section class="history">
	<div class="small-title">История бренда ASKO</div>
	<div class="swiper__wrapper  swiper__wrapper_history">
		<div class="swiper-container swiper_top-history js-swiper-top-history">
			<div class="swiper-wrapper">
				<div class="swiper-slide active" data-slide="0">1918</div>
				<div class="swiper-slide" data-slide="1">1950</div>
				<div class="swiper-slide" data-slide="2">1957</div>
				<div class="swiper-slide" data-slide="3">1967</div>
				<div class="swiper-slide" data-slide="4">1975</div>
				<div class="swiper-slide" data-slide="5">1988</div>
				<div class="swiper-slide" data-slide="6">2006</div>
			</div>
		</div>
	<div class="swiper-container swiper_history js-swiper-history">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-year="1918">
				<div class="history__content">
					<div class="history__desc">
						<div class="history__year">1918</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div></div>
			<div class="swiper-slide" data-year="1950">
				<div class="history__content">
					<div class="history__desc"><div class="history__year">1950</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div>
			</div>
			<div class="swiper-slide" data-year="1957">
				<div class="history__content">
					<div class="history__desc"><div class="history__year">1957</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div>
			</div>
			<div class="swiper-slide" data-year="1967">
				<div class="history__content">
					<div class="history__desc"><div class="history__year">1967</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div>
			</div>
			<div class="swiper-slide" data-year="1975">
				<div class="history__content">
					<div class="history__desc"><div class="history__year">1975</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div>
			</div>
			<div class="swiper-slide" data-year="1988">
				<div class="history__content">
					<div class="history__desc"><div class="history__year">1988</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div>
			</div>
			<div class="swiper-slide" data-year="2006">
				<div class="history__content">
					<div class="history__desc"><div class="history__year">2006</div>
						<div class="history__text">
							<p>У компании ASKO хорошая история. Она началась в 1950 году в небольшом шведском городке Вара благодаря изобретательному молодому человеку, который задумал создать стиральную машину для своей матери.</p>
							<p>Уникальную машину, экономно расходующую воду и электроэнергию, отражая заботу фермера о природе. Машину с прочным барабаном из нержавеющей стали, которая будет отлично стирать, нагревать воду, отжимать и отличаться надежностью и долговечностью</p>
						</div></div>
					<div class="history__image">
						<img class="lazyload" data-src="images/history-1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>