.history{
	@include bg;

	&__content{
		display: flex;
		justify-content: space-between;
		padding: 30px;
		background: rgba(220, 220, 220, 0.46);
	}

	&__desc{
		max-width: 723px;
		padding-right: 35px;
	}

	&__year{
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 400;
	}

	&__text{
		font-size: 15px;
		font-weight: 300;
		line-height: 24px;
	}

	@media (--tabletAndMobile) {
		padding: 0;
		margin-left: -1%;
		margin-right: -1%;

		&__content{
			padding: 20px;
		}
	}

	@media (--tablet) {

		&__content {
			flex-direction: row-reverse;
		}

		&__desc{
			padding-right: 0;
			padding-left: 35px;
		}
	}

	@media (--phone) {

		&__content {

			flex-direction: column-reverse;
			align-items: center;
		}


		&__desc{
			padding-right: 0;
		}

		&__year{
			text-align: center;
			margin-bottom: 20px;
		}

		&__image{
			width: 40%;
			margin-bottom: 20px;

			img{
				max-width: 100%;
			}
		}
	}

}