<div class="reviews">
	<div class="reviews__inner">
		<div class="select select_reviews js-select">
			<span class="select__placeholder">
				<span>Только положительные <span class="select__accent">25</span></span>
			</span>
			<ul class="select__list">
				<li class="select__item js-select__item active" data-value="plus">Только положительные</li>
				<li class="select__item js-select__item" data-value="minus">Только отрицательные</li>
			</ul>
			<input type="hidden" name="changeme">
		</div>
		<div class="reviews__top reviews__top_hausdorf">
			<div class="reviews__sort">
				<div class="reviews__sort-title">Сортировка</div>
				<ul class="reviews__sort-list">
					<li class="reviews__sort-item">
						<a href="#" class="reviews__sort-link active">
							<span>Все отзывы</span>
							<span class="reviews__sort-count">157</span>
						</a>
					</li>
					<li class="reviews__sort-item">
						<a href="#" class="reviews__sort-link">
							<span>Только положительные</span>
							<span class="reviews__sort-count">25</span>
						</a>
					</li>
					<li class="reviews__sort-item">
						<a href="#" class="reviews__sort-link">
							<span>Только отрицательные</span>
							<span class="reviews__sort-count">25</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="reviews__grades">
				<div class="reviews__grades-items">
					<div class="reviews__grades-item">
						<div class="ratings ratings_small">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 100%;"></div>
							</div>
						</div>
						<a href="#" class="reviews__grades-link">105 отзывов</a>
					</div>
					<div class="reviews__grades-item">
						<div class="ratings ratings_small">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 80%;"></div>
							</div>
						</div>
						<a href="#" class="reviews__grades-link">98 отзывов</a>
					</div>
					<div class="reviews__grades-item">
						<div class="ratings ratings_small">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 60%;"></div>
							</div>
						</div>
						<a href="#" class="reviews__grades-link">45 отзывов</a>
					</div>
					<div class="reviews__grades-item">
						<div class="ratings ratings_small">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 40%;"></div>
							</div>
						</div>
						<a href="#" class="reviews__grades-link">15 отзывов</a>
					</div>
					<div class="reviews__grades-item">
						<div class="ratings ratings_small">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 20%;"></div>
							</div>
						</div>
						<a href="#" class="reviews__grades-link">5 отзывов</a>
					</div>
				</div>
			</div>
		</div>

		<!--start reviews__items-->
		{% include 'reviews__items/reviews__items.html' %}
		<!--end reviews__items-->

	</div>
	<button type="button" class="more more_reviews">Загрузить еще<span>98</span>&nbsp; отзывов</button>
</div>