.reviews {
	margin-bottom: 15px;

	&__inner {
		padding: 20px 30px;
		background: #fff;
		margin-bottom: 10px;
	}

	&__blocks {
		margin-bottom: 45px;
		padding-bottom: 30px;
		border-bottom: 3px solid #dcdcdc;
		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.reviews__sort,
		.reviews__grades {
			float: right;
			width: 51.5%;
		}

		.reviews__sort {
			padding-bottom: 15px;
			margin-bottom: 20px;
			border-bottom: 1px solid #e1e1e1;
		}
	}

	&__block {

		&:first-child {
			padding: 20px;
			width: 45%;
			border: 1px solid #eaedf0;
		}

		&:nth-child(2) {
			width: 55%;
			padding: 20px 0;
			padding-left: 35px;
		}

	}

	&__desc {
		float: left;
		display: flex;
		align-items: center;
		height: 216px;
		border: 1px solid #eaedf0;
		padding: 20px;

		.articul {
			margin-bottom: 40px;
		}
	}

	&__image {
		margin-right: 20px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 70px;

		.small-title {
			margin-bottom: 0;
			line-height: 1;
		}

		&_card {
			margin-bottom: 50px;
			align-items: center;

			.grade {
				color: #000000;

				&__number,
				&__title {
					margin-top: 0;
				}
			}
		}
	}

	&__left {
		margin-right: 20px;

		.small-title {
			display: inline-block;
		}
	}

	&__sort {
		width: 47.5%;

		&-title {
			margin-bottom: 10px;
			color: #959595;
			font-size: 12px;
			font-weight: 400;
		}

		&-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
		}

		&-item {

		}

		&-link {
			font-size: 13px;
			font-weight: 400;
			color: #000;

			span:first-child {
				border-bottom: 1px dashed #2f2f2f;
			}

			&.active {
				font-weight: 700;

				span:first-child {
					border-bottom: none;
				}
			}
		}

		&-count {
			color: $primaryColor;
		}
	}

	&__grades {
		width: 47.5%;
		padding-right: 20px;

		&-items {
			justify-content: space-between;
			display: flex;
		}

		&-item {
			text-align: center;
		}

		&-link {
			color: #000;
			font-size: 13px;
			font-weight: 400;
			border-bottom: 1px dashed #2f2f2f;

			&:hover {
				border-bottom: none;
			}
		}
	}

	&__heading {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__all {
		display: inline-block;
		position: relative;
		font-size: 15px;
		color: #000;
		margin-left: 20px;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			bottom: 2px;
			left: 0;
			background: #bfbfbf;
		}

	}

	&__name {
		margin-right: 15px;
		font-size: 18px;
		font-weight: 700;
	}

	&__items {
		padding-bottom: 40px;
	}

	&__item {
		border-bottom: 1px solid #efefef;
		padding-bottom: 60px;
		margin-bottom: 60px;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__time {
		margin-top: 2px;
		margin-right: 25px;
		color: #959595;
		font-size: 15px;
		font-weight: 300;
	}

	&__grade {
		margin-right: 40px;
		margin-left: 15px;
		font-size: 18px;
		font-weight: 700;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__prop {
		margin-bottom: 10px;
		font-size: 15px;
		font-weight: 700;
	}

	&__text {
		height: 40px;
		overflow: hidden;
		position: relative;
		max-width: 1010px;
		font-weight: 300;
	}

	&__view {
		position: absolute;
		background: #fff;
		right: 0;
		bottom: 2px;
		font-weight: 300;
		padding: 0;
		border: none;
		color: #000000;
		white-space: nowrap;
		z-index: 2;
		cursor: pointer;

		span {
			position: relative;
			bottom: 2px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.25);
		}

		&:focus{
			outline: none;
		}
	}

	&__about {
		display: flex;
		margin-top: 2px;
		font-size: 15px;

		&-name {
			color: #959595;
			font-weight: 300;
		}

		&-value {
			color: #000000;

			&:hover {
				color: $primaryColor;
			}
		}
	}

	&_catalog {

		.reviews{

			&__top{
				margin-bottom: 40px;
			}

			&__item{
				margin-bottom: 30px;
				padding-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}

		}
	}

	@media (max-width: 1160px) {

		&__desc {
			height: 128px;
			margin-bottom: 45px;

			.articul {
				margin-bottom: 20px;
			}

			.price {
				font-size: 23px;
			}
		}

		&__blocks {
			border-bottom: none;

			.reviews__sort,
			.reviews__grades {
				float: left;
				width: 100%;
			}

			.reviews__sort {

				&-list {
					max-width: 546px;
				}
			}
		}

	}

	@media (max-width: 1160px) and (min-width: 768px) {

		&__blocks {
			margin-bottom: 25px;
		}
	}

	@media (max-width: 1160px) and (min-width: 970px) {

		&__desc {
			width: 74.5%;
		}
	}

	@media (max-width: 970px) and (min-width: 880px) {

		&__desc {
			width: 70.5%;
		}
	}

	@media (max-width: 880px) and (min-width: 790px) {
		&__desc {
			width: 67.5%;
		}
	}

	@media (max-width: 790px) {

		&__desc {
			width: 65.5%;
		}
	}

	@media (max-width: 1100px) {

		&__top {

			&_card {
				flex-wrap: wrap;
				flex-direction: row;

				.small-title {
					font-size: 20px;
				}

				.grade {
					font-size: 15px;
				}

			}

		}
	}

	@media (max-width: 1020px) {

		&__top {

			&_card {

				.btn_reviews {
					margin-top: 20px;
				}
			}

		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&__item {
			padding-bottom: 40px;
			margin-bottom: 40px;
		}

		&__inner {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	@media (max-width: 1100px) and (min-width: 768px) {

		&__blocks {
			flex-direction: column;
		}

		&__block {
			width: 100%;
		}

	}

	@media (--tablet) {

		&_catalog {

			.reviews {

				&__top {
					align-items: center;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;

					.small-title {
						width: 100%;
						margin-bottom: 10px;
					}

					.grade_catalog {
						flex-grow: initial;
					}
				}
			}
		}

		&__top {
			flex-direction: column;
			margin-bottom: 50px;

			&_card {
				flex-direction: row;
			}
		}

		&__sort,
		&__grades {
			width: 100%;
		}

		&__sort {
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 15px;
			margin-bottom: 20px;

			&-list {
				justify-content: flex-start;
			}

			&-item + &-item {
				margin-left: 50px;
			}
		}

		&__all {
			margin-top: 5px;
			order: 1;
		}

	}

	@media (--phone) {

		.small-title {
			font-size: 22px;
			margin-bottom: 15px;
		}

		&__inner {
			padding: 20px 10px;
		}

		&__heading {
			flex-wrap: wrap;
			margin-bottom: 15px;
		}

		&__top {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 30px;

			&_hausdorf {
				display: none;
			}

			&_card {

				.btn_reviews {
					width: 100%;
					max-width: initial;
				}
			}

			.grade {
				width: 100%;
				justify-content: space-between;
				font-size: 15px;

				&__number {
					margin-right: 0;
				}
			}
		}

		&__left {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 0;
			width: 100%;
			margin-bottom: 20px;

			.small-title {
				margin-right: 20px;
				margin-bottom: 0;
			}
		}

		&__desc {
			display: none;
		}

		&__blocks {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 20px;

			.reviews__grades,
			.reviews__sort {
				display: none;
			}
		}

		&__items {

			.ratings__section {
				height: 14px;
				width: 85px;
			}
		}

		&__name {
			width: 100%;
			font-size: 15px;
			margin-right: 0;
			margin-bottom: 10px;
		}

		&__time {
			font-size: 13px;
			flex-grow: 1;
		}

		&__grade {
			font-size: 15px;
			margin-right: 0;
		}

		&__prop {
			font-size: 13px;
			margin-bottom: 10px;
		}

		&__text{
			font-size: 13px;
		}

		&__list {

			&-item {
				margin-bottom: 20px;
			}
		}

		&__all {
			margin-left: 0;
			margin-bottom: 20px;

			&-mobile {
				display: none;
			}
		}

		&__grade {
			margin-right: 20px;
		}

		&__about {
			width: 100%;
			font-size: 13px;

			&-name {
				min-width: 70px;
			}

			&-value {
				width: 212px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

	}

}