<div class="promo">
	<a href="#" class="promo__link">
		<picture>
			<source media="(max-width:767px)" data-srcset="images/promo-mobile.jpg">
			<source media="(max-width: 1100px)" data-srcset="images/promo-tablet.jpg">
			<img class="promo__image lazyload" data-src="images/promo.jpg" alt="">
		</picture>

		<div class="promo__desc">
			<div class="promo__title">Hausdorf — бутик элитной бытовой техники</div>
			<div class="promo__text">
				<p>Hausdorf — Ваш представитель в мире бытовой техники премиум- класса. Элитная бытовая техника — это
					техника, соответствующая высочайшему уровню жизни, самым жестким мировым стандартам и требованиям
					искушенных покупателей.</p>
				<p>Это техника, способная своим безупречным стилем и качеством подчеркнуть статус владельца, выразить
					его вкус и стать украшением любого интерьера.</p>
			</div>
		</div>
	</a>
</div>
