.promo {
	position: relative;
	margin-bottom: 15px;
	
	.container{
		position: relative;
	}

	&__link{
		display:block;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 300;
	}

	&__desc {
		position: absolute;
		top: 45px;
		right: 30px;
		width: 539px;
		padding: 30px 40px;
		padding-bottom: 50px;
		background-color: #292929;
		color: #ffffff;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 46px;
			height: 46px;
			top: -23px;
			left: -23px;
			background-image: url(../images/logo-small.png);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&__text {
		line-height: 24px;

		p:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: 1100px) and (min-width:768px) {

		&__image{
			width: 100%;
			height: 420px;
		}

		&__desc {
			width: 95%;
			height: 254px;
			right: 0;
			top: auto;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			padding: 42px 32px;

			&:after {
				left: 32px;
			}
		}
	}

	@media (--phone) {

		.container{
			width: 100%;
		}

		&__image{
			width: 100%;
			height: auto;
		}

		&__desc {
			position: relative;
			width: 100%;
			right: 0;
			top: 100%;
			padding: 10px;
			padding-top: 50px;
			padding-bottom: 25px;

			&:after{
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&__title{
			text-align: center;
			font-size: 18px;
			line-height: 1.1;
		}
	}
}