.info {
	position: relative;
	background: #fff;
	@include bg;

	&__row {
		display: flex;
	}

	&__col {
		width: calc(100% / 3);
	}

	&__title {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		margin-left: 20px;
		color: #222328;
		font-size: 15px;
		font-weight: 700;
		line-height: 16px;
		transition: margin-bottom 0.5s;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 20px 0;

		text-align: center;
		overflow: hidden;

		@media (min-width: 1000px) {
			height: 100px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				height: 3px;
				width: 0;
				bottom: 0;
				background-color: $primaryColor;
				transition: width 0.3s linear;
			}

			&:hover {

				&:after {
					width: 100%;
				}

				.info__title {
					max-width: inherit;
					color: $primaryColor;
					margin-bottom: 40px;
				}

				.info__text {
					transform: translateY(20px);

				}

				.icon {
					display: none;
				}
			}

			&__title{
				max-width: 115px;
			}
		}

	}

	&__text {
		position: absolute;
		transition: transform 0.5s;
		transform: translateY(200%);
	}

	&__link{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	@media (--tabletAndMobile) {
		margin-right: -1%;
		margin-left: -1%;
	}

	@media (--tablet) {

		&__item {
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
			padding: 30px 0;
			padding-left: 20px;

			&:hover {

				&:after {
					width: 0;
				}
			}
		}

		.icon {
			display: inline-block;
			height: 50px;
		}

		&__title {
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: 0;
		}

		&__text {
			position: static;
			transform: translateY(0);
		}
	}

	@media (--phone) {
		order: -1;
		margin-bottom: 15px;

		&__row{
			flex-wrap: wrap;
		}

		&__col{
			width: 100%;
		}

		&__title{
			min-width: 200px;
		}

		&__text{
			display: none;
		}

	}
}