<div class="info">
	<div class="info__row">
		<div class="info__col">
			<div class="info__item">
				<span class="icon icon_car"></span>
				<div class="info__title">Бесплатная доставка</div>
				<div class="info__text">На всю технику в Hausdorf предоставляется гарантия от производителя.</div>
				<a class="info__link" href="#"></a>
			</div>
		</div>
		<div class="info__col">
			<div class="info__item">
				<span class="icon icon_guarantee"></span>
				<div class="info__title">Официальная гарантия</div>
				<div class="info__text">На всю технику в Hausdorf предоставляется гарантия от производителя.</div>
				<a class="info__link" href="#"></a>
			</div>
		</div>
		<div class="info__col">
			<div class="info__item">
				<span class="icon icon_install"></span>
				<div class="info__title">Бесплатное подключение</div>
				<div class="info__text">На всю технику в Hausdorf предоставляется гарантия от производителя.</div>
				<a class="info__link" href="#"></a>
			</div>
		</div>
	</div>
</div>