<section class="service">
	<h1 class="title">Сервис Hausdorf</h1>
	<div class="tabs tabs_service">
		<div class="service__select js-service-select">О компании</div>
		<ul class="tabs__links js-service-list">
			<li>
				<a href="#js-tabs__item-1" class="tabs__link  js-tabs__link ">О компании</a>
			</li>
			<li>
				<a href="#js-tabs__item-2" class="tabs__link  js-tabs__link active">Адрес бутика</a>
			</li>
			<li>
				<a href="#js-tabs__item-3" class="tabs__link  js-tabs__link ">Доставка</a>
			</li>
			<li>
				<a href="#js-tabs__item-4" class="tabs__link  js-tabs__link ">Оплата</a>
			</li>
			<li>
				<a href="#js-tabs__item-5" class="tabs__link  js-tabs__link">Подключение</a>
			</li>
			<li>
				<a href="#js-tabs__item-6" class="tabs__link  js-tabs__link ">Гарантия</a>
			</li>
			<li>
				<a href="#js-tabs__item-7" class="tabs__link  js-tabs__link">Сервисные центры <span>23</span></a>
			</li>
			<li>
				<a href="#js-tabs__item-8" class="tabs__link  js-tabs__link ">Условия продажи товара физическим
					лицам</a>
			</li>
		</ul>
		<div class="tabs__content">
			<div class="tabs__item  js-tabs__item  " id="js-tabs__item-1">
				<div class="service__about">
					<div class="service__bg">
						<div class="small-title">О компании</div>
						<div class="service__center">
							<div class="service__center-image">
								<img src="images/logo-service.png" alt="">
							</div>
							<div class="service__desc">
								<div class="service__desc-title">
									Hausdorf — техника вашего уровня
								</div>
								<div class="service__desc-text">
									Все представленные на сайте Hausdorf торговые марки — Miele, Kuppersbusch,
									Neff, Restart, Ilve, Smeg, Liebherr, Gaggenau, De Dietrich и другие — это бренды с
									мировым именем. Бренды с историей, полной успеха и восторженных отзывов. С
									репутацией, которая наиболее наглядно демонстрирует правильность вашего выбора.
								</div>
							</div>
						</div>
					</div>
					<div class="service__seo service__seo_red">
						<div class="service__seo-desc">
							<div class="small-title">Элитная бытовая техника: роскошь в каждой детали</div>
							<div class="service__seo-text">
								<p>Элитная бытовая техника — это исключительные материалы, новейшие разработки и
									расширенная функциональность. Приобретая технику такого уровня, можете быть уверены
									— таких приборов не встретить в каждом доме.</p>
								<p>
									Кофемашины инкрустированные кристаллами Swarowski или, может быть, покрытые золотом?
									Холодильник, оформленный в цвета британского флага? Экстравагантный варочный центр в
									розовом цвете? Интеллектуальные технологии и неоспоримая эстетика — проверенное
									сочетание в изысканных моделях.</p>
							</div>
						</div>

						<div class="service__seo-image">
							<picture>
								<source media="(max-width:767px)" srcset="images/service-seo-1-mobile.jpg">
								<img src="images/service-seo-1.png" alt="">
							</picture>
						</div>
					</div>
					<div class="service__seo service__seo_left">
						<div class="service__seo-image">
							<picture>
								<source media="(max-width: 1000px) and (min-width:767px)"
								        srcset="images/service-seo-2-mobile.png">
								<source media="(max-width:767px)" srcset="images/service-seo-2-small.png">
								<img src="images/service-seo-2.png" alt="">
							</picture>
						</div>
						<div class="service__seo-desc">
							<div class="small-title">Гарантия качества — один из секретов нашего успеха</div>
							<div class="service__seo-text">
								<p>Мы с большим вниманием относимся к Вашему мнению о качестве нашей работы!</p>
								<p>Для того, чтобы мы могли оперативно реагировать на Ваши предложения и претензии,
									пожалуйста, сообщите нам об этом, написав письмо специалисту Службы качества:
									<a href="#">client@hausdorf.ru</a></p>
								<p>Вам будет предоставлена необходимая консультация и оказана оперативная помощь!</p>
								<p>Доставка заказанной техники в бутике Hausdorf осуществляется в удобное для вас время,
									стоит лишь обговорить все детали с нашим специалистом. </p>
							</div>
						</div>
					</div>

					<!--start slice-->
					{% include 'slice/slice.html' %}
					<!--end slice-->

					<!--start company-->
					{% include 'company/company.html' %}
					<!--end company-->

					<!--start feedback-->
					<section class="feedback feedback_about">
						<div class="feedback__blocks">
							<div class="feedback__block">
								<div class="small-title">Контактная информация</div>
								<ul class="feedback__list">
									<li class="feedback__list-item">
										<span class="feedback__list-name">Адрес</span>
										<span class="feedback__list-value">Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж</span>
									</li>
									<li class="feedback__list-item">
										<span class="feedback__list-name">Телефон:</span>
										<span class="feedback__list-value"><a
											href="tel:+74954771491">+7 (495) 477-14-91</a></span>
									</li>
									<li class="feedback__list-item">
										<span class="feedback__list-name">Электронная почта:</span>
										<span class="feedback__list-value"><a href="mailto:shop@hausdorf.ru">shop@hausdorf.ru</a></span>
									</li>
								</ul>
							</div>
							<div class="feedback__block feedback__block_color">
								<div class="small-title">Реквизиты ООО «Хаусдорф Бутик»</div>
								<ul class="feedback__text">
									<li class="feedback__text-item">ОГРН 5147746289015</li>
									<li class="feedback__text-item">ИНН 7731483162</li>
									<li class="feedback__text-item">КПП 772301001</li>
									<li class="feedback__text-item">БИК 044525716</li>
									<li class="feedback__text-item">р/сч.40702810400000095152 в В ВТБ 24 (ПАО)</li>
									<li class="feedback__text-item">кор/сч. 30101810100000000716</li>
								</ul>
								<button type="button" class="feedback__more" data-ajax data-url="ajax/feedback.html">
									Подробные реквизиты
								</button>
							</div>
						</div>
					</section>
					<!--end feedback-->

				</div>
			</div>
			<div class="tabs__item  js-tabs__item active " id="js-tabs__item-2">
				<div class="small-title">Адрес бутика</div>
				<div class="service__address">

					<!--start address-->
					{% include 'address/address.html' %}
					<!--end address-->

					<div class="service__title">Парковочные места</div>
					<div class="service__text">
						<p>Для вашего комфорта предусмотрены свободные места на наземной и подземной парковке</p>
					</div>
					<div class="service__address-row">
						<div class="service__address-col">
							<div class="service__address-image">
								<a href="images/service__address-car-1.png" data-fancybox>
									<img src="images/service__address-car-1.png" alt="">
								</a>

							</div>
						</div>
						<div class="service__address-col">
							<div class="service__address-image">
								<a href="images/service__address-car-2.png" data-fancybox="">
									<img src="images/service__address-car-2.png" alt="">
								</a>

							</div>
						</div>
						<div class="service__address-col">
							<div class="service__address-image">
								<a href="images/service__address-car-3.png" data-fancybox="">
									<img src="images/service__address-car-3.png" alt="">
								</a>
							</div>
						</div>
						<div class="service__address-col">
							<div class="service__address-image">
								<a href="images/service__address-car-4.png" data-fancybox="">
									<img src="images/service__address-car-4.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="service__promo">
						Обратившись в салон Hausdorf Вы по достоинству оцените уровень исполнения, практически
						неограниченные возможности и продуманный дизайн бытовой техники от лучших мировых брендов.
					</div>
					<div class="gallery gallery_service js-gallery">
						<div class="gallery__bigImage" id="js-bigImage">
							<a href="images/service-gallery-1.png" data-fancybox="">
								<img src="images/service-gallery-1.png" alt="image1">
							</a>
						</div>
						<div class="gallery__text js-gallery__text">
							<p>Бутик Hausdorf является официальным дилером известных мировых брендов бытовой техники. Mы
								предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей.</p>
							<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau,
								Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную
								гарантию от производителя.</p>
						</div>
						<ul class="gallery__list" id="js-list">
							<li class="gallery__item active">
								<a class="gallery__link" href="images/service-gallery-1.png" data-text="<p>Бутик Hausdorf является официальным дилером известных мировых брендов бытовой техники. Mы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей.</p>
						<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau, Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.</p>">
									<img class="gallery__smallImage" src="images/service-gallery-1.png" alt="image4">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="http://via.placeholder.com/1170x690" data-text="<p> Hausdorf является официальным дилером известных мировых брендов бытовой техники. Mы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей.</p>
						<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau, Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.</p>">
									<img class="gallery__smallImage" src="images/service-gallery-2.png" alt="image3"
									     title="">
								</a>
							</li>
							<li class="gallery__item ">
								<a class="gallery__link" href="http://via.placeholder.com/1170x690"
								   data-text="<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau, Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.</p>">
									<img class="gallery__smallImage" src="images/service-gallery-3.png" alt="image1">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="http://via.placeholder.com/1170x690" data-text="<p> Hausdorf является официальным дилером известных мировых брендов бытовой техники. Mы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей.</p>
						<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau, Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.</p>">
									<img class="gallery__smallImage" src="images/service-gallery-4.png" alt="image2">
								</a>
							</li>

							<li class="gallery__item">
								<a class="gallery__link" href="http://via.placeholder.com/1170x690" data-text="<p> официальным дилером известных мировых брендов бытовой техники. Mы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей.</p>
						<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau, Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.</p>">
									<img class="gallery__smallImage" src="images/service-gallery-5.png" alt="image5">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="http://via.placeholder.com/1170x690" data-text="<p> является официальным дилером известных мировых брендов бытовой техники. Mы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей.</p>
						<p>У нас вы найдете лучших представителей отрасли: Asko, Smeg, Miele, Gaggenau, Kuppersbusch, Ilve, Restart и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.</p>">
									<img class="gallery__smallImage" src="images/service-gallery-6.png" alt="image5">
								</a>
							</li>
						</ul>
					</div>
					<div class="problem problem_address">
						<div class="problem__text">Уважаемые покупатели, ассортимент техники можно уточнить у менеджеров
							Hausdorf
						</div>
						<div class="problem__call">
							<span class="problem__consult">Наш консультант поможет Вам.</span>
							<span class="problem__call-text">Звоните</span>
							<a href="tel:+74956029621" class="problem__call-link">+7 (495) 602-96-21</a>
						</div>
					</div>

					<!--start feedback-->
					{% include 'feedback/feedback.html' %}
					<!--end feedback-->
				</div>
			</div>
			<div class="tabs__item  js-tabs__item" id="js-tabs__item-3">
				<div class="small-title">Доставка по Санкт-Петербургу</div>
				<div class="delivery-row delivery-row_shipping">
					<div class="delivery-row__desc">
						<div class="service__title">Регионы:</div>
						<ul class="delivery-row__list">
							<li class="delivery-row__item js-delivery-row__item" data-region="mc">
								<a href="#" class="delivery-row__link active">Москва и Московская область</a>
							</li>
							<li class="delivery-row__item js-delivery-row__item" data-region="nn">
								<a href="#" class="delivery-row__link">Нижний Новгород</a>
							</li>
							<li class="delivery-row__item js-delivery-row__item" data-region="le">
								<a href="#" class="delivery-row__link">Санкт-Петербург</a>
							</li>
						</ul>
						<div class="delivery-row__more" id="js-delivery-row__more">
							<span>Другие регионы России</span>
						</div>
					</div>
					<div class="delivery-row__map">
						<div class="delivery-row__block" id="vmap"></div>
					</div>
				</div>
				<div class="service__text">
					<p>Доставка осуществляется до двери квартиры или в прихожую (коридор) покупателя. Доставка техники в
						квартиру возможна только при наличии свободного прохода, не препятствующего ее перемещению.
						Экспедитор по вашей просьбе может установить технику на предусмотренное место, но это не входит
						в его обязанности и считается дополнительной услугой.</p>
				</div>
				<br>
				<div class="service__title">Стоимость доставки:</div>
				<ul class="service__list">
					<li class="service__list-item">Доставка техники в пределах КАД:</li>
					<li class="service__list-item">Доставка за пределы КАД — 30р./км. к общей стоимости доставки.</li>
					<li class="service__list-item">Доставка аксессуаров без техники в пределах КАД — 500</li>
					<li class="service__list-item">Тарифы на доставку прочей техники уточняйте у оператора.</li>
				</ul>
				<br>
				<br>
				<div class="service__line"></div>
				<br>
				<br>
				<div class="service__title">Бесплатная доставка техники</div>

				<!--start company-->
				{% include 'company/company.html' %}
				<!--end company-->

				<div class="service__title">Также бесплатно доставляются товары на следующие заказы:</div>
				<ul class="service__list">
					<li class="service__list-item">от 7 000 руб.: Zigmund Shtain; Blanco; Franke; Kuppersberg.</li>
					<li class="service__list-item">от 15 000 руб.: Elica, Faber, Falmec</li>
					<li class="service__list-item">от 10 000 руб.: Korting</li>
					<li class="service__list-item">от 50 000 руб.: Liebherr</li>
				</ul>
				<br>
				<div class="service__text service__text_gray">
					<p>Доставка в квартиру осуществляется при наличии беспрепятственного доступа к месту установки.
						Доставка до специально предусмотренного под технику места в квартире осуществляется за
						дополнительную плату по договоренности экспедитором службы доставки.</p>
				</div>
				<br>
				<div class="service__title">Подъем техники без лифта:</div>
				<div class="service__table">
					<div class="service__table-item">
						<div class="service__table-big">
							<div class="service__table-desc">Мелкая техника</div>
							<div class="service__table-desc">СВЧ печи, вытяжки до 60см в ширину, аксессуары.</div>
						</div>
						<div class="service__table-small">
							<div class="service__table-desc service__table-desc_strong">50 руб./этаж</div>
						</div>
					</div>
					<div class="service__table-item">
						<div class="service__table-big">
							<div class="service__table-desc">Крупная техника</div>
							<div class="service__table-desc">Техника от 20 кг: стиральные, сушильные и посудомоечные
								машины, вытяжки, духовые шкафы.
							</div>
						</div>
						<div class="service__table-small">
							<div class="service__table-desc service__table-desc_strong">100 руб./этаж</div>
						</div>
					</div>
					<div class="service__table-item">
						<div class="service__table-big">
							<div class="service__table-desc">Холодильники свыше 100 кг.</div>
							<div class="service__table-desc">Или выше 160 см.</div>
						</div>
						<div class="service__table-small">
							<div class="service__table-desc service__table-desc_strong">150 руб./этаж</div>
						</div>
					</div>
					<div class="service__table-item">
						<div class="service__table-big">
							<div class="service__table-desc">Холодильники Side-by-side</div>
							<div class="service__table-desc">Все холодильники Side-by-side.</div>
						</div>
						<div class="service__table-small">
							<div class="service__table-desc service__table-desc_strong">250 руб./этаж</div>
						</div>
					</div>
				</div>
				<div class="service__warn">
					<span class="icon icon_service-warn"></span>
					<span
						class="service__warn-text">Подъем техники грузовым лифтом (исключая холодильники Side-by-side) — <strong>бесплатно</strong>.</span>
				</div>
				<div class="service__blocks">
					<div class="service__block">
						<span class="icon icon_basket"></span>
						<div class="service__title">Порядок приема товара:</div>
						<div class="service__text">
							<p>
								Прежде чем подписывать документы о приеме товара, обязательно убедитесь в следующем:
							</p>
							<ul class="service__list service__list_big">
								<li class="service__list-item">В отсутствии внешних дефектов: сколы, царапины,
									вмятины.
								</li>
								<li class="service__list-item">В наличии всех составляющих товара: дополнительные
									аксессуары, детали, фурнитура.
								</li>
							</ul>
						</div>
						<div class="service__text">
							<p>
								Экспедитор не осуществляет консультирование покупателей по функциональным особенностям
								товара и не производит установку/подключение техники.
								<br>
								Доставка товара осуществляется в квартиры и офисы по точному адресу и в оговоренное
								время.
							</p>
						</div>
					</div>
					<div class="service__block">
						<span class="icon icon_box"></span>
						<div class="service__title">Заказы не доставляются:</div>
						<div class="service__lists">
							<ul class="service__list">
								<li class="service__list-item">В общественные места.</li>
								<li class="service__list-item">В места массового скопления людей.</li>
								<li class="service__list-item">К торговым комплексам.</li>
							</ul>
							<ul class="service__list">
								<li class="service__list-item">К станциям метро.</li>
								<li class="service__list-item">К строительным площадкам</li>
								<li class="service__list-item">На пустыри и т.д.</li>
							</ul>
						</div>
						<div class="service__text">
							<p>
								Если въезд на территорию доставки платный, то покупатель обязан оплатить расходы,
								связанные с этим. В противном случае товар будет доставлен до места платного въезда.
							</p>
							<p>
								Если за окном минусовая температура воздуха, техника, перед установкой, должна постоять
								несколько часов в теплом помещении.
							</p>
						</div>
					</div>
				</div>
				<div class="service__quality service__quality_margin">
					<div class="service__image">
						<picture>
							<source data-srcset="images/service-mobile.png"
							        media="(max-width:1000px) and (min-width:768px)">
							<source data-srcset="images/service-mobile-2.png" media="(max-width:468px)">
							<img class="lazyload" data-src="images/service.png" alt="">
						</picture>
					</div>
					<div class="problem problem_service">
						<div class="problem__title">Что делать если Вам доставили товар ненадлежащего качества?</div>
						<div class="problem__text">Ни в коем случае не подписывайте документы о получении товара. В
							присутствии представителей транспортной компании нужно сфотографировать дефекты техники,
							сделать отметки с описанием недостатков в сопроводительных документах и оформить претензию.
						</div>
						<div class="problem__call">
							<span class="problem__call-text">Звоните</span>
							<a href="tel:+74956029621" class="problem__call-link">+7 (495) 602-96-21</a>
						</div>
					</div>
				</div>
				<div class="service__title service__title_margin">Условия продажи товара физическим лицам</div>
				<p>Оформляя заказ на сайте Hausdorf, вы соглашаетесь с условиями продажи товара физическим лицам.</p>
				<br><br>
			</div>
			<div class="tabs__item  js-tabs__item " id="js-tabs__item-4">
				<div class="small-title">Способы оплаты</div>
				<div class="service__pay">
					<div class="service__pay-row">
						<div class="service__pay-col">
							<div class="service__pay-item">
								<div class="service__title">Банковские карты</div>
								<div class="service__text">
									<p>Оплата банковской картой при доставке или онлайн. Безопасность платежей с помощью
										банковских карт обеспечивается технологиями защищенного соединения HTTPS и
										двухфакторной аутентификации пользователя 3D Secure. Если вы хотите оплатить
										товар кредитной картой, необходимо предупредить об этом менеджера.
										<br>Мы принимаем карты:</p>
									<div class="service__pay-images">
										<div class="service__pay-image service__pay-image_visa">
											<img src="images/visa-service.png" alt="">
										</div>
										<div class="service__pay-image">
											<img src="images/mastercard-logo1.png" alt="">
										</div>
										<div class="service__pay-image">
											<img src="images/maestro.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="service__pay-col">
							<div class="service__pay-item">
								<div class="service__title">Электронные деньги</div>
								<div class="service__text">
									<p>Вы можете оплатить покупку электронным кошельком: Webmoney, Яндекс. Деньги и
										другими видами электронных валют</p>
									<div class="service__pay-images">
										<div class="service__pay-image">
											<img src="images/webmoney.png" alt="">
										</div>
										<div class="service__pay-image">
											<img src="images/yandex.png" alt="">
										</div>
										<div class="service__pay-image">
											<img src="images/logo-moneta-ru.png" alt="">
										</div>
									</div>
									<div class="service__pay-bigImage">
										<span class="service__pay-imageText">Прием платежей организован <br>платежным агрегатором</span>
										<img src="images/payanyway-service.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="service__pay-col">
							<div class="service__pay-item">
								<div class="service__title">Предоплата в бутике Hausdorf</div>
								<div class="service__text">
									<p>Наличными или банковской картой. Для некоторых видов техники может потребоваться
										обязательная предоплата. О необходимости предоплаты уточняйте у менеджера.</p>
									<div class="service__pay-images">
										<div class="service__pay-image service__pay-image_hausdorf">
											<img src="images/hausdorf.png" alt="">
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="service__pay-col">
							<div class="service__pay-item">
								<div class="service__title">Наличный и безналичный расчет</div>
								<div class="service__text">
									<p>Безналичный расчет возможен как с юридическими, так и с физическими лицами. Мы
										высылаем счет по электронной почте или по факсу. Товар доставляется в удобное
										вам время после поступления денег на наш расчетный счет. Получатель от
										юридического лица обязан иметь оригинал доверенности на получение товара и
										печать организации.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="service__title">Процесс совершения заказа по предоплате</div>
					<ul class="service__list service__list_pay">
						<li class="service__list-item">Оформите заказ. Это можно сделать заполнив заявку на сайте либо
							позвонив нашим менеджерам.
						</li>
						<li class="service__list-item">После оформления заявки с вами свяжется наш представитель, чтобы
							подтвердить заказ и обсудить другие вопросы.
						</li>
						<li class="service__list-item">Предоплату можно внести в бутике Hausdorf, банковской картой или
							электронными деньгами.
						</li>
						<li class="service__list-item">Как только товар появится на складе, мы доставим его вам,
							предварительно созвонившись и обсудив точные сроки доставки.
						</li>
						<li class="service__list-item">Если у вас возникли вопросы — <strong>позвоните нам:</strong> <a
							href="tel:++74956029621">+7 (495) 602-96-21</a>.
						</li>
					</ul>
					<div class="service__title">Три причины не сомневаться в нас, совершая предварительный заказ</div>
					<div class="service__pay-row-items">
						<div class="service__pay-col-items">
							<div class="service__pay-reasons-item">
								<div class="service__pay-reasons-title"><span
									class="service__pay-reasons-accent">01</span><span>Мы открыто сообщаем наши реквизиты и адреса</span>
								</div>
								<div class="service__pay-reasons-text">
									Ежедневно с вами на связи наши менеджеры, консультанты и продавцы, готовые без
									промедления ответить на любые вопросы.
								</div>
							</div>

						</div>
						<div class="service__pay-col-items">
							<div class="service__pay-reasons-item">
								<div class="service__pay-reasons-title"><span
									class="service__pay-reasons-accent">02</span><span>У нас есть свой бутик элитной бытовой техники в Москве !</span>
								</div>
								<div class="service__pay-reasons-text">Он находится по адресу: Рублевское шоссе, д. 52А,
									ТЦ «Западный», и вы в любое время можете позвонить или посетить нас, а также найти
									информацию о нашем бутике в любом справочнике города.
								</div>
							</div>

						</div>
						<div class="service__pay-col-items">
							<div class="service__pay-reasons-item">
								<div class="service__pay-reasons-title"><span
									class="service__pay-reasons-accent">03</span><span>Каждый день на нашем сайте совершается более 20 покупок</span>
								</div>
								<div class="service__pay-reasons-text">Мы работаем с большим количеством поставщиков, с
									нами сотрудничают многие представители известных брендов. Нам доверяют наши клиенты
									и партнёры.
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="tabs__item  js-tabs__item " id="js-tabs__item-5">
				<div class="small-title">Подключение по Москве и области</div>
				<div class="delivery-row delivery-row_connect">
					<div class="delivery-row__desc">
						<div class="service__title">Регионы:</div>
						<ul class="delivery-row__list">
							<li class="delivery-row__item js-delivery-row__item" data-region="mc">
								<a href="#" class="delivery-row__link active">Москва и Московская область</a>
							</li>
							<li class="delivery-row__item js-delivery-row__item" data-region="nn">
								<a href="#" class="delivery-row__link">Нижний Новгород</a>
							</li>
							<li class="delivery-row__item js-delivery-row__item" data-region="le">
								<a href="#" class="delivery-row__link">Санкт-Петербург</a>
							</li>
						</ul>
						<div class="delivery-row__more" id="js-delivery-row__more">
							<span>Другие регионы России</span>
						</div>
					</div>
					<div class="delivery-row__map">
						<div class="delivery-row__block vmap" id="vmap2"></div>
					</div>
				</div>
				<div class="service__text service__text_border">
					<p>При заказе техники в нашем магазине вы также можете заказать подключение. Работы по подключению
						выполняют мастера партнерских служб. Вызов мастера можно заказать у наших менеджеров по телефону
						+7 (495) 602-96-21. Дата приезда специалиста согласовывается при оформлении заказа. Чтобы не
						выделять дополнительное время на установку, визит мастера можно назначить на день доставки
						товара. Демонтаж старой техники в стоимость услуг не входит и оплачивается отдельно.


						Выезд мастера за пределы МКАД оплачивается дополнительно.</p>
				</div>
				<div class="service__connect">
					<div class="service__connect-blocks">
						<div class="service__connect-block">
							<div class="small-title">Подключение техники Miele</div>
							<div class="service__text">
								<p>Информация по подключению техники Miele и документы для покупателей товаров
									Miele.</p>
								<p>Информация о новой услуге Miele — Miele Exclusive Care.</p>
							</div>
						</div>
						<div class="service__connect-block">
							<div class="service__connect-image">
								<img src="images/service-miele.png" alt="">
							</div>
						</div>
					</div>
					<div class="small-title">Подключение остальной техники</div>
					<div class="service__text service__text_border">
						<p>Наш магазин дарит вам бесплатное подключение техники на готовые коммуникации при стоимости
							товара от 50 000 рублей (кроме островных вытяжек) для следующих брендов: SMEG, ASKO, AEG,
							DeDietrich, Kuppersberg, Kaiser, Gaggenau, Faber, Kuppersbusch, Ilve, Barazza, IP, Steel,
							Restart.</p>
						<p>Подключение приборов Graude на готовые коммуникации — бесплатно от 30 000 рублей (кроме
							островных вытяжек).</p>
						<p>Также интернет-магазин осуществляет бесплатное подключение крупной бытовой
							техники KitchenAid, Gorenje Plus и техники Gorenje из коллекции Starck.</p>
					</div>
					<div class="accordion accordion_service js-accordion">
						<div class="accordion__block">
							<h2 class="accordion__button active js-accordion__button">Цены на монтаж техники</h2>
							<div class="accordion__panel active ">
								<div class="service__connect-table">
									<div class="service__connect-item">
										<div class="service__connect-big">Выезд мастера</div>
										<div class="service__connect-small">600 руб.</div>
									</div>
									<div class="service__connect-item">
										<div class="service__connect-big">Выезд мастера</div>
										<div class="service__connect-small">600 руб.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button active js-accordion__button">Подключение (на готовые
								коммуникации)
								отдельностоящей техники </h2>
							<div class="accordion__panel active">
								<div class="service__table">
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Сушильный барабан</div>
											<div class="service__table-desc">разблокировка прибора, установка на место
												дальнейшей эксплуатации, регулировка по уровню, первый запуск,
												консультация по использованию
											</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Электроплита</div>
											<div class="service__table-desc">установка новой плиты на место дальнейшей
												эксплуатации, регулировка по уровню, монтаж электрического кабеля от
												плиты к розетке (материал в стоимость подключения не входит), первый
												запуск, консультация по использованию
											</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Стиральная машина</div>
											<div class="service__table-desc">разблокировка прибора, установка на место
												дальнейшей эксплуатации, регулировка по уровню, первый запуск,
												консультация по использованию
											</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильники Side-by-side</div>
											<div class="service__table-desc">Все холодильники Side-by-side.</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button active js-accordion__button">Подключение (на готовые
								коммуникации) отдельностоящей техники </h2>
							<div class="accordion__panel active">
								<div class="service__connect-table">
									<div class="service__connect-item">
										<div class="service__connect-big">Варочная поверхность, Духовой шкаф,
											Посудомоечная машина, Стиральная машина, СВЧ (микроволновая печь),
											Пароварка, Подогреватель посуды, Кофемашина, Винный шкаф, Гриль,
											Отдельностоящая стиральная машина с установкой под столешницу,
											Отдельностоящая посудомоечная машина с установкой под столешницу,
											Измельчитель отходов, Холодильник, Морозильная камера
										</div>
										<div class="service__connect-small">1 800 руб.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button active js-accordion__button">Холодильники</h2>
							<div class="accordion__panel active">
								<div class="service__table">
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильник</div>
											<div class="service__table-desc">отдельностоящий, шириной до 60 см</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильник</div>
											<div class="service__table-desc">встраиваемый</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильник</div>
											<div class="service__table-desc">отдельностоящий</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильник Side-by-side</div>
											<div class="service__table-desc">установка на место дальнейшей эксплуатации,
												регулировка, подключение к готовым коммуникациям
											</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильник Side-by-side из двух частей
											</div>
											<div class="service__table-desc">установка на место дальнейшей эксплуатации,
												регулировка и соединение отдельных частей
											</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Холодильник Side-by-side из двух частей с
												подключением к воде
											</div>
											<div class="service__table-desc">установка на место дальнейшей эксплуатации,
												регулировка и соединение отдельных частей, подключение к готовым
												коммуникациям
											</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
									<div class="service__table-item">
										<div class="service__table-big">
											<div class="service__table-desc">Комплекс</div>
											<div class="service__table-desc">отдельностоящий, шириной до 60 см</div>
										</div>
										<div class="service__table-small">
											<div class="service__table-desc service__table-desc_strong">1 500 руб.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="service__quality">
						<div class="service__image">
							<picture>
								<source data-srcset="images/service-mobile.png"
								        media="(max-width:1000px) and (min-width:768px)"
								        srcset="images/service-mobile.png">
								<source data-srcset="images/service-mobile-2.png" media="(max-width:468px)"
								        srcset="images/service-mobile-2.png">
								<img class=" lazyloaded" data-src="images/service.png" alt="" src="images/service.png">
							</picture>
						</div>
						<div class="problem problem_service">
							<div class="problem__title">Остались вопросы?</div>
							<div class="problem__text">Подробную информацию по тарифам на ввод в эксплуатацию приборов,
								партнерским сервисным центрам и другие вопросы можно уточнить по телефону горячей линии
								Hausdorf:
							</div>
							<div class="problem__call">
								<span class="problem__call-text">Звоните</span>
								<a href="tel:+74956029621" class="problem__call-link">+7 (800) 333-10-52</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="tabs__item  js-tabs__item  " id="js-tabs__item-6">
				<div class="small-title">Гарантия</div>
				<div class="service__banner">
					<picture>
						<source media="(max-width: 767px)" srcset="images/service-garantee-mobile.jpg">
						<img src="images/service-garantee.jpg" alt="">
					</picture>
				</div>
				<div class="service__text">
					На каждую модель элитной бытовой техники, предлагаемой в бутике Hausdorf, дается официальная
					гарантия производителя. Срок гарантии, установленный производителем, зависит от категории техники и
					может варьироваться от 1 года до 10 лет.
				</div>
				<br><br>
				<div class="service__title">Что делать, если в процессе эксплуатации вы заметили поломку?</div>
				<ul class="service__list service__list_pay">
					<li class="service__list-item">Если во время гарантийного срока вы заметили поломку, как можно
						скорее сообщите об этом нашим менеджерам. Дальнейшие действия:
					</li>
					<li class="service__list-item">Представители нашей компании свяжутся с фирмой, отвечающей за
						технические неполадки.
					</li>
					<li class="service__list-item">После этого вам позвонит специалист из сервисной службы, и вы должны
						подробно описать характер поломки.
					</li>
					<li class="service__list-item">Затем к вам приедет мастер и устранит поломку, а в случае
						необходимости отправит товар на ремонт в сервисный центр.
					</li>
				</ul>
				<div class="small-title">Возврат товара</div>
				<div class="service__guarantee">
					<div class="service__guarantee-row">
						<div class="service__guarantee-col">
							<div class="service__guarantee-item">
								<span class="icon icon_return-service"></span>
								<div class="service__title">Возврат товара ненадлежащего качества</div>
								<ul class="service__list service__list_guarantee">
									<li class="service__list-item">Как только вы заметили неполадку: позвоните в
										сервисный центр и вызовите мастера, предварительно описав проблему. Координаты
										сервисного центра указаны в гарантийном талоне.
									</li>
									<li class="service__list-item">Мастер устраняет неполадку или, если вы хотите
										обменять товар на новый (вернуть деньги), составляет акт, в котором
										подтверждает, что товар действительно бракованный.
									</li>
									<li class="service__list-item">В последнем случае вы звоните нам, при этом
										обязательно иметь на руках заключение сервисного центра. Мы меняем товар или
										возвращаем деньги.
									</li>
								</ul>
								<div class="service__important">Важно:</div>
								<ul class="service__list service__list_guarantee">
									<li class="service__list-item">Отсутствие документов или упаковки не является
										основанием для отказа возврата денег или обмена товара.
									</li>
									<li class="service__list-item">Если процедура установления причины поломки не
										возможна у вас дома — мы доставляем товар в сервисный центр. В случае
										обнаружения брака все расходы по перевозке товара компания берет на себя.
									</li>
									<li class="service__list-item">Только вы можете вызвать мастера для устранения
										неполадок — наши менеджеры не владеют полной информацией и не смогут правильно
										объяснить суть проблемы представителям сервисного центра.
									</li>
									<li class="service__list-item">Возврат ненадлежащего товара возможен в течение 7
										дней. При повторном возникновении одного и того же дефекта в течение
										гарантийного срока — возврат и обмен осуществляются только по акту сервисного
										центра.
									</li>
								</ul>
							</div>
						</div>
						<div class="service__guarantee-col">
							<div class="service__guarantee-item">
								<span class="icon icon_re-arrow"></span>
								<div class="service__title">Возврат товара надлежащего качества</div>
								<div class="service__text service__text_guarantee">
									Возврат или обмен товара надлежащего качества возможен в течение 7 дней, при условии
									идеального состояния товара, наличия целой упаковки и полного пакета документов.
									Если вы приняли решение о возврате или обмене техники:
								</div>

								<ul class="service__list service__list_guarantee">
									<li class="service__list-item">Позвоните нам и сообщите о своем решении.
									</li>
									<li class="service__list-item">Дождитесь приезда нашего экспедитора.
									</li>
									<li class="service__list-item">Если все условия возврата соблюдены, экспедитор
										забирает заказ и возвращает стоимость покупки.
									</li>
								</ul>
								<div class="service__important">Важно:</div>
								<ul class="service__list service__list_guarantee">
									<li class="service__list-item">Стоимость доставки и сборки товара не возвращается,
										либо взимается дополнительно и в каждом конкретном случае оговаривается
										отдельно.
									</li>
									<li class="service__list-item">Вызов экспедитора платный.</li>
									<li class="service__list-item">
										Товар без технических повреждений и недостатков является товаром надлежащего
										качества. В случае возникновения спорных ситуаций, вы вправе заказать
										техническую экспертизу. Если товар будет признан товаром ненадлежащего качества,
										мы вернем вам деньги или обменяем его.
									</li>

								</ul>
							</div>
						</div>
					</div>

					<div class="small-title">Заявление на возврат или обмен товара</div>
					<div class="service__text">Уважаемые покупатели, пожалуйста, обращайте внимание, что заявления
						необходимо подавать в письменном виде. <br>Срок обработки рекламации — до 10 дней.
					</div>
					<br><br>
					<div class="service__guarantee-row service__guarantee-row_last">
						<div class="service__guarantee-col">
							<div class="service__guarantee-item">
								<div class="service__title">Необходимый пакет документов для оформления рекламационного
									заявления:
								</div>
								<ul class="service__list service__list_guarantee">
									<li class="service__list-item">Заявление с подписью и полной информацией о заказе (№
										заказа, описание проблемы, требование возврата или обмена, а также телефон)
									</li>
									<li class="service__list-item">Заключение авторизованного сервисного центра о
										технической неисправности, представленное в виде отсканированного изображения
										или фотографии
									</li>
									<li class="service__list-item">Фотографии повреждений
									</li>
									<li class="service__list-item">Фотографии упаковки (в случае если товар не подошел)
									</li>
									<li class="service__list-item">Накладная или кассовый и товарный чеки
									</li>
								</ul>
								<div class="information information_service">
									<div class="information__item">
										<span class="icon icon_information"></span>
										<a href="#" class="information__text">Скачать бланк заявления на возврат.docx
											<span class="information__size">1,3 мб.</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="service__guarantee-col">
							<div class="service__guarantee-item">
								<div class="service__title">Заявка</div>
								<form action="" class="service__form js-guarantee-form">
									<div class="form-inputs__block ">
										<label for="service-name"
										       class="form-inputs__label form-inputs__label_required">Ваше
											имя
										</label>
										<input type="text" class="form-inputs__field js-required basket__field"
										       id="service-name"
										       placeholder="Введите имя" required="">
									</div>
									<div class="form-inputs__wrapper">
										<div class="form-inputs__block form-inputs__block_wide">
											<label for="service-Email"
											       class="form-inputs__label form-inputs__label_required">E-mail</label>
											<input type="email"
											       class="form-inputs__field js-required js-required-email basket__field"
											       id="service-Email" placeholder="Email"
											       title="Введите корректный email"
											       data-empty="Заполните e-mail" required="">
										</div>
										<div class="form-inputs__block form-inputs__block_service">
											<label for="service-order"
											       class="form-inputs__label form-inputs__label_required">№ заказа
											</label>
											<input type="tel"
											       class="form-inputs__field basket__field js-required"
											       id="service-order">
										</div>
									</div>
									<div
										class="form-inputs__block form-inputs__block_textarea form-inputs__block_textarea-service">
										<label for="serivce-message"
										       class="form-inputs__label form-inputs__label_required">Комментарий</label>
										<textarea class="form-inputs__message basket__message js-required"
										          name="message"
										          id="serivce-message" cols="30" rows="6" type="text"></textarea>
									</div>
									<div class="form-inputs__block">
										<label class="form-inputs__label form-inputs__label_block">Прикрепленные
											документы (doc, docx, pdf, jpg)</label>
										<div class="file">
											<input type="file" name="file" id="file" class="file__input js-file"
											       multiple=""
											       accept=".doc, .docx, .jpg, .jpeg, .pdf">
											<label class="file__label" for="file">
												<span>Прикрепить файлы</span>
											</label>
											<ul class="file__results"></ul>
										</div>
									</div>

									<div class="popup__footer">
										<button type="submit" class="departure__submit js-form__submit popup__button"
										        disabled>
											Отправить
										</button>
										<div class="popup__admire">
											<div>Заказывая обратный звонок, я принимаю условия</div>
											<div><a href="#">&nbsp;пользовательского соглашения&nbsp;</a></div>
											<div>о предоставлении персональных данных.</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="service__quality">
						<div class="service__image">
							<picture>
								<source data-srcset="images/service-mobile.png"
								        media="(max-width:1000px) and (min-width:768px)"
								        srcset="images/service-mobile.png">
								<source data-srcset="images/service-mobile-2.png" media="(max-width:468px)"
								        srcset="images/service-mobile-2.png">
								<img class=" lazyloaded" data-src="images/service.png" alt="" src="images/service.png">
							</picture>
						</div>
						<div class="problem problem_service">
							<div class="problem__title">Остались вопросы?</div>
							<div class="problem__text">Подробную информацию по тарифам на ввод в эксплуатацию приборов,
								партнерским сервисным центрам и другие вопросы можно уточнить по телефону горячей линии
								Hausdorf:
							</div>
							<div class="problem__call">
								<span class="problem__call-text">Звоните</span>
								<a href="tel:+74956029621" class="problem__call-link">+7 (800) 333-10-52</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs__item  js-tabs__item " id="js-tabs__item-7">
				<div class="small-title small-title_centres">Сервисные центры</div>
				<!--start centers-->
				{% include 'centers/centers.html' %}
				<!--end centers-->
			</div>
			<div class="tabs__item  js-tabs__item" id="js-tabs__item-8">
				<div class="small-title">Условия продажи товара физическим лицам</div>
				<div class="service__conditions">
					<div class="service__conditions-blocks">
						<div class="service__conditions-block">
							<div class="service__title">Клиент</div>
							<div class="service__conditions-text">
								Полностью дееспособное физическое лицо, размещающее заказы на сайте
								www.hausdorf.ru,
								либо указанное в качестве получателя Товара, либо использующее Товары,
								приобретенные на
								сайте
								<a href="#">www.hausdorf.ru</a>, исключительно для личных, семейных, домашних и
								иных
								нужд, не связанных с осуществлением предпринимательской деятельности.
							</div>
						</div>
						<div class="service__conditions-block service__conditions-block_half">
							<div class="service__title">Сайт</div>
							<div class="service__conditions-text">
								www.hausdorf.ru
							</div>
						</div>
						<div class="service__conditions-block service__conditions-block_half">
							<div class="service__title">Товар</div>
							<div class="service__conditions-text">
								Объект материального мира, не изъятый из гражданского оборота и представленный к
								продаже
								на Сайте, за исключением моделей/единиц продукции ООО Миле СНГ, представленных к
								заказу
								на Сайте.
							</div>
						</div>
						<div class="service__conditions-block service__conditions-block_half">
							<div class="service__title">Служба доставки</div>
							<div class="service__conditions-text">
								Третье лицо, оказывающее по договору с Продавцом услуги по доставке Заказов
								Клиентам.
							</div>
						</div>
						<div class="service__conditions-block service__conditions-block_half">
							<div class="service__title">Внешний сайт</div>
							<div class="service__conditions-text">
								Сайт в глобальной сети Интернет, ссылка на который размещена на сайте <a
								href="#">www.hausdorf.ru</a>
							</div>
						</div>
						<div class="service__conditions-block service__conditions-block_half">
							<div class="service__title">Продавец</div>
							<div class="service__conditions-text">
								ООО "Хаусдорф Бутик"
							</div>
						</div>
						<div class="service__conditions-block">
							<div class="service__title">Интернет-магазин</div>
							<div class="service__conditions-text">
								Интернет-сайт, принадлежащий Продавцу, расположенный на сервере в г. Москва и
								имеющий
								адрес в сети Интернет <a href="#">www.hausdorf.ru</a>. На нем представлены
								товары, предлагаемые
								Продавцом своим Клиентам для оформления Заказов, а также условия оплаты и
								доставки этих
								Заказов Клиентам.
							</div>
						</div>
						<div class="service__conditions-block service__conditions-block_half">
							<div class="service__title">Заказ</div>
							<div class="service__conditions-text">
								Должным образом оформленный запрос Клиента на доставку по указанному адресу
								перечня
								Товаров, выбранных на Сайте.
							</div>
						</div>
						<div class="service__conditions-block">
							<div class="service__title">Пользовательский счет клиента</div>
							<div class="service__conditions-text">
								Персональный счет Клиента в Интернет-магазине, на который производится
								зачисление
								денежных средств в случае возврата или отказа Клиента от ранее оплаченного им
								Заказа.
								Эти денежные средства подлежат использованию в качестве предоплаты за
								последующие Заказы
								Клиента у Продавца, либо по письменному заявлению Клиента возврату Клиенту
								способом,
								которым была произведена оплата.
							</div>
						</div>
						<div class="service__conditions-block">
							<div class="service__title">Дополнительно:</div>
							<div class="service__conditions-text">
								Информация и документы для покупателей товаров Miele.
							</div>
							<div class="information information_service">
								<div class="information__item">
									<span class="icon icon_information"></span>
									<a href="#" class="information__text">Условия продажи товаров Miele
										<span class="information__size">8,5 мб.</span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion accordion_connect js-accordion">
						<div class="accordion__block">
							<h2 class="accordion__button active js-accordion__button"><span>1.</span>Общие положения
							</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">1.1</span>
										<span>Сайт принадлежит и администрируется Продавцом.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">1.2</span>
										<span>Заказывая товары через Интернет-магазин, Клиент соглашается с
										Условиями продажи товаров (далее - Условия), изложенными ниже.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">1.3</span>
										<span>Настоящие Условия являются публичной офертой в соответствии со
										ст.435 и ч.2 ст.437 ГК РФ.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">1.4</span>
										<span>К отношениям между Клиентом и Продавцом применяются положения ГК
										РФ о розничной купле-продаже (§ 2 глава 30), а также Закон РФ "О защите прав
										потребителей" от 07.02.1992 № 2300-1 и иные правовые акты, принятые в
										соответствии с ними.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">1.5</span>
										<span>Продавец оставляет за собой право вносить изменения в настоящие
										Условия, в связи с чем, Клиент обязуется регулярно отслеживать изменения в
										Условиях.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">1.6</span>
										<span>Клиент соглашается с Условиями нажатием кнопки "Отправить заказ"
										на этапе оформления Заказа на Сайте.</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button active js-accordion__button active"><span>2.</span>Регистрация на
								Сайте
							</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">2.1</span>
										<span>Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">2.2</span>
										<span>Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">2.3</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>3.</span>Оформление и сроки
								выполнения Заказа</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">3.1</span>
										<span>Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">3.2</span>
										<span>Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">3.3</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>4.</span>Доставка</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">4.1</span>
										<span>Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">4.2</span>
										<span>Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">4.3</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>5.</span>Оплата товара</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">5.1</span>
										<span>Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">5.2</span>
										<span>Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">5.3</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>6.</span>Возврат товара</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">6.1</span>
										<span>Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">6.2</span>
										<span>Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.</span>
									</li>
									<li class="service__conditions-item">
										<span class="service__conditions-count">6.3</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button active  js-accordion__button"><span>7.</span>Интеллектуальная
								собственность</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">7.1</span>
										<span>Вся текстовая информация и графические изображения, находящиеся на Сайте являются собственностью Продавца и/или его контрагентов.</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>8.</span>Гарантии и ответственность
							</h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">8.1</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>9.</span>Конфиденциальность и
								защита персональной информации </h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">9.1</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion__block">
							<h2 class="accordion__button js-accordion__button active"><span>10.</span>Прочие условия </h2>
							<div class="accordion__panel active">
								<ul class="service__conditions-list">
									<li class="service__conditions-item">
										<span class="service__conditions-count">10.1</span>
										<span>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в <a
											href="#">Службу по работе с клиентами.</a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="service__quality">
						<div class="service__image">
							<picture>
								<source data-srcset="images/service-mobile.png"
								        media="(max-width:1000px) and (min-width:768px)"
								        srcset="images/service-mobile.png">
								<source data-srcset="images/service-mobile-2.png" media="(max-width:468px)"
								        srcset="images/service-mobile-2.png">
								<img class=" lazyloaded" data-src="images/service.png" alt="" src="images/service.png">
							</picture>
						</div>
						<div class="problem problem_service">
							<div class="problem__title">Остались вопросы?</div>
							<div class="problem__text">Подробную информацию по тарифам на ввод в эксплуатацию приборов,
								партнерским сервисным центрам и другие вопросы можно уточнить по телефону горячей линии
								Hausdorf:
							</div>
							<div class="problem__call">
								<span class="problem__call-text">Звоните</span>
								<a href="tel:+74956029621" class="problem__call-link">+7 (800) 333-10-52</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>