.service {
	margin-bottom: 15px;
	padding-bottom: 0;
	overflow: hidden;

	.title {
		margin-bottom: 15px;
		position: relative;
		z-index: 5;

	}

	.small-title {
		position: relative;
		font-weight: 700;
		z-index: 1;
	}

	&__title {
		margin-bottom: 25px;
		font-size: 18px;
		font-weight: 700;

		&_margin {
			margin-bottom: 10px;
		}
	}

	&__text {
		position: relative;
		z-index: 2;
		font-size: 15px;

		&_gray {
			color: #909090;
			font-weight: 700;
		}

		&_border {
			position: relative;
			padding-bottom: 38px;
			margin-bottom: 38px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: #eaedf0;
				bottom: 0;
			}
		}

		&_guarantee {
			margin-bottom: 10px;
		}

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__lists {
		display: flex;
		margin-bottom: 15px;

		.service__list-item {
			width: 100%;
		}
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&_pay {
			position: relative;
			padding-bottom: 38px;
			margin-bottom: 38px;

			.service__list-item {
				width: 100%;
				max-width: none;
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: #eaedf0;
				bottom: 0;
			}
		}

		&_guarantee {
			margin-bottom: 10px;

			.service__list-item {
				width: 100%;
				max-width: none;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-item {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding-left: 20px;
			width: 50%;
			max-width: 470px;
			margin-bottom: 5px;

			&:nth-child(odd) {
				margin-right: 25px;
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				left: 0;
				top: 7px;
				width: 6px;
				height: 6px;
				background-color: $primaryColor;
			}

			a {
				color: $primaryColor;

				&:hover {
					text-decoration: underline;
				}
			}

		}

		&_big {
			margin-bottom: 10px;

			.service__list-item {
				width: 100%;
			}
		}
	}

	&__line {
		height: 1px;
		background-color: #eaedf0;
	}



	&__table {
		margin-bottom: 20px;
		border: 1px solid #efefef;
		border-right: none;

		&-item {
			display: flex;
		}

		&-item + &-item {
			border-top: 1px solid #efefef;
		}

		&-big {
			flex-grow: 1;
			display: flex;

			.service__table-desc {

				&:first-child {
					width: 35%;
					padding-left: 40px;
				}

				&:nth-child(2) {
					width: 65%;
					padding-left: 40px;
				}
			}
		}

		&-desc {
			padding: 25px 15px;
			border-right: 1px solid #efefef;
			min-width: 200px;

			&_strong {
				font-weight: 500;
				font-size: 16px;
				text-align: center;
			}
		}
	}

	&__warn {
		margin-bottom: 50px;
	}

	&__promo{
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
		color: #1f1f1f;
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		text-align: center;
	}

	&__blocks {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;

		.icon {
			margin-bottom: 10px;
		}
	}

	&__block {
		width: 48%;

	}

	&__quality {
		display: flex;
		margin-left: -30px;
		margin-right: -30px;

		&_margin {
			margin-bottom: 40px;
		}
	}

	&__about {
		margin-left: -30px;
		margin-right: -30px;
	}

	&__bg {
		height: 569px;
		background-image: url(../images/service-bg-1.jpg);
		padding-top: 84px;

		.small-title {
			color: #ffffff;
			text-align: center;
			margin-bottom: 120px;
		}

	}


	&__center {
		display: flex;
		max-width: 945px;
		margin-left: auto;
		margin-right: auto;

		&-image {
			min-width: 35%;
		}
	}

	&__desc {
		color: #ffffff;

		&-title {
			margin-bottom: 15px;
			font-size: 24px;
		}

		&-text {
			font-size: 14px;
			font-weight: 400;
		}
	}

	&__seo {
		display: flex;

		.small-title {
			color: #1f1f1f;
			font-weight: 300;
		}

		&-desc {
			padding: 85px 30px;
			padding-bottom: 0;
		}

		&-text {
			font-weight: 400;
			color: #1f1f1f;
			font-size: 14px;

			a {
				color: $primaryColor;
			}

		}

		&_red {

			.service__seo-desc {
				background-color: $primaryColor;
			}

			.small-title,
			.service__seo-text {
				color: #ffffff;
			}
		}
	}


	&__address {

		&-row {
			position: relative;
			display: flex;
			padding-bottom: 48px;
			margin-bottom: 48px;
			margin-top: 38px;
			margin-left: -10px;
			margin-right: -10px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: #eaedf0;
				bottom: 0;
			}
		}

		&-col {
			width: 25%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
		}



	}

	&__pay {
		padding-bottom: 20px;

		.service__title {
			margin-bottom: 15px;
		}

		&-row {
			position: relative;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-bottom: 8px;
			margin-bottom: 40px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: #eaedf0;
				bottom: 0;
			}
		}

		&-col {
			width: 48%;
		}

		&-item {
			margin-bottom: 40px;
		}

		&-images {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			max-width: 475px;
		}

		&-bigImage {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: 1px solid #eaedf0;
			padding: 10px 20px;
			max-width: 475px;
		}

		&-imageText {
			opacity: 0.6;
			color: #000;
			font-size: 13px;
			font-weight: 300;
			line-height: 18px;
		}

		&-row-items {
			display: flex;
			margin: 0 -7.5px;
			margin-bottom: 30px;
		}

		&-col-items {
			width: 33.333%;
			padding-left: 7.5px;
			padding-right: 7.5px;
		}

		&-reasons {

			&-item {
				border: 1px solid #eaedf0;
				padding: 30px 20px;
				height: 100%;
			}

			&-title {
				color: #1f1f1f;
				font-size: 15px;
				font-weight: 700;
				display: flex;
				align-items: center;
				margin-bottom: 20px;
			}

			&-accent {
				font-size: 48px;
				font-weight: 300;
				line-height: 20px;
				color: $primaryColor;
				margin-right: 10px;
			}

			&-text {
				color: #666;
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
			}

		}
	}

	&__select {
		display: none;
	}

	&__connect {

		.small-title {
			margin-bottom: 15px;
		}

		&-blocks {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 58px;
		}

		&-block {
			width: 48%;
		}

		&-table {
			border: 1px solid #efefef;
		}

		&-item {
			display: flex;
		}

		&-item + &-item {
			display: flex;
			border-top: 1px solid #efefef;
		}

		&-big {
			flex-grow: 1;
			padding: 25px 15px;
			padding-left: 40px;
			border-right: 1px solid #efefef;
		}

		&-small {
			padding: 25px 15px;
			min-width: 200px;
			text-align: center;
		}
	}

	&__conditions {

		&-blocks {
			column-count: 2;
			margin-bottom: 40px;
			column-gap: 80px;
			border-bottom: 1px solid #eaedf0;

			.service__title {
				margin-bottom: 15px;
			}

		}

		&-block {
			margin-bottom: 50px;
			break-inside: avoid;
			width: 95%;

			&:last-child {
				margin-bottom: 10px;
			}

			a {
				border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			}
		}

		&-text {
			font-size: 15px;
		}

		&-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		&-item {
			display: flex;
			font-size: 15px;
			margin-left: 10px;
			margin-bottom: 25px;

			a {
				color: $primaryColor;
			}
		}

		&-count {
			color: $primaryColor;
			margin-right: 30px;
		}

	}

	&__banner {
		margin-bottom: 40px;

		img {
			max-width: 100%;
		}
	}

	&__important {
		color: $primaryColor;
		font-weight: 700;
		font-size: 15px;
		margin-bottom: 10px;
	}

	&__guarantee {

		&-row {
			position: relative;
			display: flex;
			justify-content: space-between;
			padding-bottom: 48px;
			margin-bottom: 48px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: #eaedf0;
				bottom: 0;
			}

			&_last {
				padding-bottom: 0;
				margin-bottom: 18px;

				&:after {
					display: none;
				}
			}
		}

		&-col {
			width: 46%;
		}
	}

	&__form {

		.popup__footer {
			margin-top: 20px;
		}
	}

	@media (min-width: 1000px) {

		&__conditions {

			&-block {

				&:nth-child(5) {
					margin-bottom: 111px;
				}
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-right: -1%;
		margin-left: -1%;

		&__quality {
			margin-right: -10px;
			margin-left: -10px;
		}

		.small-title {
			text-align: left;
		}

		&__title {
			font-size: 15px;
		}

		&__bg {
			padding-top: 35px;
		}

		&__promo {
			padding-left: 30px;
			padding-right: 30px;
		}

		&__center {
			flex-direction: column;
			align-items: center;

			&-image {
				text-align: center;
				margin-bottom: 60px;
			}
		}

		&__desc {
			text-align: center;
		}

		&__pay {

			&-image {
				max-width: 100px;

				img {
					max-width: 100%;
				}

				&_visa {
					max-width: 60px;
				}

				&_hausdorf {
					max-width: none;
				}
			}

			&-bigImage {
				padding: 10px;

				img {
					width: 43%;
				}
			}

			&-row-items {
				margin-top: 20px;
				flex-wrap: wrap;
			}

			&-col-items {
				width: 100%;
				margin-bottom: 10px;
			}

			&-reasons {

				&-item {

				}
			}
		}

		&__banner {
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 28px;

			img {
				width: 100%;
			}
		}

		&__guarantee {

			&-row {
				flex-wrap: wrap;
			}

			&-col {
				width: 100%;
			}

			&-col + &-col {
				margin-top: 40px;
			}

			.information {
				margin-bottom: 0;
				margin-top: 40px;

				&__item:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (--tablet) {

		.small-title {
			margin-bottom: 25px;
			font-size: 18px;

			&_centres {
				margin-bottom: 10px;
			}
		}

		&__bg{
			height: 520px;

			.small-title{
				margin-bottom: 40px;
			}
		}

		&__about {

			.small-title {
				text-align: center;
			}
		}

		&__text {

			&_gray {
				font-weight: 300;
			}

		}

		&__table {

			&-desc {
				min-width: 140px;

			}

			&-big {

				.service__table-desc {

					&:first-child {
						width: 40%;
						padding-left: 10px;
					}

					&:nth-child(2) {
						width: 60%;
						padding-left: 10px;
					}
				}
			}
		}

		&__center {
			padding-left: 90px;
			padding-right: 90px;
		}

		&__seo {

			&-desc {
				padding: 40px;
				width: 65%;
			}

			.small-title{
				text-align: left;
				max-width: 420px;
			}

			&-image {
				width: 35%;
			}

			&_left{
				margin-bottom: 20px;
				.service__seo-desc{
					padding-left: 10px;
				}
			}

		}

		&__pay {

			&-row-items {
				margin-top: 40px;

			}

			&-col-items {

			}

			&-reasons {

				&-accent {
					font-size: 30px;
				}
			}
		}

		&__connect {

			&-small {
				font-weight: 700;
				min-width: 140px;
			}
		}

		&__conditions {

			&-row {
				flex-direction: column;
			}

			&-col {
				width: 100%;
			}

			&-blocks {
				column-count: initial;
				display: flex;
				flex-wrap: wrap;
			}

			&-block {
				display: inline-block;
				vertical-align: top;

				.service__title {
					font-size: 15px;
				}

				&:nth-child(1) {
					order: -9;
				}

				&:nth-child(6) {
					order: -8;
				}

				&:nth-child(2) {
					order: -7;
				}

				&:nth-child(7) {
					order: -6;
				}

				&:nth-child(3) {
					order: -5;
				}

				&:nth-child(8) {
					order: -4;
				}

				&:nth-child(9) {
					order: -3;
				}

				&_half {
					width: 50%;

					.service__conditions-text {
						max-width: 80%;
					}
				}
			}

		}

	}

	@media (--phone) {

		.small-title {
			margin-bottom: 15px;
		}

		&__bg {
			.small-title {
				text-align: center;
			}
		}

		&__title {
			margin-bottom: 15px;
		}

		&__promo {
			font-size: 15px;
			line-height: 20px;
		}

		&__list {

			&-item {
				width: 100%;
				max-width: initial;

				&:nth-child(odd) {
					margin-right: 0;
				}
			}
		}

		&__text {

			&_gray {
				font-weight: 300;
			}
		}

		&__image{

			img{
				width: 100%;
			}
		}

		&__table {

			&-desc {
				min-width: 140px;
				font-size: 12px;
			}

			&-big {
				flex-direction: column;

				.service__table-desc {

					&:first-child {
						width: 100%;
						padding: 15px;

					}

					&:nth-child(2) {
						width: 100%;
						padding: 0 15px;
						padding-bottom: 15px;
					}
				}
			}
		}

		&__blocks {
			margin-bottom: 0;
			flex-wrap: wrap;
		}

		&__block {
			width: 100%;
			margin-bottom: 40px;
		}

		&__quality {
			flex-direction: column;
		}

		&__bg {
			height: 434px;

			.small-title{
				margin-bottom: 35px;
			}
		}

		&__center {
			padding-left: 25px;
			padding-right: 25px;

			&-image {
				width: 127px;
				height: 87px;
				min-width: auto;

				img {
					max-width: 100%;
				}
			}

		}

		&__desc {

			&-title {
				font-size: 15px;
				font-weight: 300;
			}

			&-text {
				font-size: 12px;
				line-height: 18px;
			}
		}

		&__seo {
			flex-direction: column;

			.small-title {
				font-size: 15px;
				text-align: left;
				margin-bottom: 15px;
			}

			&-desc {
				padding: 30px;
			}

			&-image {
				order: -1;
				height: 180px;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			&-text {
				font-size: 12px;
			}
		}

		&__address {

			&-row {
				flex-wrap: wrap;
				margin-top: 20px;
				padding-bottom: 0;
				margin-bottom: 20px;

				&:after {
					display: none;
				}
			}

			&-col {
				width: 50%;
			}

			&-image{

				margin-bottom: 15px;

				img{
					max-width: 100%;
				}
			}


			.feedback{

				&__blocks{
					margin-top: 30px;
				}

				.service__text,.small-title{
					padding-left: 10px;
				}

				&__block {
					padding-left: 10px;
				}
			}

			.departure__submit{
				margin-right: 0;
			}
		}

		&__pay {

			&-col {
				width: 100%;
			}

			&-bigImage {
				flex-direction: column;
				max-width: none;
				padding-bottom: 15px;

				img {
					max-width: 143px;
				}
			}

			&-images {
				max-width: none;
			}

			&-imageText {
				margin-bottom: 15px;
				text-align: center;
			}

			&-reasons {

				&-title {
					font-size: 13px;
				}

				&-accent {
					font-size: 36px;
				}

				&-text {
					font-size: 12px;
				}
			}
		}

		&__select {
			position: relative;
			display: block;
			height: 35px;
			line-height: 35px;
			padding-left: 10px;
			background-color: #fff;
			border: 1px solid #dcdcdc;
			cursor: pointer;
			margin-bottom: 23px;
			z-index: 11;

			&::after {
				content: "";
				position: absolute;
				right: 15px;
				top: 14px;
				border: 5px solid transparent;
				border-top-color: rgba(0, 0, 0, .3);
			}

			span {
				color: $primaryColor;
			}

			&.active {

				&:after {
					top: 10px;
					border-bottom-color: rgba(0, 0, 0, .3);
					border-top-color: transparent;
				}
			}
		}

		&__connect {

			&-table {
				font-size: 12px;
			}

			&-small {
				font-weight: 700;
				min-width: 140px;
			}
		}

		&__conditions {

			&-blocks {
				column-count: initial;
			}

			&-block {
				width: 100%;
				display: none;

				&:nth-child(1),
				&:nth-child(6),
				&:nth-child(7) {
					display: block;
				}
			}

			&-item {
				font-size: 12px;
				margin-left: 0;
			}

			&-count {
				margin-right: 15px;
			}
		}

		&__guarantee {

			.information {

				&__item {
					display: flex;

					&:last-child {
						display: flex;
					}
				}
			}
		}

	}
}