{%set footerItems = ['О компании', 'Сервис', 'Контакты', 'Как купить', 'Персональные данные', 'Помощь в выборе', 'Конфиденциальность', 'Обмен и возврат', 'Акции', 'Забрать в магазине', 'Доставка', 'Услови продажи', 'Гарантия']%}

<div class="footer">
	<div class="container">
		<a href="index.html" class="logo logo_footer">
			<img class="logo__pic lazyload" data-src="images/logo-footer.png" alt="">
		</a>
		<div class="footer__top">
			<div class="footer__block">
				<div class="footer__phones">
					<div class="footer__phone">
						<a href="tel:88003331052">8 800 333-10-52</a>
						Звоните, это бесплатно!
					</div>
					<div class="footer__phone">
						<a href="tel:+74956029621">+7 495 602 96 21</a>
						Ежедневно 8:00 - 22:00
					</div>
				</div>
				<div class="footer__call">
					<a class="js-callback" href="#">Обратный звонок</a>
				</div>
			</div>
			<div class="footer__block">
				<ul class="footer__list">
					{% for item in footerItems %}
					<li class="footer__item">
						<a class="footer__link" href="#">{{item}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="footer__block footer__block_tablet">
				<div class="footer__wrap footer__wrap_equal">
					<div class="select__wrapper">
						<div class="select js-select js-select-city select_city-footer">
							<span class="select__placeholder"><span>Москва и МО</span></span>
							<ul class="select__list">
								<li class="select__item js-select__item active" data-text="Рублевское шоссе, д.52а" data-value="Moskow">Москва
									и МО
								</li>
								<li class="select__item js-select__item" data-text="Большая Покровская, д.62/5"
								    data-value="Nizhny Novgorod">Нижний Новгород
								</li>
								<li class="select__item js-select__item" data-text="Бесплатная доставка" data-value="Saint Petersburg">
									Санкт-Петербург
								</li>
							</ul>
							<input type="hidden" name="changeme"/>
						</div>
						<div class="select__address js-select__address">
							Рублевское шоссе, д.52а
						</div>
					</div>
					<div class="footer__mail">
						<a href="mailto:shop@hausdorf.ru" class="footer__email">shop@hausdorf.ru</a>
						<a href="#" class="btn btn_footer js-abuse">Письмо руководству</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__block">
				<div class="footer__copyright">
					© 2009-2018 Бутик бытовой техники Hausdorf
				</div>
			</div>
			<div class="footer__block">
				<div class="footer__pays">
					<div class="footer__pay">
						<img src="images/visa.png" alt="">
					</div>
					<div class="footer__pay">
						<img src="images/mastercard.png" alt="">
					</div>
					<div class="footer__pay">
						<img src="images/payanyway.png" alt="">
					</div>
				</div>
			</div>
			<div class="footer__block footer__block_social">
				<div class="footer__wrap">
					<span>Мы в соцсетях</span>
					<ul class="footer__social">
						<li class="footer__social-item">
							<a href="#" class="footer__social-link footer__social-link_fb">Facebook</a>
						</li>
						<li class="footer__social-item">
							<a href="#" class="footer__social-link footer__social-link_vk">В контакте</a>
						</li>
						<li class="footer__social-item">
							<a href="#" class="footer__social-link footer__social-link_ok">Одноклассники</a>
						</li>
						<li class="footer__social-item">
							<a href="#" class="footer__social-link footer__social-link_google">Google+</a>
						</li>
						<li class="footer__social-item">
							<a href="#" class="footer__social-link footer__social-link_insta">Instagram</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div itemscope="" itemtype="http://schema.org/LocalBusiness" class="b-hide">
			<a href="https://www.hausdorf.ru" itemprop="url"><span itemprop="name">Hausdorf</span></a>
			<img itemprop="logo" src="images/logo.png" alt="">
			<img itemprop="image" src="images/msk1.jpg" alt="">
			<div itemprop="legalName">ООО «Хаусдорф Бутик»</div>
			<div itemprop="telephone">+7 (495) 477-14-91</div>
			<div itemprop="email">shop@hausdorf.ru</div>
			<div itemprop="openingHours">Mo-Su 10:00-22:00</div>
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<div itemprop="addressLocality">Москва</div>
				<div itemprop="streetAddress">Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж</div>
				<div itemprop="postalCode">121609</div>
			</div>
			<meta itemprop="priceRange" content="от 111 руб. до 6 866 500 руб.">
		</div>
	</div>
</div>

