.footer {
	flex: 0 0 auto;
	padding-top: 60px;
	position: relative;
	color: #ffffff;

	.container {
		width: 95%;
	}

	.logo {
		display: block;
		transform: translateX(0);
		position: static;
		margin-bottom: 45px;
	}

	&__top {
		display: flex;
	}

	&__bottom {
		padding: 30px 0;
		display: flex;
		align-items: center;
	}

	&__block {
		width: 33.33%;

		&:nth-child(2) {
			padding-left: 20px;
		}
	}

	&__wrap {
		font-size: 15px;
		max-width: 300px;
		margin-left: auto;

		&_equal {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding-bottom: 20px;
		}

	}

	&__phones {
		margin-bottom: 60px;
	}

	&__phone {
		margin-bottom: 30px;
		color: #aeaeae;
		font-size: 13px;
		font-weight: 300;

		a {
			display: block;
			color: #fff;
			font-size: 30px;

			&:hover {
				color: $primaryColor;
			}
		}
	}

	&__call {

		a {
			color: #ff3824;
			font-size: 30px;
			font-weight: 300;
			line-height: 18px;
			border-bottom: 1px dashed currentColor;

			&:hover {
				border-bottom: none;
			}
		}

	}

	&__mail {
		margin-top: auto;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		width: 50%;
	}

	&__link {
		font-size: 15px;
		font-weight: 400;
		line-height: 36px;
		color: #ffffff;

		&:hover {
			color: #ff3824;
		}
	}

	&__address {
		margin-bottom: 60px;
		color: #ffffff;
	}

	&__email {
		display: block;
		margin-bottom: 15px;
		color: #ff3824;
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;
		text-decoration: underline;
	}

	&__pays {
		display: flex;
		justify-content: center;
	}

	&__pay + &__pay {
		margin-left: 20px;
	}

	&__social {

		display: inline-block;
		vertical-align: middle;
		list-style-type: none;
		margin: 0;
		margin-left: 10px;
		padding: 0;

		&-item {
			text-indent: -99999px;
			display: inline-block;
			vertical-align: middle;
		}

		&-link {
			display: block;
			width: 28px;
			height: 28px;

			&_fb {
				background-image: inline('../images/fb.png');
			}

			&_vk {
				background-image: inline('../images/vk.png');
			}

			&_ok {
				background-image: inline('../images/ok.png');
			}

			&_google {
				background-image: inline('../images/g+.png');
			}

			&_insta {
				background-image: inline('../images/insta.png');
			}
		}

	}

	&__copyright {
		font-size: 13px;
		font-weight: 300;
	}

	@media (--tabletAndMobile) {

		&__block {

			&:nth-child(2) {
				padding-left: 0;
			}
		}
	}

	@media (--tablet) {
		padding-top: 30px;

		&__top {
			margin-top: -85px;
			margin-bottom: 20px;
			flex-wrap: wrap;
			position: relative;

			.footer__block {
				padding-top: 30px;

				&_tablet {
					padding-top: 0;
				}

			}
		}

		&__bottom {
			position: relative;
			justify-content: space-between;
			padding-top: 0;

			.footer__block {
				width: 50%;
			}
		}

		&__block {

			&_tablet {

				order: -1;
				width: 100%;
			}

			&_social {
				position: absolute;
				top: -260px;
				right: 0;

				.footer__wrap {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					max-width: 300px;

					span {
						margin-bottom: 5px;
					}
				}

			}
		}

		&__wrap {
			display: flex;
			justify-content: space-between;
			max-width: 66.66%;

			&_equal {
				padding-bottom: 0;
			}
		}

		&__address {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
		}

		&__mail {
			position: absolute;
			bottom: 60px;
			right: 0;
			text-align: right;
		}

		&__address {
			text-align: right;
		}

		&__social {

			&-item + &-item {
				margin-left: 10px;
			}
		}

		&__phones {
			margin-bottom: 40px;
		}

		&__phone {
			margin-bottom: 20px;

			a {
				font-size: 23px;
			}
		}

		&__call {
			font-size: 12px;

			a {
				font-size: 18px;
			}

		}

		&__link {
			font-size: 11px;
		}

		&__pays {
			justify-content: flex-end;
		}

	}

	@media (--phone) {
		padding-top: 25px;

		.logo {
			margin-bottom: 10px;
		}

		&__top {
			position: relative;
			flex-direction: column;
			padding-top: 60px;
		}

		&__block {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 30px;

			&_tablet{
				margin-bottom: 0;
			}
		}

		&__bottom {
			flex-direction: column-reverse;
			padding-bottom: 0;

			.footer__block {
				margin-bottom: 20px;
				text-align: center;
			}

		}

		&__wrap {
			width: 300px;
			margin-right: auto;
			max-width: inherit;
			text-align: center;
			flex-direction: column;

			span {
				display: block;
			}

			&_equal{
				padding-bottom: 0;
			}
		}

		&__phones {
			display: flex;
			margin-bottom: 0;
		}

		&__phone {
			font-size: 10px;
			margin-bottom: 20px;

			a {
				font-size: 16px;
			}
		}

		&__phone + &__phone {
			margin-left: 55px;
		}

		&__call {

			a {
				font-size: 16px;
			}
		}

		&__list {
			max-width: 300px;
		}

		&__item {
			&:nth-child(2n) {
				padding-left: 20px;
			}
		}

		&__link {
			font-size: 12px;
			line-height: 27px;
		}

		&__address {
			margin-bottom: 20px;
		}

		&__social {
			margin-top: 10px;
		}
	}

}

.footer {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 1000px) {
		background-image: url(../images/footer.jpg);
	}

	@media (--tablet) {
		background-image: url(../images/footer-tablet.jpg);
	}

	@media (--phone) {
		background-image: url(../images/footer-mobile.jpg);
	}
}