.articles {

	padding-bottom: 15px;
	@include bg;
	background: #fff;

	&_index {

		&::after,
		&::before {
			display: none;
		}

		.articles__inner {
			padding: 20px 30px;
		}

		.articles__col {
			width: 270px;
			padding: 0;
		}
	}

	&_brand {

		.articles__inner {
			padding: 30px;
		}
	}

	&_news {
		padding-bottom: 0;
		margin-bottom: 15px;

		&::after,
		&::before {
			display: none;
		}

		.articles__inner {
			padding: 30px;
		}

		.articles__item{
			height: 100%;
		}

		.articles__link{
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.articles__desc{
			flex-grow: 1;
			padding-bottom: 20px;
		}

		.articles__heading{
			justify-content: flex-start;
		}

		.articles__col {
			margin-bottom: 10px;
		}
	}

	&_actions{

		&::after,
		&::before {
			display: none;
		}
		.articles__item{
			height: 100%;

		}

		.articles__link{
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.articles__col {
			width: 50%;
			padding-bottom: 10px;
			max-width: initial;
		}

		.articles__desc{
			flex-grow: 1;
			padding-bottom: 20px;
		}

		.articles__text{
			min-height: 40px;
		}
	}

	&__title {
		color: #202020;
		font-size: 36px;
		font-weight: 300;
	}

	&__inner {
		position: relative;
		padding-bottom: 10px;
		overflow: hidden;
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
		color: #1f1f1f;
		font-size: 15px;
		font-weight: 700;

		.small-title {
			margin-bottom: 0;
		}

	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__col {
		max-width: 280px;
		padding: 0 5px;
	}

	&__item {
		min-height: 390px;
	}

	&__year {
		margin-top: 20px;
		margin-bottom: 10px;
		color: #202020;
		font-size: 24px;
		font-weight: 700;
	}

	&__image {

		img {
			width: 100%;
		}
	}

	&__desc {
		position: relative;
		padding: 19px;
		padding-bottom: 40px;
		background-color: #f0f0f0;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 2px;
			background: $primaryColor;
			top: 0;
			left: 0;
			transition: width 0.3s linear;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__date {
		color: #666;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__subject {
		padding: 0 13px;
		background-color: #dcdcdc;
		border-radius: 3px;
		color: #666;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
		text-align: center;
	}

	&__text {
		min-height: 80px;
		color: #666;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__link {
		display: inline-block;

		&:hover {

			.articles__desc {
				background-color: #2f2f2f;

				&:after {
					width: 100%;
				}
			}

			.articles__subject {
				background-color: #dcdcdc;
			}
			.articles__heading {
				color: #ffffff;
			}

			.articles__text {
				color: #b8b8b8;
			}


		}

	}

	&__more {
		font-size: 15px;
		font-weight: 300;
		color: $primaryColor;
	}

	&__swiper {
		position: relative;
		padding-bottom: 25px;
		overflow: hidden;

		.swiper-scrollbar {
			width: 100%;
			left: 0;
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&_index {
			padding-bottom: 0;
		}

		&_index,
		&_brand {

			.articles__inner {
				padding: 10px;
			}
		}

		&_news {
			margin-left: 0;
			margin-right: 0;

			.articles__inner {
				padding: 10px;
				padding-bottom: 30px;
			}

			.articles__col {
				max-width: initial;
			}

		}

		&_actions{
			margin-left: 0;
			margin-right: 0;
		}

		&__title {
			text-align: left;
		}

		&__inner {
			position: relative;
			padding-left: 0;
			padding-right: 0;

			&::after {
				content: "";
				position: absolute;
				display: block;
				bottom: 10px;
				left: 0;
				width: 100%;
				height: 20px;
				background: #fff;
				z-index: 10;
			}
		}

		&__row {
			flex-wrap: nowrap;
			-webkit-overflow-scrolling: touch;
			overflow-y: hidden;
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__col {
			min-width: 280px;
		}

		&__swiper {
			padding-bottom: 0;

			&-wrapper {
				display: flex;
				overflow-y: hidden;
				overflow-x: scroll;
				-webkit-overflow-scrolling: touch;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			&-slide {
				width: 284px;
			}
		}

		&__item {
			min-height: inherit;
		}

		&__heading {
			justify-content: center;
		}

		&__more {
			display: none;
		}

		&_actions{

			.articles__row{
				flex-wrap: wrap;
			}
		}


	}

	@media (--tabletAndMobile) {

		&_news {

			.articles__row {
				flex-wrap: wrap;
			}
		}
	}

	@media (--tablet) {

		&__year {
			font-size: 18px;
		}

		&__title {
			font-size: 23px;
			text-align: left;
		}


		&_news {

			.articles__col{
				width: 50%;
			}
		}

	}

	@media (--phone) {

		&__year {
			font-size: 15px;
		}

		&__title {
			display: none;
		}

		&__inner {

			&:after {
				display: none;
			}
		}

		&__desc {
			padding-bottom: 10px;
		}

		&_actions{

			.articles__col{
				width: 100%;
			}
		}

	}
}