<div class="articles {% if index %} articles_index {% endif %} {% if brand %} articles_brand {% endif %}">
	<div class="articles__inner">
		<div class="articles__heading">
			<div class="small-title">Интересные статьи и новости</div>
			{% if brand %}
			<a href="#" class="articles__more">Все новости</a>
			{% endif %}
		</div>
		<div class="articles__swiper js-articles-swiper">
			<div class="articles__swiper-wrapper swiper-wrapper">
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articels-dishwashers.jpg" alt="">
								</div>
								<div class="articles__desc">

									<div class="articles__top">
										<div class="articles__date">9 октября 2017</div>
										<div class="small-label">Статья</div>
									</div>
									<div class="articles__heading">Лучшие производители посудомоечных машин</div>
									<div class="articles__text">Специалисты Hausdorf подготовили рейтинг лучших
										производителей
										посудомоечных машин.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-askopower.jpg" alt="">
								</div>
								<div class="articles__desc">

									<div class="articles__top">
										<div class="articles__date">14 августа 2017</div>
										<div class="small-label">Акция</div>
									</div>
									<div class="articles__heading">Новинки 2017: варочные поверхности Asko</div>
									<div class="articles__text">Комбинированные варочные панели Asko — сочетание стиляи
										функциональности.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-Laundry.jpg" alt="">
								</div>
								<div class="articles__desc">
									<div class="articles__top">
										<div class="articles__date">10 августа 2017</div>
										<div class="small-label">Статья</div>
									</div>
									<div class="articles__heading">Новая концепция <br>ASKO Pro Home</div>
									<div class="articles__text">Осенью 2017 года бренд представит на российском рынке
										новую
										линейку моделей — ASKO Pro Home Laundry.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-ovens.jpg" alt="">
								</div>
								<div class="articles__desc">
									<div class="articles__top">
										<div class="articles__date">11 июля 2017</div>
										<div class="small-label">Акция</div>
									</div>
									<div class="articles__heading">Духовые шкафы <br>и компактные приборы Craft</div>
									<div class="articles__text">Asko Craft — это стиль, подходящий к современным
										интерьерам,
										надежность профессиональных моделей и функциональность.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-ovens.jpg" alt="">
								</div>
								<div class="articles__desc">

									<div class="articles__top">
										<div class="articles__date">11 июля 2017</div>
										<div class="small-label">Акция</div>
									</div>
									<div class="articles__heading">Духовые шкафы <br>и компактные приборы Craft</div>
									<div class="articles__text">Asko Craft — это стиль, подходящий к современным
										интерьерам,
										надежность профессиональных моделей и функциональность.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articels-dishwashers.jpg" alt="">
								</div>
								<div class="articles__desc">

									<div class="articles__top">
										<div class="articles__date">9 октября 2017</div>
										<div class="small-label">Статья</div>
									</div>
									<div class="articles__heading">Лучшие производители посудомоечных машин</div>
									<div class="articles__text">Специалисты Hausdorf подготовили рейтинг лучших
										производителей
										посудомоечных машин.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-askopower.jpg" alt="">
								</div>
								<div class="articles__desc">

									<div class="articles__top">
										<div class="articles__date">14 августа 2017</div>
										<div class="small-label">Акция</div>
									</div>
									<div class="articles__heading">Новинки 2017: варочные поверхности Asko</div>
									<div class="articles__text">Комбинированные варочные панели Asko — сочетание стиляи
										функциональности.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-Laundry.jpg" alt="">
								</div>
								<div class="articles__desc">
									<div class="articles__top">
										<div class="articles__date">10 августа 2017</div>
										<div class="small-label">Статья</div>
									</div>
									<div class="articles__heading">Новая концепция <br>ASKO Pro Home</div>
									<div class="articles__text">Осенью 2017 года бренд представит на российском рынке
										новую
										линейку моделей — ASKO Pro Home Laundry.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-ovens.jpg" alt="">
								</div>
								<div class="articles__desc">
									<div class="articles__top">
										<div class="articles__date">11 июля 2017</div>
										<div class="small-label">Акция</div>
									</div>
									<div class="articles__heading">Духовые шкафы <br>и компактные приборы Craft</div>
									<div class="articles__text">Asko Craft — это стиль, подходящий к современным
										интерьерам,
										надежность профессиональных моделей и функциональность.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="articles__swiper-slide swiper-slide">
					<div class="articles__col">
						<div class="articles__item">
							<a href="#" class="articles__link">
								<div class="articles__image">
									<img src="images/articles-ovens.jpg" alt="">
								</div>
								<div class="articles__desc">

									<div class="articles__top">
										<div class="articles__date">11 июля 2017</div>
										<div class="small-label">Акция</div>
									</div>
									<div class="articles__heading">Духовые шкафы <br>и компактные приборы Craft</div>
									<div class="articles__text">Asko Craft — это стиль, подходящий к современным
										интерьерам,
										надежность профессиональных моделей и функциональность.
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-scrollbar"></div>
		</div>
	</div>
</div>