.information {
	margin-bottom: 20px;

	&_service {
		margin-top: 20px;

		.information {

			&__text {
				max-width: initial;
				min-width: auto;
				border-bottom: none;
			}
		}
	}

	&_basket {
		font-size: 0;
		border-bottom: 1px solid #efefef;

		.information__item {
			font-size: 12px;
			width: 33.33%;
			max-width: initial;
			text-align: center;
		}

		.information__text {
			text-align: left;
		}

		@media (--tablet) {
			display: flex;
			-webkit-overflow-scrolling: touch;
			overflow-y: hidden;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				display: none;
			}

			.information__item {
				min-width: 215px;
				margin-right: 20px;
				display: flex;
				align-items: center;
				width: auto;
			}

			.information__text{
				min-width: initial;
				//max-width: initial;
			}
		}

		@media (--phone) {
			margin-top: 20px;

			.information__item {
				width: 100%;
				text-align: left;
			}
		}

	}

	&_documents {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 0;

		.information {

			&__item {
				display: flex;
				width: 48%;
				max-width: initial;
				font-size: 14px;
				margin-bottom: 50px;

				&:last-child{
					display: flex;
				}
			}

			&__text {
				max-width: 400px;
			}

			@media (--phone) {

				&__item {
					width: 100%;
				}
			}
		}

	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		max-width: 215px;
		min-width: 215px;
		margin-left: 20px;
		color: #1f1f1f;

		&:hover {

			span {
				color: $primaryColor;
			}
		}

		&_link {
			color: $primaryColor;
			text-align: center;

			&:hover {
				color: #000000;

			}

			@media (max-width: 1190px) {
				text-align: left;
				margin-left: 0;
			}
		}
	}

	&__size {
		color: #959595;
		white-space: nowrap;
	}

}