<div class="information">
	<div class="information__item">
		<span class="icon icon_information"></span>
		<a href="#" class="information__text">Asko W4114C.W.P Инструкция на русском языке.pdf
			<span class="information__size">8,5 мб.</span>
		</a>
	</div>
	<div class="information__item">
		<span class="icon icon_information"></span>
		<a href="#" class="information__text">Asko W4114C.W.P схема встраивания.pdf
			<span class="information__size">0,7 мб.</span>
		</a>
	</div>
	<div class="information__item">
		<span class="icon icon_information"></span>
		<a href="#" class="information__text">Asko W4114C.W.P Инструкция на английском языке.pdf
			<span class="information__size">8,7 мб.</span>
		</a>
	</div>
	<div class="information__item">
		<a href="#" class="information__text information__text_link">Все инструкции</a>
	</div>
</div>