.kitchens {
	margin-bottom: 15px;
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;

	@include bg;

	&__title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 20px;
		font-size: 15px;
		font-weight: 300;

		p:last-child{
			margin-bottom: 0;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	&__image {
		float: left;
		margin-right: 20px;
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&__title{
			margin-bottom: 10px;
			text-align: center;
		}

		&__text{
			font-size: 12px;
		}

		&__image {
			float: none;
			margin-bottom: 20px;
			margin-right: 0;

			img{
				max-width: 100%;
			}
		}
	}

	@media (--tablet) {

		&__text{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	@media (--phone) {
		padding-bottom: 0;

		&__image{
			margin-left: -10px;
			margin-right: -10px;
		}

		&__title {
			font-size: 18px;
		}
	}
}