<section class="kitchens">
	{% if kitchens %}
	<div class="kitchens__title">Элитные кухни: стиль и функциональность</div>
	<div class="kitchens__text">
		Современный мир становится все более стремительным, поэтому на кухне все должно быть не только стильным и
		уютным, но также рациональным и продуманным. Если вы не хотите «ломать голову» над вопросом, как подобрать
		комплект по цвету и обеспечить максимальную функциональность, мы советуем обратить внимание на кухонную мебель
		немецких производителей. Вам не придется задумываться над каждой деталью, потому что об этом уже подумали
		дизайнеры. Все представленные комплекты подобраны наилучшим образом: от декора до мебели и техники.
	</div>
	<div class="kitchens__text">
		<div class="kitchens__image">
			<picture>
				<source media="(max-width: 1000px)" srcset="images/kitchen-image-1-wide.jpg">
				<img class="lazyload" data-src="images/kitchen-image-1.jpg" alt="">
			</picture>
		</div>
		<p>Кухонная мебель, изготовленная в Германии, — это не только безупречное качество, но и высочайший уровень
			современных бытовых приборов, встроенных в мебель и готовых к эксплуатации в любой момент. В нашем
			интернет-магазине представлена мебель для кухонь в разных стилях и цветовых вариантах: от классики и модерна
			до кантри и техно-арта.</p>
		<p>Немецкие кухни — это комфорт и красота. В каждом кухонном мебельном наборе есть все составляющие: шкафы
			навесные и напольные, столы и стулья, мойки и смесители, встроенные электрические розетки и системы для
			сортировки мусора. Мебель выполнена из дерева и шпонированных массивов, пластика и хромированного металла. В
			кухнях немецких производителей продумана каждая мелочь, именно поэтому они считаются кухнями класса
			люкс.</p>
	</div>
	{% endif %}

	{% if kitchen %}
	<div class="kitchens__title">SieMatic</div>
	<div class="kitchens__text">
		<p>Мебель с маркой SIEMATIC никогда не содержит материалов сомнительного качества. Эта мебель престижна, потому
			что натуральное дорогое дерево, из которого она изготовлена всегда гарантирует здоровую атмосферу в
			помещении и вызывает чувство наслаждения от соприкосновения с природой. Благодаря ей, любой интерьер
			становится естественным и чрезвычайно живописным, а сложная бытовая техника только подчёркивает самобытность
			коллекций.</p>
		<p>Дизайнеры фабрики SIEMATIC являются авторами более двухсот разнообразных моделей мебели, создаваемых с учётом
			всех наиболее популярных стилей. Такая мебель без проблем подходит для любого интерьера, а величина
			помещения не играет роли. Каждый мебельный ансамбль от производителей SIEMATIC комплектуется таким образом,
			чтобы можно было без ущерба заполнить кухонное пространство.</p>
		<p>Несмотря на то, что очень велик выбор готовых кухонь с маркой SIEMATIC, но дизайнеры готовы всегда выполнить
			индивидуальный заказ потребителя. Проекты разрабатываются в соответствии со всеми пожеланиями в
			комплектации, а также с полным подбором материалов и фурнитуры. Предварительно можно ознакомиться с
			ассортиментом, имеющихся в наличии составляющих шкафов или встраиваемой техники. Любой заказ для
			специалистов мебельной фабрики SIEMATIC — это возможность ещё раз продемонстрировать свой высочайший
			профессионализм, художественный вкус и креативность, которые совершенствуются и шлифуются с каждой новой
			коллекцией. Все новейшие тенденции в разработке интерьеров имеют своё развитие в кухонной мебели под брендом
			SIEMATIC.</p>
	</div>
	{% endif %}

	<br>
	<div class="problem problem_address">
		<div class="problem__text">Уважаемые покупатели, ассортимент техники можно уточнить у менеджеров Hausdorf
		</div>
		<div class="problem__call">
			<span class="problem__consult">Наш консультант поможет Вам.</span>
			<span class="problem__call-text">Звоните</span>
			<a href="tel:+74956029621" class="problem__call-link">+7 (495) 602-96-21</a>
		</div>
	</div>

	<!--start address-->
	{% include 'address/address.html' %}
	<!--end address-->
</section>