<div class="header  {% if index or catalog or brand %} header_no-border {% endif %}">
	<div class="container">
		<div class="header__top header__top_moskow js-header-top">
			<div class="header__left">
				<div class="header__left-top">
					<div class="header__phone js-header-phone">
						<a href="tel:+78003331052">8 800 333-10-52</a>
						<span class="header__phone-text">Пн-Вс 8:00 - 22:00</span>
					</div>
					<div class="header__phone js-header-phone">
						<a href="tel:+78003331052">
							<span class="icon icon_mobile-callback"></span>
							8 495 602-96-21</a>
						<span class="header__phone-text">Звонок бесплатный!</span>
					</div>
					<a href="#" class="header__callback js-callback">Обратный звонок</a>
				</div>
				<div class="header__left-bottom">
					{% if cardMiele %}
					<div class="js-city-select custom-select custom-select_city">
						<button class="custom-select__button">
							<span class="custom-select__button-city"><span>Москва и МО</span></span>
						</button>
						<ul class="custom-select__list">
							<li class="custom-select__item active" data-value="moskow">
								<span class="custom-select__town">Москва и МО</span>
								<span class="custom-select__address">Рублевское шоссе, д.52а</span>
							</li>
							<li class="custom-select__item" data-value="novgorod">
								<span class="custom-select__town">Нижний Новгород</span>
								<span class="custom-select__address">Большая Покровская, д.62/5</span>
							</li>
							<li class="custom-select__item" data-value="peterburg">
								<span class="custom-select__town">Санкт-Петербург</span>
								<span class="custom-select__address">Бесплатная доставка</span>
							</li>
						</ul>
					</div>
					<div class="js-brand-select custom-select custom-select_brand">
						<button class="custom-select__button">
							<span class="custom-select__button-city"><span>Точки продаж Miele</span></span>
						</button>
						<ul class="custom-select__list">
							<li class="custom-select__item" data-value="1">
								<a href="#" class="custom-select__town">Ленинский проспект д.61</a>
							</li>
							<li class="custom-select__item" data-value="2">
								<a href="#" class="custom-select__town">Ленинский проспект д.67</a>
							</li>
							<li class="custom-select__item" data-value="3">
								<a href="#" class="custom-select__town">Ленинский проспект д.100</a>
							</li>
							<li class="custom-select__item" data-value="4">
								<a class="custom-select__town">22-ой км. Киевского ш., "Румянцево"</a>
							</li>
						</ul>
					</div>
					{% else %}
					<div class="js-city-select custom-select">
						<button class="custom-select__button">
							<span class="custom-select__button-city"><span>Москва и МО</span></span>
							<span class="custom-select__button-address">Рублевское шоссе, д.52а</span>
						</button>
						<ul class="custom-select__list">
							<li class="custom-select__item active" data-value="moskow">
								<span class="custom-select__town">Москва и МО</span>
								<span class="custom-select__address">Рублевское шоссе, д.52а</span>
							</li>
							<li class="custom-select__item" data-value="novgorod">
								<span class="custom-select__town">Нижний Новгород</span>
								<span class="custom-select__address">Большая Покровская, д.62/5</span>
							</li>
							<li class="custom-select__item" data-value="peterburg">
								<span class="custom-select__town">Санкт-Петербург</span>
								<span class="custom-select__address">Бесплатная доставка</span>
							</li>
						</ul>
					</div>
					{% endif %}

				</div>
			</div>

			{% include 'logo/global/logo.html' %}

			<div class="header__right">
				<div class="header__right-top">
					<a class="header__manager js-header-manager" href="#">Бесплатный выезд менеджера</a>
					<div class="select js-select select_service">
						<span class="select__placeholder"><span>Сервис Hausdorf</span></span>
						<ul class="select__list">
							<li class="select__item"><a href="#" class="select__link">О компании</a></li>
							<li class="select__item"><a href="#" class="select__link">Адрес бутика</a></li>
							<li class="select__item"><a href="#" class="select__link">Доставка</a></li>
							<li class="select__item"><a href="#" class="select__link">Оплата</a></li>
							<li class="select__item"><a href="#" class="select__link">Подключение</a></li>
							<li class="select__item"><a href="#" class="select__link">Гарантия</a></li>
							<li class="select__item"><a href="#" class="select__link">Cервисные центры</a></li>
							<li class="select__item"><a href="#" class="select__link">Условия продажи</a></li>
						</ul>
					</div>
				</div>
				<div class="header__right-bottom">
					<div class="header__search js-header__search">
						<div class="icon icon_search"></div>
					</div>

					<div class="likes active">
						<div class="icon icon_likes"></div>
						<span>5</span>
					</div>
					<div class="compare-icon active js-compare-icon">
						<div class="icon icon_compare"></div>
						<span>0</span>
						<div class="compare-menu js-compare-menu">
							<div class="compare-menu__block">
								<div class="compare-menu__top">
									<div class="compare-menu__title"><span>8</span>&nbsp;холодильников</div>
									<a href="#" class="compare-menu__button">Сравнить</a>
								</div>
								<ul class="compare-menu__list">
									<li class="compare-menu__item">
										<a href="#" class="compare-menu__link">Miele PW 6080 Vario RU</a>
										<button type="button" class="compare-menu__close">
											<span class="icon icon_close"></span>
										</button>
									</li>
									<li class="compare-menu__item">
										<a href="#" class="compare-menu__link">Miele PW 6080 Vario RU</a>
										<button type="button" class="compare-menu__close">
											<span class="icon icon_close"></span>
										</button>
									</li>
								</ul>
								<div class="compare-menu__more">и еще<span>6</span>&nbsp;холодильников</div>
							</div>
							<div class="compare-menu__block">
								<div class="compare-menu__top">
									<div class="compare-menu__title"><span>3</span>&nbsp;вытяжки</div>
									<a href="#" class="compare-menu__button">Сравнить</a>
								</div>
								<ul class="compare-menu__list">
									<li class="compare-menu__item">
										<a href="#" class="compare-menu__link">Miele PW 6080 Vario RU</a>
										<button type="button" class="compare-menu__close">
											<span class="icon icon_close"></span>
										</button>
									</li>
									<li class="compare-menu__item">
										<a href="#" class="compare-menu__link">Miele PW 6080 Vario RU</a>
										<button type="button" class="compare-menu__close">
											<span class="icon icon_close"></span>
										</button>
									</li>
								</ul>
								<div class="compare-menu__more">и еще<span>1</span>&nbsp;вытяжка</div>
							</div>
						</div>
					</div>
					<div class="cart">
						<div class="icon icon_cart"></div>
						<span>0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.header__top -->

	<div class="header__bottom header__bottom_red">
		<div class="container">
			<div class="header__mobile js-header-mobile">
				<div class="header__mobile-callback">
					<div class="icon icon_mobile-callback"></div>
					<a class="js-callback" href="#">Обратный звонок</a>
				</div>

				<div class="header__mobile-likes">
					<div class="icon icon_likes"></div>
					<span>5</span>
				</div>
				<div class="header__mobile-compare">
					<div class="icon icon_compare"></div>
					<span>0</span>
				</div>
			</div>

			<div class="header__bottom-inner">
				<div class="header__catalog js-catalog-button">
					<span class="icon icon_catalog-close"></span>
					<span class="icon icon_catalog-open"></span>
					<span>Каталог товаров</span>
				</div>
				{% include 'catalog-top/catalog-top.html' %}
				{% include 'menu/header/menu.html' %}
				<div class="header__brands js-brands-button">
					<span class="header__brands-desktop">Все бренды</span><span
					class="header__brands-tablet">Бренды</span>
					<span class="icon icon_brands-close"></span>
					<span class="icon icon_brands-open"></span>
				</div>
				{% include 'brands/brands.html' %}
			</div>
		</div>
	</div>
</div>