<div class="search-list {% if search %} search-list_search {% endif %}">
<ul class="search-list__list">
	<li class="search-list__item">
		<a href="#" class="search-list__link search-list__link_all">
			<span class="search-list__text ">Все товары</span>
			<span class="search-list__count">17</span>
		</a>
	</li>
	<li class="search-list__item">
		<a href="#" class="search-list__link">
			<span class="search-list__text">Миксеры</span>
			<span class="search-list__count">5</span>
		</a>
	</li>
	<li class="search-list__item">
		<a href="#" class="search-list__link">
			<span class="search-list__text">Варочные панели</span>
			<span class="search-list__count">1</span>
		</a>
	</li>
	<li class="search-list__item">
		<a href="#" class="search-list__link">
			<span class="search-list__text">Блендеры</span>
			<span class="search-list__count">15</span>
		</a>
	</li>
	<li class="search-list__item">
		<a href="#" class="search-list__link">
			<span class="search-list__text">Встраиваемый минибар</span>
			<span class="search-list__count">25</span>
		</a>
	</li>
	<div class="search-list__block js-search-list__block">
		<li class="search-list__item">
			<a href="#" class="search-list__link">
				<span class="search-list__text">Вытяжки</span>
				<span class="search-list__count">25</span>
			</a>
		</li>
		<li class="search-list__item">
			<a href="#" class="search-list__link">
				<span class="search-list__text">Посудомоечные машины</span>
				<span class="search-list__count">25</span>
			</a>
		</li>
	</div>
</ul>
	<div class="search-list__more-wrapper">
		<button class="search-list__more js-search-list__more" type="button"><span
			class="search-list__more-mobile">Все товары</span><span class="search-list__more-tablet">Еще</span>
		</button>
	</div>
	<div class="search-list__hidden js-search-list__hidden">
		<ul class="search-list__list">
			<li class="search-list__item">
				<a href="#" class="search-list__link">
					<span class="search-list__text">Миксеры</span>
					<span class="search-list__count">5</span>
				</a>
			</li>
			<li class="search-list__item">
				<a href="#" class="search-list__link">
					<span class="search-list__text">Варочные панели</span>
					<span class="search-list__count">1</span>
				</a>
			</li>
			<li class="search-list__item">
				<a href="#" class="search-list__link">
					<span class="search-list__text">Блендеры</span>
					<span class="search-list__count">15</span>
				</a>
			</li>
			<li class="search-list__item">
				<a href="#" class="search-list__link">
					<span class="search-list__text">Встраиваемый минибар</span>
					<span class="search-list__count">25</span>
				</a>
			</li>
		</ul>
	</div>
</div>