.search-list {
	display: flex;
	position: relative;

	&_search{
		padding-bottom: 15px;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
	}

	&__item {
		flex-grow: 2;
	}

	&__link {
		font-size: 13px;
		font-weight: 400;

		&_all {
			font-weight: 700;
		}

		&:hover {

			.search-list__text {
				border-bottom: none;
			}
		}
	}

	&__text {
		color: #000000;
		border-bottom: 1px dashed #2f2f2f;
	}

	&__count {
		color: $primaryColor;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 15px;
		flex-grow: 2;

		.search-list__item {
			flex-grow: 0;
		}
	}

	&__more {
		position: relative;
		padding: 10px 20px;
		padding-right: 35px;
		background: none;
		border: 1px solid #dcdcdc;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			display: block;
			right: 10px;
			top: 16px;
			border: 5px solid transparent;
			border-top-color: #dcdcdc;
		}

		&-mobile {
			display: none;
		}

		&:focus {
			outline: none;
		}

		&.active {

			&:after {
				top: 13px;
				border-top-color: transparent;
				border-bottom-color: #dcdcdc;

			}
		}
	}

	&__hidden {
		display: none;
		position: absolute;
		right: 0;
		top: 50px;
		padding: 20px;
		background: #fff;
		z-index: 13;
		box-shadow: 0 3px 25px rgba(77,107,127,.2);

		.search-list__list {
			flex-direction: column;
			align-items: flex-end;
		}

		.search-list__item {
			margin-bottom: 15px;
		}

		&.active {
			display: block;
		}
	}

	@media (--tablet) {

		&__block {
			display: none;
			flex-direction: column;
			align-items: flex-end;
			position: absolute;
			top: 50px;
			right: 0;
			background: #fff;
			padding: 20px;
			z-index: 12;

			&.active {
				display: flex;
				box-shadow: 0 3px 25px rgba(77,107,127,.2);
			}

			.search-list__item {
				margin-bottom: 15px;
			}
		}

		&__hidden {
			top: 122px;
			width: 210px;
		}

		&__more{
			width: 100%;
			text-align: left;

			&-wrapper{
				width: 140px;
			}
		}
	}

	@media (--phone) {

		flex-direction: column;

		&__list {
			order: 1;

			.search-list__item {
				display: none;
				margin-bottom: 15px;
			}

		}

		&__block {
			position: absolute;
			top: 41px;
			width: 100%;
			background: #fff;
			flex-direction: column;
			padding-top: 20px;
			display: none;

			&.active {
				display: block;
				padding-right: 0;
				z-index: 2;

				.search-list__item {
					display: block;
				}
			}

		}

		&__hidden {
			left: 0;
			right: auto;
			width: 100%;
			top: 113px;
			padding-left: 0;

			.search-list__list {
				align-items: center;
			}

			&.active {

				.search-list__item {
					display: block;
				}
			}
		}

		&__more {
			width: 100%;
			text-align: left;
			padding: 10px;

			&-wrapper {
				width: 100%;
			}

			&-mobile {
				display: block;
			}

			&-tablet {
				display: none;
			}
		}

	}

}