.banner {
	position: relative;
	height: 194px;
	margin-bottom: 15px;

	&_reviews {
		height: 240px;

		.title {
			color: #ffffff;
		}

		.banner__image {
			height: 240px;
		}

		.banner__desc {
			align-items: center;
			justify-content: space-between;
			padding-bottom: 10px;
		}

		@media (max-width: 1062px) and(min-width: 768px) {

			.title {
				font-size: 30px;
			}
		}

		@media (--tablet) {
			height: 260px;
			margin-bottom: 10px;

			.banner__image {
				height: 260px;

				img {
					width: 100%;
				}
			}

			.banner__desc {
				padding-left: 10px;
				padding-right: 10px;
				flex-direction: column;
				align-items: flex-start;
			}

			.grade {
				width: 100%;
				justify-content: space-between;

				&__btn {
					flex-grow: 1;

					.btn {
						margin-left: auto;
					}
				}
			}
		}

		@media (--phone) {
			height: 380px;

			.banner__image {
				height: 380px;
			}

			.title {
				position: absolute;
				max-width: 188px;
				text-align: center;
				line-height: 1.2;
			}

			.grade {
				flex-wrap: wrap;
				justify-content: center;
				font-size: 15px;

				&__number {
					margin-right: 0;
				}

				&__btn {
					margin-top: 20px;
					flex-grow: 1;
					width: 100%;

					.btn {
						width: 100%;
						max-width: initial;
					}
				}
			}
		}

		@media (min-width: 560px) and (max-width: 767px) {

			.title {
				top: -185px;
			}

			.banner__promo {
				margin-top: 95px;
			}
		}

		@media (min-width: 390px) and(max-width: 560px) {

			.title {
				top: -200px;
			}

			.banner__promo {
				margin-top: 70px;
			}
		}

		@media (max-width: 390px) {

			.title {
				top: -215px;
			}

			.banner__promo {
				margin-top: 60px;
			}
		}

	}

	&_reviewsCatalog {

		.title {
			color: #ffffff;
		}

		.banner__desc {
			justify-content: space-between;
		}

		.grade__number {
			margin-right: 0;
		}

		@media (max-width: 1050px) {
			margin-bottom: 10px;

			.banner__desc {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	&_brand {
		height: 365px;

		.banner__image {
			height: 365px;
		}

		.banner__desc {
			display: block;
		}

		.banner__update {
			margin-top: 10px;
			margin-left: 0;
		}
	}

	&_selection {
		height: 240px;

		.banner__image {
			height: 240px;
		}

		.title {
			color: #ffffff;
			line-height: 42px;
		}

		@media (--tablet) {

			.banner__link {
				font-size: 15px;
			}
		}

		@media (--phone) {

			.title {
				line-height: 1.2;
			}

			.banner__link {
				font-size: 14px;
				line-height: 1.8;
			}

			.banner__about {
				bottom: 5%;
			}

			.banner__desc {
				margin-top: 0;
			}
		}

	}

	&_collection {

		.banner__about {
			bottom: 105px;
		}
	}

	&_rating {
		height: 220px;

		.banner__image{
			height: 220px;
		}

		.title {
			color: #fff;
		}

		.banner__promo{
			font-size: 18px;
		}

		@media (--tablet) {

			.banner__desc {
				padding-left: 10px;
			}
		}

		@media (--phone) {

			.banner__desc{
				margin-bottom: 0;
				height: auto;
				text-align: center;
			}

			.banner__promo {
				font-size: 12px;
				margin-top: 0;
				order: 1;
			}
		}
	}

	&_kitchens{
		height: 220px;

		.banner__image{
			height: 220px;
		}

		.title{
			color: #ffffff;
		}

		@media (--phone) {
			margin-bottom: 5px;
		}
	}


	&__inner,
	.container {
		height: 100%;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.breadcrumbs__link,
	.breadcrumbs__text {
		color: #ffffff;
	}

	.breadcrumbs__link {

		&:hover {
			color: $primaryColor;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 194px;

		img {
			width: 100%;
			height: 100%;
		}

		&-mobile {
			display: none;
		}
	}

	&__desc {
		display: flex;
		align-items: flex-end;
		position: relative;
		z-index: 2;
		margin-top: auto;
		padding-bottom: 20px;
	}

	&__update {
		margin-left: 20px;
		opacity: 0.3;
		color: #fff;
		font-size: 13px;
		font-weight: 400;
	}

	&__promo {
		max-width: 724px;
		margin-top: 20px;
		color: #fff;
		font-size: 14px;
		line-height: 24px;
		font-weight: 300;
	}

	&__about {
		position: absolute;
		right: 0;
		bottom: 20px;
		margin-left: auto;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		z-index: 3;
	}

	&__link {
		display: block;
		text-align: right;
		color: #ffffff;

		&:hover {
			color: $primaryColor;
		}
	}

	@media (--tablet) {

		&__image {

			img {
				position: absolute;
				width: auto;
				left: 50%;
				transform: translateX(-50%);

			}
		}

		&__promo {
			max-width: initial;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	@media (--phone) {

		.breadcrumbs {
			background: transparent;
		}

		&_brand {
			.banner__desc {
				display: flex;
			}
		}

		&__image {

			&-mobile {
				display: block;
			}

			video {
				display: none;
			}
		}

		&__desc {
			margin-top: 30px;
			padding-bottom: 10px;
			align-items: center;
			height: 100%;
			flex-direction: column;
		}

		&__update {
			margin-top: auto;
		}

		&__logo {
			height: 29px;

			img {
				max-height: 100%;
			}
		}

		&__about {
			text-align: center;
			width: 100%;
			bottom: 20%;
		}

		&__link {
			text-align: center;
		}

		&__promo {
			text-align: center;
		}
	}

}