<div
	class="banner {{brand}} {% if reviews %} banner_reviews {% endif %} {% if reviewsCatalog %} banner_reviewsCatalog {% endif %} {% if selection %} banner_selection {% endif %} {% if brandCollection %} banner_collection {% endif %} {% if rating %} banner_rating {% endif %} {% if kitchens or kitchen %} banner_kitchens {% endif %}">
	<div class="banner__image">
		{% if catalog%}
		<img class="banner__image-mobile" src="images/banner-mobile.jpg" alt="">
		<video class="banner__video" autoplay loop>
			<source src="images/video-2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
		</video>
		{% endif %}

		{% if reviewsCatalog or top %}
		<picture>
			<source media="(max-width: 767px)" srcset="images/banner-mobile.jpg">
			<img src="images/banner.jpg" alt="">
		</picture>
		{% endif %}

		{% if brand %}
		<img class="banner__image-mobile" src="images/asko-mobile.png" alt="">
		<video class="banner__video" autoplay loop>
			<source src="images/video-3.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
		</video>
		{% endif %}

		{% if reviews %}
		<picture>
			<source media="(max-width: 767px)" srcset="images/reviews-bg-mobile.jpg">
			<source media="(max-width: 1000px) and (min-width:768px)" srcset="images/reviews-bg-tablet.jpg">
			<img src="images/reviews-bg.jpg" alt="">
		</picture>
		{% endif %}

		{% if selection %}
		<picture>
			<source media="(max-width: 767px)" srcset="images/banner-mobile.jpg">
			<img src="images/banner.jpg" alt="">
		</picture>
		{% endif %}

		{% if rating %}
		<picture>
			<source media="(max-width: 767px)" srcset="images/rating-bg-mobile.jpg">
			<img src="images/rating-bg.jpg" alt="">
		</picture>
		{% endif %}

		{% if kitchens or kitchen %}
		<picture>
			<source media="(max-width: 767px)" srcset="images/kitchens-bg-mobile.jpg">
			<img src="images/kitchens-bg.jpg" alt="">
		</picture>
		{% endif %}


	</div>
	<div class="container">
		<div class="banner__inner">

			<!--start breadcrumbs-->
			{% include 'breadcrumbs/breadcrumbs.html' %}
			<!--end breadcrumbs-->

			{% if reviews %}
			<div class="banner__promo">
				Мы ценим ваше время и очень стараемся держать наш сервис на высоком уровне. <br>
				Если у вас есть замечания, предложения или пожелания, мы с радостью выслушаем и постараемся помочь!
			</div>

			{% endif %}

			{% if rating %}
			<div class="banner__promo">
				Мы подготовили подробный обзор бытовой техники, <br>
				чтобы сделать ваш выбор быстрым и удобным.
			</div>

			{% endif %}

			<div class="banner__desc">

				{% if catalog %}
				<h1 class="title title_white">Стиральные машины</h1>
				{% endif %}

				{% if top %}
				<h1 class="title title_white">Топ 5 вытяжек на 2016-2017 год</h1>
				{% endif %}

				{% if brand %}
				<img src="images/asko.png" alt="" class="banner__logo">
				{% endif %}

				{% if brand or catalog %}
				<div class="banner__update">Обновление цен от 08.11.2017</div>
				{% endif %}

				{% if selection %}
				<h1 class="title">Подбор холодильников <br>от редакции Hausdorf.ru</h1>
				{% endif %}

				{% if rating %}
				<h1 class="title">Рейтинг лучшей бытовой техники для кухни и дома</h1>
				{% endif %}

				{% if kitchens %}
				<h1 class="title">Кухни в бутике Hausdorf</h1>
				{% endif %}

				{% if kitchen %}
				<h1 class="title">Кухни SieMatic</h1>
				{% endif %}

				{% if reviews %}
				<h1 class="title">Отзывы о бутике Hausdorf</h1>
				<div class="grade">
					<div class="grade__title">Средняя оценка</div>
					<div class="ratings ratings_output">
						<div class="ratings__section">
							<div class="ratings__start"></div>
							<div class="ratings__click" style="width: 80%;"></div>
						</div>
					</div>
					<div class="grade__number">4.5</div>
					<div class="grade__btn">
						<button class="btn btn_reviews">Оставить отзыв</button>
					</div>

				</div>
				{% endif %}

				{% if reviewsCatalog %}
				<h1 class="title">Отзывы о категории Стиральные машины</h1>
				<div class="grade">
					<div class="grade__title">Средняя оценка</div>
					<div class="ratings ratings_output">
						<div class="ratings__section">
							<div class="ratings__start"></div>
							<div class="ratings__click" style="width: 80%;"></div>
						</div>
					</div>
					<div class="grade__number">4.5</div>
				</div>
				{% endif %}
			</div>

			{% if brand %}
			<div class="banner__about">
				<a href="#" class="banner__link">Скидка 10% на ASKO Craft </a>
				<a href="#" class="banner__link">Весение цены на комплект техники</a>
				<a href="#" class="banner__link">Топ 5 товаров ASKO</a>
				{% if brandCollection %}

				{% endif %}
			</div>

			{% endif %}

			{% if selection %}
			<div class="banner__about">
				<a href="#" class="banner__link"> Рейтинг холодильников 2017-2018 года</a>
				<a href="#" class="banner__link"> Топ 10 холодильников по цене и качеству</a>
				<a href="#" class="banner__link"> Акции на холодильники 2017-2018 года</a>
			</div>
			{% endif %}

		</div>
	</div>
</div>