.top {
	padding-bottom: 0;
	margin-bottom: 15px;

	.small-title{
		margin-bottom: 25px;
	}

	&__text {
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 45px;
		p:last-child{
			margin-bottom: 0;
		}

		&_border {
			padding-bottom: 45px;

			border-bottom:1px solid #efefef;
		}

		&-block + &-block{
			margin-top: 25px;
		}
	}

	&__item{
		display: flex;
		justify-content: space-between;
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom:1px solid #efefef;
	}

	&__left{
		width: 38.5%;
		display: flex;
		padding: 35px 10px;
		border: 1px solid #eaedf0;
	}

	&__image{
		margin-right: 15px;
	}

	&__right{
		padding-top: 15px;
		width: 58%;
	}


	.articul{
		margin-bottom: 45px;
	}

	.ratings{
		margin-right: 10px;
		margin-top: -4px;
	}

	&__title{
		font-size: 24px;
		margin-bottom: 25px;
	}

	&__heading{
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		&-block{
			display: flex;
			align-items: center;
		}
	}

	&__prop{
		color: #959595;
		font-size: 15px;
		font-weight: 300;
		margin-right: 5px;
	}

	&__value{
		color: #000;
		font-size: 18px;
		font-weight: 700;

		&_margin{
			margin-right: 45px;
		}
	}

	&__about{
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;

		&-block{
			margin-bottom: 25px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	@media (max-width: 1080px) {
		margin-left: -1%;
		margin-right: -1%;

		&__item {
			flex-direction: column;
		}

		&__left,
		&__right{
			width: 100%;
		}
	}

	@media (max-width: 1080px) and (min-width: 768px) {

		.small-title {
			text-align: left;
		}

		&__title{
			font-size: 18px;
			font-weight: 700;
		}

		&__text{

			&_border{
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		&__item{
			border-bottom: none;
			padding-bottom: 0;

			&:last-child{
				border-bottom:1px solid #efefef;
				padding-bottom: 35px;
				margin-bottom: 35px;
			}
		}

		&__image{
			width: 40%;
			text-align: center;
		}

		&__heading{
			margin-bottom: 20px;
		}
	}

	@media (--phone) {

		.small-title{
			margin-bottom: 20px;
		}

		&__text {
			font-size: 12px;
			margin-bottom: 30px;

			&_border{
				padding-bottom: 30px;
			}

			&-block + &-block{
				margin-top: 0;
			}
		}

		&__title{
			font-size: 15px;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		&__left{
			flex-direction: column;
			border: none;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 0;
		}

		.price{
			font-size: 16px;
		}

		.subject{
			text-align: left;
		}

		.articul{
			margin-bottom: 15px;
			font-size: 10px;
		}

		&__heading{
			flex-wrap: wrap;
			margin-bottom: 0;

			&-block{
				margin-bottom: 10px;
			}
		}

		.name,
		&__prop{
			font-size: 13px;
		}

		&__item{
			padding-bottom: 30px;
			margin-bottom: 30px;
		}

		&__image{
			margin-bottom: 15px;
		}

		&__value{
			font-size: 15px;
		}

		&__about{
			font-size: 12px;
		}

	}
}