<section class="top">
	<div class="small-title">Стильные, функциональные и надежные</div>
	<div class="top__text top__text_border">
		<div class="top__text-block">
			<p>Вытяжки, представленные в бутике Hausdorf — это не только прибор, помогающий справиться с запахами и
				копотью
				на кухне, но и изысканное дополнение вашего интерьера.
			</p>
		</div>
		<div class="top__text-block">
			<p>Островные вытяжки — для обладателей больших кухонь-столовых, с островом для приготовления пищи.
				Размещенная
				над варочной поверхностью островная модель, оснащенная приятной подсветкой, станет новым центром
				притяжения
				взглядов. Классические купольные вытяжки или же настенные, но в оригинальном дизайне — решать только
				вам.
				Если же вы предпочитаете скрыть воздухоочиститель от посторонних взглядов, ваш вариант встраиваемые
				модели.
				На сайте Hausdorf вы найдете вытяжки, встраиваемые в шкаф, стол или же потолочного монтажа.</p>
		</div>
		<div class="top__text-block">
			<p>Дизайн вытяжек можно сравнить с дизайном дорогих автомобилей. Мощность, эстетика и качество материалов —
				вот,
				что отличает бытовые приборы высокого класса от популярных, но усредненных во всех параметрах
				изделий.</p>
		</div>
	</div>

	<div class="top__items">
		<div class="top__item">
			<div class="top__left">
				<div class="top__image">
					<img class="lazyload" data-src="images/top-image-1.png" alt="">
				</div>
				<div class="top__desc">
					<div class="subject">Вытяжка</div>
					<div class="name">Faber VERSUS WH A80</div>
					<div class="articul">Артикул: 316-64471</div>
					<div class="price">59 245 руб.</div>
				</div>
			</div>
			<div class="top__right">
				<div class="top__heading">
					<div class="top__heading-block">
						<div class="top__prop">Наш рейтинг:</div>
						<div class="ratings">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 60%;"></div>
							</div>
						</div>
						<div class="top__value top__value_margin">3.0</div>
					</div>
					<div class="top__heading-block">
						<div class="top__prop">Номинация:</div>
						<div class="top__value">Элегантная</div>
					</div>

				</div>
				<div class="top__about">
					Изысканная итальянская вытяжка с экраном из закаленного стекла. Новое решение в управлении: работу
					вытяжки можно регулировать простым движением фронтальной панели. Мощность всасывания увеличивается
					при большем открытии панели. Чтобы выключить вытяжку достаточно вернуть фронтальную панель в
					первоначальное положение. Превосходный дизайн и функциональность.
				</div>
			</div>
		</div>
		<div class="top__item">
			<div class="top__left">
				<div class="top__image">
					<img class="lazyload" data-src="images/top-image-2.png" alt="">
				</div>
				<div class="top__desc">
					<div class="subject">Вытяжка</div>
					<div class="name">Falmec Lumen Isola 90 ix (800) ECP</div>
					<div class="articul">Артикул: 316-64471</div>
					<div class="price">93 600 руб.</div>
				</div>
			</div>
			<div class="top__right">
				<div class="top__heading">
					<div class="top__heading-block">
						<div class="top__prop">Наш рейтинг:</div>
						<div class="ratings">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 80%;"></div>
							</div>
						</div>
						<div class="top__value top__value_margin">4.0</div>
					</div>
					<div class="top__heading-block">
						<div class="top__prop">Номинация:</div>
						<div class="top__value">Лаконичная</div>
					</div>
				</div>
				<div class="top__about">
					Строгий лаконичный стиль и современные технологии сочетаются в этой модели. Комфорт эксплуатации
					обеспечивает пульт дистанционного управления и таймер автоматического отключения. Специальный датчик
					сообщит о необходимости очистить жировые фильтрыдля более эффективного очищения воздуха. В
					комплекте поставляется угольный фильтрдля работы в режиме рециркуляции.
				</div>
			</div>
		</div>
		<div class="top__item">
			<div class="top__left">
				<div class="top__image">
					<img class="lazyload" data-src="images/top-image-3.png" alt="">
				</div>
				<div class="top__desc">
					<div class="subject">Вытяжка</div>
					<div class="name">Falmec Butterfly Isola 90 ix (800) ECP black</div>
					<div class="articul">Артикул: 316-64471</div>
					<div class="price">154 800 руб.</div>
				</div>
			</div>
			<div class="top__right">
				<div class="top__heading">
					<div class="top__heading-block">
						<div class="top__prop">Наш рейтинг:</div>
						<div class="ratings">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 100%;"></div>
							</div>
						</div>
						<div class="top__value top__value_margin">5.0</div>
					</div>
					<div class="top__heading-block">
						<div class="top__prop">Номинация:</div>
						<div class="top__value">Инновационная</div>
					</div>
				</div>
				<div class="top__about">
					<div class="top__about-block">
						Инновационный функциональный дизайн вытяжки Falmec Butterfly Isola 90 ix выделяет эту модель.
						Островная вытяжка от итальянского производителя сочетает высокую производительность, современное
						сенсорное управление и стильное исполнение.
					</div>
					<div class="top__about-block">
						Вытяжка выполнена из высококачественной нержавеющей стали AISI 304 и прочного закаленного
						стекла.
					</div>
				</div>
			</div>
		</div>
		<div class="top__item">
			<div class="top__left">
				<div class="top__image">
					<img class="lazyload" data-src="images/top-image-4.png" alt="">
				</div>
				<div class="top__desc">
					<div class="subject">Вытяжка</div>
					<div class="name">Smeg KDD90VXE-2</div>
					<div class="articul">Артикул: 316-64471</div>
					<div class="price">138 490 руб.</div>
				</div>
			</div>
			<div class="top__right">
				<div class="top__heading">
					<div class="top__heading-block">
						<div class="top__prop">Наш рейтинг:</div>
						<div class="ratings">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 100%;"></div>
							</div>
						</div>
						<div class="top__value top__value_margin">5.0</div>
					</div>
					<div class="top__heading-block">
						<div class="top__prop">Номинация:</div>
						<div class="top__value">Технологичная</div>
					</div>
				</div>
				<div class="top__about">
					Модель для рациональной организации рабочего пространства. Прибор встраивается в стол и при
					необходимости эффектно появляется над поверхностью. Предусмотрено четыре скорости работы и
					интенсивный режим с функцией автоматического отключения. LED освещение и электронное управление
					Touch Control повышает комфорт использования воздухоочистителя.
				</div>
			</div>
		</div>
		<div class="top__item">
			<div class="top__left">
				<div class="top__image">
					<img class="lazyload" data-src="images/top-image-5.png" alt="">
				</div>
				<div class="top__desc">
					<div class="subject">Вытяжка</div>
					<div class="name">Faber COCKTAIL BK A80 EG8</div>
					<div class="articul">Артикул: 316-64471</div>
					<div class="price">37 638 руб.</div>
				</div>
			</div>
			<div class="top__right">
				<div class="top__heading">
					<div class="top__heading-block">
						<div class="top__prop">Наш рейтинг:</div>
						<div class="ratings">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 80%;"></div>
							</div>
						</div>
						<div class="top__value top__value_margin">4.0</div>
					</div>
					<div class="top__heading-block">
						<div class="top__prop">Номинация:</div>
						<div class="top__value">Тихая</div>
					</div>
				</div>
				<div class="top__about">
					Современный лаконичный дизайн и новейшие технологии очистки воздуха являются отличительной чертой
					этой модели. Вытяжка будет гармонично смотреться в Hi-Tech интерьере. Диффузора Energy снижает
					уровень шума и увеличивает эффективность работы вытяжки на 30%. Технология Multiple aspiration
					увеличивает скорость всасывания, что помогает быстрее устранять даже интенсивные испарения.
				</div>
			</div>
		</div>
	</div>
	<div class="top__title">Эффективное очищение воздуха</div>

	<div class="top__text">
		<div class="top__text-block">
			<p>Вытяжки премиум-класса технологичны и функциональны, оснащены различными индикаторами, упрощающими как
				работу с прибором, так и уход за ним. Таймер способен включать и выключать прибор по
				запрограммированному времени, индикаторы определяют и уровень загрязнения фильтров, и уровень самого
				испарения, регулируя мощность всасывания. Определенные модели позволяют управлять настройками не только
				с пульта, но и с вашего мобильного телефона.
			</p>
		</div>
		<div class="top__text-block">
			<p>Какую модель выбрать: лаконичную или созданную по последнему слову техники, решать только вам.</p>
		</div>
	</div>

	<div class="service__quality">
		<div class="service__image">
			<picture>
				<source data-srcset="images/service-mobile.png" media="(max-width:1000px) and (min-width:768px)"
				        srcset="images/service-mobile.png">
				<source data-srcset="images/service-mobile-2.png" media="(max-width:468px)"
				        srcset="images/service-mobile-2.png">
				<img class=" lazyloaded" data-src="images/service.png" alt="" src="images/service.png">
			</picture>
		</div>
		<div class="problem problem_service">
			<div class="problem__title">Остались вопросы?</div>
			<div class="problem__text">Подробную информацию по тарифам на ввод в эксплуатацию приборов, партнерским
				сервисным центрам и другие вопросы можно уточнить по телефону горячей линии Hausdorf:
			</div>
			<div class="problem__call">
				<span class="problem__call-text">Звоните</span>
				<a href="tel:+74956029621" class="problem__call-link">+7 (800) 333-10-52</a>
			</div>
		</div>
	</div>

</section>