<div class="slider">
	<div class="swiper-container js-swiper-slider swiper_index">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="slider__item" style="background-color: rosybrown">
					<a href="#" class="slider__link">
						<div class="slider__wrapper">
							<img class="slider__image swiper-lazy" data-src="images/slider1.png" alt="">
							<div class="slider__desc">
								<picture class="slider__logo">
									<source media="(max-width: 768px)" srcset="images/Kitchenaid_logo-mobile.png">
									<img class="slider__logo" src="images/Kitchenaid_logo.png" alt="">
								</picture>
								<div class="slider__title">Специальные цены на крупную бытовую технику</div>
								<div class="slider__text">С 1 декабря 2017 по 9 января 2018 года у вас есть уникальная
									возможность приобрести комплект крупной бытовой техники KitchenAid со скидкой 20%!
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slider__item">
					<a href="#" class="slider__link">
						<video class="slider__video" autoplay loop >
							<source src="images/video-1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
						</video>
					</a>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="slider__item" style="background-color: aquamarine">
					<a href="#" class="slider__link">
						<div class="slider__wrapper">
							<img class="slider__image swiper-lazy" src="images/slider1.png" alt="">
							<div class="slider__desc">
								<picture class="slider__logo">
									<source media="(max-width: 768px)" srcset="images/Kitchenaid_logo-mobile.png">
									<img class="slider__logo" src="images/Kitchenaid_logo.png" alt="">
								</picture>
								<div class="slider__title">Специальные цены на крупную бытовую технику</div>
								<div class="slider__text">С 1 декабря 2017 по 9 января 2018 года у вас есть уникальная
									возможность приобрести комплект крупной бытовой техники KitchenAid со скидкой 20%!
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="slider__item slider__item_bg">
					<a href="#" class="slider__link">
						<div class="slider__wrapper">
							<img class="slider__image swiper-lazy" src="images/slider1.png" alt="">
							<div class="slider__desc">
								<picture class="slider__logo">
									<source media="(max-width: 768px)" srcset="images/Kitchenaid_logo-mobile.png">
									<img class="slider__logo" src="images/Kitchenaid_logo.png" alt="">
								</picture>
								<div class="slider__title">Специальные цены на крупную бытовую технику</div>
								<div class="slider__text">С 1 декабря 2017 по 9 января 2018 года у вас есть уникальная
									возможность приобрести комплект крупной бытовой техники KitchenAid со скидкой 20%!
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="swiper-pagination swiper-pagination_slider"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

	</div>
</div>