.slider {
	margin-bottom: 15px;

	&__item {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 502px;
		overflow: hidden;
		text-align: center;
		background: #fff;

		&_bg {
			background: linear-gradient(45deg, #b90333 50%, #ffde00 50%);
		}
	}

	&__wrapper {
		text-align: left;
		max-width: 1320px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	&__image {
		margin-top: 60px;
		margin-left: 70px;
	}

	&__video {
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		position: relative;
		left: -2.5%;
	}

	&__logo {
		width: 168px;
		height: 14px;
		margin-bottom: 15px;
	}

	&__desc {
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translateY(-50%);
		width: 35%;
		color: #000000;
		text-align: left;
	}

	&__title {
		font-size: 35px;
		line-height: 1;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 16px;
	}

	@media (max-width: 1220px) and (min-width: 768px) {

		&__desc {
			top: 50px;
			width: 100%;
		}

		&__image {
			margin-top: 135px;
		}
	}

	@media (max-width: 1220px) {
		position: relative;

		&__item {

			&_bg {
				background: linear-gradient(51deg, #575958 53%, #353535 50%);
			}
		}

		&__desc {
			left: 50%;
			transform: translateY(0%) translateX(-50%);
			color: #ffffff;
			text-align: center;
		}

		&__image {
			max-width: 61%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-left: 0;
		}

		&__video {
			left: 0;
		}

		&__title {
			font-size: 20px;
		}

		&__text {
			display: none;
		}
	}

	@media (--tablet) {

		&__item {
			height: 420px;
		}
	}

	@media (max-width: $phone) {
		background-image: linear-gradient(to top, rgba(215, 215, 215, 0.1) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 100%);
		padding-top: 0 !important;
		margin-bottom: 0;

		&__item {
			position: relative;
			height: 200px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				top: -120px;
				left: 50%;
				transform: translateX(-50%);
				width: 110%;
				height: 110%;
				border-radius: 100%;
				background-color: #dd0016;
				z-index: 1;
			}
		}

		&__desc {
			width: 80%;
			top: 10px;
			z-index: 2;
		}

		&__title {
			font-size: 18px;
			margin-top: -7px;
		}

		&__logo {
			width: 111px;
			height: 9px;
		}

		&__image {
			z-index: 2;
			margin-top: 80px;
		}
	}
}
