.feedback {
	padding-bottom: 40px;

	@include bg;

	.small-title {
		margin-bottom: 20px;
	}

	&_about {
		padding-bottom: 40px;

		.feedback__block {
			padding: 30px;
			border: 2px solid #f0f0f0;
		}

		@media (--phone) {
			padding-bottom: 0;

			.feedback__block {
				border-bottom: none;
			}

		}
	}

	&__title {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	&__blocks {
		display: flex;
		margin-top: 30px;
		justify-content: space-between;
	}

	&__block {
		width: 50%;
		padding-left: 30px;
		padding-right: 30px;

		&_color {
			padding: 30px;
			background: #efefef;
		}
	}

	&__more {
		font-size: 13px;
		color: #202020;
		background: none;
		border: none;
		padding: 0;
		border-bottom: 1px dashed #ccc;
		cursor: pointer;

		&:hover {
			border-bottom-color: transparent;
		}

	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			margin-bottom: 10px;

			span {
				display: block;
				color: #1f1f1f;
				font-size: 14px;
			}
		}

		&-name {
			font-weight: 700;
			margin-bottom: 5px;
		}

		&-value {

			a {
				color: #1f1f1f;

				&:hover {
					color: $primaryColor;
				}
			}
		}

	}

	&__text {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			margin-bottom: 15px;
		}
	}

	&__form {

		.popup__footer {
			margin-top: 0;
			margin-bottom: 0;
		}

		.form-inputs__block_textarea {
			margin-bottom: 0;
		}

		.popup__admire {
			margin-top: 0;
			margin-bottom: 0;
		}
	}



	@media (--tablet) {

		&_about {

			.feedback__block {

				&_color {
					order: -1;
				}
			}

		}

		&__title {
			font-size: 18px;
		}

		&__block {
			width: 60%;

			&_color {
				width: 40%;
			}
		}
	}

	@media (--phone) {
		margin-left: -2%;
		padding-top: 0;

		.small-title {
			padding-left: 20px;
		}

		.service__text {
			padding-left: 20px;
		}

		&_about {

			.feedback__block {

				&_color {
					margin-bottom: 0;
				}
			}
		}

		&__blocks {
			margin-top: 0;
			flex-direction: column-reverse;
		}

		&__block {
			width: 100%;
			border: none;
			padding: 10px;
			padding-left: 20px;

			&:first-child {

			}

			&_color {
				order: 1;
				padding-bottom: 20px;
				margin-bottom: 20px;
			}

			.small-title {
				font-size: 15px;
				color: #1f1f1f;
				font-weight: 300;
				text-align: left;
				margin-bottom: 15px;
			}
		}

		.popup__admire {
			margin-bottom: 10px;
		}
	}

	&_partners {
		margin-top: -35px;
		margin-bottom: 15px;
		padding-bottom: 30px;

		&:after,
		&:before{
			display: none;
		}

		.feedback{

			&__block{
				padding: 30px;
				border: 2px solid #f0f0f0;
			}
		}

		@media (--tabletAndMobile) {
			margin-left: -20px;
			margin-right: -20px;

			.small-title{
				text-align: left;
			}
		}

		@media (--tablet) {

			margin-top: -15px;

			.feedback{

				&__block{
					width: 50%;

					&_color{
						width: 50%;
						order: -1;
					}
				}
			}
		}

		@media (--phone) {
			padding-bottom: 0;

			.small-title{
				padding-left: 0;
			}

			.feedback{

				&__block{
					border: none;

					&_color{
						margin-bottom: 0;
					}
				}
			}
		}
	}

}