<div class="feedback">
	<div class="small-title">Реквизиты и обратная связь</div>
	<div class="service__text">
		<p>
			Руководство компании Hausdorf уделяет пристальное внимание качеству обслуживания своих клиентов. Если вы столкнулись с какими-либо проблемами на любом этапе заказа, мы будем благодарны за подробную информацию. Все сообщения рассматриваются лично руководством компании Hausdorf.</p>
	</div>
	<div class="feedback__blocks">
		<div class="feedback__block feedback__block_color">
			<div class="feedback__title">Реквизиты ООО «Хаусдорф Бутик»</div>
			<ul class="feedback__text">
				<li class="feedback__text-item">ОГРН 5147746289015</li>
				<li class="feedback__text-item">ИНН 7731483162</li>
				<li class="feedback__text-item">КПП 772301001</li>
				<li class="feedback__text-item">БИК 044525716</li>
				<li class="feedback__text-item">р/сч.40702810400000095152 в В ВТБ 24 (ПАО)</li>
				<li class="feedback__text-item">кор/сч. 30101810100000000716</li>
			</ul>
			<button type="button" class="feedback__more" data-ajax data-url="ajax/feedback.html">Побробные реквизиты</button>
		</div>
		<div class="feedback__block">
			<form action="" class="feedback__form js-form">
				<div class="form-inputs__wrapper">
					<div class="form-inputs__block">
						<label for="feedback-name" class="form-inputs__label form-inputs__label_required">Ваше
							имя
						</label>
						<input type="text" class="form-inputs__field js-required basket__field"
						       id="feedback-name"
						       placeholder="Введите имя" required="">
					</div>
				</div>
				<div class="form-inputs__block">
					<label for="feedback-contact" class="form-inputs__label form-inputs__label_required">Телефон
						или Email
					</label>
					<input type="text" class="form-inputs__field js-required basket__field"
					       id="feedback-contact"
					       placeholder="Телефон или Email" required>
				</div>
				<!--<div class="form-inputs__block form-inputs__block_textarea">-->
					<!--<label for="feedback-message" class="form-inputs__label form-inputs__label_required">Ваш вопрос</label>-->
					<!--<textarea class="form-inputs__message basket__message" name="message"-->
					          <!--id="feedback-message" cols="30" rows="6" type="text"></textarea>-->
				<!--</div>-->
				<div class="popup__footer">
					<button type="submit" class="departure__submit js-form__submit popup__button" disabled>
						<span class="departure__submit-desktop">Отправить</span>
						<span class="departure__submit-mobile">Отправить жалобу</span>
					</button>
					<div class="popup__admire">
						<div>Заказывая обратный звонок, я принимаю условия</div>
						<div><a href="#">&nbsp;пользовательского соглашения&nbsp;</a></div>
						<div>о предоставлении персональных данных.</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>