<section class="search-page js-search-page">
	<h1 class="title">Найдено <span class="title__accent">157</span>&nbsp;товаров в <strong>39</strong>&nbsp;категориях
	</h1>
	<div class="search-page__top js-search-page-fixed">
		<!--start search-list-->
		{% include 'search-list/search-list.html' %}
		<!--end search-list-->
		<div class="search-page__result">
			<input type="text" class="search-page__field js-search-page__field" id="search-page__field">
			<label for="search-page__field" class="search-page__label js-search-page__label">Вы искали: <strong>"<span>asko w</span>"</strong>,
				хотите уточнить поиск?</label>
			<button class="search-page__submit" type="submit"></button>
		</div>
	</div>

	<div class="accordion accordion_search js-accordion">
		<div class="accordion__block">
			<h2 id="mixer" class="accordion__button active js-accordion__button">
				<span>5</span>&nbsp;<span>Миксеров</span></h2>
			<div class="accordion__panel active">
				<!--start recent-->
				<div class="recent">
					<div class="recent__row">
						<div class="recent__col">
							<div class="recent__item">
								<a href="#" class="recent__link">
									<span class="icon icon_likes"></span>
									<span class="icon icon_compare-card"></span>
									<div class="recent__image">
										<img class="lazyload" data-src="images/recent-1.png" alt="">
									</div>
									<div class="recent__desc">
										<div class="recent__order">Под заказ</div>
										<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
										<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
										<div class="recent__price">150 000 руб.</div>
										<button type="button" class="recent__application">Оставить заявку</button>
									</div>
								</a>
							</div>
						</div>
						<div class="recent__col">
							<div class="recent__item">
								<a href="#" class="recent__link">
									<span class="icon icon_likes"></span>
									<span class="icon icon_compare-card"></span>
									<div class="recent__image">
										<img class="lazyload" data-src="images/recent-2.png" alt="">
									</div>
									<div class="recent__desc">
										<div class="recent__stock">В наличии</div>
										<div class="recent__subject">Духовой шкаф</div>
										<a href="#" class="recent__name">Asko OP8676S</a>
										<div class="recent__price">145 900 руб.</div>
										<button type="button" class="recent__application">Купить</button>
									</div>
								</a>
							</div>
						</div>
						<div class="recent__col">
							<div class="recent__item">
								<a href="#" class="recent__link">
									<span class="icon icon_likes"></span>
									<span class="icon icon_compare-card"></span>
									<div class="recent__image">
										<img class="lazyload" data-src="images/recent-3.png" alt="">
									</div>
									<div class="recent__desc">
										<div class="recent__order">Под заказ</div>
										<div class="recent__subject">Беспроводная акустическая система</div>
										<a href="#" class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
										<div class="recent__price">150 000 руб.</div>
										<button type="button" class="recent__application">Оставить заявку</button>
									</div>
								</a>
							</div>
						</div>
						<div class="recent__col">
							<div class="recent__item">
								<a href="#" class="recent__link">
									<span class="icon icon_likes"></span>
									<span class="icon icon_compare-card"></span>
									<div class="recent__image">
										<img class="lazyload" data-src="images/recent-1.png" alt="">
									</div>
									<div class="recent__desc">
										<div class="recent__order">Под заказ</div>
										<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
										<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
										<div class="recent__price">150 000 руб.</div>
										<button type="button" class="recent__application">Оставить заявку</button>
									</div>
								</a>
							</div>
						</div>
						<div class="recent__col">
							<div class="recent__item">
								<a href="#" class="recent__link">
									<span class="icon icon_likes"></span>
									<span class="icon icon_compare-card"></span>
									<div class="recent__image">
										<img class="lazyload" data-src="images/recent-4.png" alt="">
									</div>
									<div class="recent__desc">
										<div class="recent__stock">В наличии</div>
										<div class="recent__subject">Стиральная машина</div>
										<a href="#" class="recent__name">Kuppersbusch WA 1940.0 W </a>
										<div class="recent__price">199 755 руб.</div>
										<button type="button" class="recent__application">Купить</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--end recent-->
			</div>
		</div>
		<div class="accordion__block">
			<h2 id="cooktop" class="accordion__button js-accordion__button active">
				<span>18</span>&nbsp;<span>Паровых шкафов</span></h2>
			<div class="accordion__panel active">
				<div class="catalog-items">
					<div class="catalog__row">
						<div class="catalog__col catalog__col_wide">
							<div class="catalog__item">
								<div class="catalog__item-inner js-catalog__item-inner">
									<div class="catalog__image catalog__image_wide js-catalog__image">
										<img class="lazyload" data-src="images/catalog-item-5.png" alt="">
									</div>
								</div>
								<div class="catalog__features js-catalog__features">
									<div class="catalog__feature ">
										<span class="icon icon_feature-like js-catalog-like"></span>
									</div>
									<div class="catalog__feature">
										<span class="icon icon_feature-compare"></span>
									</div>
								</div>
								<div class="label">
									<div class="label__item">
										<img class="label__image" src="images/label-green.png" alt="">
										<div class="label__text">Новинка</div>
									</div>
								</div>
								<div class="catalog__wrap">

									<div class="stock">В наличии</div>
									<div class="catalog__subject">Холодильник</div>
									<a href="#" class="catalog__name">Liebherr SBSes 7165 PremiumPlus Vinidor BioFresh
										NoFrost</a>
									<div class="catalog__footer">
										<div class="catalog__price">2 453 000 руб.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog__col">
							<div class="recent__item">
								<span class="icon icon_likes"></span>
								<span class="icon icon_compare-card"></span>
								<div class="recent__image">
									<img class="lazyload" data-src="images/recent-4.png" alt="">
								</div>
								<div class="recent__desc">
									<div class="recent__stock">В наличии</div>
									<div class="recent__subject">Стиральная машина</div>
									<a href="#" class="recent__name">Kuppersbusch WA 1940.0 W </a>
									<div class="recent__price">199 755 руб.</div>
									<a href="#" class="recent__application">Купить</a>
								</div>
							</div>
						</div>
						<div class="catalog__col">
							<div class="recent__item">
								<span class="icon icon_likes"></span>
								<span class="icon icon_compare-card"></span>
								<div class="recent__image">
									<img class="lazyload" data-src="images/recent-1.png" alt="">
								</div>
								<div class="recent__desc">
									<div class="recent__order">Под заказ</div>
									<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
									<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
									<div class="recent__price">150 000 руб.</div>
									<a href="#" class="recent__application">Оставить заявку</a>
								</div>
							</div>
						</div>
						<div class="catalog__col">
							<div class="recent__item">
								<span class="icon icon_likes"></span>
								<span class="icon icon_compare-card"></span>
								<div class="recent__image">
									<img class="lazyload" data-src="images/recent-3.png" alt="">
								</div>
								<div class="recent__desc">
									<div class="recent__order">Под заказ</div>
									<div class="recent__subject">Беспроводная акустическая система</div>
									<a href="#" class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
									<div class="recent__price">150 000 руб.</div>
									<a href="#" class="recent__application">Оставить заявку</a>
								</div>
							</div>
						</div>
						<div class="catalog__col">
							<div class="recent__item">
								<span class="icon icon_likes"></span>
								<span class="icon icon_compare-card"></span>
								<div class="recent__image">
									<img class="lazyload" data-src="images/recent-2.png" alt="">
								</div>
								<div class="recent__desc">
									<div class="recent__stock">В наличии</div>
									<div class="recent__subject">Духовой шкаф</div>
									<a href="#" class="recent__name">Asko OP8676S</a>
									<div class="recent__price">145 900 руб.</div>
									<a href="#" class="recent__application">Купить</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<h2 id="blenders" class="accordion__button js-accordion__button active">
				<span>1</span>&nbsp;<span>Блендер</span>
			</h2>
			<div class="accordion__panel active">
				<div class="recent">
					<div class="recent__row">
						<div class="recent__col">
							<div class="recent__item">
								<span class="icon icon_likes"></span>
								<span class="icon icon_compare-card"></span>
								<div class="recent__image">
									<img class="lazyload" data-src="images/recent-1.png" alt="">
								</div>
								<div class="recent__desc">
									<div class="recent__order">Под заказ</div>
									<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
									<a href="#" class="recent__name">KitchenAid KOQCX 45600</a>
									<div class="recent__price">150 000 руб.</div>
									<a href="#" class="recent__application">Оставить заявку</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<h2 id="news" class="accordion__button js-accordion__button active"><span>4</span>&nbsp;<span>Новости</span>
			</h2>
			<div class="accordion__panel active">
				<div class="articles">
					<div class="articles__inner">
						<div class="articles__row">
							<div class="articles__col">
								<div class="articles__item">
									<a href="#" class="articles__link">
										<div class="articles__image">
											<img src="images/articles-askopower.jpg" alt="">
										</div>
										<div class="articles__desc">
											<div class="articles__top">
												<div class="articles__date">14 августа 2017</div>
												<div class="articles__subject">Акция</div>
											</div>
											<div class="articles__heading">Новинки 2017: варочные поверхности Asko</div>
											<div class="articles__text">Комбинированные варочные панели Asko — сочетание
												стиля и
												функциональности.
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="articles__col">
								<div class="articles__item">
									<a href="#" class="articles__link">
										<div class="articles__image">
											<img src="images/articles-Laundry.jpg" alt="">
										</div>
										<div class="articles__desc">
											<div class="articles__top">
												<div class="articles__date">10 августа 2017</div>
												<div class="articles__subject">Статья</div>
											</div>
											<div class="articles__heading">Новая концепция <br>ASKO Pro Home</div>
											<div class="articles__text">Осенью 2017 года бренд представит на российском
												рынке
												новую
												линейку моделей — ASKO Pro Home Laundry.
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="articles__col">
								<div class="articles__item">
									<a href="#" class="articles__link">
										<div class="articles__image">
											<img src="images/articles-ovens.jpg" alt="">
										</div>
										<div class="articles__desc">
											<div class="articles__top">
												<div class="articles__date">11 июля 2017</div>
												<div class="articles__subject">Акция</div>
											</div>
											<div class="articles__heading">Духовые шкафы <br>и компактные приборы Craft
											</div>
											<div class="articles__text">Asko Craft — это стиль, подходящий к современным
												интерьерам,
												надежность профессиональных моделей и функциональность.
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="articles__col">
								<div class="articles__item">
									<a href="#" class="articles__link">
										<div class="articles__image">
											<img src="images/articles-ovens.jpg" alt="">
										</div>
										<div class="articles__desc">
											<div class="articles__top">
												<div class="articles__date">11 июля 2017</div>
												<div class="articles__subject">Акция</div>
											</div>
											<div class="articles__heading">Духовые шкафы <br>и компактные приборы Craft
											</div>
											<div class="articles__text">Asko Craft — это стиль, подходящий к современным
												интерьерам,
												надежность профессиональных моделей и функциональность.
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>