<div class="collection">
	<div class="collection__inner">
		<button class="collection__button js-collection__button">
			<img src="images/collection-button-image.png" alt="">
			<div class="collection__button-block">
				<span class="collection__subject">Коллекция</span>
				<span class="collection__banner-title">Pro Home Laundry</span>
			</div>
		</button>
	</div>
	<div class="collection__hidden js-collection__hidden">
		<div class="container">
			<div class="collection__top">
				<div class="collection__title">Коллекции техники ASKO Asko</div>
				<a href="#" class="collection__return js-collection__return">
					<span class="icon icon_collection-return"></span>Вернуться ко
					всем товарам бренда</a>
			</div>
			<div class="swiper-container swiper_collection js-swiper-collection">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="collection__items">
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-1.png" alt="">
									</div>
									<div class="collection__name">ASKO Elements</div>
								</a>
							</div>
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-2.png" alt="">
									</div>
									<div class="collection__name">ASKO professional</div>
								</a>
							</div>

						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection__items">
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-3.png" alt="">
									</div>
									<div class="collection__name">ASKO Craft</div>
								</a>
							</div>
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-4.png" alt="">
									</div>
									<div class="collection__name">ASKO LEFORM</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection__items">
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-5.png" alt="">
									</div>
									<div class="collection__name">ASKO Pro Home Laundry</div>
								</a>
							</div>
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-6.png" alt="">
									</div>
									<div class="collection__name">Вся техника Asko</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection__items">
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-1.png" alt="">
									</div>
									<div class="collection__name">ASKO Elements</div>
								</a>
							</div>
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-2.png" alt="">
									</div>
									<div class="collection__name">ASKO professional</div>
								</a>
							</div>

						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection__items">
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-3.png" alt="">
									</div>
									<div class="collection__name">ASKO Craft</div>
								</a>
							</div>
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-4.png" alt="">
									</div>
									<div class="collection__name">ASKO LEFORM</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection__items">
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-5.png" alt="">
									</div>
									<div class="collection__name">ASKO Pro Home Laundry</div>
								</a>
							</div>
							<div class="collection__item">
								<a href="#">
									<div class="collection__image">
										<img class="lazyload" data-src="images/collection-image-6.png" alt="">
									</div>
									<div class="collection__name">Вся техника Asko</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</div>
</div>