.collection {

	&__inner {
		position: relative;
		width: 98%;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}

	&__button {
		position: absolute;
		top: -120px;
		right: 0;
		display: flex;
		align-items: center;
		width: 315px;
		margin-top: 20px;
		border: none;
		padding: 0;
		background: #fff;
		cursor: pointer;
		z-index: 3;


		&-block {
			padding-left: 20px;
			text-align: left;
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			right: 15px;
			top: 28px;
			border: 5px solid transparent;
			border-top-color: $primaryColor;
		}

		&-title {
			color: #000;
			font-size: 15px;
			font-weight: 700;
		}

		&:focus {
			outline: none;
		}

		&.active {
			z-index: 16;

			&:after {
				top: 24px;
				border-top-color: transparent;
				border-bottom-color: $primaryColor;
			}
		}
	}

	&__subject {
		display: block;
		color: #c6c6c6;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
	}

	&__hidden {
		position: absolute;
		width: 100%;
		margin-top: -39px;
		background: #fff;
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 20px;
		padding-right: 20px;
		z-index: -1;
		opacity: 0;
		pointer-events: none;

		&.active {
			z-index: 21;
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__return {
		color: #000;
		font-size: 15px;
		font-weight: 300;

		.icon {
			margin-right: 10px;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 15px;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			bottom: 0;
			left: 0;
			height: 3px;
			background-color: #ff3824;
			transition: width 0.3s;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}

	&__image {

		img {
			width: 100%;
		}
	}

	&__name {
		position: absolute;
		bottom: 20px;
		left: 10px;
		color: #fff;
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
	}

	@media (--tablet) {
		&__item {
			margin-bottom: 20px;
		}
	}

	@media (--phone) {
		&__top {
			flex-direction: column;
		}

		&__items {
		}

		&__items{
			display: flex;
			-webkit-overflow-scrolling: touch;
			overflow-y: hidden;
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__item {
			width: 48%;
			min-width: 300px;
			display: inline-block;
			vertical-align: top;
		}

		&__item+&__item{
			margin-left: 10px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__hidden{
			padding: 30px 5px;
			padding-bottom: 0;
		}
	}

}