<div class="callback">
	<div class="popup__wrapper">
		<div class="popup__title">Обратный звонок</div>
		<div class="popup__text popup__text_dim">Мы тоже не любим спам! Ваш номер будет использован только по
			назначению
		</div>
		<form action="" class="callback__form js-form">
			<div class="form-inputs__block">
				<label for="callback-name" class="form-inputs__label form-inputs__label_required">Ваше имя
				</label>
				<input type="text" class="form-inputs__field js-required basket__field" id="callback-name"
				       placeholder="Введите имя" required="">
			</div>
			<div class="form-inputs__block">
				<label for="callback-phone" class="form-inputs__label form-inputs__label_required">Контактный телефон
				</label>
				<div class="form-inputs__code">
					<span>+7</span>
					<input type="tel"
					       class="form-inputs__field form-inputs__field_phone basket__field  js-required js-required-phone js-phone"
					       id="callback-phone" placeholder="Введите телефон" title="Введите корректный номер" data-empty="Заполните телефон"
					       required="">
				</div>
			</div>
			<div class="popup__admire">
				<div>Заказывая обратный звонок, я принимаю условия</div>
				<div><a href="#">&nbsp;пользовательского соглашения&nbsp;</a></div>
				<div>о предоставлении персональных данных.</div>
			</div>
			<button type="submit" class="js-form__submit popup__button" disabled>Заказать звонок</button>
		</form>
	</div>
</div>