<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>
<script src="js/lazyloading.js"></script>
{% if compare %}
<script src="js/compare.js"></script>
{% endif %}

{% if service %}
<script src="js/jquery.vmap.js"></script>
<script src="js/jquery.vmap.russia.js"></script>
<script src="js/jqvmap.js"></script>
{% endif %}

{% if card or cardMiele %}
<script src="js/video.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/map.js"></script>
{% endif %}

<script type="text/javascript" src="js/script.min.js"></script>
<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
<script>
	var yaBrowserUpdater = new ya.browserUpdater.init({
		"lang": "ru",
		"browsers": {
			"yabrowser": "15.12",
			"chrome": "54",
			"ie": "11",
			"opera": "41",
			"safari": "8",
			"fx": "49",
			"iron": "35",
			"flock": "Infinity",
			"palemoon": "25",
			"camino": "Infinity",
			"maxthon": "4.5",
			"seamonkey": "2.3"
		},
		"theme": "yellow"
	});
</script>