.card {
	margin-bottom: 15px;

	&_premium {
		margin-bottom: 0;

		.card__inner {
			background-color: #2d2d2e;
		}
		.card__review,
		.card__all,
		.card__name,
		.card__promo,
		.card__old-price,
		.card__support,
		.card__color,
		.card__all-tablet,
		.card__update,
		.info-labels__item{
			color: #ffffff;
		}
		.card__check {
			label {
				&::before {
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
		}
		.card__wrap,
		.card__footer {
			margin-bottom: 0;
		}

		.card__promo {
			margin-bottom: 99px;
		}

		.icon_likes {
			background-image: url(https://icongr.am/fontawesome/heart-o.svg?size=20&color=ffffff);

			&:hover {
				background-image: url(https://icongr.am/fontawesome/heart.svg?size=20&color=dd0016);
				opacity: 1;
			}
		}

	}

	&_miele{

		.card{

			&__wrap,
			&__footer{
				margin-bottom: 5px;
			}
		}
	}

	&__inner {
		position: relative;
		border-top: 3px solid #58b543;
		padding: 25px 30px;
		background: #fff;
	}

	&__top {
		width: 95%;
		position: absolute;
		top: 100px;
		z-index: 5;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-direction: row-reverse;
		margin-bottom: 17px;

		.label {
			position: static;
			margin-bottom: 2px;
		}
	}

	&__review {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		color: #2f2f2f;
		font-size: 13px;
		font-weight: 400;
	}

	&__all,
	&__all-tablet {
		color: #2f2f2f;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__all {
		display: none;
		margin-left: 30px;
	}

	&__all-tablet {
		order: -1;
		margin-bottom: 15px;

		span {
			display: inline-block;
			position: relative;
			@include border;
		}

		&:hover {

			span:after {
				width: 0;
				transition: width 0.3s;
			}
		}
	}

	&__articul {
		position: absolute;
		top: -137px;
		right: 0;
		flex-grow: 1;
		text-align: right;
		color: #5a5a5a;
		font-size: 12px;
		font-weight: 400;

		&-desktop {
			display: none;
		}

	}

	&__wrapper {
		@include clearfix;
	}


	&__name {
		margin-bottom: 80px;
		color: #000;
		font-size: 30px;
		font-weight: 300;
		line-height: 40px;
		text-transform: uppercase;
	}

	&__promo {
		margin-bottom: 50px;
		color: #000;
		font-size: 17px;
		font-weight: 300;
	}

	&__update {
		margin-bottom: 7px;
		opacity: 0.5;
		color: #202020;
		font-size: 13px;
		font-weight: 400;
	}

	&__old-price {
		margin-bottom: 10px;
		color: #202020;
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;

		span {
			position: relative;
			&::before {
				border-bottom: 1px solid currentColor;
				position: absolute;
				content: "";
				width: 100%;
				height: 50%;
				transform: rotate(-7deg);
			}
		}
	}


	&__block {
		vertical-align: middle;
		display: block;
		margin-bottom: 10px;
	}

	&__check {
		display: inline-block;
		vertical-align: middle;

		label {
			display: flex;
			align-items: center;
			position: relative;
			padding-left: 20px;
			margin-bottom: 0;
			color: #f2221c;
			font-size: 18px;
			line-height: 20px;

			&::before {
				content: "";
				position: absolute;
				display: block;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
				background-color: #fff;
				border: 1px solid #dcdcdc;
			}
		}

		input[type="checkbox"] {
			display: none;

			&:checked ~ label:after {
				content: "";
				display: block;
				position: absolute;
				left: 5px;
				top: 3px;
				width: 7px;
				height: 12px;
				border-bottom: 2px solid $primaryColor;
				border-right: 2px solid $primaryColor;
				transform: rotate(45deg);
			}
		}

		&_plus{
			margin-top: -2px;
		}
	}

	&__support {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		color: #959595;
		font-size: 12px;
		line-height: 36px;
		@include border;
		cursor: pointer;
		&:after {
			bottom: 9px;
		}

		&:hover {

		}
	}

	&__footer {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.icon_likes {
			margin-left: 25px;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-top: 15px;
		margin-bottom: 20px;
		flex-wrap: wrap;
	}

	&__color {
		display: inline-block;
		color: #1f1f1f;
		font-size: 15px;
		font-weight: 700;
		cursor: pointer;

		&.active {

			.card__color-border:after {
				top: 10px;
				transform: rotate(-45deg);
			}
		}

		&:hover {

			.card__color-border {

				span {
					border-bottom-color: transparent;
				}

			}
		}

		&-border {
			position: relative;
			display: inline-block;
			padding-right: 20px;

			span {
				border-bottom: 1px dashed #c1c1c1;
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				right: 0;
				top: 4px;
				width: 10px;
				height: 10px;
				border: 1px solid transparent;
				border-right-color: #dd0016;
				border-top-color: #dd0016;
				transform: rotate(135deg);
				transition: transform 0.3s;
			}
		}

		&-tablet {
			display: none;
		}

		&-desktop {
			display: none;
		}
	}

	&__items {
		display: none;
		animation: fadeEffect 0.2s;

		@keyframes fadeEffect {

			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		&.active {
			display: flex;
			-webkit-overflow-scrolling: touch;
			overflow-y: hidden;
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
			@-moz-document url-prefix(){
				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					left: 0;
					bottom: 22px;
					height: 20px;
					background: #fff;
				}
			}
		}
	}

	&__item {
		text-align: center;

		&-img {
			margin-bottom: 20px;
		}

		&-title {
			max-width: 90px;
			color: #000000;
		}

	}

	&__item + &__item {
		margin-left: 40px;
	}

	&__link {
		display: inline-block;
		padding: 20px;
		border: 1px solid transparent;

		&:hover {
			border-color: #202020;

			.card__item-title{
				color: $primaryColor;
			}
		}
	}

	&__miele{
		margin-top: 20px;
		margin-bottom: 20px;

		img{
			max-width: 100%;
		}
	}

	&__fixed {
		display: none;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1170px;
		padding-left: 30px;
		padding-right: 30px;
		z-index: 11;
		opacity: 0;
		height: 0;
		background-color: #202020;
		background-image: linear-gradient(to top, rgba(96, 96, 100, 0.41) 0%, rgba(80, 80, 84, 0.41) 100%);
		animation: fadeEffect 0.2s;
		@keyframes fadeEffect {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		&-left,
		&-right {
			display: flex;
			align-items: center;
		}

		&-left {
			flex-wrap: wrap;
		}

		&-right {
			padding-top: 8px;
			padding-bottom: 8px;
		}

		.btn {
			margin-right: 30px;
		}

		.label {
			margin-right: 20px;
		}

		&.fixed{
			position: fixed;
			display: flex;
			top: 0;
			opacity: 0.96;
			height: auto;
		}
	}

	&__small-name {
		width: 100%;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 36px;
	}

	&__small-price {
		margin-right: 20px;
		color: #f2221c;
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
	}

	@media (min-width: 1170px) {
		&_premium {

			.card__items,
			.card__bottom {
				display: none;
			}
		}

		&__left {
			width: 35%;
		}

		&__right {
			position: absolute;
			width: 55%;
			top: 40px;
			right: 30px;
		}

		&__all {
			display: block;
		}

		&__all-tablet {
			display: none;
		}

		&__articul {
			position: absolute;
			right: -30px;
			top: -65px;

			&-desktop {
				display: inline;
			}

			&-mobile {
				display: none;
			}
		}

		&__block {
			display: block;
		}

		&__footer {
			margin-top: 0;
			margin-bottom: 35px;
		}

		&__wrap {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 0;
		}

		&__color {

			&-mobile {
				display: none;
			}

			&-desktop {
				display: block;
			}

			&-tablet {
				display: none;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1170px) {

		&__articul {
			position: static;
		}

		&__color {

			&-mobile {
				display: none;
			}

			&-tablet {
				display: block;
			}
		}

		&__footer {
			margin-bottom: 0;
		}

		&__wrap {
			flex-direction: row;
			align-items: center;
		}

		&__top{

			.label{
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: 768px) {

		&__top {
			width: 100%;
			position: relative;
			top: 0;
			justify-content: flex-start;
			flex-direction: row;

			&-block + &-block {
				margin-left: 20px;
			}
		}

		&__name {
			margin-bottom: 9px;
		}

		&__card {

			&-desktop {
				display: block;
			}
		}

		&__block {
			display: inline-block;
			vertical-align: middle;
		}

		&__bottom {
			flex-direction: row;
		}

		&__all-tablet {
			order: 1;
			margin-left: 30px;
			margin-bottom: 0;
		}


	}

	@media (max-width: 1170px) {

		margin-left: -1%;
		margin-right: -1%;

		&_premium {

			.gallery__list {
				display: none;
			}
		}
	}

	@media (--tablet) {

		&__fixed {
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
		}

		&__small-name{
			font-size: 16px;
			line-height: 1.4;
		}
	}

	@media (--phone) {

		&_premium {

			.card__footer,
			.card__wrap {
				margin-bottom: 20px;
			}
		}

		.container {
			width: 100%;
		}

		&__inner {
			padding: 10px;
			border-top: none;
		}

		&__promo {
			display: none;
		}

		&__name {
			font-size: 18px;
			line-height: 24px;
			text-align: center;
		}

		&__fixed{
			flex-direction: column;
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
		}

		&__small-name{
			font-size: 16px;
			line-height: 1.4;
		}
	}
}
