<div class="card js-card {% if premium %} card_premium {% endif %} {% if cardMiele %} card_miele {% endif %}">
	<div itemscope="" itemtype="https://schema.org/Product"
	     itemref="n-gallery n-product-default-offer n-product-top-offers-list n-product-map">
		<div itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
			<meta content="115" itemprop="offerCount">
			<meta content="59500" itemprop="highPrice">
			<meta content="37600" itemprop="lowPrice">
			<meta content="RUR" itemprop="priceCurrency">
		</div>
		<div itemscope="" itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating">
			<meta itemprop="ratingValue" content="3.5">
			<meta itemprop="bestRating" content="5">
			<meta itemprop="worstRating" content="1">
			<meta itemprop="ratingCount" content="465">
			<meta itemprop="reviewCount" content="143">
		</div>
		<meta itemprop="description"
		      content="Beoplay A6 в стильном дизайне позволяет полностью погрузиться в любимую мелодию.">
		<meta itemprop="category" content="Беспроводная акустическая система">
		<meta itemprop="brand" content="Bang">
		<meta itemprop="name" content="Bang & Olufsen Beoplay A6 Oxidized brass">
		<meta itemprop="url" content="https://market.yandex.ru/product--smartfon-apple-iphone-7-32gb/14206636">
	</div>
	{% if premium %}
	<div class="card__fixed js-card-fixed">
		<div class="card__fixed-left">
			<div class="card__small-name">Bang & Olufsen Beoplay A6 Oxidized brass</div>
			<div class="card__small-price">2 453 000 руб.</div>
			<div class="label label_static">
				<div class="label__item">
					<img class="label__image" src="images/label-red.png" alt="">
					<div class="label__text">Акция</div>
				</div>
			</div>
			<div class="card__check">
				<input type="checkbox" id="card-check-fixed">
				<label for="card-check-fixed">+ 500 руб</label>
			</div>
			<div class="card__support">Поддержим детей вместе!</div>
		</div>
		<div class="card__fixed-right">
			<a href="#" class=" btn btn_card js-basket-add">Добавить в корзину</a>
			<span class="icon icon_likes"></span>
			<span class="icon icon_compare-card"></span>
		</div>

	</div>
	{% endif %}
	<div class="card__inner">
		<div class="card__top">
			{% if card %}
			<div class="card__top-block">
				<div class="label">
					<div class="label__item">
						<img class="label__image" src="images/label-green.png" alt="">
						<div class="label__text">Новинка</div>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="card__top-block">
				<div class="ratings ratings_top-block ratings_output">
					<div class="ratings__section">
						<div class="ratings__start"></div>
						<div class="ratings__click" style="width: 80%;"></div>
					</div>
				</div>
				<a href="#" class="card__review">15 отзывов</a>
			</div>

			{% if card or premium %}
			<a href="#" class="card__all">Все товары Bang&Olufsen</a>
			{% endif %}

			{% if cardMiele %}
			<a href="#" class="card__all">Все товары Miele</a>
			{% endif %}

			<div class="card__articul">
				<span class="card__articul-desktop">Артикул:</span>
				<span class="card__articul-mobile">Арт.:</span>
				146-69801
			</div>
		</div>

		<div class="card__wrapper">
			<div class="card__left">
				{% if card or premium %}
				<div class="subject">Беспроводная акустическая система</div>
				<div class="card__name">Bang & Olufsen Beoplay A6 Oxidized brass</div>
				<div class="card__promo">Beoplay A6 в стильном дизайне позволяет полностью погрузиться в любимую
					мелодию.
				</div>
				{% endif %}

				{% if cardMiele %}
				<div class="subject">Кофемашина</div>
				<div class="card__name">Miele CVA6401 <br> EDST/CLST сталь</div>
				<div class="card__promo">Ваш любимый кофе по утрам, <br>что может быть лучше!?</div>
				{% endif %}
				<div class="card__right">
					{% if cardMiele %}
					<div class="card__miele">
						<img src="images/miele-pic.jpg" alt="">
					</div>

					{% endif %}
					{% if card %}
					<div class="gallery gallery_card js-gallery">
						<div class="gallery__bigImage" id="js-bigImage">
							<a href="images/card-image.png" data-fancybox>
								<img src="images/card-image.png" alt="image1">
							</a>
						</div>

						<ul class="gallery__list" id="js-list">
							<li class="gallery__item">
								<a class="gallery__link" href="images/card-gallery-1.jpg">
									<img
										class="gallery__smallImage" src="images/card-gallery-1.jpg" alt="image1">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="images/card-gallery-2.jpg">
									<img class="gallery__smallImage"
									     src="images/card-gallery-2.jpg"
									     alt="image2">
								</a>
							</li>
							<li class="gallery__item active">
								<a class="gallery__link" href="images/card-image.png">
									<img class="gallery__smallImage"
									     src="images/card-image.png"
									     alt="image3">
								</a>
							</li>
							<li class="gallery__item ">
								<a class="gallery__link" href="images/card-gallery-4.jpg">
									<img class="gallery__smallImage"
									     src="images/card-gallery-4.jpg"
									     alt="image4">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="images/card-gallery-5.jpg">
									<img class="gallery__smallImage"
									     src="images/card-gallery-5.jpg"
									     alt="image5">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="images/card-gallery-5.jpg">
									<img class="gallery__smallImage"
									     src="images/card-gallery-5.jpg"
									     alt="image5">
								</a>
							</li>
						</ul>
					</div>
					{% endif %}

					{% if premium %}
					<div class="gallery ">
						<div class="gallery__bigImage">
							<a href="images/card-image.png" data-fancybox>
								<img src="images/card-image.png" alt="image1">
							</a>
						</div>

						<ul class="gallery__list gallery__list_premium">
							<li class="gallery__item">
								<a class="gallery__link" href="#">
									<img
										class="gallery__smallImage" src="images/card-premium-item-1.png" alt="image1">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="#">
									<img class="gallery__smallImage" src="images/card-premium-item-2.png" alt="image2">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="#">
									<img class="gallery__smallImage" src="images/card-premium-item-3.png" alt="image3">
								</a>
							</li>
							<li class="gallery__item ">
								<a class="gallery__link" href="#">
									<img class="gallery__smallImage" src="images/card-premium-item-4.png" alt="image4">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="#">
									<img class="gallery__smallImage" src="images/card-premium-item-5.png" alt="image5">
								</a>
							</li>
							<li class="gallery__item">
								<a class="gallery__link" href="#">
									<img class="gallery__smallImage" src="images/card-premium-item-5.png" alt="image5">
								</a>
							</li>
						</ul>
					</div>
					{% endif %}
				</div>
				<div class="card__update">Обновление цены от 08.11.2017</div>
				<div class="card__old-price">
					<span>2 553 000 руб.</span>

					{% if card or premium %}
					<div class="info-labels info-labels_card">
						<div class="info-labels__item" data-tooltip data-offset="30" data-pos="right" data-event="click"
						     data-modclass="tooltip_new-price" data-text="<div class='tooltip__title'>Подарки от ASKO!</div>
				<div class='tooltip__desc'>При покупке комплекта стиральной и сушильной машины, вы получаете набор моющего средства ASKO в подарок.</div>
				<a href='#' class='tooltip__link'>Подробнее</a>">Акция
						</div>
					</div>
					{% endif %}

				</div>
				<div class="price">2 453 000 руб.</div>
				<div class="card__block">
					<div class="card__check">
						<input type="checkbox" id="card-check">
						<label for="card-check"><span
							class="card__check_plus">+</span>&nbsp;<span>500 руб</span></label>
					</div>
					<div class="card__support" data-tooltip data-offset="30" data-pos="right" data-event="click"
					     data-modclass="tooltip_support" data-text="<img class='tooltip__image' src='images/fortune.png' alt=''>
				<div class='tooltip__title'>ФК Фортуна и мы благодарим Вас за проявленный интерес!</div>
				<div class='tooltip__desc'>
					<p>Уважаемый покупатель, поставив галочку, стоимость товара увеличится на 500 рублей.</p>
					<p>К данной сумме мы добавим также 500 рублей от магазина Hausdorf. Денежные средства будут направлены на развитие детского футбольного клуба.</p>
					<p>Также вы можете перечислить любую комфортную сумму на <a href='#'>странице помощи</a></p>
				</div>">Поддержим детей вместе!
					</div>
				</div>
			</div>
			<div class="card__wrap">
				<div class="card__footer">
					{% if card or premium %}
					<a href="#" class=" btn btn_card js-basket-add">Добавить в корзину</a>
					{% endif %}

					{% if cardMiele%}
					<a href="#" class=" btn btn_card js-basket-add">Оставить заявку</a>
					{% endif %}

					<span class="icon icon_likes"></span>
					<span class="icon icon_compare-card"></span>
				</div>
				{% if card or premium %}
				<div class="card__bottom">
					<div class="card__color js-card-color">
						<div class="card__color-border">
							<span class="card__color-desktop">Цвета и комплектации Bang & Olufsen Beoplay A6</span>
							<span class="card__color-tablet">Другие цвета</span>
							<span class="card__color-mobile">Цвета и комплектации</span>
						</div>
					</div>
					<a href="#" class="card__all-tablet"><span>Все товары Bang&Olufsen</span></a>
				</div>
				{% endif %}
			</div>
		</div>

		{% if card or premium %}
		<div class="card__items js-card-items">
			<div class="card__item">
				<a class="card__link" href="#">
					<img class="card__item-img" src="images/card-small-1.jpg" alt="">
					<div class="card__item-title">Beoplay A6 Allumetalic</div>
				</a>
			</div>
			<div class="card__item">
				<a class="card__link" href="#">
					<img class="card__item-img" src="images/card-small-2.jpg" alt="">
					<div class="card__item-title">Beoplay A6 Light Grey</div>
				</a>
			</div>
			<div class="card__item">
				<a class="card__link" href="#">
					<img class="card__item-img" src="images/card-small-1.jpg" alt="">
					<div class="card__item-title">Beoplay A6 Black Edition</div>
				</a>
			</div>
			<div class="card__item">
				<a class="card__link" href="#">
					<img class="card__item-img" src="images/card-small-2.jpg" alt="">
					<div class="card__item-title">Beoplay A6 Light Grey</div>
				</a>
			</div>
		</div>
		{% endif %}
	</div>
</div>