.company{
	background: #fff;

	&_partners,
	&_work{
		padding-top: 30px;
		padding-bottom: 40px;

		.company__promo{

			@media (--phone) {
				font-size: 18px;
			}
		}
	}

	&_work{
		padding-bottom: 10px;

		.company{

			&__row{
				justify-content: center;
				margin-bottom: 0;
			}

			&__col{
				width: 20%;
			}
		}

		@media (--phone) {
			padding-bottom: 40px;

			.company{

				&__col {
					width: 50%;
				}
			}
		}

	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 30px;
	}

	&__col {
		width: calc(100% / 6);
	}

	&__item {
		text-align: center;
		margin-bottom: 20px;
	}
	
	&__promo {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
		color: #1f1f1f;
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		text-align: center;
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&__promo {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	@media (--tablet) {

		&__promo {
			font-size: 18px;
			line-height: 36px;
		}

		&__col {
			width: 25%;
		}
	}

	@media (--phone) {
		&__promo {
			font-size: 15px;
			line-height: 20px;
		}

		&__col {
			width: 50%;
		}
	}
}