<div class="company {% if partners %} company_partners {% endif %}">
	{% if service %}
	<div class="company__promo">
		Обратившись в салон Hausdorf Вы по достоинству оцените уровень исполнения, практически
		неограниченные возможности и продуманный дизайн бытовой техники от лучших мировых брендов.
	</div>
	{% endif %}

	{% if partners %}
	<div class="company__promo">
		Brand
	</div>
	{% endif %}
	<div class="company__row">
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/asko.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Küppersbusch.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/bugatti.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/restart.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Kitchenaid.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Gaggenau-color.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/B&O.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/maytag-color.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Fhiaba.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Smeg-color.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/wmf.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Ilve.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Beltratto.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Miele-red.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/Fulgor-Milano.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/subzero-color.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/wolf.png" alt="">
			</div>
		</div>
		<div class="company__col">
			<div class="company__item">
				<img class="lazyload" data-src="images/brands/V-Zug.png" alt="">
			</div>
		</div>
	</div>
</div>