{% set search = ' search' %}

<div class="search js-search search_red">
	<div class="icon icon_close search__close js-close-search"></div>
	<div class="search__block">
		<div class="search__image">
			<img src="images/logo-small.png" alt="">
		</div>
		<div class="search__wrapper">
			<form class="search__form">
				<input type="text" class="search__field js-search-field">
				<span class="search__coincidence">Всего 57 совпадений</span>
				<button class="search__submit"></button>
			</form>
			<!--start search-result-->
			{% include 'search-result/search-result.html' %}
			<!--end search-result-->
		</div>
		<!--start results-->
		{% include 'results/results.html' %}
		<!--end results-->
	</div>
	<!--start search-menu-->
	{% include 'search-menu/search-menu.html' %}
	<!--end search-menu-->
</div>
