.slice{
	padding-bottom: 80px;

	&_designers{
		background-color: #fff;
		margin-bottom: 15px;
	}

	&__inner{
		background-color: #2d2d2e;
		padding-top: 80px;
	}

	&__heading{
		color: #fff;
		font-size: 36px;
		font-weight: 300;
		text-align: center;
	}

	&__items{
		display: flex;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		transform: translateY(40px);
	}

	&__item{
		position: relative;
		width: 33.33%;
		height: 400px;
		transition: width 0.3s;

		&.active{
			width: 60%;

			.slice__hover{
				display: flex;
			}

			.slice__title{
				background: #fff;
				left: 10%;
				color: #1f1f1f;
				top: 40%;
				width: 357px;
				padding-left: 20px;
				text-align: center;
			}
		}

		&.inactive{
			width: 20%;
		}
	}


	&__item + &__item{
		margin-left: 15px;
	}

	&__title{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) rotate(-90deg);
		width:357px;
		overflow: hidden;
		text-align: right;
		color: #fff;
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		z-index: 3;
	}

	&__hover{
		position: absolute;
		flex-direction: column;
		width: 72%;
		top: 40px;
		left: 20%;
		height: 80%;
		display: none;
		z-index: 3;
	}

	&__text{
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
	}

	&__link{
		display: block;
		margin-top: auto;
		width: 286px;
		height: 47px;
		line-height: 47px;
		background-color: #dd0016;
		background-image: linear-gradient(to top, rgba(255, 56, 36, 0.25) 0%, rgba(255, 56, 36, 0) 100%);
		color: #fff;
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;

		&:hover{
			color: #fff;
			background-color: #ff0019;
		}
	}

	&__image{
		overflow: hidden;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.25);
		}
	}

	@media (--tabletAndMobile) {
		margin-right: -1%;
		margin-left: -1%;
	}

	@media (--tablet) {

		padding-bottom: 60px;

		&__inner{
			padding-top: 45px;
		}

		&__heading {
			font-size: 23px;
		}

		&__items{
			transform: translateY(30px);
		}
	}

	@media (--phone) {

		&_designers{

			.slice{

				&__items{
					width: 100%;
				}
			}
		}

		padding-bottom: 30px;

		&__inner{
			padding-top: 30px;
		}

		&__heading {
			font-size: 15px;
			margin-bottom: 15px;
			padding-left: 30px;
			padding-right: 30px;
		}

		&__items{
			flex-direction: column;
			transform: translateY(0);
		}

		&__item{
			width: 100%;
			height: 320px;
			overflow: hidden;
		}

		&__item+&__item{
			margin-left: 0;
			margin-top: 20px;
		}

		&__title{
			transform:rotate(0);
			left: 0;
			width: auto;
			top: 40px;
			background: #fff;
			color: #1f1f1f;
			font-size: 18px;
			padding: 0 10px;
			padding-left: 15px;
		}

		&__hover{
			width: auto;
			display: block;
			left: 20px;
			top: auto;
			bottom: 20px;
			height: auto;
			padding-right: 20px;
		}

		&__text{
			font-size: 12px;
			font-weight: 300;
			line-height: 18px;
			margin-bottom: 40px;
		}

		&__image{

		}

		&__link{
			margin-left: auto;
			margin-right: auto;
		}

	}
}