<div class="slice {% if designers %} slice_designers {% endif %}   ">
	<div class="slice__inner">
		<div class="slice__heading">Бутик Hausdorf — комплексное решение для вашего дома</div>
		<div class="slice__items">
			<div class="slice__item">
				<div class="slice__title">Техника в бутике Hausdorf</div>
				<div class="slice__hover">
					<div class="slice__text">Витрина нашей бытовой техники включает бренды премиум- и
						бизнес-класса: Asko, Beltratto, Gaggenau, Kuppersbusch, Fulgor Milano, SUB-ZERO,
						Bertazzoni и другие.
					</div>
					<a href="#" class="slice__link">Перейти на сайт</a>
				</div>
				<div class="slice__image">
					<img src="images/slice-1.png" alt="">
				</div>
			</div>
			<div class="slice__item">
				<div class="slice__title">Кухни в бутике Hausdorf</div>
				<div class="slice__hover">
					<div class="slice__text">Витрина нашей бытовой техники включает бренды премиум- и
						бизнес-класса: Asko, Beltratto, Gaggenau, Kuppersbusch, Fulgor Milano, SUB-ZERO,
						Bertazzoni и другие.
					</div>
					<a href="#" class="slice__link">Перейти на сайт</a>
				</div>
				<div class="slice__image">
					<img src="images/slice-2.png" alt="">
				</div>
			</div>
			<div class="slice__item">
				<div class="slice__title">Мебель в бутике Hausdorf</div>
				<div class="slice__hover">
					<div class="slice__text">Витрина нашей бытовой техники включает бренды премиум- и
						бизнес-класса: Asko, Beltratto, Gaggenau, Kuppersbusch, Fulgor Milano, SUB-ZERO,
						Bertazzoni и другие.
					</div>
					<a href="#" class="slice__link">Перейти на сайт</a>
				</div>
				<div class="slice__image">
					<img src="images/slice-3.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>