{%set homeItems = ['Стиральные машины','Сушильные машины','Паровые шкафы для одежды','Гладильные системы','Телевизоры','Винные шкафы','Мойки','Смесители','Измельчители', 'Хьюмидоры', 'Дровяные печи','Аксессуары']%}

{%set kitchenItems = ['Духовые шкафы','Варочные панели','Холодильники','Посудомоечные машины','Микроволновые печи','Пароварки','Кофемашины','Вытяжки', 'Комбо-панели', 'Подогреватели', 'Фритюрницы', 'Грили', 'Вакуумные упаковщики']%}

{%set techniqueItems = ['Блендеры','Миксеры','Тостеры', 'Чайники', 'Соковыжималки', 'Весы', 'Кофемолки','Вафельницы', 'Кухонные комбайны', 'Мультиварки', 'Посуда']%}

{%set bangItems = ['Телевизоры','Акустические системы','Беспроводные акустические системы', 'Наушники', 'Аксессуары и принадлежности']%}

{%set professionsItems = ['Печи','Посудомоечные машины','Стаканомоечные машины', 'Холодильное оборудование', 'Аксессуары и принадлежности', 'Ледогенераторы']%}
{%set hausdorfItems = ['Кухни Allmilmo','Кухни Alno','Кухни GEBA','Кухни Hacker','Кухни Leicht', 'Кухни Nobilia','Кухни Poggen Pohl','Кухни Rational','Кухни SieMatic', 'Кухни Wellmann', 'Кухни Zeyko']%}

<div class="catalog-top js-catalog">
	<div class="catalog-top__head">
		<div class="catalog-top__block">
			<div class="catalog-top__title">Для дома</div>
			<ul class="catalog-top__list js-catalog-list">
				{% for item in homeItems %}
				<li class="catalog-top__item">
					<a class="catalog-top__link" href="#">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="catalog-top__more js-catalog__more">Показать еще</button>
		</div>
		<div class="catalog-top__block">
			<div class="catalog-top__title">Для кухни</div>
			<ul class="catalog-top__list js-catalog-list">
				{% for item in kitchenItems %}
				<li class="catalog-top__item">
					<a class="catalog-top__link" href="#">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="catalog-top__more js-catalog__more">Показать еще</button>
		</div>
		<div class="catalog-top__block">
			<div class="catalog-top__title">Мелкая техника</div>
			<ul class="catalog-top__list js-catalog-list">
				{% for item in techniqueItems %}
				<li class="catalog-top__item">
					<a class="catalog-top__link" href="#">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="catalog-top__more js-catalog__more">Показать еще</button>
		</div>
		<div class="catalog-top__block">
			<div class="catalog-top__title">Bang & Olufsen</div>
			<ul class="catalog-top__list catalog-top__list_first">
				{% for item in bangItems %}
				<li class="catalog-top__item">
					<a class="catalog-top__link" href="#">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
			<div class="catalog-top__title">Для профессионалов</div>
			<ul class="catalog-top__list">
				{% for item in professionsItems %}
				<li class="catalog-top__item">
					<a class="catalog-top__link" href="#">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="catalog-top__block catalog-top__block_kitchen">
			<a href="#" class="catalog-top__title">Кухни Hausdorf</a>
			<ul class="catalog-top__list js-catalog-list">
				{% for item in hausdorfItems %}
				<li class="catalog-top__item">
					<a class="catalog-top__link" href="#">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
			<button class="catalog-top__more js-catalog__more">Показать еще</button>

		</div>
	</div>
	<div class="catalog-top__bottom">
		<div class="catalog-top__search">
			<form class="catalog-top__search-form">
				<input class="catalog-top__field" type="text" placeholder="Что вы ищете?">
				<button class="catalog-top__submit" type="submit"></button>
			</form>
			{% include 'results/results.html' %}
		</div>
		<a href="#" class="catalog-top__image">
			<img src="images/catalog-top-banner.jpg" alt="">
			<div class="catalog-top__desc">Красивый баннер <br> с кухнями hausdorf</div>
		</a>
		<div class="catalog-top__mobile">
			<div class="select__wrapper select__wrapper_city">
				<div class="select js-select js-select-city-header select_city">
					<span class="select__placeholder"><span>Москва и МО</span></span>
					<ul class="select__list">
						<li class="select__item js-select__item active" data-text="Рублевское шоссе, д.52а" data-value="Moskow">Москва
							и МО
						</li>
						<li class="select__item js-select__item" data-text="Большая Покровская, д.62/5"
						    data-value="Nizhny Novgorod">Нижний Новгород
						</li>
						<li class="select__item js-select__item" data-text="Бесплатная доставка" data-value="Saint Petersburg">
							Санкт-Петербург
						</li>
					</ul>
					<input type="hidden" name="changeme"/>
				</div>
				<div class="select__address js-select__address">
					Рублевское шоссе, д.52а
				</div>
			</div>
			<div class="catalog-top__block">
				<div class="catalog-top__title">Сервисы Hausdorf</div>
				<ul class="catalog-top__list">
					<li class="catalog-top__item">
						<a class="catalog-top__link js-header-manager" href="#">Бесплатный выезд менеджера</a>
					</li>
					<li class="catalog-top__item">
						<a class="catalog-top__link" href="#">Подключение</a>
					</li>
					<li class="catalog-top__item">
						<a class="catalog-top__link" href="#">Доставка и оплата</a>
					</li>
					<li class="catalog-top__item">
						<a class="catalog-top__link" href="#">Обмен и возврат</a>
					</li>
					<li class="catalog-top__item">
						<a class="catalog-top__link" href="#">Сервисные центры</a>
					</li>
					<li class="catalog-top__item">
						<a class="catalog-top__link" href="#">О компании</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>