.designers {
	position: relative;
	background-image: url(../images/designers-bg-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 30px;
	color: #ffffff;

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		bottom: 0;
		z-index: 1;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.38), #2d2d2e);
		left: 0;
	}

	.title {
		color: #ffffff;
		line-height: 1.2;
	}

	&__inner {
		position: relative;
		z-index: 2;
	}

	&__small-title {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 300;
	}

	&__blocks {
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.16);
		margin-bottom: 60px;
	}

	&__text {
		max-width: 580px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	&__row {
		display: flex;
		padding-left: 35px;
		padding-right: 35px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__col {
		width: 25%;
		max-width: 200px;
	}

	&__item {
		padding-bottom: 25px;
	}

	.icon {
		margin-bottom: 20px;
	}

	&__name {
		margin-bottom: 15px;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
	}

	&__value {
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item + &-item {
			margin-top: 10px;
		}

		&-item {
			position: relative;
			padding-left: 20px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 2px;
				display: block;
				width: 6px;
				height: 11px;
				border-bottom: 2px solid $primaryColor;
				border-right: 2px solid $primaryColor;
				transform: rotate(45deg);
			}
		}
	}

	&_partners {
		background-image: url(../images/designers-bg-2.jpg);

		&.other {
			background-image: url(../images/designers-bg-3.jpg);
		}

		&:after {
			display: none;
		}

		.title {
			margin-bottom: 45px;
		}

		.designers {

			&__row {
				padding-left: 0;
				padding-right: 0;
			}

			&__col {
				max-width: 272px;
			}

			&__text {
				max-width: none;
				margin-bottom: 20px;

				&_partners {
					margin-bottom: 43px;
				}

			}
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;
		padding: 30px 0;

		&::after {
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.38), #2d2d2e);
		}

	}

	@media (--tablet) {

		&__small-title {
			font-size: 18px;
			margin-bottom: 10px;
		}

		&__blocks {
			margin-top: 48px;
			padding-bottom: 20px;
			margin-bottom: 48px;
		}

		&__block {

			&_image {
				width: 65%;
			}

			&_text {
				padding-right: 20px;
			}
		}

		&__image {

			img {
				max-width: 100%;
			}
		}

		&__col {
			width: 50%;
			max-width: initial;
		}

		&__item {
			max-width: 266px;

			.break {
				display: none;
			}
		}

		&__list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			&-item {
				width: 48%;
				margin-bottom: 10px;
			}

			&-item + &-item {
				margin-top: 0;
			}
		}

		&_partners {
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;

			.title {
				font-size: 23px;
				margin-bottom: 30px;
			}

			.break {
				display: none;
			}

			.designers {

				&__col {
					max-width: 322px;
				}

				&__item {
					max-width: initial;
				}

				&__text {

					&_partners {
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	@media (--phone) {
		padding-bottom: 20px;

		.title {
			text-align: center;
			margin-bottom: 30px;
		}

		.icon {
			height: 40px;
			background-size: contain;
		}

		&__small-title {
			margin-bottom: 10px;
			font-size: 15px;
		}

		&__blocks {
			padding-bottom: 20px;
			justify-content: center;
			margin-bottom: 30px;
		}

		&__block {
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;

			&_image {
				display: none;
			}
		}

		&__text {
			font-size: 12px;
		}

		&__row {
			padding-left: 10px;
			padding-right: 10px;
		}

		&__col {
			width: 100%;
			max-width: initial;
		}

		&__name {
			margin-bottom: 5px;
			font-size: 13px;
		}

		&__value {
			font-size: 12px;
		}

		&_partners {
			padding-top: 20px;
			padding-left: 10px;
			padding-right: 10px;

			&:after {
				display: block;
			}

			.break{
				display: none;
			}
		}
	}
}