{% if designers %}
<div class="designers">
	<div class="designers__inner">
		<div class="title">Сотрудничество с дизайнерами и архитекторами</div>

		<div class="designers__blocks">
			<div class="designers__block designers__block_image">
				<div class="designers__image">
					<img class="lazyload" data-src="images/designers-image.png" alt="">
				</div>
			</div>
			<div class="designers__block designers__block_text">
				<div class="designers__small-title">Работаем вместе</div>
				<div class="designers__text">
					<p>
						Бутик Hausdorf стремится удовлетворить потребности покупателей и заказчиков, помогая создавать
						непревзойденные и продуманные интерьеры кухни и дома. Современные тенденции диктуют направление
						«custome-made» — «Выполнено под клиента», поэтому особую ценность имеют уникальные, эксклюзивные
						вещи, сделанные на заказ.</p>
					<p>Салон Hausdorf приглашает к сотрудничеству дизайнеров, стремящихся к успеху и развитию своего
						творческого потенциала, готовых реализовывать инновационные решения в соответствии с высокими
						требованиями качества и функциональности.</p>
				</div>
			</div>
		</div>

		<div class="designers__row">
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_partners"></div>
					<div class="designers__name">Лучшие партнёрские условия</div>
					<div class="designers__value">Индивидуальные программы сотрудничества на выгодных условиях.</div>
				</div>
			</div>
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_defense"></div>
					<div class="designers__name">Защита <span class="break"></span>проекта</div>
					<div class="designers__value">Поддержка авторских прав дизайнера на любом этапе реализации проекта
					</div>
				</div>
			</div>
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_guarantee"></div>
					<div class="designers__name">Гарантия <span class="break"></span> качества товара</div>
					<div class="designers__value">Только проверенные и известные бренды с гарантией от производителя
					</div>
				</div>
			</div>
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_support"></div>
					<div class="designers__name">Постпродажная поддержка</div>
					<div class="designers__value">Персональный подход к каждому клиенту до и после свершения сделки
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if partners %}
<div class="designers designers_partners js-designers_partners">
	<div class="designers__inner">
		<div class="title">Индивидуальные условия для собственников недвижимости в ЖК и посёлках партнёров Hausdorf
		</div>
		<div class="tabs tabs_designers">
			<ul class="tabs__links">
				<li>
					<a href="#js-tabs__item-1" class="tabs__link  js-tabs__link  "><span>Собственникам</span></a>
				</li>
				<li>
					<a href="#js-tabs__item-2" class="tabs__link  js-tabs__link active"><span>Партнерам</span></a>
				</li>
			</ul>
			<div class="tabs__content">
				<div class="tabs__item  js-tabs__item " id="js-tabs__item-1">
					<div class="designers__text">
						Узнать специальные условия на приобретение техники можно посетив наш салон. <span class="break"></span> Для подтверждения наличия собственности в партнерских организациях необходимо предоставить любой документ:
					</div>
					<ul class="designers__list">
						<li class="designers__list-item">Договор купли-продажи</li>
						<li class="designers__list-item">Свидетельство о собственности</li>
						<li class="designers__list-item">Адрес прописки в паспорте</li>
						<li class="designers__list-item">Иной документ с подтверждением</li>
					</ul>
				</div>
				<div class="tabs__item  js-tabs__item active" id="js-tabs__item-2">
					<div class="designers__text designers__text_partners">
						Сотрудничество с бутиком бытовой техники Hausdorf — это выгодные условия для Ваших клиентов <span class="break"></span> и приятные бонусы для Партнеров. Заполните форму и наши менеджеры перезвонят вам!
					</div>
					<a href="#" class="btn btn_partners">Хочу стать партнером</a>
				</div>
			</div>
		</div>

		<div class="designers__row">
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_percents"></div>
					<div class="designers__name">Специальные условия</div>
					<div class="designers__value">Собственникам жилья предоставляется дополнительная скидка на широкий
						ассортимент техники от известных производителей
					</div>
				</div>
			</div>
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_map-designers"></div>
					<div class="designers__name">Бесплатная доставка</div>
					<div class="designers__value">Салон Hausdorf осуществляет бесплатную доставку заказанной техники
					</div>
				</div>
			</div>
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_settings"></div>
					<div class="designers__name">Бесплатная установка</div>
					<div class="designers__value">Наши специалисты оперативно и качественно производят установку техники
						на готовые коммуникации
					</div>
				</div>
			</div>
			<div class="designers__col">
				<div class="designers__item">
					<div class="icon icon_love"></div>
					<div class="designers__name">Персональный менеджер</div>
					<div class="designers__value">Ваш персональный менеджер предложит решения для любых нестандартных
						ситуаций. От замера и подбора техники до совместной работы с Вашим дизайнером
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

