{% if rating %}
<div class="view">
	<div class="view__row">
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-1.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Топ вытяжек</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-2.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block">
						<div class="view__subject">Топ стиральных машин</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-3.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block">
						<div class="view__subject">Топ стиральных машин</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-4.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block">
						<div class="view__subject">Топ духовых шкафов</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-1.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block ">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Топ вытяжек</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-2.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block">
						<div class="view__subject">Топ стиральных машин</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-3.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block">
						<div class="view__subject">Топ стиральных машин</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/view-image-4.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block">
						<div class="view__subject">Топ духовых шкафов</div>
						<div class="view__price">13 000 руб. - 189 750 руб.</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Смотреть рейтинг</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if kitchens %}
<div class="view view_kitchens">
	<div class="view__row">
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-1.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block ">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Allmilmo</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-2.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block ">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>

				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Leicht</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-3.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Nobilia</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-4.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Rational</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-1.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block ">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Allmilmo</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-2.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Leicht</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-3.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Nobilia</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="view__col">
			<div class="view__item js-view__item">
				<div class="view__item-inner">
					<div class="view__overlay">
						<div class="view__overlay-item js-view__overlay-item"></div>
						<div class="view__overlay-item js-view__overlay-item"></div>
					</div>
					<div class="view__block js-view__block active">
						<div class="view__image">
							<img class="lazyload" data-src="images/kitchens-image-4.jpg" alt="">
						</div>
					</div>
					<div class="view__block js-view__block">
						<div class="view__desc">
							<p>
								Технологические решения, материалы проверенного качества, современный дизайн и
								эргономичность не только гарантируют высокий результат стирки, но и обеспечивают
								деликатный
								уход за вещами.
							</p>
							<p>В бутике Hausdorf вы найдете не только мощные и функциональные модели, но и
								инновационные, с
								продуманным и элегантным внешним исполнением, способным подчеркнуть изысканный интерьер
								вашего дома.</p>
						</div>
					</div>
				</div>
				<div class="view__bottom">
					<div class="view__bottom-block ">
						<div class="view__subject">Кухни Rational</div>
					</div>
					<div class="view__bottom-block">
						<a href="#" class="btn btn_view">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
