.view {
	margin-bottom: 15px;

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -5px;
	}

	&__col {
		padding: 5px;
		width: 50%;
	}

	&__item {
		position: relative;
		height: 100%;
		background-color: #2e2e2f;

		&-inner {
			height: 100%;
			position: relative;
		}

		&:hover {

			.view__overlay {
				opacity: 1;
			}

		}
	}

	&__overlay {
		display: flex;
		justify-content: space-between;
		position: absolute;
		padding: 5px 10px;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.3s;

		&-item {
			position: relative;
			width: 50%;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 98%;
				height: 2px;
				left: 50%;
				transform: translateX(-50%);
				top: 0;
				opacity: 0.25;
				z-index: 3;
				background-color: #fff;
			}

			&:hover {

				&::after {
					opacity: 0.5;
				}
			}
		}
	}

	&__image {

		img {
			width: 100%;
			max-height: 378px;
		}
	}

	&__block {
		display: none;

		&.active {
			display: block;
		}
	}

	&__bottom {
		position: absolute;
		width: 100%;
		left: 0;
		padding: 20px;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 200%;
			left: 0;
			bottom: 0;
			z-index: -1;
			background-image: linear-gradient(to top, #1f1f1f 0%, rgba(31, 31, 31, 0) 100%);
		}
	}

	&__subject {
		margin-bottom: 10px;
		font-size: 15px;
		font-weight: 400;
		color: #ffffff;
	}

	&__price {
		color: #ff3824;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
	}

	&__desc {
		padding: 50px 30px;
		color: #fff;
		font-size: 13px;
		font-weight: 300;
		line-height: 24px;
	}

	@media (--tabletAndMobile) {

		&__subject,
		&__price {
			font-size: 13px;
		}

		&__desc {
			padding: 20px;

			p {
				display: none;

				&:first-child {
					display: block;
				}
			}
		}
	}

	@media (--phone) {

		&__col {
			width: 100%;
			padding-bottom: 0;
		}

		&__item {
			overflow: hidden;
			height: 258px;
		}

		&__image {

			img {
				width: 100%;
			}
		}

		&__desc {
			padding: 10px;
		}

		&__bottom {
			flex-direction: column;
			align-items: flex-start;
			padding: 10px;

			&-block {
				width: 100%;
			}
		}

		&__subject,
		&__price {
			margin-bottom: 5px;
		}
	}
}