<div class="kitchen">
	<div class="kitchen__item">
		<div class="kitchen__block kitchen__block_color">
			<div class="kitchen__title">Pure Design</div>
			<div class="kitchen__text">Pure design кухонь SieMatic — это простота и элегантность, абсолютно ничего
				лишнего; все необходимые принадлежности скрыты в незаметных нишах, но при необходимости все можно
				достать одним движением руки. Кухни этой линейки высокотехнологичны: имеют несколько уровней подсветки,
				свою систему очистки воды и сенсорные кнопки открывания ящиков.
			</div>
		</div>
		<div class="kitchen__block">
			<div class="kitchen__row">
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-1.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-1.jpg" alt="">
							</a>

						</div>
					</div>
				</div>
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-2.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-2.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-3.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-3.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kitchen__item">
		<div class="kitchen__block">
			<div class="kitchen__title">Classic Collection</div>
			<div class="kitchen__text">Classic Collection ведет свою историю еще с 19 века и вобрала в себя и элементы
				прошедших эпох и современные акценты. При этом кухни классической коллекции очень гармоничны и не
				создают диссонанса с общим интерьером, позволяя играть стилями и сочетать различные элементы.
			</div>
		</div>
		<div class="kitchen__block">
			<div class="kitchen__row">
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-1.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-1.jpg" alt="">
							</a>

						</div>
					</div>
				</div>
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-2.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-2.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-3.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-3.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kitchen__item">
		<div class="kitchen__block kitchen__block_color">
			<div class="kitchen__title">Modern Collection</div>
			<div class="kitchen__text">Кухни коллекции Modern очень яркие и смелые, при этом позволяют органично вписать
				все необходимое даже в очень ограниченное пространство.
			</div>
		</div>
		<div class="kitchen__block">
			<div class="kitchen__row">
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-1.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-1.jpg" alt="">
							</a>

						</div>
					</div>
				</div>
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-2.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-2.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="kitchen__col">
					<div class="kitchen__item">
						<div class="kitchen__image">
							<a href="images/kitchen-pic-3.jpg" data-fancybox="group">
								<img class="lazyload" data-src="images/kitchen-pic-3.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>