.kitchen {
	margin-bottom: 15px;

	&__item + &__item {
		margin-top: 15px;
	}

	&__block {
		background: #fff;

		&:first-child {
			padding: 30px;
			padding-top: 60px;
		}

		&_color {
			background-color: #3e3e40;
			color: #fff;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__text {
		max-width: 1030px;
		margin-bottom: 30px;
		line-height: 24px;
		font-size: 17px;
		font-weight: 300;
	}

	&__row {
		display: flex;
	}

	&__col {
		flex-grow: 1;
	}

	&__image {

		img {
			max-width: 100%;
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&__text {
			font-size: 13px;
		}
	}

	@media (--tablet) {

		&__title {
			font-size: 18px;
		}

		&__block {

			&:first-child {
				padding: 20px;
				padding-top: 35px;
			}

		}
	}

	@media (--phone) {

		&__title {
			font-size: 15px;
			text-align: center;
		}

		&__block {

			&:first-child {
				padding: 10px;
				padding-top: 25px;
			}

		}

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			width: 50%;

			&:last-child {
				width: 100%;

				img {
					width: 100%;
				}
			}
		}

		&__text {
			margin-bottom: 15px;
		}
	}
}