<section class="seo {% if rating %} seo_rating {% endif %}">
	{% if catalog %}
	<div class="small-title">Лучшие производители стиральных машин</div>
	{% endif %}

	{% if brand %}
	<div class="seo__title">Дизайн. Надежность. Экологичность. ASKO.</div>
	{% endif %}

	{% if brand or catalog %}
	<div class="seo__text">
		<p>Стиральная машина сегодня — незаменимая техника в каждом доме. Но, чтобы она безупречно выполняла свои
			функции на протяжении многих лет, к её приобретению необходимо подойти максимально ответственно. Предлагаем
			ознакомиться с самыми лучшими производителями этого оборудования и сделать выбор в пользу самого подходящего
			именно для вас.</p>
	</div>
	<div class="seo__image seo__image_big">
		<img class="lazyload" data-src="images/seo-big.jpg" alt="">
	</div>

	<div class="seo__title">AEG</div>

	<div class="seo__text">
		<p>Некогда AEG входила в список немецких компаний и впервые заявила о себе в 1883 году. Её наименование
			образовалось от Allgemeine Elektricitts - Gesellschaft и переводится как «Всеобщая электрическая компания».
			В настоящее время бренд принадлежит двум большим корпорациям: Clatronic Group и Electrolux Group. Все
			стиральные машины этой марки изготавливаются на территории трёх стран: Польши, Италии и Франции.</p>
		<p>«АЕГ» предлагает стиральные автоматы премиум-класса, которые превосходно отстирывают любой текстиль и
			рассчитаны на долгий эксплуатационный срок. Хорошим примером служит встраиваемая модель с электронным
			управлением AEG L61470WDBI стоимостью от 90 990 руб. Качественная сборка, использование современных
			технологий обеспечивают агрегату долговечность и максимальное удобство при использовании. Кроме того, такие
			машинки ломаются нечасто, а если это и случается, их можно отремонтировать в любом крупном российском
			городе, где есть специальные сервисные центры.</p>
		<a href="#" class="seo__link">Смотреть продукцию AEG</a>
	</div>
	<br>
	<br>
	<div class="seo__blocks">
		<div class="seo__block">
			<div class="seo__image">
				<img class="lazyload" data-src="images/seo-1.jpg" alt="">
			</div>
			<div class="seo__title">MIELE</div>
			<div class="seo__text">
				<p>Компания Miele & Cie. KG появилась в 1899 году в Германии усилиями двух предпринимателей — Райнхарда
					Цинканна и Карла Миле.С 1903 года фирма начала выпускать стиральные машины, что делает и по сей
					день.</p>
				<p>В настоящее время бренд Miele реализует свою продукцию во многих странах, и Россия не является
					исключением. Изготавливаются агрегатына производствах в Германии, Румынии, Чехии, Китае и в других
					странах.</p>
				<a href="#" class="seo__link">Смотреть продукцию Miele</a>
			</div>
		</div>
		<div class="seo__block">
			<div class="seo__image">
				<img class="lazyload" data-src="images/seo-2.jpg" alt="">
			</div>
			<div class="seo__title">ASKO</div>
			<div class="seo__text">
				<p>Шведский бренд ASKO ведёт свою историю с 1950 года.Именно тогда фермер Карл-Эрик Андерссон выпустил
					стиральную машину Junga Verkstäder и основал компанию. В настоящее время ASKO принадлежит корпорации
					Gorenje Group, изготавливая свою продукцию на территории Швеции, Польши, Нидерландов и Словении.</p>
				<p>Отличительной характеристикой стиральных машин этой торговой марки служит малое количество
					составляющих. Но, несмотря на это, они превосходно справляются со своими задачами, при этом расходуя
					мало воды и электричества. Все стиральные автоматы хорошо переносят эксплуатацию любой
					интенсивности, поскольку изготавливаются из прочных материалов с применением современных
					технологий.</p>
				<a href="#" class="seo__link">Смотреть продукцию ASKO</a>
			</div>

		</div>
	</div>

	<div class="seo__banner">
		<div class="seo__logo">
			<img class="lazyload" srcset="images/logo.png" alt="">
		</div>
		<div class="seo__desc">
			<div class="seo__small-title">Купить технику ASKO в Москве вы можете уже сегодня в нашем интернет-магазине
			</div>
			<div class="seo__text">
				<p>Мы гарантируем исключительную подлинность каждой модели и возможность заказать доставку. <br>
					Стоимость данной услуги зависит от типа товара и удалённости конечного пункта. <br>
					Ознакомиться с тарифами более подробно вы можете в соответствующем разделе нашего сайта.</p>
			</div>
		</div>
	</div>
	{% endif %}

	{% if rating %}
	<div class="small-title">Выбрать бытовую технику для дома
	</div>
	<div class="seo__text">
		<p>На современном рынке выбор бытовой техники неимоверно велик, поэтому прежде чем совершать покупку,
			ознакомьтесь с характеристиками, составьте список своих личных предпочтений и требований к технике и, изучив
			все неоднозначные моменты, смело оформляйте покупку.</p>
	</div>
	<div class="seo__image">
		<img class="lazyload" data-src="images/seo-big.jpg" alt="">
	</div>
	<div class="seo__title">ВЫТЯЖКИ — НЕОБХОДИМЫЙ ЭЛЕМЕНТ ДЛЯ СОЗДАНИЯ АТМОСФЕРЫ В ДОМЕ.</div>
	<div class="seo__text">
		<p>	Некогда AEG входила в список немецких компаний и впервые заявила о себе в 1883 году. Её наименование образовалось от Allgemeine Elektricitts - Gesellschaft и переводится как «Всеобщая электрическая компания». В настоящее время бренд принадлежит двум большим корпорациям: Clatronic Groupи Electrolux Group. Все стиральные машины этой марки изготавливаются на территории трёх стран: Польши, Италии и Франции.</p>
		<a href="#" class="seo__link">Читать подробнее</a>
	</div>
	<br>
	<br>
	<div class="seo__blocks">
		<div class="seo__block">
			<div class="seo__image">
				<img class="lazyload" data-src="images/seo-1.jpg" alt="">
			</div>
			<div class="seo__title">УХОД ЗА ОДЕЖДОЙ ВМЕСТЕ С V-ZUG</div>
			<div class="seo__text">
				<p>Компания Miele & Cie. KG появилась в 1899 году в Германии усилиями двух предпринимателей — Райнхарда
					Цинканна и Карла Миле.С 1903 года фирма начала выпускать стиральные машины, что делает и по сей
					день.</p>
				<p>В настоящее время бренд Miele реализует свою продукцию во многих странах, и Россия не является
					исключением. Изготавливаются агрегаты на производствах в Германии, Румынии, Чехии, Китае и в других
					странах.</p>
				<a href="#" class="seo__link">Читать подробнее</a>
			</div>
		</div>
		<div class="seo__block">
			<div class="seo__image">
				<img class="lazyload" data-src="images/seo-2.jpg" alt="">
			</div>
			<div class="seo__title">ДУХОВЫЕ ШКАФЫ И КОМПАКТНЫЕ ПРИБОРЫ CRAFT</div>
			<div class="seo__text">
				<p>Шведский бренд ASKO ведёт свою историю с 1950 года.Именно тогда фермер Карл-Эрик Андерссон выпустил
					стиральную машину Junga Verkstäder и основал компанию. В настоящее время ASKO принадлежит корпорации
					Gorenje Group, изготавливая свою продукцию на территории Швеции, Польши, Нидерландов и Словении.</p>
				<p>Отличительной характеристикой стиральных машин этой торговой марки служит малое количество
					составляющих. Но, несмотря на это, они превосходно справляются со своими задачами, при этом расходуя
					мало воды и электричества. Все стиральные автоматы хорошо переносят эксплуатацию любой
					интенсивности, поскольку изготавливаются из прочных материалов с применением современных
					технологий.</p>
				<a href="#" class="seo__link">Читать подробнее</a>
			</div>

		</div>
	</div>

	<div class="seo__image seo__image_big">
		<img class="lazyload" data-src="images/seo-big.jpg" alt="">
	</div>

	<div class="seo__title">ВАРОЧНЫЕ ПАНЕЛИ CRAFT</div>
	<div class="seo__text">
		<p>Некогда AEG входила в список немецких компаний и впервые заявила о себе в 1883 году. Её наименование
			образовалось от Allgemeine Elektricitts - Gesellschaft и переводится как «Всеобщая электрическая компания».
			В настоящее время бренд принадлежит двум большим корпорациям: Clatronic Group и Electrolux Group. Все
			стиральные машины этой марки изготавливаются на территории трёх стран: Польши, Италии и Франции.</p>
		<a href="#" class="seo__link">Читать подробнее</a>
	</div>
	<br><br>
	<div class="seo__banner">
		<div class="seo__logo">
			<img class="lazyload" srcset="images/logo.png" alt="">
		</div>
		<div class="seo__desc">
			<div class="seo__small-title">Ознакомиться и купить приобрести самые новые разработки от лучших производителей можно, обратившись в салон Hausdorf на Рублевское шоссе, д.52А</div>
			<div class="seo__text">
				<p>Выражение симбиоза новаторских достижений в современных технологиях, дизайне, экологии и экономичности использования расходных материалов является неотъемлемой частью премиальной бытовой техники, произведенной на лучших европейских концернах.</p>
			</div>
		</div>
	</div>
	{% endif %}

</section>