.seo{
	padding-top: 30px;
	@include bg;

	&_rating{
		margin-bottom: 15px;
	}

	&__title{
		margin-bottom: 20px;
		color: #000;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
	}

	&__small-title{
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}

	&__text{
		font-weight: 300;
		font-size: 15px;
	}

	&__link{
		color: $primaryColor;
	}

	&__image{
		margin-bottom: 25px;

		img{
			max-width: 100%;
		}
	}

	&__blocks{
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__block{
		width: 48%;
	}

	&__banner{
		display: flex;
		padding: 30px;
		background: rgba(220, 220, 220,0.46);
	}

	&__logo{
		margin-left: 60px;
		margin-right: 70px;
	}

	@media (--tabletAndMobile) {
		margin-bottom: 0;
		margin-left: -1%;
		margin-right: -1%;


		&__title{
			margin-bottom: 10px;
			text-align: center;
			font-size: 15px;
		}

		&__banner {
			align-items: center;
			flex-direction: column;
		}

		&__text{
			font-size: 12px;
		}

		&__logo{
			margin-bottom: 30px;
		}
	}

	@media (--phone) {

		&__blocks{
			flex-wrap: wrap;
		}

		&__block {
			width: 100%;

		}

		&__block +&__block {
			margin-top: 40px;
		}

		&__banner{
			padding: 10px;
			margin-left: -10px;
			margin-right: -10px;
		}

		&__image{

			&-big{
				margin-left: -10px;
				margin-right: -10px;
			}
		}
	}
}