.address {
	position: relative;
	padding-bottom: 48px;
	margin-bottom: 48px;

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		background-color: #eaedf0;
		bottom: 0;
	}

	&__title{
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
	}

	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__image {
		overflow: hidden;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		min-width: 332px;

	}

	&__item {
		margin-bottom: 10px;
		color: #1f1f1f;

		a {
			color: #000000;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				opacity: 0.25;
				background-color: #909090;
				transition: width 0.3s;
			}

			&:hover {

				&::after {
					width: 0;
				}
			}
		}
	}

	&__name {
		display: inline-block;
		padding-left: 5px;
		font-weight: 700;
	}

	&__value {
		display: block;
		font-weight: 400;
		padding-left: 30px;
	}

	@media (--tabletAndMobile) {

		&__title{
			display: none;
		}

		&__image{

			img{
				max-width: 100%;
			}
		}
	}

	@media (--phone) {
		padding-bottom: 35px;
		margin-bottom: 35px;

		&__wrapper{
			flex-direction: column;
		}

		&__image {
			margin-bottom: 20px;
		}

		&__list{
			margin-bottom: 15px;
		}

		&__image{
			margin-left: -10px;
			margin-right: -10px;
		}
	}

	&_kitchens{
		padding-bottom: 0;
		margin-bottom: 28px;

		&:after{
			display: none;
		}

		@media (--phone) {
			padding-bottom: 0;
			margin-bottom: 0;

			.address__image{
				margin-bottom: 0;
			}
		}
	}

}