<div class="address {% if kitchens %} address_kitchens {% endif %}">
	{% if kitchens %}
	<div class="address__title">Ждем Вас ежедневно с 10:00 до 22:00</div>
	{% endif %}
	<div class="address__wrapper">
		<ul class="address__list">
			<li class="address__item">
				<span class="icon icon_service-map"></span>
				<span class="address__name">«Бутик Hausdorf» расположен по адресу:</span>
				<span
					class="address__value">Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж</span>
			</li>
			<li class="address__item">
				<span class="icon icon_service-metro"></span>
				<span class="address__name">Ближайшая станция метро:</span>
				<span class="address__value">«Крылатское»</span>
			</li>
			<li class="address__item">
				<span class="icon icon_service-time"></span>
				<span class="address__name">Часы работы:</span>
				<span class="address__value">ежедневно с 10:00 до 22:00</span>
			</li>
			<li class="address__item">
				<span class="icon icon_service-metro"></span>
				<span class="address__name">Электронная почта:</span>
				<span class="address__value"><a
					href="mailto:some@gmail.com">some@gmail.com</a></span>
			</li>
		</ul>
		<div class="address__image">
			<img class="" src="images/service-address.png" alt="">
		</div>
	</div>
</div>