<div class="reviews__items">
	<div class="reviews__item">
		<div class="reviews__heading">
			<div class="reviews__name">Евгений</div>
			<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
			<div class="ratings">
				<div class="ratings__section">
					<div class="ratings__start"></div>
					<div class="ratings__click" style="width: 80%;"></div>
				</div>
			</div>
			<div class="reviews__grade">4,0</div>
			<div class="reviews__about">
				<div class="reviews__about-name">О товаре:&nbsp;</div>
				<a href="#" class="reviews__about-value">Стиральная машина Miele PW 6065 клапан, сталь</a>
			</div>
		</div>
		<ul class="reviews__list">
			{% if  not(brand or catalog)%}
			<li class="reviews__list-item">
				<div class="reviews__prop">Преимущества</div>
				<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана - барабан
					60
					л, 9 кг в комбинациис Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в комбинации с Pro
					Wash
					(11 кг без Pro Wash).
				</div>
			</li>
			<li class="reviews__list-item">
				<div class="reviews__prop">Недостатки</div>
				<div class="reviews__text">Система автоматического дозирования ЖМС. Система Pro Wash.</div>
			</li>
			{% endif %}



			<li class="reviews__list-item">
				<div class="reviews__prop">Отзыв</div>
				<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
					Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
					нормальный,
					ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
					Экономичный и
					долговечный BLDC мотор.
				</div>
			</li>
		</ul>
	</div>
	<div class="reviews__item">
		<div class="reviews__heading">
			<div class="reviews__name">Анна</div>
			<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
			<div class="ratings">
				<div class="ratings__section">
					<div class="ratings__start"></div>
					<div class="ratings__click" style="width: 100%;"></div>
				</div>
			</div>
			<div class="reviews__grade">5,0</div>
			<div class="reviews__about">
				<div class="reviews__about-name">О товаре:&nbsp;</div>
				<a href="#" class="reviews__about-value">Стиральная машина Miele PW 6065 клапан, сталь</a>
			</div>
		</div>
		<ul class="reviews__list">
			{% if not(brand or catalog) %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Преимущества</div>
				<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана</div>
			</li>
			{% endif %}

			<li class="reviews__list-item">
				<div class="reviews__prop">Отзыв</div>
				<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
					Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
					нормальный,
					ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
					Экономичный и
					долговечный BLDC мотор.
				</div>
			</li>
		</ul>
	</div>
	<div class="reviews__item">
		<div class="reviews__heading">
			<div class="reviews__name">Константин Константинопольский</div>
			<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
			<div class="ratings">
				<div class="ratings__section">
					<div class="ratings__start"></div>
					<div class="ratings__click" style="width: 40%;"></div>
				</div>
			</div>
			<div class="reviews__grade">2,0</div>
			<div class="reviews__about">
				<div class="reviews__about-name">О товаре:&nbsp;</div>
				<a href="#" class="reviews__about-value">Стиральная машина Miele PW 6065 клапан, сталь</a>
			</div>
		</div>
		<ul class="reviews__list">
			{% if not(brand or catalog) %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Недостатки</div>
				<div class="reviews__text">Система автоматического дозирования ЖМС. Система Pro Wash.</div>
			</li>
			{% endif %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Отзыв</div>
				<div class="reviews__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
					amet dolorum earum fugit minus nulla quam quia reiciendis tenetur voluptates. A accusantium
					beatae blanditiis delectus dolor, doloribus eius, expedita facere illo illum ipsa ipsam
					ipsum magni maxime minus nesciunt quam quas reprehenderit sequi sunt temporibus totam ullam
					veniam voluptas voluptatibus? Adipisci architecto error odit officiis perspiciatis quisquam
					recusandae similique voluptatem!
					<button type="button" class="reviews__view js-reviews__view">...<span>Читать полностью</span></button>
				</div>

			</li>
		</ul>
	</div>
	<div class="reviews__item">
		<div class="reviews__heading">
			<div class="reviews__name">Евгений</div>
			<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
			<div class="ratings">
				<div class="ratings__section">
					<div class="ratings__start"></div>
					<div class="ratings__click" style="width: 80%;"></div>
				</div>
			</div>
			<div class="reviews__grade">4,0</div>
			<div class="reviews__about">
				<div class="reviews__about-name">О товаре:&nbsp;</div>
				<a href="#" class="reviews__about-value">Стиральная машина Miele PW 6065 клапан, сталь</a>
			</div>

		</div>
		<ul class="reviews__list">
			{% if not(brand or catalog) %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Преимущества</div>
				<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана - барабан
					60
					л, 9 кг в комбинациис Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в комбинации с Pro
					Wash
					(11 кг без Pro Wash).
				</div>
			</li>
			<li class="reviews__list-item">
				<div class="reviews__prop">Недостатки</div>
				<div class="reviews__text">Система автоматического дозирования ЖМС. Система Pro Wash.</div>
			</li>
			{% endif %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Отзыв</div>
				<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
					Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
					нормальный,
					ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
					Экономичный и
					долговечный BLDC мотор.
				</div>
			</li>
		</ul>
	</div>
	<div class="reviews__item">
		<div class="reviews__heading">
			<div class="reviews__name">Анна</div>
			<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
			<div class="ratings">
				<div class="ratings__section">
					<div class="ratings__start"></div>
					<div class="ratings__click" style="width: 100%;"></div>
				</div>
			</div>
			<div class="reviews__grade">5,0</div>
			<div class="reviews__about">
				<div class="reviews__about-name">О товаре:&nbsp;</div>
				<a href="#" class="reviews__about-value">Стиральная машина Miele PW 6065 клапан, сталь</a>
			</div>
		</div>
		<ul class="reviews__list">
			{% if not(brand or catalog) %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Преимущества</div>
				<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана - барабан
					60
					л, 9 кг в комбинациис Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в комбинации с Pro
					Wash
					(11 кг без Pro Wash).
				</div>
			</li>
			{% endif %}
			<li class="reviews__list-item">
				<div class="reviews__prop">Отзыв</div>
				<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
					Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
					нормальный,
					ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
					Экономичный и
					долговечный BLDC мотор.
				</div>
			</li>
		</ul>
	</div>
</div>