<section class="favorite js-favorite">
	<div class="favorite__top js-favorite-fixed">
		<h1 class="favorite__title">В избранном <strong>17</strong>&nbsp;товаров в <span>12</span>&nbsp;категориях</h1>
		<!--start search-list-->
		{% include 'search-list/search-list.html' %}
		<!--end search-list-->
	</div>
	<div class="favorite__result">17 товаров</div>
	<div class="recent recent_favorite">
		<div class="recent__row">
			<div class="recent__col">
				<div class="recent__item recent__item_order">
					<a href="#" class="recent__link">
						<span class="icon icon_likes active"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-1.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="order">Под заказ</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<div class="recent__name">KitchenAid KOQCX 45600</div>
							<div class="recent__footer">
								<div class="recent__price">150 000 руб.</div>
								<button type="button" class="recent__application recent__application_basket">В корзину
								</button>
								<button type="button" class="recent__application recent__application_leave">Оставить
									заявку
								</button>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="recent__col">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes active"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-2.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Духовой шкаф</div>
							<div class="recent__name">Asko OP8676S</div>
							<div class="recent__footer">
								<div class="recent__price">145 900 руб.</div>
								<button type="button" class="recent__application">В корзину</button>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="recent__col">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes active"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-3.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Беспроводная акустическая система</div>
							<div class="recent__name">Bang & Olufsen Beoplay A6 Oxidized brass</div>
							<div class="recent__footer">
								<div class="recent__price">150 000 руб.</div>
								<button type="button" class="recent__application">В корзину</button>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="recent__col">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes active"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-1.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Комбинированный духовой шкаф с функцией пара</div>
							<div class="recent__name">KitchenAid KOQCX 45600</div>
							<div class="recent__footer">
								<div class="recent__price">150 000 руб.</div>
								<button type="button" class="recent__application">В корзину</button>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="recent__col recent__col_wide">
				<div class="recent__item recent__item_wide">
					<a href="#" class="recent__link">
						<span class="icon icon_likes active"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-wide.png" alt="">
						</div>
						<div class="recent__wrap">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Холодильник</div>
							<div class="recent__name">Liebherr SBSes 7165 PremiumPlus Vinidor BioFresh NoFrost</div>
							<div class="recent__footer">
								<div class="recent__price">2 453 000 руб.</div>
								<button type="button" class="recent__application">В корзину</button>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="recent__col">
				<div class="recent__item">
					<a href="#" class="recent__link">
						<span class="icon icon_likes active"></span>
						<span class="icon icon_compare-card"></span>
						<div class="recent__image">
							<img class="lazyload" data-src="images/recent-4.png" alt="">
						</div>
						<div class="recent__desc">
							<div class="stock">В наличии</div>
							<div class="recent__subject">Стиральная машина</div>
							<div class="recent__name">Kuppersbusch WA 1940.0 W</div>
							<div class="recent__footer">
								<div class="recent__price">199 755 руб.</div>
								<button type="button" class="recent__application">Купить</button>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="recent__col recent__col_advice">
				<div class="favorite__advice">
					<div class="favorite__header">Подсказки HAUSDORF</div>
					<ul class="favorite__advice-list">
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">Как выбрать стиральную машину</a>
						</li>
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">Где купить</a>
						</li>
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">На что обратить внимание при выборе техники</a>
						</li>
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">Бесплатная доставка</a>
						</li>
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">Бесплатная установка</a>
						</li>
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">Где наодятся пункты самовывоза HAUSDORF</a>
						</li>
						<li class="favorite__advice-item">
							<a class="favorite__advice-link" href="#">Особенности покупки техники MIELE</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="about__warn">
		<span class="icon icon_warn"></span>
		<div class="about__warn-text">Вся информация о товаре, характеристики и описание не являются публичной
			офертой. Производители техники могут без уведомления менять комплектацию, дизайн и функционал моделей.
			Пожалуйста, уточняйте данные о товаре у консультантов.
		</div>
	</div>
</section>