.favorite {
	margin-bottom: 10px;

	&.padding {
		padding-top: 145px;
	}

	&__top {
		margin-bottom: 30px;

		&.fixed {
			position: fixed;
			max-width: 1110px;
			width: 100%;
			z-index: 10;
			top: 0;
			background: #fff;
		}
	}

	&__title {
		color: #202020;
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 15px;
		line-height: 1;

		span {
			color: $primaryColor;
		}

		strong,
		span {
			font-weight: 500;
		}
	}

	&__result {
		margin-bottom: 10px;
		color: #202020;
		font-size: 24px;
		font-weight: 700;
	}

	&__header {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 500;
		color: #1f1f1f;
	}

	&__advice {
		height: 100%;
		background-color: #eee;
		padding: 20px;

		&-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		&-item {

		}

		&-link {
			display: block;
			padding: 5px 0;
			color: #1f1f1f;
			font-size: 13px;
			font-weight: 300;
		}
	}

	@media (max-width: 1180px) and (min-width: 768px){

		&__top {

			&.fixed {
				left: 0;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&.padding {
			padding-top: 210px;
		}

		&__top {
			text-align: center;

			&.fixed {
				left: 0;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	@media (--tablet) {

		&__title {
			font-size: 23px;
		}

		&__result {

			font-size: 18px;

		}
	}

	@media (--phone) {

		&__title {
			font-size: 18px;
		}

		&__header {
			text-align: center;
		}

		&__result {

			font-size: 15px;

		}
	}
}