			<label class="checkbox search__checkbox">
				<input type="checkbox" class="checkbox__input">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">По сайту</span>
			</label>
			<!-- /.checkbox -->
