{% set parameters = {'title': 'Actions'} %}
{% set news = ' news' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<div class="container">

				<!--start breadcrumbs-->
				{% include 'breadcrumbs/breadcrumbs.html' %}
				<!--end breadcrumbs-->

				<section class="news">
					<div class="title">Акции
					</div>
					<div class="tabs tabs_news">
						<ul class="tabs__links">
							<li>
								<a href="#js-tabs__item-1" class="tabs__link  js-tabs__link  ">Все статьи</a>
							</li>

							<li>
								<a href="#js-tabs__item-2" class="tabs__link  js-tabs__link active">Акции</a>
							</li>
							<li>
								<a href="#js-tabs__item-3" class="tabs__link  js-tabs__link">Новости Hausdorf</a>
							</li>
						</ul>
						<div class="tabs__content">
							<div class="tabs__item  js-tabs__item  " id="js-tabs__item-1">
								<div class="tab-block">
									<ul class="tab-block__list">
										<li>
											<a href="#tab-block-1" class="tab-block__link js-tab-block__link active">Все
												статьи</a>
										</li>
										<li>
											<a href="#tab-block-2" class="tab-block__link js-tab-block__link ">2018</a>
										</li>
										<li>
											<a href="#tab-block-3" class="tab-block__link js-tab-block__link ">2017</a>
										</li>
										<li>
											<a href="#tab-block-4" class="tab-block__link js-tab-block__link ">2016</a>
										</li>
										<li>
											<a href="#tab-block-5" class="tab-block__link js-tab-block__link ">2015</a>
										</li>
									</ul>
									<div class="tab-block__content">
										<div class="tab-block__item  js-tab-block__item active" id="tab-block-1">
											<div class="articles articles_news">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articels-dishwashers.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">9 октября 2017</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители
																		посудомоечных машин
																	</div>
																	<div class="articles__text">Специалисты Hausdorf
																		подготовили рейтинг лучших
																		производителей
																		посудомоечных машин.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articels-dishwashers.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">9 октября 2017</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители
																		посудомоечных машин
																	</div>
																	<div class="articles__text">Специалисты Hausdorf
																		подготовили рейтинг лучших
																		производителей
																		посудомоечных машин.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиляи
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
												<button type="button" class="more">Загрузить еще <span>152</span>&nbsp;новости
												</button>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-2">
											<div class="articles articles_news">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articels-dishwashers.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">9 октября 2017</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители
																		посудомоечных машин
																	</div>
																	<div class="articles__text">Специалисты Hausdorf
																		подготовили рейтинг лучших
																		производителей
																		посудомоечных машин.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-3">
											<div class="articles articles_news">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articels-dishwashers.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">9 октября 2017</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители
																		посудомоечных машин
																	</div>
																	<div class="articles__text">Специалисты Hausdorf
																		подготовили рейтинг лучших
																		производителей
																		посудомоечных машин.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиляи
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-4">
											<div class="articles articles_news">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articels-dishwashers.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">9 октября 2017</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители
																		посудомоечных машин
																	</div>
																	<div class="articles__text">Специалисты Hausdorf
																		подготовили рейтинг лучших
																		производителей
																		посудомоечных машин.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиляи
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-5">
											<div class="articles articles_news">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articels-dishwashers.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">9 октября 2017</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители
																		посудомоечных машин
																	</div>
																	<div class="articles__text">Специалисты Hausdorf
																		подготовили рейтинг лучших
																		производителей
																		посудомоечных машин.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-askopower.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Новинки 2017:
																		варочные поверхности Asko
																	</div>
																	<div class="articles__text">Комбинированные варочные
																		панели Asko — сочетание
																		стиляи
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-Laundry.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Новая концепция <br>ASKO
																		Pro Home
																	</div>
																	<div class="articles__text">Осенью 2017 года бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-ovens.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">11 июля 2017</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Духовые шкафы <br>и
																		компактные приборы Craft
																	</div>
																	<div class="articles__text">Asko Craft — это стиль,
																		подходящий к современным
																		интерьерам,
																		надежность профессиональных моделей и
																		функциональность.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs__item  js-tabs__item active" id="js-tabs__item-2">
								<div class="tab-block">
									<ul class="tab-block__list">
										<li>
											<a href="#tab-block-6"
											   class="tab-block__link js-tab-block__link active">Все</a>
										</li>
										<li>
											<a href="#tab-block-7"
											   class="tab-block__link js-tab-block__link ">Скидки</a>
										</li>
										<li>
											<a href="#tab-block-8"
											   class="tab-block__link js-tab-block__link ">Распродажа</a>
										</li>
										<li>
											<a href="#tab-block-9"
											   class="tab-block__link js-tab-block__link ">Miele</a>
										</li>
										<li>
											<a href="#tab-block-10"
											   class="tab-block__link js-tab-block__link ">Новинка</a>
										</li>
									</ul>
									<div class="tab-block__content">
										<div class="tab-block__item  js-tab-block__item active" id="tab-block-6">
											<div class="articles articles_actions">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-2.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Осенью 2017 года
																		бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
												<button type="button" class="more">Загрузить еще <span>152</span>&nbsp;новости
												</button>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-7">
											<div class="articles articles_actions">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-2.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Осенью 2017 года
																		бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-8">
											<div class="articles articles_actions">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-2.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Осенью 2017 года
																		бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-9">
											<div class="articles articles_actions">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-2.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Осенью 2017 года
																		бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-block__item js-tab-block__item" id="tab-block-10">
											<div class="articles articles_actions">
												<div class="articles__row">
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-2.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">10 августа 2017
																		</div>
																		<div class="articles__subject">Статья</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Осенью 2017 года
																		бренд
																		представит на российском
																		рынке
																		новую
																		линейку моделей — ASKO Pro Home Laundry.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
													<div class="articles__col">
														<div class="articles__item">
															<a href="#" class="articles__link">
																<div class="articles__image">
																	<img src="images/articles-actions-1.jpg" alt="">
																</div>
																<div class="articles__desc">
																	<div class="articles__top">
																		<div class="articles__date">14 августа 2017
																		</div>
																		<div class="articles__subject">Акция</div>
																	</div>
																	<div class="articles__heading">Лучшие производители посудомоечных машин
																	</div>
																	<div class="articles__text">Комбинированные
																		варочные
																		панели Asko — сочетание
																		стиля и
																		функциональности.
																	</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs__item  js-tabs__item" id="js-tabs__item-3"></div>
						</div>
					</div>
				</section>


				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>