{% set parameters = {'title': 'Brand'} %}
{% set brand = ' banner_brand' %}
{% set brandCollection = ' brandCollection' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">
			<!--start banner-->
			{% include 'banner/banner.html' %}
			<!--end banner-->

			<!--start collection-->
			{% include 'collection/collection.html' %}
			<!--end collection-->

			<div class="container">

				<!--start filter-->
				{% include 'filter/filter.html' %}
				<!--end filter-->

				<!--start catalog-->
				{% include 'catalog/catalog.html' %}
				<!--end catalog-->

				<!--start selection-->
				{% include 'selection/selection.html' %}
				<!--end selection-->

				<!--start reviews-->
				<div class="reviews reviews_catalog">
					<div class="reviews__inner">
						<div class="reviews__top">
							<div class="small-title">Отзывы о технике ASKO</div>
							<a href="#" class="reviews__all">Смотреть все отзывы</a>
							<div class="grade grade_catalog">
								<div class="grade__title">Средняя оценка</div>
								<div class="ratings ratings_output">
									<div class="ratings__section">
										<div class="ratings__start"></div>
										<div class="ratings__click" style="width: 80%;"></div>
									</div>
								</div>
								<div class="grade__number">4.5</div>
							</div>
						</div>
						<!--start reviews__items-->
						{% include 'reviews__items/reviews__items.html' %}
						<!--end reviews__items-->
					</div>
				</div>
				<!--end reviews-->

				<!--start articles-->
				{% include 'articles/articles.html' %}
				<!--end articles-->

				<!--start history-->
				{% include 'history/history.html' %}
				<!--end history-->

				<!--start seo-->
				{% include 'seo/seo.html' %}
				<!--end seo-->

				<!--start similar-->
				{% include 'similar/similar.html' %}
				<!--end similar-->

				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>