{% set parameters = {'title': 'Card-miele'} %}
{% set cardMiele = ' cardMiele' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">
		{% include 'header/global/header.html' %}

		<div class="middle">
			<div class="container">

				<!--start breadcrumbs-->
				{% include 'breadcrumbs/breadcrumbs.html' %}
				<!--end breadcrumbs-->

				<!--start card-->
				{% include 'card/card.html' %}
				<!--end card-->

				<!--start map-block-->
				{% include 'map-block/map-block.html' %}
				<!--end map-block-->

				<!--start about-->
				{% include 'about/about.html' %}
				<!--end about-->



			</div>
		</div>

	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->
</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>