{% set parameters = {'title': 'Favorite'} %}
{% set favorite = ' favorite' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<div class="container">

				<!--start breadcrumbs-->
				{% include 'breadcrumbs/breadcrumbs.html' %}
				<!--end breadcrumbs-->

				<!--start favorite-->
				{% include 'favorite/favorite.html' %}
				<!--end favorite-->

				<!--start recent-->
				{% include 'recent/recent.html' %}
				<!--end recent-->

				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>