{% set parameters = {'title': 'Hausdorf'} %}

{% include 'head/head.html' %}
<style>
	.index-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 20px;
	}

	.index-list a {
		font-size: 30px;
		color: #000;
	}
	.index-list a:hover {
		color: red;
	}

</style>
<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<div class="container">

				<ul class="index-list">
					<li><a href="main.html" target="_blank">index.html</a></li>
					<li><a href="catalog.html" target="_blank">catalog.html</a></li>
					<li><a href="card.html" target="_blank">card.html</a></li>
					<li><a href="card-premium.html" target="_blank">card-premium.html</a></li>
					<li><a href="basket.html" target="_blank">basket.html</a></li>
					<li><a href="search.html" target="_blank">search.html</a></li>
					<li><a href="brand.html" target="_blank">brand.html</a></li>
					<li><a href="favorite.html" target="_blank">favorite.html</a></li>
					<li><a href="news.html" target="_blank">news.html</a></li>
					<li><a href="actions.html" target="_blank">actions.html</a></li>
					<li><a href="compare.html" target="_blank">compare.html</a></li>
					<li><a href="404.html" target="_blank">404.html</a></li>
					<br>
					<li><a href="service.html" target="_blank">service.html</a></li>
					<li><a href="reviews.html" target="_blank">reviews.html</a></li>
					<li><a href="reviews-card.html" target="_blank">reviews-card.html</a></li>
					<li><a href="reviews-catalog.html" target="_blank">reviews-catalog.html</a></li>
					<li><a href="card-miele.html" target="_blank">card-miele.html</a></li>
					<li><a href="basket-miele.html" target="_blank">basket-miele.html</a></li>
					<li><a href="documents.html" target="_blank">documents.html</a></li>
					<li><a href="program.html" target="_blank">program.html</a></li>
					<li><a href="selection.html" target="_blank">selection.html</a></li>
					<li><a href="admire.html" target="_blank">admire.html</a></li>
					<br>
					<li><a href="show.html" target="_blank">show.html</a></li>
					<li><a href="brand-collection.html" target="_blank">brand-collection.html</a></li>
					<li><a href="top.html" target="_blank">top.html</a></li>
					<li><a href="rating.html" target="_blank">rating.html</a></li>
					<li><a href="designers.html" target="_blank">designers.html</a></li>
					<li><a href="partners.html" target="_blank">partners.html</a></li>
					<li><a href="kitchens.html" target="_blank">kitchens.html</a></li>
					<li><a href="kitchen.html" target="_blank">kitchen.html</a></li>

				</ul>

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}
</body>

</html>