{% set parameters = {'title': 'Main'} %}
{% set index = ' catalog_index' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<!--start slider-->
			{% include 'slider/slider.html' %}
			<!--end slider-->

			<div class="container">

				<!--start catalog-header-->
				{% include 'catalog-header/catalog-header.html' %}
				<!--end catalog-header-->

				<!--start catalog-->
				{% include 'catalog/catalog.html' %}
				<!--end catalog-->

				<!--start promo-->
				{% include 'promo/promo.html' %}
				<!--end promo-->

				<!--start articles-->
				{% include 'articles/articles.html' %}
				<!--end articles-->

				<!--start mini-->
				{% include 'mini/mini.html' %}
				<!--end mini-->

				<div class="info-wrap">

					<!--start popular-->
					{% include 'popular/popular.html' %}
					<!--end popular-->

					<!--start info-->
					{% include 'info/info.html' %}
					<!--end info-->

				</div>

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>