{% set parameters = {'title': 'Partners'} %}
{% set partners = ' designers' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<div class="container">

				<!--start breadcrumbs-->
				{% include 'breadcrumbs/breadcrumbs.html' %}
				<!--end breadcrumbs-->

				<!--start designers-->
				{% include 'designers/designers.html' %}
				<!--end designers-->

				<!--start company-->
				{% include 'company/company.html' %}
				<!--end company-->

				<!--start companion-->
				{% include 'companion/companion.html' %}
				<!--end companion-->

				<!--start premium-->
				{% include 'premium/premium.html' %}
				<!--end premium-->

				<!--start company-->
				<div class="company company_work">
					<div class="company__promo">С нами уже работают</div>

					<div class="company__row">
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/kalinka.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/alyans-rielti.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/slavyanskiy-dvor.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/blackwood.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/troika-estate.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/welhome.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/moscowhome.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/capital-group.png" alt="">
							</div>
						</div>
						<div class="company__col">
							<div class="company__item">
								<img class="lazyload" data-src="images/brands/villageguide.png" alt="">
							</div>
						</div>
					</div>

					<a href="#" class="btn btn_partners btn_company">Хочу стать партнером</a>
				</div>
				<!--end company-->

				<!--start feedback-->
				<section class="feedback feedback_partners">
					<div class="feedback__blocks">
						<div class="feedback__block">
							<div class="small-title">Контактная информация</div>
							<ul class="feedback__list">
								<li class="feedback__list-item">
									<span class="feedback__list-name">Адрес</span>
									<span class="feedback__list-value">Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж</span>
								</li>
								<li class="feedback__list-item">
									<span class="feedback__list-name">Телефон:</span>
									<span class="feedback__list-value"><a
										href="tel:+74954771491">+7 (495) 477-14-91</a></span>
								</li>
								<li class="feedback__list-item">
									<span class="feedback__list-name">Электронная почта:</span>
									<span class="feedback__list-value"><a href="mailto:shop@hausdorf.ru">shop@hausdorf.ru</a></span>
								</li>
							</ul>
						</div>
						<div class="feedback__block feedback__block_color">
							<div class="small-title">Реквизиты ООО «Хаусдорф Бутик»</div>
							<ul class="feedback__text">
								<li class="feedback__text-item">ОГРН 5147746289015</li>
								<li class="feedback__text-item">ИНН 7731483162</li>
								<li class="feedback__text-item">КПП 772301001</li>
								<li class="feedback__text-item">БИК 044525716</li>
								<li class="feedback__text-item">р/сч.40702810400000095152 в В ВТБ 24 (ПАО)</li>
								<li class="feedback__text-item">кор/сч. 30101810100000000716</li>
							</ul>
							<button type="button" class="feedback__more" data-ajax data-url="ajax/feedback.html">
								Подробные реквизиты
							</button>
						</div>
					</div>
				</section>
				<!--end feedback-->

				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>