{% set parameters = {'title': 'Rating'} %}
{% set rating = ' rating' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<!--start banner-->
			{% include 'banner/banner.html' %}
			<!--end banner-->

			<div class="container">

				<!--start rating-->
				{% include 'rating/rating.html' %}
				<!--end rating-->

				<!--start view-->
				{% include 'view/view.html' %}
				<!--end view-->

				<!--start seo-->
				{% include 'seo/seo.html' %}
				<!--end seo-->


				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>