{% set parameters = {'title': 'Reviews-card'} %}
{% set reviewsCard = ' reviewsCard' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">

			<div class="container">

				<!--start breadcrumbs-->
				{% include 'breadcrumbs/breadcrumbs.html' %}
				<!--end breadcrumbs-->

				<!--start reviews-->
				<div class="reviews">
					<div class="reviews__inner">
						<div class="reviews__card">
							<div class="reviews__blocks">
								<div class="reviews__desc">
									<div class="reviews__image">
										<img src="images/reviews-image.png" alt="">
									</div>
									<div class="reviews__desc-inner">
										<div class="subject">Беспроводная акустическая система</div>
										<a href="#" class="name">Bang &amp; Olufsen Beoplay A6 Oxidized brass</a>
										<div class="articul">Артикул:
											<span>316-64471</span>
										</div>
										<div class="price">2 453 000 руб.</div>
									</div>
								</div>
								<div class="grade grade_all">
									<div class="grade__title">Средняя оценка:</div>
									<div class="ratings ratings_output">
										<div class="ratings__section">
											<div class="ratings__start"></div>
											<div class="ratings__click" style="width: 80%;"></div>
										</div>
									</div>
									<div class="grade__number">4.5</div>
									<div class="grade__btn">
										<button class="btn btn_reviews js-reviews">Оставить отзыв</button>
									</div>

								</div>
								<div class="reviews__sort">
									<div class="reviews__sort-title">Сортировка</div>
									<ul class="reviews__sort-list">
										<li class="reviews__sort-item">
											<a href="#" class="reviews__sort-link active">
												<span>Все отзывы</span>
												<span class="reviews__sort-count">157</span>
											</a>
										</li>
										<li class="reviews__sort-item">
											<a href="#" class="reviews__sort-link">
												<span>Только положительные</span>
												<span class="reviews__sort-count">25</span>
											</a>
										</li>
										<li class="reviews__sort-item">
											<a href="#" class="reviews__sort-link">
												<span>Только отрицательные</span>
												<span class="reviews__sort-count">25</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="reviews__grades">
									<div class="reviews__grades-items">
										<div class="reviews__grades-item">
											<div class="ratings ratings_small">
												<div class="ratings__section">
													<div class="ratings__start"></div>
													<div class="ratings__click" style="width: 100%;"></div>
												</div>
											</div>
											<a href="#" class="reviews__grades-link">105 отзывов</a>
										</div>
										<div class="reviews__grades-item">
											<div class="ratings ratings_small">
												<div class="ratings__section">
													<div class="ratings__start"></div>
													<div class="ratings__click" style="width: 80%;"></div>
												</div>
											</div>
											<a href="#" class="reviews__grades-link">98 отзывов</a>
										</div>
										<div class="reviews__grades-item">
											<div class="ratings ratings_small">
												<div class="ratings__section">
													<div class="ratings__start"></div>
													<div class="ratings__click" style="width: 60%;"></div>
												</div>
											</div>
											<a href="#" class="reviews__grades-link">45 отзывов</a>
										</div>
										<div class="reviews__grades-item">
											<div class="ratings ratings_small">
												<div class="ratings__section">
													<div class="ratings__start"></div>
													<div class="ratings__click" style="width: 40%;"></div>
												</div>
											</div>
											<a href="#" class="reviews__grades-link">15 отзывов</a>
										</div>
										<div class="reviews__grades-item">
											<div class="ratings ratings_small">
												<div class="ratings__section">
													<div class="ratings__start"></div>
													<div class="ratings__click" style="width: 20%;"></div>
												</div>
											</div>
											<a href="#" class="reviews__grades-link">5 отзывов</a>
										</div>
									</div>
								</div>
							</div>
							<div class="select select_reviews js-select">
								<span class="select__placeholder">
									<span>Только положительные
										<span class="select__accent">25</span>
									</span>
								</span>
								<ul class="select__list">
									<li class="select__item js-select__item active" data-value="plus">Только положительные</li>
									<li class="select__item js-select__item" data-value="minus">Только отрицательные</li>
								</ul>
								<input type="hidden" name="changeme">
							</div>
						</div>

						<!--start reviews__items-->
						{% include 'reviews__items/reviews__items.html' %}
						<!--end reviews__items-->
					</div>
					<button type="button" class="more more_reviews">Загрузить еще<span>98</span>&nbsp; отзывов</button>
				</div>
				<!--end reviews-->

				<!--start recent-->
				{% include 'recent/recent.html' %}
				<!--end recent-->

				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>