{% set parameters = {'title': 'Selection'} %}
{% set selection = ' selection' %}
{% include 'head/head.html' %}

<body>
<div class="overlay js-overlay"></div>
{% include 'search/search.html' %}

<div class="wrapper">
	<div class="content">

		{% include 'header/global/header.html' %}

		<div class="middle">
			<!--start banner-->
			{% include 'banner/banner.html' %}
			<!--end banner-->

			<div class="container">

				<!--start glossary-->
				{% include 'glossary/glossary.html' %}
				<!--end glossary-->

				<!--start recent-->
				{% include 'recent/recent.html' %}
				<!--end recent-->

				<!--start info-->
				{% include 'info/info.html' %}
				<!--end info-->

			</div>
		</div>
	</div>

	<!--start footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

</div>
<!-- /.wrapper -->


{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>