.documents {
	padding: 30px 40px;
	padding-bottom: 10px;
	margin-bottom: 15px;

	&__top {
		margin-top: 20px;
		margin-bottom: 35px;
	}



	&__time {
		color: #666;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__banner {
		position: relative;
		margin-bottom: 40px;

		img {
			max-width: 100%;
		}

		&-text {
			position: absolute;
			color: #fff;
			font-size: 30px;
			font-weight: 300;
			top: 50%;
			transform: translateY(-50%);
			left: 65px;
		}
	}

	&__text {
		font-size: 15px;

		&_top {
			margin-bottom: 70px;
		}
	}

	&__title {
		font-size: 18px;
		margin-bottom: 50px;
		font-weight: 700;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 35px;
	}

	&__col {
		width: calc(100% / 6);
	}

	&__item {
		text-align: center;
		margin-bottom: 40px;

		a {

			&:hover {

				.documents__name {
					color: $primaryColor;
				}
			}
		}
	}

	&__name {
		max-width: 180px;
		margin-left: auto;
		margin-right: auto;
		color: #000;
		font-size: 13px;
		font-weight: 300;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		.information {
			min-width: 386px;
			margin-bottom: 0;

			&__item {
				margin-bottom: 0;
			}

			&__text {
				max-width: 260px;
			}
		}
	}

	&__admire {
		padding-bottom: 40px;

		&-link {
			border-bottom: 1px solid #e3e3e3;
			color:#000;

			&:hover{
				border-bottom-color: transparent;
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;
		padding: 20px 10px;
		padding-bottom: 10px;

		&__banner {

			&-text {
				font-size: 24px;
				left: 10px;
			}
		}

		&__wrapper {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 30px;
			margin-bottom: 0;

			.information {
				margin-bottom: 40px;
			}
		}
	}

	@media (--tablet) {
		&__col {
			width: 25%;
		}

		&__title {
			font-size: 18px;
		}

		&__text {

			&_top {
				margin-bottom: 40px;
			}
		}

	}

	@media (--phone) {
		padding-bottom: 0;

		.title {
			text-align: center;
		}

		&__top {
			text-align: center;
			margin-bottom: 25px;
		}

		&__banner {
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 20px;

			img {
				width: 100%;
			}
		}

		&__title {
			font-size: 15px;
			margin-bottom: 30px;
		}

		&__text {
			font-size: 12px;

			&_top {
				margin-bottom: 30px;
			}
		}

		&__row {
			margin-bottom: 15px;
		}

		&__col {
			width: 50%;
		}

	}
}