<section class="documents">
	{% if documents %}
	<h1 class="title">Информация и документы для покупателей товаров Miele</h1>
	{% endif %}

	{% if program %}
	<h1 class="title">Информация об услуге Miele Exclusive Care.</h1>
	{% endif %}

	{% if admire %}
	<h1 class="title">Согласие на обработку персональных данных</h1>
	{% endif %}

	<div class="documents__top">
		<div class="small-label">Сервис</div>
		<time class="documents__time" datetime="2017-06-14">9 октября 2017</time>
	</div>
	<div class="documents__banner">

		{% if documents %}
		<img src="http://via.placeholder.com/1110x246" alt="">
		{% endif %}

		{% if program %}

		<picture>
			<source media="(max-width: 767px)" srcset="images/program-mobile.jpg">
			<img src="images/program.jpg" alt="">
		</picture>

		<div class="documents__banner-text">Miele Exclusive Care — <br>VIP обслуживание от Miele.</div>
		{% endif %}

	</div>

	{% if program %}
	<div class="documents__text documents__text_top">Новая услуга сервиса по обслуживанию бытовой техники и малых
		профессиональных
		стиральных и сушильных машин. Miele Exclusive Care — программа профессионального технического обслуживания
		бытовой техники Miele квалифицированными специалистами ООО Миле СНГ, которые выполнят необходимые манипуляции в
		удобное для клиента время.
	</div>
	<div class="documents__title">Программа предлагается для следующих приборов:</div>
	<div class="documents__row">
		<div class="documents__col">
			<div class="documents__item">
				<a class="" href="#">
					<div class="documents__image">
						<img class="lazyload" data-src="images/coffe_solo.png" alt="">
					</div>
					<div class="documents__name">Кофемашина</div>
				</a>
			</div>
		</div>
		<div class="documents__col">
			<div class="documents__item">
				<a class="" href="#">
					<div class="documents__image">
						<img class="lazyload" data-src="images/pmm_allvstr_60.png" alt="">
					</div>
					<div class="documents__name">Посудомоечная машина</div>
				</a>
			</div>
		</div>
		<div class="documents__col">
			<div class="documents__item">
				<a class="" href="#">
					<div class="documents__image">
						<img class="lazyload" data-src="images/dry_solo.png" alt="">
					</div>
					<div class="documents__name">Сушильная машина</div>
				</a>
			</div>
		</div>
		<div class="documents__col">
			<div class="documents__item">
				<a class="" href="#">
					<div class="documents__image">
						<img class="lazyload" data-src="images/glad_system_miele.png" alt="">
					</div>
					<div class="documents__name">Гладильная система FashionMaster</div>
				</a>
			</div>
		</div>
		<div class="documents__col">
			<div class="documents__item">
				<a class="" href="#">
					<div class="documents__image">
						<img class="lazyload" data-src="images/wash_dry.png" alt="">
					</div>
					<div class="documents__name">Стирально-сушильная машина</div>
				</a>
			</div>
		</div>
		<div class="documents__col">
			<div class="documents__item">
				<a class="" href="#">
					<div class="documents__image">
						<img class="lazyload" data-src="images/wash-documents.png" alt="">
					</div>
					<div class="documents__name">Стиральная машина</div>
				</a>
			</div>
		</div>
	</div>
	<div class="documents__text ">
		<p><strong>Miele Exclusive Care</strong>&nbsp;включает в себя очистку внешних поверхностей, уход и техническое
			обслуживание техники, а также проверку ее функциональности с помощью средств диагностики. Программа поможет
			проверить бытовую технику клиента и поддерживать технические характеристики приборов, избегая поломок.</p>
		<p>Для получения услуг по программе Miele Exclusive Care вам необходимо заполнить предлагаемую форму заявления и
			отправить ее по адресу: <br> <strong>125284, г. Москва, Ленинградский проспект, 31А, стр. 1</strong></p>
	</div>
	<div class="documents__wrapper">
		<div class="information">
			<div class="information__item">
				<span class="icon icon_information"></span>
				<a href="#" class="information__text">Протокол сервисного обслуживания Miele Exclusive Care.pdf
					<span class="information__size">8,3 мб.</span>
				</a>
			</div>
		</div>
		<div class="problem problem_address problem_documents">
			<div class="problem__text">Нет времени разбираться? <br>Остались вопросы?
			</div>
			<div class="problem__call">
				<span class="problem__consult">Наш консультант поможет Вам.</span>
				<span class="problem__call-text">Звоните</span>
				<a href="tel:+74956029621" class="problem__call-link">+7 (495) 602-96-21</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if documents %}
	<div class="information information_documents">
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Договор розничной купли-продажи к заказу выставочного прибора по
				модели МСА.pdf
				<span class="information__size">8,3 мб.</span>
			</a>
		</div>
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Договор розничной купли-продажи к стандартному заказу МСА.pdf
				<span class="information__size">0,7 мб.</span>
			</a>
		</div>
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Прейскурант цен на работы и услуги Сервисной службы Miele.pdf
				<span class="information__size">8,5 мб.</span>
			</a>
		</div>
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Дополнительное соглашение к договору розничной купли-продажи к
				стандартному заказу по модели МСА при продаже малого профессионального и профессионального
				оборудования.pdf
				<span class="information__size">8,3 мб.</span>
			</a>
		</div>
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Договор розничной купли-продажи с юридическим лицом к
				стандартному/специальному заказу МСА.pdf
				<span class="information__size">0,7 мб.</span>
			</a>
		</div>
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Договор розничной купли-продажи к специальному заказу МСА.pdf
				<span class="information__size">0,7 мб.</span>
			</a>
		</div>
		<div class="information__item">
			<span class="icon icon_information"></span>
			<a href="#" class="information__text">Приложение к тарифам на платные услуги от 18.10.2016.pdf
				<span class="information__size">0,7 мб.</span>
			</a>
		</div>
	</div>
	{% endif %}

	{% if admire %}
	<div class="documents__admire">
		<div class="documents__text">
			<p>В соответствии с <a class="documents__admire-link" href="#">Федеральным законом от 27.07.2006 №
				152-ФЗ</a> «О
				персональных данных» даю свое согласие ООО
				«Хаусдорф Бутик» на обработку следующих персональных данных с использованием и без использования средств
				автоматизации.
			</p>
			<p>Я подтверждаю, что ознакомлен (а), что обработка персональных данных может осуществляться путем сбора,
				систематизации, накопления, хранения, уточнения (обновление, изменение), использования, передачи,
				обезличивания, блокирования, уничтожения. Согласие на обработку предоставленных мною персональных данных
				действует в течение 1 года с даты заполнения анкеты. Я уведомлен(а) о своем праве отозвать согласие на
				обработку персональных данных путем подачи в ООО «Хаусдорф Бутик» письменного заявления. Подтверждаю,
				что
				ознакомлен (а) с положениями <a class="documents__admire-link" href="#">Федерального закона от
					27.07.2006 №
					152-ФЗ</a> «О персональных данных», права и
				обязанности в области защиты персональных данных мне разъяснены.</p>
		</div>
	</div>
	{% endif %}

</section>