<div class="catalog-header">
	<h1 class="title">
		<span class="title__mobile">Товарные новинки</span>
		<span class="title__desktop">Новинки</span>
	</h1>
	<div class="tabs tabs_catalog">
		<ul class="tabs__links">
			<li>
				<a href="#js-tabs__item-1" class="tabs__link  js-tabs__link  active">Новинки</a>
			</li>
			<li>
				<a href="#js-tabs__item-2" class="tabs__link  js-tabs__link">Популярные</a>
			</li>
			<li>
				<a href="#js-tabs__item-3" class="tabs__link  js-tabs__link">Акции</a>
			</li>
		</ul>
	</div>
	<a href="#" class="catalog__rating">
		<div class="icon icon_rating"></div>
		<span>Рейтинги лучших</span></a>
</div>