.catalog-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 30px;
	padding-right: 60px;
	background: #fff;
	margin-bottom: 10px;

	@media (--tablet) {
		flex-wrap: wrap;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;

		.title {
			width: 100%;
			margin-bottom: 5px;
		}
	}

	@media (--phone) {
		flex-direction: column;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 12px;
		padding-bottom: 0;
	}

	@media (--phone) {

		&-header {
			margin-left: -1%;
			margin-right: -1%;
			padding-top: 15px;
		}

	}
}