<div class="mini">
	<div class="mini__row">
		<div class="mini__col">
			<div class="mini__item">
				<a class="mini__link js-header-manager" href="#">
					<div class="mini__image">
						<img class="lazyload" data-src="images/mini-1.jpg" alt="">
					</div>
					<div class="mini__hover">
						<div class="mini__title">Бесплатный выезд <br>консультанта на дом</div>
						<div class="mini__text">
							<p>Выгодные условия сотрудничества для наших творческих партнёров. Гарантируем полную
								конфиденциальность.</p>
							<p>Лучшие мировые бренды, профессиональные консультации, защита и сопровождение проекта,
								выезды на объект, постпродажная поддержка и профессиональный сервис.</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="mini__col">
			<div class="mini__item">
				<a class="mini__link" href="#">
					<div class="mini__image">
						<img class="lazyload" data-src="images/mini-2.jpg" alt="">
					</div>
					<div class="mini__hover">
						<div class="mini__title">Сотрудничество с дизайнерами <br>и архитекторами</div>
						<div class="mini__text">
							<p>Выгодные условия сотрудничества для наших творческих партнёров. Гарантируем полную
								конфиденциальность.</p>
							<p>Лучшие мировые бренды, профессиональные консультации, защита и сопровождение проекта,
								выезды на объект, постпродажная поддержка и профессиональный сервис.</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="mini__row">
		<div class="mini__col">
			<div class="mini__item mini__item_small">
				<a href="#">
					<div class="mini__image">
						<picture>
							<source data-srcset="images/mini-3-tablet.jpg" media="(max-width: 1137px)">
							<img class="lazyload" data-src="images/mini-3.jpg" alt="">
						</picture>
					</div>
					<div class="mini__desc mini__desc_center">
						Поддержим юных <br> футболистов вместе!
					</div>
				</a>
			</div>
		</div>
		<div class="mini__col">
			<div class="mini__item mini__item_small">
				<a href="#">
					<div class="mini__image">
						<picture>
							<source data-srcset="images/mini-4-tablet.jpg" media="(max-width: 1137px)">
							<img class="lazyload" data-src="images/mini-4.jpg" alt="">
						</picture>
						<div class="mini__desc">
							<span>ЖК и поселкам-партнёрам</span>
							Cпециальные условия от hausdorf
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>