.mini {
	margin-bottom: 10px;
	overflow: hidden;

	&__row {
		display: flex;
		margin: 0 -10px;

	}

	&__row + &__row {
		margin-top: 15px;
	}

	&__col {
		width: 50%;
		padding: 0 7.5px;
	}

	&__item {
		position: relative;
		max-height: 309px;
		min-height: 309px;
		overflow: hidden;

		&_small {
			min-height: inherit;
		}

		&:hover {

			.mini__hover {
				height: 100%;
				padding-top: 50px;
			}

			.mini__text{
				opacity: 1;
			}
		}
	}

	&__image {

		img {
			width: 100%;
			max-width: 100%;
		}
	}

	&__text {
		color: #ffffff;
	}

	&__hover {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 108px;
		padding: 50px;
		padding-top: 20px;
		opacity: 0.9;
		background-color: #292929;
		transition: height 0.3s linear;
	}

	&__title{
		margin-bottom: 35px;
		font-size: 24px;
		font-weight: 300;
		color: #ffffff;
		line-height: 1.4;
	}

	&__desc {
		position: absolute;
		top: 30px;
		left: 30px;
		width: 90%;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;

		&_center {
			left: 190px;

		}

		span {
			display: block;
			font-size: 18px;
			font-weight: 400;
			text-transform: none;
		}
	}

	&__text{
		opacity: 0;
	}

	@media (max-width: 1175px) and (min-width: 768px) {

		&__col{
			padding: 0 2.5px;
		}

		&__row + &__row{
			margin-top: 5px;
		}

		&__image {

			img {
				width: 100%;
			}
		}

		&__title{
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__desc{
			width: 90%;
			top: auto;
			bottom: 16px;

			&_center{
				top: 10px;
				bottom: auto;
				left: 32px;
			}
		}

		&__hover{
			padding: 25px;
		}
	}

	@media (--phone) {

		&__row{
			flex-wrap: wrap;
		}

		&__row + &__row{
			margin-top: 5px;
		}

		&__col {
			width: 100%;
			margin-bottom: 5px;

			&:last-child{
				margin-bottom: 0;
			}
		}


		&__item{
			min-height: 245px;
			max-height: 245px;

			&_small{
				min-height: 155px;
				max-height: 155px;
			}

			&:hover{
				.mini__hover{
					padding-top: 20px;
				}
			}
		}

		&__image {

			img {
				width: 100%;
			}
		}

		&__hover{
			height: 80px;
		}

		&__title{
			margin-bottom: 15px;
			font-size: 15px;
		}

		&__desc{
			left: 50%;
			transform: translateX(-50%);
			top: auto;
			bottom: 20px;
			text-align: center;
			font-size: 20px;

			&_center{
				text-align: left;
				top: 20px;
				bottom: auto;

			}

			span{
				font-size: 16px;
			}
		}

		&__hover{
			padding: 25px;
		}
	}

} 