.about {
	margin-bottom: 15px;

	&__top {
		background-color: #202020;
		background-image: url(../images/bg-pattern.png);
	}

	&__items {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__link {
		position: relative;
		display: block;
		padding: 17px 40px;
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		text-transform: uppercase;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 3px;
			background-color: #79797a;
			bottom: 0;
			left: 0;
			transition: width 0.3s;
		}

		&:hover {
			color: #a1a1a2;

			&:after {
				width: 100%;

			}
		}

		&.active {

			&:after {
				background-color: #ff3824;
				width: 100%;
			}
		}

		span {
			margin-left: 10px;
			color: #ff3824;
			font-weight: 500;
		}
	}

	&__content {
		padding: 30px;
		background: #ffffff;
		overflow: hidden;
	}

	&__title {
		margin-bottom: 15px;
		color: #000;
		font-size: 24px;
		font-weight: 300;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__block {
		min-width: 400px;
		margin-bottom: 30px;
		margin-right: 30px;

		&:nth-child(2n) {
			min-width: 530px;
		}

		&.hide {
			display: none;
		}

		&_margin {
			margin-right: 0;
		}

	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			max-width: 400px;
			margin-bottom: 12px;
		}

		&-name,
		&-desc {
			margin-bottom: -5px;
			background: #fff;
		}

		&-name {
			flex-grow: 1;
			color: #5a5a5a;
			font-size: 14px;
			padding-right: 3px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&-desc {
			min-width: 115px;
			color: #000;
			font-size: 14px;
			font-weight: 300;
		}
	}

	&__more {
		margin-bottom: 60px;
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;

		&:focus {
			outline: none;
		}

		&-text {
			@include border;
			font-size: 18px;

			&:after {
				bottom: -1px;
			}
		}

		&:hover {

			.about__more-text {

				&:after {
					display: none;
				}
			}
		}

	}

	&__all {
		display: none;
		margin-bottom: 60px;
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;
		@include border;

		&:focus {
			outline: none;
		}

		&:hover {

			&:after {
				display: none;
			}
		}
	}

	&__info {
		max-width: 530px;

		&-items {
			position: relative;
			padding: 10px 20px;
			background-color: #efefef;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				left: 100%;
				background-color: #efefef;

				top: 0;
			}
		}

		&-item {
			display: flex;
			align-items: center;
			color: #222328;
			font-weight: 500;
		}

		&-text {
			max-width: 100px;
			font-size: 13px;
			margin-left: 20px;
		}

		&-hide {
			display: none;
			font-size: 10px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	&__explanation {
		max-width: 660px;
	}

	&__warn {
		display: flex;
		padding-top: 20px;

		&-text {
			margin-left: 30px;
		}
	}

	&__row {
		margin-bottom: 35px;
		display: flex;
		-webkit-overflow-scrolling: touch;
		overflow-y: hidden;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__col {
		width: 25%;
		min-width: 270px;
	}

	&__col + &__col {
		margin-left: 15px;
	}

	&__bigVideo {
		margin-bottom: 35px;
		height: 624px;
	}

	&__smallVideo {
		position: relative;
		margin-bottom: 15px;
		cursor: pointer;

		img{
			max-width: 100%;
		}

		&.active{

			.about__duration-text{
				display: block;
			}
		}
	}

	&__video {

		color: #1f1f1f;
		font-size: 15px;
		font-weight: 400;
	}
	
	&__duration{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width:0;
		height: 100%;
		background-color: rgba(221, 0, 22, 0.25);
		background-image: linear-gradient(to right, rgba(221, 0, 22, 0) 0%, rgba(221, 0, 22, 0.31) 100%);


		&-text{
			display: none;
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			color: #ffffff;
			font-size: 15px;
			text-align: center;
		}

		&-timing{

		}
	}
	

	@media (--tabletAndMobile) {
		margin: 0 -1%;

		&__video{
			font-size: 13px;
		}

		.relative{
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	@media (--tablet) {

		.container {
			width: 100%;
		}

		&__content {
			padding: 20px;
		}

		&__title {
			font-size: 18px;
		}

		&__list {

			&-item {
				max-width: 335px;
			}
		}

		&__info {

			&-item {
				flex-direction: column;

				span {
					margin-bottom: 10px;
				}
			}

			&-text {
				margin-bottom: 0;
				margin-top: auto;
				max-width: 100px;
				margin-left: 0;
				text-align: center;
			}
		}

		&__block {
			min-width: 280px;
		}

		&__wrapper {

			.about__block {
				min-width: 400px;
			}
		}

		&__bottom {
			position: relative;
		}

		&__warn {
			padding-bottom: 10px;
			opacity: 0.5;
		}
	}

	@media (--phone) {

		.container {
			width: 100%;
		}

		&__item {
			width: 33%;
		}

		&__title {
			font-size: 22px;
		}

		&__link {
			font-size: 14px;
			padding: 17px 2px;
			text-align: center;
		}

		&__content {
			position: relative;
			padding: 20px 10px;

			&.padding{
				padding-bottom: 210px;
			}
		}

		&__wrapper {
			flex-direction: column;
		}

		&__all {
			display: inline-block;
			margin-bottom: 0;
		}

		&__block {
			min-width: auto;
			max-width: 100%;
			margin-right: 0;

			&:nth-child(2) {
				min-width: auto;
			}
		}

		&__list {

			&-desc {
				display: flex;
				align-items: center;
				min-width: auto;
			}
		}

		&__info {
			order: -1;
			padding-left: 0;

			&-items {
				padding: 10px 0;
				background: #ffffff;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;

				&::after {
					display: none;
				}

				&::-webkit-scrollbar {
					display: none;
				}

			}

			&-item {
				min-width: 150px;
				flex-direction: column;
				align-items: flex-start;
			}

			&-item + &-item {
				margin-left: 40px;
			}

			&-text {
				margin-top: 10px;
				margin-bottom: 10px;
				margin-left: 0;
			}

			&-hide {
				display: block;
			}
		}

		&__bottom {
			display: block;
		}

		&__explanation {
			position: relative;
			height: 99px;
			overflow: hidden;
			margin-bottom: 20px;

			&.active {
				height: auto;
				margin-bottom: 0;
			}
		}

		&__warn {
			opacity: 0.5;
			&-text {
				margin-left: 10px;
			}
		}

		&__bigVideo{
			height: 400px;
		}

	}

}