<div class="about js-about">
	<div class="about__top">
		<ul class="about__items">
			<li class="about__item">
				<a href="#js-tabs__item-1" class="about__link js-tabs__link active">О товаре</a>
			</li>
			<li class="about__item">
				<a href="#js-tabs__item-2" class="about__link js-tabs__link ">Видео</a>
			</li>
			<li class="about__item">
				<a href="#js-tabs__item-3" class="about__link js-tabs__link">Отзывы <span>15</span></a>
			</li>
		</ul>
	</div>
	<div class="about__content">
		<div class="tabs__item js-tabs__item active" id="js-tabs__item-1">
			<div class="about__wrapper">
				<div class="about__block">
					<div class="about__block-wrapper">
						<div class="about__title">Общие характеристики</div>
						<ul class="about__list">
							<li class="about__list-item">
								<span class="about__list-name js-dots">Тип&nbsp;установки</span>
								<span class="about__list-desc">отдельностоящая</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Габариты&nbsp;(ВхШхГ)</span>
								<span class="about__list-desc">85х59.5х58.5</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Максимальная&nbsp;загрузка&nbsp;(кг)</span>
								<span class="about__list-desc">11</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Количество&nbsp;режимов&nbsp;стирки</span>
								<span class="about__list-desc">15</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="about__info">
					<div class="about__info-items">
						<div class="about__info-item">
							<span class="icon icon_car icon_car-desktop icon_car-tablet"></span>
							<span class="about__info-text">Бесплатная доставка</span>
							<div class="about__info-hide">На всю технику в Hausdorf предоставляется гарантия от
								производителя
							</div>
						</div>
						<div class="about__info-item">
							<span class="icon icon_install"></span>
							<span class="about__info-text">Бесплатная установка</span>
							<div class="about__info-hide">На всю технику в Hausdorf предоставляется гарантия от
								производителя
							</div>
						</div>
						<div class="about__info-item">
							<span class="icon icon_exchange"></span>
							<span class="about__info-text">Простой обмен и возврат</span>
							<div class="about__info-hide">На всю технику в Hausdorf предоставляется гарантия от
								производителя
							</div>
						</div>
					</div>
					<div class="info-labels">
						<div class="info-labels__item" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">Хит продаж!</div>
						<div class="info-labels__item" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">Выставочный образец</div>
						<div class="info-labels__item" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">Подарок</div>
						<div class="info-labels__item" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">Скоро в продаже</div>
						<div class="info-labels__item" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">Сделано в Германии</div>
						<div class="info-labels__item" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">Эксклюзив!</div>
						<div class="info-labels__item info-labels__item_big" data-tooltip  data-offset="10" data-modclass="tooltip_info" data-text="Данный товар является популярным в разделе стиральные машины">-20%</div>
					</div>
				</div>
			</div>
			<div class="about__blocks">
				<div class="about__block">
					<div class="about__block-wrapper">
						<div class="about__title">Управление</div>
						<ul class="about__list">
							<li class="about__list-item">
								<span class="about__list-name js-dots">Управление</span>
								<span class="about__list-desc">электронное</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Элементы&nbsp;управления</span>
								<span class="about__list-desc">кнопки</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Дисплей</span>
								<span class="about__list-desc">Да</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Тип&nbsp;дисплея</span>
								<span class="about__list-desc">FSTN</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="about__block about__block_margin hide js-about__block">
					<div class="about__block-wrapper">
						<div class="about__title">Функционал</div>
						<ul class="about__list">
							<li class="about__list-item">
								<span class="about__list-name js-dots">Выбор&nbsp;температуры&nbsp;стирки</span>
								<span class="about__list-desc">Да</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Отложенный&nbsp;старт</span>
								<span class="about__list-desc">Да</span>
							</li>
							<li class="about__list-item">
								<span
									class="about__list-name js-dots">Мин. время установки таймера отложенного&nbsp;старта&nbsp;(ч)</span>
								<span class="about__list-desc">1</span>
							</li>
							<li class="about__list-item">
									<span
										class="about__list-name js-dots">Макс. время установки таймера отложенного&nbsp;старта&nbsp;(ч)</span>
								<span class="about__list-desc">24</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="about__block  hide js-about__block">
					<div class="about__title">Классы</div>
					<ul class="about__list">
						<li class="about__list-item">
							<span class="about__list-name js-dots">Класс&nbsp;отжима</span>
							<span class="about__list-desc">A+
								<span class="icon icon_info" data-tooltip data-offset="10"
								      data-pos="right" data-event="click"
								      data-modclass="tooltip_new-price"
								      data-text="Автоматическая индикация наличия накипи">
								</span>
							</span>
						</li>
						<li class="about__list-item">
							<span class="about__list-name js-dots">Класс&nbsp;стирки</span>
							<span class="about__list-desc">A++
								<span class="icon icon_info" data-tooltip data-offset="10"
								      data-pos="right" data-event="click"
								      data-modclass="tooltip_new-price"
								      data-text="Автоматическая индикация наличия накипи">

								</span>
							</span>
						</li>
						<li class="about__list-item">
							<span class="about__list-name js-dots">Класс&nbsp;энергопотребления</span>
							<span class="about__list-desc">A+++
								<span class="icon icon_info" data-tooltip data-offset="10"
								      data-pos="right" data-event="click"
								      data-modclass="tooltip_new-price"
								      data-text="Автоматическая индикация наличия накипи">

								</span>
							</span>
						</li>
					</ul>
				</div>
				<div class="about__block about__block_margin hide js-about__block">
					<div class="about__block-wrapper">
						<div class="about__title">Конструкция и дизайн</div>
						<ul class="about__list">
							<li class="about__list-item">
								<span class="about__list-name js-dots">Цвет&nbsp;белый</span>
								<span class="about__list-desc">белый</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Цвет&nbsp;люка&nbsp;белый</span>
								<span class="about__list-desc">белый</span>
							</li>
							<li class="about__list-item">
								<span class="about__list-name js-dots">Диаметр&nbsp;дверцы&nbsp;(см)</span>
								<span class="about__list-desc">42</span>
							</li>
							<li class="about__list-item">
								<span
									class="about__list-name js-dots">Диаметр&nbsp;загрузочного&nbsp;люка&nbsp;(см)</span>
								<span class="about__list-desc">30.7</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="about__block hide js-about__block">
					<div class="about__block-wrapper">
						<div class="about__title">Режимы</div>
						<ul class="about__list">
							<li class="about__list-item">
								<span class="about__list-name js-dots">Количество&nbsp;режимов&nbsp;стирки</span>
								<span class="about__list-desc">15</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<button type="button" class="about__more js-about__more">
				<span class="icon icon_more"></span>
				<span class="about__more-text">Подробные характеристики</span>
			</button>
			<div class="about__bottom">
				<div class="about__explanation js-about__explanation">
					<p>В новой стиральной машине серии Style 2 возможных барабана - барабан 60 л, 9 кг в комбинации
						с Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в комбинации с Pro Wash (11 кг без Pro
						Wash).Программы "Стирка пятен" и "Гипоаллергенные программы". Цельнометаллический фронт с
						дверью увеличенного диаметра (+ 40 мм). Режимы стирки: нормальный, ЭКО, аллергия, быстрый,
						ночьной, интенсивный. Пониженный уровень шума до 46/71 dB. Экономичный и долговечный BLDC
						мотор.</p>
					<p>Система автоматического дозирования ЖМС. Система Pro Wash. Программа Quick Pro с классом
						стирки A и продолжительностью 59 минут. Программа стирки по-времени: от 20 мин до 180
						мин.</p>
				</div>
				<button type="button" class="about__all js-about__all">Читать полностью</button>
				<div class="problem problem_card">
					<div class="problem__title">Нет времени разбираться?<br> Остались вопросы?</div>
					<div class="problem__text">Наш консультант поможет Вам выбрать <br> подходящую стиральную
						машину
					</div>
					<div class="problem__call">Звоните: <a href="tel:+74956029621">+7 (495) 602-96-21</a></div>
				</div>
			</div>

			<!--start information-->
			{% include 'information/information.html' %}
			<!--end information-->

		</div>
		<div class="tabs__item js-tabs__item " id="js-tabs__item-2">
			<div class="about__title">Introducing Beoplay A6</div>
			<div class="about__bigVideo js-about__bigVideo" id="player">
				<!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/82eRniMN6xQ?rel=0" frameborder="0"-->
				<!--allow="encrypted-media" allowfullscreen></iframe>-->
			</div>
			<div class="about__row">
				<div class="about__col">
					<div class="about__video">
						<div class="about__smallVideo js-small-video" data-video="Ft3XRPS9HKk">
							<div class="about__duration js-about__duration"></div>
							<div class="about__duration-text">Воспроизодится
								<div class="about__duration-timing">
									<span class="about__duration-allTime js-currentTime"></span>/
									<span class="about__duration-allTime js-allTime"></span>
								</div>

							</div>

							<img src="images/video-1.png" alt="">
							<!--<iframe width="270" height="100%"-->
							<!--src="https://www.youtube.com/embed/Ft3XRPS9HKk?rel=0&amp;controls=0" frameborder="0"-->
							<!--allow="encrypted-media" allowfullscreen></iframe>-->
						</div>
						Introducing Beoplay A6
					</div>
				</div>
				<div class="about__col">
					<div class="about__video">
						<div class="about__smallVideo js-small-video" data-video="OrpQxWcAhOI">
							<div class="about__duration js-about__duration"></div>
							<div class="about__duration-text">Воспроизодится
								<div class="about__duration-timing">
									<span class="about__duration-allTime js-currentTime"></span>/
									<span class="about__duration-allTime js-allTime"></span>
								</div>
							</div>
							<img src="images/video-2.png" alt="">
							<!--<iframe width="270" height="100%"-->
							<!--src="https://www.youtube.com/embed/OrpQxWcAhOI?rel=0&amp;controls=0" frameborder="0"-->
							<!--allow="encrypted-media" allowfullscreen></iframe>-->
						</div>
						BeoPlay A6 Wireless Audio System
					</div>
				</div>
				<div class="about__col">
					<div class="about__video">
						<div class="about__smallVideo js-small-video" data-video="M2zb9hsKIM0">
							<div class="about__duration js-about__duration"></div>
							<div class="about__duration-text">Воспроизодится
								<div class="about__duration-timing">
									<span class="about__duration-allTime js-currentTime"></span>/
									<span class="about__duration-allTime js-allTime"></span>
								</div>
							</div>
							<img src="images/video-3.png" alt="">
							<!--<iframe width="270" height="100%" src="https://www.youtube.com/embed/M2zb9hsKIM0?rel=0&amp;controls=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>-->
						</div>
						BeoPlay A6 music services
					</div>
				</div>
				<div class="about__col">
					<div class="about__video">
						<div class="about__smallVideo js-small-video" data-video="82eRniMN6xQ">
							<div class="about__duration js-about__duration"></div>
							<div class="about__duration-text">Воспроизодится
								<div class="about__duration-timing">
									<span class="about__duration-allTime js-currentTime"></span>/
									<span class="about__duration-allTime js-allTime"></span>
								</div>
							</div>

							<img src="images/video-4.png" alt="">
							<!--<iframe width="270" height="100%" src="https://www.youtube.com/embed/82eRniMN6xQ?rel=0&amp;controls=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>-->
						</div>
						B&O Play: A6
					</div>
				</div>
			</div>
		</div>
		<div class="tabs__item js-tabs__item" id="js-tabs__item-3">
			<div class="reviews">
				<div class="reviews__top reviews__top_card">
					<div class="reviews__left">
						<div class="small-title">Всего 15 отзывов</div>
						<a href="#" class="reviews__all">Смотреть все <span
							class="reviews__all-mobile">отзывы</span></a>
					</div>
					<div class="grade">
						<div class="grade__title">Средняя оценка</div>
						<div class="ratings ratings_output">
							<div class="ratings__section">
								<div class="ratings__start"></div>
								<div class="ratings__click" style="width: 80%;"></div>
							</div>
						</div>
						<div class="grade__number">4.5</div>

					</div>
					<button class="btn btn_reviews">Оставить отзыв</button>
				</div>
				<div class="reviews__items">
					<div class="reviews__item">
						<div class="reviews__heading">
							<div class="reviews__name">Евгений</div>
							<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
							<div class="ratings">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 80%;"></div>
								</div>
							</div>
							<div class="reviews__grade">4,0</div>
						</div>
						<ul class="reviews__list">
							<li class="reviews__list-item">
								<div class="reviews__prop">Преимущества</div>
								<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана -
									барабан
									60
									л, 9 кг в комбинациис Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в
									комбинации с Pro
									Wash
									(11 кг без Pro Wash).
								</div>
							</li>
							<li class="reviews__list-item">
								<div class="reviews__prop">Недостатки</div>
								<div class="reviews__text">Система автоматического дозирования ЖМС. Система Pro Wash.
								</div>
							</li>
							<li class="reviews__list-item">
								<div class="reviews__prop">Отзыв</div>
								<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
									Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
									нормальный,
									ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
									Экономичный и
									долговечный BLDC мотор.
								</div>
							</li>
						</ul>
					</div>
					<div class="reviews__item">
						<div class="reviews__heading">
							<div class="reviews__name">Анна</div>
							<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
							<div class="ratings">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 100%;"></div>
								</div>
							</div>
							<div class="reviews__grade">5,0</div>
						</div>
						<ul class="reviews__list">
							<li class="reviews__list-item">
								<div class="reviews__prop">Преимущества</div>
								<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана
								</div>
							</li>
							<li class="reviews__list-item">
								<div class="reviews__prop">Отзыв</div>
								<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
									Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
									нормальный,
									ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
									Экономичный и
									долговечный BLDC мотор.
								</div>
							</li>
						</ul>
					</div>
					<div class="reviews__item">
						<div class="reviews__heading">
							<div class="reviews__name">Константин Константинопольский</div>
							<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
							<div class="ratings">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 40%;"></div>
								</div>
							</div>
							<div class="reviews__grade">2,0</div>
						</div>
						<ul class="reviews__list">
							<li class="reviews__list-item">
								<div class="reviews__prop">Недостатки</div>
								<div class="reviews__text">Система автоматического дозирования ЖМС. Система Pro Wash.
								</div>
							</li>
							<li class="reviews__list-item">
								<div class="reviews__prop">Отзыв</div>
								<div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									Aliquam
									amet dolorum earum fugit minus nulla quam quia reiciendis tenetur voluptates. A
									accusantium
									beatae blanditiis delectus dolor, doloribus eius, expedita facere illo illum ipsa
									ipsam
									ipsum magni maxime minus nesciunt quam quas reprehenderit sequi sunt temporibus
									totam ullam
									veniam voluptas voluptatibus? Adipisci architecto error odit officiis perspiciatis
									quisquam
									recusandae similique voluptatem!...<a href="#" class="reviews__view">Читать
										полностью</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="reviews__item">
						<div class="reviews__heading">
							<div class="reviews__name">Евгений</div>
							<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
							<div class="ratings">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 80%;"></div>
								</div>
							</div>
							<div class="reviews__grade">4,0</div>
						</div>
						<ul class="reviews__list">
							<li class="reviews__list-item">
								<div class="reviews__prop">Преимущества</div>
								<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана -
									барабан
									60
									л, 9 кг в комбинациис Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в
									комбинации с Pro
									Wash
									(11 кг без Pro Wash).
								</div>
							</li>
							<li class="reviews__list-item">
								<div class="reviews__prop">Недостатки</div>
								<div class="reviews__text">Система автоматического дозирования ЖМС. Система Pro Wash.
								</div>
							</li>
							<li class="reviews__list-item">
								<div class="reviews__prop">Отзыв</div>
								<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
									Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
									нормальный,
									ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
									Экономичный и
									долговечный BLDC мотор.
								</div>
							</li>
						</ul>
					</div>
					<div class="reviews__item">
						<div class="reviews__heading">
							<div class="reviews__name">Анна</div>
							<time datetime="2015-02-14" class="reviews__time">10.11.2017</time>
							<div class="ratings">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 100%;"></div>
								</div>
							</div>
							<div class="reviews__grade">5,0</div>
						</div>
						<ul class="reviews__list">
							<li class="reviews__list-item">
								<div class="reviews__prop">Преимущества</div>
								<div class="reviews__text">В новой стиральной машине серии Style 2 возможных барабана -
									барабан
									60
									л, 9 кг в комбинациис Pro Wash (8 кг без Pro Wash) и барабан 80 л, 12 кг в
									комбинации с Pro
									Wash
									(11 кг без Pro Wash).
								</div>
							</li>

							<li class="reviews__list-item">
								<div class="reviews__prop">Отзыв</div>
								<div class="reviews__text">Программы "Стирка пятен" и "Гипоаллергенные программы".
									Цельнометаллический фронт с дверью увеличенного диаметра (+ 40 мм). Режимы стирки:
									нормальный,
									ЭКО, аллергия, быстрый, ночьной, интенсивный. Пониженный уровень шума до 46/71 dB.
									Экономичный и
									долговечный BLDC мотор.
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--start relative-->
		{% include 'relative/relative.html' %}
		<!--end relative-->

		<div class="about__warn">
			<span class="icon icon_warn"></span>
			<div class="about__warn-text">Вся информация о товаре, характеристики и описание не являются публичной
				офертой. Производители техники могут без уведомления менять комплектацию, дизайн и функционал моделей.
				Пожалуйста, уточняйте данные о товаре у консультантов.
			</div>
		</div>
	</div>

</div>