.companion {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2d2d2e;
	padding: 18px 25px;

	&__title {
		color: #fff;
		font-size: 23px;
		font-weight: 300;
	}

	&__select {
		width: 437px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__desc {
		position: relative;
		flex-grow: 1;
		padding: 11px 25px;
		background-color: rgba(0, 0, 0, 0.4);
		border: 1px solid rgba(0, 0, 0, 0.6);

		&::after {
			right: 25px;
			top: 25px;
			content: "";
			position: absolute;
			display: block;
			border: 5px solid transparent;
			border-top-color: $primaryColor;
		}
	}

	&__subject {
		color: #c6c6c6;
		font-size: 12px;
		font-weight: 400;
	}

	&__value {
		color: #fff;
		font-size: 15px;
		font-weight: 700;
	}

	&__hidden {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		background: #fff;
		z-index: 3;
		transition: opacity 0.3s;

		&.active {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__heading {
		font-size: 18px;
		font-weight: 700;
		color: #000000;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		padding-top: 20px;
	}

	&__name {
		position: absolute;
		bottom: 20px;
		left: 10px;
		color: #fff;
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__item {
		position: relative;
		margin-bottom: 15px;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			bottom: 0;
			left: 0;
			height: 3px;
			background-color: #ff3824;
			transition: width 0.3s;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}

	&__image {

		img {
			width: 100%;
		}
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;
	}

	@media (--phone) {
		padding-left: 5px;
		padding-right: 5px;

		flex-direction: column;

		&__title {
			font-size: 18px;
			margin-bottom: 15px;
		}

		&__select{
			width: 100%;
		}

		&__desc{
			max-width: 80%;
		}

		&__value{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__image{
			min-width: 80px;
		}
	}

}