<div class="companion">
	<div class="companion__title">Партнеры ЖК</div>
	<div class="companion__select js-companion__select">
		<div class="companion__image">
			<img class="lazyload" data-src="images/companion-image.png" alt="">
		</div>
		<div class="companion__desc">
			<div class="companion__subject">Партнер ЖК</div>
			<div class="companion__value">Башня Федерация “Москва Сити”</div>
		</div>
	</div>
	<div class="companion__hidden js-companion__hidden">
		<div class="container">
			<div class="companion__top">
				<div class="companion__heading">Коллекции техники ASKO Asko</div>
			</div>
			<div class="swiper-container swiper_collection js-swiper-collection">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="companion__items">
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-1.png" alt="">
									</div>
									<div class="companion__name">ASKO Elements</div>
								</a>
							</div>
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-2.png" alt="">
									</div>
									<div class="companion__name">ASKO professional</div>
								</a>
							</div>

						</div>
					</div>
					<div class="swiper-slide">
						<div class="companion__items">
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-3.png" alt="">
									</div>
									<div class="companion__name">ASKO Craft</div>
								</a>
							</div>
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-4.png" alt="">
									</div>
									<div class="companion__name">ASKO LEFORM</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="companion__items">
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-5.png" alt="">
									</div>
									<div class="companion__name">ASKO Pro Home Laundry</div>
								</a>
							</div>
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-6.png" alt="">
									</div>
									<div class="companion__name">Вся техника Asko</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="companion__items">
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-1.png" alt="">
									</div>
									<div class="companion__name">ASKO Elements</div>
								</a>
							</div>
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-2.png" alt="">
									</div>
									<div class="companion__name">ASKO professional</div>
								</a>
							</div>

						</div>
					</div>
					<div class="swiper-slide">
						<div class="companion__items">
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-3.png" alt="">
									</div>
									<div class="companion__name">ASKO Craft</div>
								</a>
							</div>
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-4.png" alt="">
									</div>
									<div class="companion__name">ASKO LEFORM</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="companion__items">
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-5.png" alt="">
									</div>
									<div class="companion__name">ASKO Pro Home Laundry</div>
								</a>
							</div>
							<div class="companion__item">
								<a href="#">
									<div class="companion__image">
										<img class="lazyload" data-src="images/collection-image-6.png" alt="">
									</div>
									<div class="companion__name">Вся техника Asko</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</div>
</div>