.catalog {
	margin-bottom: 10px;

	&__rating {
		display: flex;
		align-items: center;
		color: #de081d;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		text-transform: uppercase;

		@media (--tablet) {
			padding-right: 40px;
		}

		@media (--phone) {
			display: none;
		}

		&:hover {
			text-decoration: none;
			color: #000000;
		}

		span {
			margin-left: 30px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__col {
		width: 25%;
		min-width: 156px;
		padding: 0 5px;
		margin-bottom: 10px;

		&_wide {
			width: 50%;
			min-height: 389px;

			.catalog__overlay {
				top: 0;
				width: 100%;

				&-item {

					&:after {
						top: 5px;
					}
				}
			}

			.catalog__item {
				padding: 0;

				&-inner {
					padding: 20px;
					height: 100%;
				}

				&::after {
					content: "";
					position: absolute;
					display: block;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 190px;
					background-image: linear-gradient(to top, #1f1f1f 0%, rgba(31, 31, 31, 0) 100%);
				}
			}

			.catalog__name {
				color: #ffffff;
				min-height: inherit;
			}

			.catalog__desc {
				height: 100%;
				width: 100%;
				padding: 20px;
				background-color: rgb(31, 31, 31);
				background-image: linear-gradient(to top, #1f1f1f 0%, rgba(31, 31, 31, 0) 100%);
			}

			.catalog__heading {
				color: #ffffff;
			}

			.catalog__list {
				display: inline-block;
				vertical-align: top;

				&-item {

					span {
						color: #ffffff;
					}
				}
			}
			.catalog__list + .catalog__list {
				margin-left: 40px;
			}

			.catalog__image {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				max-height: inherit;
				min-height: inherit;
				margin-bottom: 0;

				@media (--phone) {
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;

					@media (--tablet) {
						width: 100%;
					}

					@media (--phone) {
						width: 100%;
					}
				}
			}

			.icon_likes {
				opacity: 0.5;
				background-image: url(https://icongr.am/fontawesome/heart.svg?size=20&color=8c8c8c);

				&:hover {
					opacity: 1;
					background-image: url(https://icongr.am/fontawesome/heart.svg?size=20&color=dd0016);
				}
			}

			.icon_feature-compare {

				background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAQAAABag45kAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhDAgQISJUUVAeAAAAJ0lEQVQY02P838DAwMDAACExABMDXsCCU6aBCN0kGY7hTMoMH7rSAC4eA59AuCnwAAAAAElFTkSuQmCC') no-repeat;

			}

			@media (--tablet) {

				.catalog__list + .catalog__list {
					margin-left: 10px;
				}

				.catalog__list-item {
					font-size: 9px;
				}
			}

		}

		&_center,
		&_left {
			width: 50%;
			flex-grow: 1;

			.catalog__item {
				padding: 0;

				&-inner {
					height: 100%;
				}
			}

			.catalog__image {
				height: 100%;
				top: 0;
				opacity: 1;
				margin-bottom: 0;
				max-height: inherit;
				min-height: inherit;
				background: transparent;

				img {
					height: 100%;
					width: 100%;
				}
			}
		}

		&_center {

			.catalog__item {

				&::after {
					content: "";
					position: absolute;
					display: block;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 190px;
					background-image: linear-gradient(to top, #1f1f1f 0%, rgba(31, 31, 31, 0) 100%);
				}
			}

		}

		&_banner {
			width: 50%;
			flex-grow: 1;

			.catalog__item {
				background: transparent;
				padding: 0;

				&-inner {
					height: 100%;
				}
			}

			.catalog__image {
				top: 0;
				background: transparent;
				opacity: 1;
				height: 100%;
				max-height: initial;

				img {
					height: 100%;
					width: 100%;
				}
			}
		}

		&_left {

			.catalog__item {
				position: relative;
				background-color: #bdc1c2;

				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 300px;
					height: 500px;
					right: 10%;
					bottom: -50%;
					background-color: #e90006;
					transform: rotate(45deg);
				}
			}

			.catalog__image {
				position: relative;
				height: auto;
				padding-top: 30px;
				z-index: 2;

				img {
					height: auto;
					width: auto;
					margin-right: auto;
					max-width: 345px;
				}
			}

			.catalog__wrap {
				padding-right: 30px;
				padding-left: 0;

				&-text {
					margin-left: auto;
					text-align: right;
					font-size: 30px;
					font-weight: 700;
					text-transform: uppercase;
				}

			}

		}

		@media (--phone) {
			width: 50%;
			padding: 0 1px;
		}
	}

	&__item {
		position: relative;
		height: 100%;
		overflow: hidden;
		background: #fff;
		padding: 20px;

		&:hover {

			.catalog__features {
				opacity: 1;
			}
		}

		&-inner {
			position: relative;
			min-height: 230px;
		}

		@media (--phone) {
			padding: 10px;
		}
	}

	&__block {
		position: absolute;
		bottom: 0;
		z-index: 2;
		padding: 20px;
	}

	&__wrap {
		position: absolute;
		width: 100%;
		left: 0;
		padding-left: 20px;
		padding-bottom: 30px;
		bottom: -5px;
		z-index: 3;

		@media (--phone) {
			padding-left: 10px;
		}

		&-text {
			max-width: 248px;
			color: #fff;
			font-size: 24px;
			font-weight: 300;
		}
	}

	&__image {
		opacity: 0;
		position: absolute;
		top: 20px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		max-height: 210px;
		min-height: 210px;
		background: #fff;

		@media (--phone) {
			height: 210px;
		}

		img {
			max-height: 100%;

			@media (--tablet) {
				width: 100px;
			}
			@media (--phone) {
				width: 100px;
			}
		}

		&.active {
			opacity: 1;
			z-index: 2;
		}
	}

	&__pic {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		&.active {
			display: block;
		}
	}

	&__overlay {
		position: absolute;
		width: 110%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
		top: -10px;
		display: flex;
		z-index: 3;

		&-item {
			position: relative;
			width: 25%;
			opacity: 0;
			transition: opacity 0.3s;

			&::after {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				width: 95%;
				left: 50%;
				transform: translateX(-50%);
				height: 2px;
				opacity: 0.1;
				transition: opacity 0.3s;
				background-color: #202020;
			}

			&:hover,
			&.active {

				&:after {
					opacity: 0.5;
					background-color: #000;
				}
			}
		}

		&:hover {

			.catalog__overlay-item {
				opacity: 1;
			}

		}

	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			color: #959595;
			font-size: 13px;
			line-height: 24px;
			font-weight: 700;

			span {
				color: #000000;
			}
		}

		@media (--phone) {

			&:nth-of-type(2) {
				display: none;
			}
		}
	}

	&__desc {
		background: #fff;
		//margin-left: -20px;

		@media (--phone) {
			padding-left: 10px;
			width: 100%;
		}
	}

	&__heading {
		margin-bottom: 15px;
		color: #202020;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
	}

	&__features {
		opacity: 0;
		display: flex;
		right: 20px;
		top: 20px;
		position: absolute;
		z-index: 3;

		.icon_likes {
			opacity: 0.5;
			background-image: url(https://icongr.am/fontawesome/heart.svg?size=20&color=8c8c8c);

			&:hover {
				opacity: 1;
				background-image: url(https://icongr.am/fontawesome/heart.svg?size=20&color=dd0016);
			}
		}

	}

	&__feature {
		cursor: pointer;
	}

	&__feature + &__feature {
		margin-left: 20px;
	}

	&__subject {
		height: 16px;
		color: #959595;
		font-size: 12px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__name {
		display: block;
		min-height: 62px;
		color: #000;
		font-size: 15px;

		&:hover {
			color: $primaryColor;
		}
	}

	&__footer {
		display: flex;

	}

	&__price {
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		color: $primaryColor;
	}

	&__old-price {
		margin-left: 5px;
		color: #959595;
		font-size: 13px;
		font-weight: 400;
		text-decoration: line-through;
	}

	&__link {
		display: none;
		height: 45px;
		line-height: 45px;
		color: #000;
		font-size: 13px;
		font-weight: 400;
		background: #fff;
		text-align: center;

		span {
			display: inline-block;
			position: relative;
			padding-right: 20px;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 8px;
				right: 0;
				top: 20px;
				height: 8px;
				border: 1px solid transparent;
				border-right-color: $primaryColor;
				border-bottom-color: $primaryColor;
				transform: rotate(-45deg);

			}
		}

	}

	@media (--tabletAndMobile) {

		&__link {
			display: block;
		}

		&__features {
			opacity: 1;
		}

	}

	@media (--tablet) {
		&__image {
			top: 60px;
		}
	}

	@media (--phone) {

		&__row {
			margin: 0;
		}

		&__col {
			margin-bottom: 2px;

			&_center,
			&_left,
			&_wide,
			&_banner{
				width: 100%;

			}
		}

		&__item {

			&-inner {
				min-height: 250px;
			}
		}

		&__overlay {
			width: 100%;

			&:hover {

				.catalog__overlay-item {
					opacity: 0;
				}
			}

			&-item {
				opacity: 1;

				&:after {
					top: 5px;
				}

			}
		}

		&__image {
			top: 35px;
		}

	}

	@media (max-width: 515px) {

		&__overlay {

			&-item {
				width: 33.33%;

				&:last-child {
					display: none;
				}
			}
		}

		&__image {

			&:last-child {
				display: none;
			}
		}

	}

}
