.accordion {

	&__panel {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: max-height 0.2s linear;
		max-height: 0;
		margin: 0;
		padding: 0;

		&.active {
			max-height: 100%;
		}
	}

	&__title {
		display: none;
	}

	&__block {
		margin-bottom: 40px;

		&.hide {
			display: none;
		}
	}

	&__button {
		position: relative;
		display: inline-block;
		border: none;
		background: transparent;
		color: #202020;
		font-size: 24px;
		font-weight: 700;
		padding-right: 20px;
		cursor: pointer;

		&:before {
			content: "";
			position: absolute;
			display: block;
			right: 0;
			top: 12px;
			width: 10px;
			height: 10px;
			border-bottom: 2px solid #dcdcdc;
			border-right: 2px solid #dcdcdc;
			transform: rotate(45deg);
		}

		&:focus {
			outline: none;
		}

		&.active {

			&:before {
				top: 17px;
				border-bottom-color: $primaryColor;
				border-right-color: $primaryColor;
				transform: rotate(-135deg);
			}
		}
	}

	&_compare {
		display: none;
		background: #fff;

		.accordion__button {
			display: block;
			padding-top: 10px;
			padding-bottom: 10px;
			color: #000;
			font-size: 13px;
			font-weight: 500;
		}

		.accordion__block {
			padding: 6px 10px;
		}
	}

	&_search {

		.accordion__button {

			&:hover {
				color: $primaryColor;
			}
		}

		.catalog__image{
			opacity: 1;
		}

		@media (--phone) {
			margin-left: -10px;
			margin-right: -10px;
		}
	}

	&_service {

		.accordion__button {
			font-size: 18px;
			margin-bottom: 15px;

			&:before {
				top: 6px;
			}

			&.active {

				&:before {
					top: 11px;
				}
			}
		}
	}

	&_connect {

		.accordion {

			&__block {
				border-bottom: 1px solid #eaedf0;
				padding-bottom: 10px;

				&:last-child {
					margin-bottom: 50px;
				}
			}

			&__button {
				margin-bottom: 25px;

				span {
					color: $primaryColor;
					margin-right: 10px;
				}
			}
		}

		@media (--tablet) {
			margin-left: 5px;
			margin-right: 5px;

			.accordion {

				&__block {
					margin-bottom: 25px;
					padding-left: 0;
					padding-right: 0;

					&:last-child{
						margin-bottom: 5px;
					}
				}

				&__button {
					font-size: 18px;

					&:before{
						top: 5px;
					}

					&.active{

						&:before{
							top: 11px;
						}
					}

					span {
						margin-right: 15px;
					}
				}
			}
		}

		@media (--phone) {

			.accordion {

				&__block {
					margin-bottom: 15px;
					padding-top: 10px;
				}

				&__button {
					font-size: 15px;
					margin-bottom: 15px;

					&:before {
						top: 3px;
					}

					&.active {

						&:before {
							top: 8px;
						}
					}

					span {
						margin-right: 20px;
					}
				}
			}
		}

	}

	@media (max-width: 1160px) {

		&_compare {

			margin-right: 0;
			margin-left: 0;
			display: block;

			.accordion__block {
				margin-bottom: 0;
				border-bottom: 1px solid #eaedf0;
			}

			.accordion__panel {
				display: flex;
			}
		}
	}

	@media (--tabletAndMobile) {
		margin-right: -1%;
		margin-left: -1%;

		&__block {
			margin-bottom: 0;
			border-bottom: 1px solid #eaedf0;
			padding: 15px 10px;

			&:last-child {
				border-bottom: 0;
			}
		}

		&__button {
			display: block;
		}
	}

}
