body,
html{
	height: 100%;
}

body {
	margin: 0;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: 400;
	line-height: $line-height;
	color: #000;
	text-align: left;
	background-color: #fff;
	height: 100%;
}

a{
	color: $primaryColor;

	&:hover{
		color: #000;
		text-decoration: none;
	}
}

section{
	padding: 30px;
	background: #ffffff;

	@media (--tabletAndMobile) {
		padding: 10px;
		padding-top: 15px;
	}
}

.b-hide{
	display: none;
}