.basket-add {
	max-width: 740px;
	background: #fff;

	.relative {
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 20px;

		&__inner {
			padding-bottom: 40px;
		}

		.container {
			width: auto;
		}

		.swiper-container-horizontal > .swiper-scrollbar {
			bottom: 20px;
		}

		@media (max-width: 768px) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	&__image {
		width: 40%;
		text-align: center;
		margin-right: 30px;
	}

	&__desc {
		width: 60%;
		max-width: 256px;
	}

	&__subject {
		color: #959595;
		font-size: 12px;
		font-weight: 400;
	}

	&__name {
		display: block;
		margin-bottom: 15px;
		color: #000;
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__old-price {
		margin-bottom: 10px;
		color: #202020;
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;

		span {
			position: relative;
			&::before {
				border-bottom: 1px solid currentColor;
				position: absolute;
				content: "";
				width: 100%;
				height: 50%;
				transform: rotate(-7deg);
			}
		}
	}

	&__price {
		color: #f2221c;
		font-size: 24px;
		font-weight: 300;
		line-height: 20px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__continue {
		width: 45%;
		border: none;
		padding: 22px 0;
		background: none;
		color: #202020;
		font-size: 18px;
		font-weight: 500;
		line-height: 16px;
		cursor: pointer;

		span {
			border-bottom: 1px dashed #c5c5c5;
		}
	}

	@media (max-width: 768px) {
		.relative{
			max-width: 100%;

			&__inner{
				padding-bottom: 20px;
			}
		}

		&__footer,
		&__wrapper{
			flex-direction: column;
		}

		&__wrapper{
			align-items: flex-start;
		}

		&__image{
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			text-align: left;
		}

		&__desc{
			width: 100%;
		}

		&__name{
			font-size: 13px;
		}

		&__ptice{
			font-size: 16px;
		}

		&__continue{
			width: 100%;
		}
	}
}