.btn{
	display: block;
	max-width: 300px;
	padding: 10.5px 0;
	background-color: #dd0016;
	background-image: linear-gradient(to top, rgba(255, 56, 36, 0.25) 0%, rgba(255, 56, 36, 0) 100%);
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	line-height: 16px;
	transition: background-color 0.3s;
	cursor: pointer;
	border: none;

	&:hover{
		background-color: #ff0019;
		color: #ffffff;
	}

	&:active{
		background-image: none;
		color: #ffffff;
		background-color: #dd0016;
		text-decoration: none;
	}

	&:focus{
		outline: none;
		background-color: #ff0019;
		background-image: none;
	}

	&_card{
		min-width: 273px;
		padding: 15.5px 0;
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;

		@media (--phone) {
			min-width: 205px;
		}
	}

	&_reviews{
		padding: 17px 54.5px;
		font-size: 18px;
		font-weight: 500;
	}

	&_basket-add{
		width: 45%;
		padding: 22px 0;
		font-size: 18px;
		font-weight: 500;
		line-height: 16px;

		@media (--phone) {
			width: 100%;
		}

	}

	&_view{
		padding: 15px 40px;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 500;

		@media (--tabletAndMobile) {
			font-size: 12px;
			text-transform: none;
		}

		@media (--tablet) {
			padding: 7px 19px;
		}

		@media (--phone) {
			max-width: initial;
			padding-top: 7px;
			padding-bottom: 7px;
		}

	}

	&_partners{
		font-size: 18px;
		font-weight: 500;
		padding: 21.5px;
		max-width: 317px;
		margin-bottom: 28px;

		@media (--tablet) {
			margin-bottom: 6px;
		}
	}

	&_company{
		margin-left: auto;
		margin-right: auto;
		margin-top: -15px;
		margin-bottom: 25px;
	}

	@media (--tabletAndMobile) {
		&_card{
			padding-top: 17.5px;
			padding-bottom: 13.5px;
		}
	}

	@media (--tablet) {

		&_footer {
			width: 188px;
		}
	}
}