.compare-menu {
	position: absolute;
	left: 49%;
	top: calc(100% + 20px);
	transform: translateX(-50%) scale(0);
	width: 300px;
	padding: 20px 15px;
	box-shadow: 0 3px 25px rgba(77, 107, 127, 0.2);
	font-weight: 400;
	background: #fff;
	z-index: 11;
	opacity: 0;
	transition: transform 0.2s, opacity 0.3s;
	cursor: default;

	&.active {
		transform: translateX(-50%) scale(1);
		opacity: 1;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 50%;
		top: -7.5px;
		transform: translateX(-50%) rotate(45deg);
		background: #fff;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__block + &__block {
		border-top: 1px solid #eaedf0;
		padding-top: 15px;
		margin-top: 15px;
	}

	&__title {
		position: relative;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 4px;
			height: 20px;
			background-color: #dd0016;
			left: -15px;
			top: 0;
		}
	}

	&__button {
		color: $primaryColor;
		font-weight: 300;
		&:hover {
			color: #000000;
		}
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__link {
		color: #1f1f1f;
		font-size: 13px;
		font-weight: 400;
	}

	&__close {
		background: none;
		border: none;
		cursor: pointer;

		.icon_close {
			opacity: 0.3;
			background-image: url(https://icongr.am/material/close.svg?size=20&color=202020);
		}
	}

	&__more {
		opacity: 0.75;
		color: #1f1f1f;
		font-size: 12px;

		span {
			font-weight: 700;
		}
	}

	@media (--tablet) {
		top: calc(100% + 10px);

		&.active {
			left: auto;
			right: -1%;
			transform: translateX(0%) scale(1);
			opacity: 1;

			&:after{
				left: 67%;
			}
		}
	}
}

