.delivery-row {
	margin-bottom: 155px;

	&__desc {
		position: relative;
		z-index: 2;
		width: 200px;
		padding-top: 25px;
	}

	&__title {
		color: rgb(43, 42, 42);
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		margin-bottom: 20px;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

	}

	&__item {
		margin-bottom: 15px;
	}

	&__link {
		font-size: 13px;
		color: #000000;
	}

	&__item.active &__link,
	&__link:hover {
		color: $primaryColor;
		font-weight: 700;
		text-decoration: none;
	}

	&__more {

		span {
			font-size: 13px;
			cursor: pointer;
			border-bottom: 1px dashed #ccc;
		}
	}

	&__map {
		margin: 0 0 0 200px;
		height: 420px;
		position: relative;
	}

	&__block {
		width: 1000px;
		height: 700px;
		margin: -455px 0 0;
		transform: scale(0.85);
	}

	@media (--phone) {

		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 45px;

		&__block {
			width: 100%;
			height: 300px;
			margin: 0;
			top: -60px;
			transform: scale(0.85) translateX(0px);
		}

		&__desc {
			padding-top: 0;
		}

		&__map {
			position: absolute;
			top: -100px;
			width: 100%;
			left: 0;
			margin: 0;
			height: 300px;
			background-image: url(../images/map-service.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
}