@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyrRoman.woff2') format('woff2'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrRoman.woff') format('woff'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrRoman.ttf') format('truetype');
	font-weight:400;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyrMedium.woff') format('woff'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrMedium.ttf') format('truetype');
	font-weight:500;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyrBold.woff2') format('woff2'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrBold.woff') format('woff'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrBold.ttf') format('truetype');
	font-weight:700;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyrLight.woff2') format('woff2'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrLight.woff') format('woff'),
	url('fonts/HelveticaNeueCyr/HelveticaNeueCyrLight.ttf') format('truetype');
	font-weight:300;
}