.gallery {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	&_service {
		flex-direction: column;
		position: relative;

		.gallery {

			&__bigImage {
				max-width: 100%;

				a {
					position: relative;

					&::after {
						content: "";
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background-image: linear-gradient(to top, rgba(32, 32, 32, 0.42) 0%, rgba(47, 47, 47, 0.42) 100%);
					}
				}

			}

			&__list {
				position: absolute;
				width: 95%;
				left: 50%;
				transform: translateX(-50%);
				bottom: 10px;
				flex-wrap: nowrap;
				flex-direction: row;
			}

			&__item {
				width: 187px;
				height: 88px;
				overflow: hidden;

				&.active {

					.gallery__link {

						&:after {
							display: none;
						}
					}
				}
			}

			&__smallImage {
				opacity: 1;
				height: 88px;
			}

			&__link {
				position: relative;

				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-image: linear-gradient(to top, rgba(32, 32, 32, 0.42) 0%, rgba(47, 47, 47, 0.42) 100%);
				}
			}
		}

		@media (--tablet) {

			.gallery {

				&__list {
					width: 92%;
				}
			}

		}

		@media (--phone) {
			margin-bottom: -10px;
			margin-left: -2%;
			margin-right: -2%;

			.gallery {

				&__bigImage {
					margin-bottom: 10px;
				}

				&__list {
					position: relative;
					width: 100%;
					margin-left: 0;
					background-color: #202020;
					padding: 20px;
					-webkit-overflow-scrolling: touch;
					overflow-y: hidden;
					overflow-x: scroll;

					&::-webkit-scrollbar {
						display: none;
					}
				}

				&__item {
					margin-left: 0;
					margin-bottom: 0;
					min-width: 120px;
				}
			}
		}
	}

	&_card {

		.gallery__list {
			height: 410px;
			overflow: hidden;
			flex-wrap: nowrap;
		}
	}

	&__bigImage {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 446px;
		min-width: 430px;
		flex-grow: 1;
		position: relative;
		margin-bottom: 8px;

		img {
			max-width: 100%;
		}

		a {
			display: inline-block;
		}

	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;

		&_premium {
			position: relative;
			top: -40px;
			right: -30px;
			padding-top: 20px;
			background-color: rgba(33, 33, 33, 0.95);
		}
	}

	&__item {
		width: 90px;
		height: 78px;
		text-align: center;

		margin-bottom: 8px;

		&.active .gallery__smallImage {
			opacity: 1;
		}
	}

	&__link {
		display: inline-block;
	}

	&__smallImage {
		width: 100%;
		opacity: 0.5;
	}

	&__text {
		position: absolute;
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
		bottom: 140px;
		color: #ffffff;
	}

	@media (--tabletAndMobile) {

		&__bigImage {
			min-width: initial;
		}
	}

	@media (--tablet) {

		&__bigImage {
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (--phone) {
		flex-direction: column;
		align-items: center;

		&_card {

			.gallery {

				&__list {
					width: 375px;
					height: auto;
					-webkit-overflow-scrolling: touch;
					overflow-y: hidden;
					overflow-x: scroll;
					&::-webkit-scrollbar {
						display: none;
					}

				}

				&__item {
					min-width: 63px;
				}
			}

		}

		&__bigImage {
			margin-bottom: 40px;
		}

		&__list {
			width: 100%;
			flex-direction: row;
			justify-content: flex-start;
			margin-left: -10px;

		}

		&__item {
			width: 63px;
			height: 63px;
			margin-left: 10px;
		}

		&__text {
			display: none;
		}
	}

}