.grade {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 18px;
	font-weight: 700;

	&_catalog {
		flex-grow: 1;
		justify-content: flex-end;

		.grade {

			&__title,
			&__number {
				color: #000;
				margin-right: 0;
			}
		}

	}

	&_all {
		float: right;
		color: #000000;
		margin-bottom: 30px;

		.btn_reviews {
			padding: 17px 40px;
			min-width: 217px;
		}
	}

	.ratings {
		margin-left: 15px;
		margin-right: 15px;
	}

	&__title,
	&__number {
		margin-top: 8px;
	}

	&__number {
		margin-right: 30px;
	}

	@media (max-width: 1160px) and (min-width: 768px){

		&_all {
			width: 23%;
			min-width: 224px;
			flex-wrap: wrap;

			.ratings{
				margin-left: 0;
			}

			.grade {

				&__title,
				&__btn {
					margin-top: 0;
					width: 100%;
				}

				&__btn{
					margin-top: 20px;

					.btn{
						margin-left: auto;
					}

				}

			}
		}

	}

	@media (--phone) {
		font-size: 15px;

		.ratings{
			margin-left: auto;
		}

		&__number,
		&__title{
			margin-top: 4px;
		}

		&_all{
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 0;

			.grade{

				&__btn {
					margin-top: 20px;
					width: 100%;

					.btn{
						width: 100%;
						max-width: initial;
					}
				}
			}
		}

	}
}