.info-labels {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;

	&_card {
		display: inline-block;
		vertical-align: middle;
		margin-left: 30px;

		.info-labels{

			&__item{
				cursor: pointer;
				border-radius: 0;
				text-transform: uppercase;
				font-size: 11px;
				padding: 2px 18px;
				margin-bottom: 0;
			}
		}
	}

	&__item {
		margin-left: 10px;
		margin-bottom: 10px;
		padding: 4px 19px;
		border: 1px solid #ff6949;
		border-radius: 5px;
		color: #000;
		font-size: 10px;
		font-weight: 400;
		line-height: 12px;

		&_big {
			font-size: 18px;
		}
	}

	@media (--tabletAndMobile) {

		&_card{

			.info-labels{

				&__item{
					padding-bottom: 0;
				}
			}
		}
	}

	@media (--phone) {
		margin-bottom: 30px;

		&_card{
			margin-bottom: 0;
		}
	}
}

