.label {
	position: absolute;
	top: 20px;
	left: 10px;
	z-index: 4;

	&_static {
		position: static;
	}

	&__item {
		position: relative;
		height: 18px;
		color: #5a5a5a;
		font-size: 11px;
		font-style: italic;
		text-transform: uppercase;
	}

	&__text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	@media (--tabletAndMobile) {

		&__item{
			width: 60px;
		}

		&__image{
			max-width: 100%;
		}

		&__text{
			font-size: 10px;
		}
	}
}