.likes{
	cursor: pointer;
	margin-right: 20px;
	display: flex;
	font-weight: 700;

	span{
		margin-left: 5px;
	}

	&.active{

		.icon_likes{
			background-image: url(https://icongr.am/fontawesome/heart-o.svg?size=20&color=dd0016);
			opacity: 1;

			&:hover{
				background-image: url(https://icongr.am/fontawesome/heart.svg?size=20&color=dd0016);
			}
		}
	}

	@media (max-width:$phone) {
		display: none;
	}
}