@mixin border{
	position: relative;

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		opacity: 0.25;
		background-color: #909090;
		bottom: 2px;
		left: 0;
		transition: width 0.3s;
	}

	&:hover{
		&:after{
			width: 0;
		}
	}
}

@mixin clearfix{

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin bg{
	position: relative;
	&::after,
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		background: #ffffff;
	}

	&::after {
		left: 100%;
	}

	&::before {
		right: 100%;
	}

	@media (--tabletAndMobile) {
		overflow-x:hidden;
	}
}

@mixin triangle{
	position: relative;

	&:after {
		content: "";
		position: absolute;
		right: 5px;
		width: 10px;
		height: 10px;
		border: 5px solid transparent;
		border-top-color: #dd0016;
	}

	&.active {

		&:after {
			border-top-color: transparent;
			border-bottom-color: #dd0016;
		}
	}
}
