.more {
	width: 100%;
	display: block;
	padding: 18.5px;
	background-color: #202020;
	background-image: linear-gradient(to top, #606064 0%, #505054 100%);
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #ffffff;
	border: none;
	cursor: pointer;

	span {
		color: $primaryColor;
	}

	&:hover {
		color: #ffffff;
		background: #515151;
		background-image: none;
	}

	&:active {
		background-color: #000;
		background-image: linear-gradient(to top, #505054 0%, #606064 100%);
	}

	&:focus{
		outline: none;
	}
}