.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #8c8c8c;
	height: 6px;
	border-radius: 0;
	margin: 2px 0;

	&:hover {
		background-color: #494949;
		height: 6px;
	}
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #eee;
	margin: 0;
	height: 10px;
	border-radius: 0;

	&:hover {
		height: 10px;
	}
}