.news{

	.title{
		margin-bottom: 20px;
	}

	@media (--tabletAndMobile) {

		margin-left: -1%;
		margin-right: -1%;
	}

	@media (--tablet) {
		padding-top: 20px;

		.title {
			text-align: left;
			font-size: 23px;
		}
	}

	@media (--phone) {
		padding-top: 10px;

		.title {
			text-align: center;
		}
	}
}