.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*затемнитефон*/
	display: none;

	&.flag{
		display: block;
		background-color: transparent;
	}

	&.active{
		z-index: 15;
		display: block;
	}
}