// main: style.less

.popup {
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1200;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	overflow-scrolling: touch;
	opacity: 0;
	pointer-events: none;
	background: rgba(24, 17, 34, 0.7);
	transition: opacity 500ms;

	&_active {
		opacity: 1;
		pointer-events: auto;
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__table {
		display: table;
		width: 100%;
		height: 100%;
		padding: 40px 30px;
	}

	&__cell {
		height: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	&__block {
		display: inline-block;
		text-align: left;
		position: relative;
	}

	&__close {
		display: none;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 2;

		&:before,
		&:after {
			position: absolute;
			left: 50%;
			margin: -1px 0 0 -8px;
			top: 50%;
			height: 1px;
			width: 20.5px;
			background-color: #373737;
			content: '';
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}

	&_active &__close {
		display: block;
	}

	&__change {

		& > div {
			display: block;
		}
	}

	&__body_hidden {
		overflow: hidden;
		-webkit-overflow-scrolling: auto;
		-moz-overflow-scrolling: auto;
		-o-overflow-scrolling: auto;
		-ms-overflow-scrolling: auto;
		overflow-scrolling: auto;
	}

	&__title {
		margin-bottom: 15px;
		color: #202020;
		font-size: 30px;
		font-weight: 300;
	}

	&__promo {
		color: #1f1f1f;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
	}

	&__text {
		color: #000;
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;

		&_dim {
			opacity: 0.98;
		}
	}

	&__wrapper {
		padding: 30px;
	}

	&__admire {
		margin-top: 15px;
		margin-bottom: 15px;
		opacity: 0.98;
		font-size: 11px;
		font-weight: 400;
		line-height: 16px;
		color: #909090;

		div {
			display: inline;
		}

		a {
			color: #000;
		}
	}

	&__footer {
		margin-top: 30px;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
	}

	&__button {
		display: block;
		width: 100%;
		border: none;
		padding: 17.5px 40px;
		background-color: #dd0016;
		background-image: linear-gradient(to top, rgba(255, 56, 36, 0.25) 0%, rgba(255, 56, 36, 0) 100%);
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-image: none;
			background-color: #ff0019;
		}

		&:active {
			background-image: none;
			background-color: #dd0016;

		}

		&:focus {
			outline: none;
		}

		&:disabled {
			background: #ebebeb;
			color: #8c8c8c;
			cursor: inherit;
		}
	}

	&__explain {
		color: #000;
		font-weight: 300;
		line-height: 20px;
	}

	&__asterisk {
		color: $primaryColor;
		font-weight: 400;
	}

	@media (max-width: 767px) {
		&__table {
			padding: 20px 0;
		}

		&__title {
			text-align: center;
			font-size: 18px;
		}

		&__text {
			text-align: center;
		}

		&__promo {
			text-align: center;

			font-size: 16px;
			line-height: 1.4;
		}

		&__wrapper {
			padding: 15px;
			padding-top: 40px;
		}

		&__footer {
			flex-direction: column;
		}
	}
}