.price{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 10px;
	color: #f2221c;
	font-size: 35px;
	font-weight: 300;
	line-height: 20px;

	@media (min-width: 1170px) {
		margin-right: 0;
	}
}