.problem {
	padding: 27px 30px;
	padding-right: 55px;
	background-image: url(../images/about-time.png);
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: 90% center;

	&__title {
		margin-bottom: 10px;
		color: #000;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}

	&__text {
		margin-bottom: 20px;
		color: #000;
		font-size: 13px;
		font-weight: 300;
	}

	&__call {
		color: #2f2f2f;
		font-size: 24px;
		font-weight: 300;

		a {
			color: #dd0016;
			text-transform: uppercase;
			white-space: nowrap;


			&:hover {
				color: #000000;
			}
		}
	}

	&_service {
		padding-top: 40px;
	}

	&_address {
		background-position: left;
		background-size: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 15%;
		padding-right: 15%;
		margin-bottom: 40px;

		.problem__text {
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 0;
			max-width: 397px;
		}

		@media (max-width: 1100px) and (min-width: 768px) {
			padding-right: 5%;

			.problem {

				&__text {
					font-size: 15px;
					max-width: 335px;
				}

				&__call {
					font-size: 18px;
				}
			}
		}

		@media (--phone) {
			flex-direction: column;
			background-size: 50%;
			background-position: center;
			padding-top: 40px;
			padding-bottom: 35px;
			margin-left: -2%;
			margin-right: -2%;

			.problem {

				&__text {
					font-size: 15px;
					max-width: 335px;
					margin-bottom: 30px;
					text-align: center;
				}

				&__call {
					font-size: 18px;
					text-align: center;

					&-text{
						display: block;
					}
				}

				&__consult{
					text-align: center;
					margin-bottom: 10px;
				}
			}
		}

	}

	&_documents{
		width: 100%;
		padding-left: 10%;
		padding-right: 20px;
		margin-bottom: 0;
	}

	&__consult {
		display: block;
		color: #000;
		font-size: 13px;
		font-weight: 300;
	}

	@media (--tabletAndMobile) {

		&_documents{
			margin-left: -10px;
			margin-right: -10px;
			width: 104%;

			.problem__text{
				font-size: 18px !important;
			}

			.problem__call{

				&-text{
					font-size: 24px !important;
				}
			}
		}
	}

	@media (--tablet) {

		&_card {
			position: absolute;
			right: 0;
			top: -120%;
		}
	}

	@media (--phone) {

		&_card {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-bottom: 15px;

			.problem__call {
				font-size: 18px;
			}

			.problem__title,
			.problem__text {
				text-align: center;
			}
		}

		&_service {
			padding: 25px 15px;
			text-align: center;

			.problem__call {
				font-size: 18px;
			}

			.problem__title,
			.problem__text{
				margin-bottom: 20px;
			}
		}

		&_documents{
			margin-left: -10px;
			margin-right: -10px;
			width: 104%;
		}

	}
}