.review {
	max-width: 740px;
	background: #fff;

	&__number{
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		color: #000;
		font-size: 18px;
		font-weight: 700;
	}

	.ratings{
		margin-bottom: 15px;
	}

	.form-inputs__message{
		height: 52px;
		margin-bottom: 0;
	}

	.form-inputs__error{
		height: 52px;
	}

	.popup__footer{
		margin-top: 15px;
		margin-bottom: 10px;
	}
}