.small-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	color: #666;
	font-size: 11px;
	font-weight: 400;
	background-color: #eee;
	border-radius: 3px;
	padding: 1.5px 5px;

	@media (--phone) {
		padding-top: 3px;
		padding-bottom: 0;
	}
}