.small-title{
	margin-bottom: 35px;
	color: #000;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.4;

	@media (--tablet) {
		text-align: center;
		font-size: 23px;
		font-weight: 400;

	}

	@media (--phone) {
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		margin-bottom: 15px;
	}
}