.tab-block{

	&__list{
		list-style-type: none;
		margin:0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
		margin-left: -15px;

		li{
			margin-left: 15px;
			margin-bottom: 15px;
		}
	}

	&__link{
		background-color: #f0f0f0;
		border-radius: 3px;
		padding: 4px 18px;
		color: #666;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;

		&.active{
			background-color: #dd0016;
			color: #fff;
		}
	}

	&__item{
		display: none;
		animation: fadeEffect 0.2s;

		@keyframes fadeEffect {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		&.active {
			display: block;
		}
	}

}