.tabs {

	&__links {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__link {
		color: #000000;
		display: block;
		padding: 14px 16px;
		transition: background-color 0.2s linear;

		&.active {
			background-color: #ccc;
		}
	}

	&__item {
		display: none;
		animation: fadeEffect 0.2s;

		@keyframes fadeEffect {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		&.active {
			display: block;
		}
	}

	&_catalog {

		.tabs__link {
			position: relative;
			padding: 16px 37.5px;
			font-size: 13px;
			font-weight: 400;
			color: #000000;
			line-height: 16px;
			text-transform: uppercase;

			@media (--phone) {
				padding: 14px 19.5px;

				&:after {
					bottom: 0;
				}
			}

			@media (--tablet) {

				&:after {
					bottom: 0;
				}
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 0;
				left: 0;
				bottom: -8px;
				height: 3px;
				opacity: 0;
				background-color: #ff3824;
				transition: width 0.3s linear;
			}

			&:hover {
				text-decoration: none;

				&:after {
					opacity: 0.3;
					width: 100%;
				}
			}

			&.active {
				background: none;

				&:after {
					opacity: 1;
					width: 100%;
				}
			}
		}
	}

	&_popular {

		.tabs__link {
			position: relative;
			display: inline-block;
			min-height: 50px;
			max-height: 50px;
			padding: 10px 20px;
			text-align: center;

			img {
				max-width: 100%;
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 0;
				left: 0;
				bottom: 0px;
				height: 3px;
				opacity: 0;
				background-color: #ff3824;
				transition: width 0.3s linear;
			}

			&:hover {
				text-decoration: none;

				&:after {
					opacity: 0.3;
					width: 100%;
				}
			}

			&.active {
				background: none;

				&:after {
					opacity: 1;
					width: 100%;
				}
			}
		}

		@media (--tablet) {

			.tabs__link {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

	}

	&_basket {
		margin-bottom: 50px;

		.tabs__links {
			margin-bottom: 20px;
		}

		.tabs__link {
			background: #ffffff;
			color: #5a5a5a;
			font-size: 15px;
			font-weight: 400;
			border: 1px solid #9b9b9c;
			padding: 9px 56.5px;

			&.active {
				color: #ffffff;
				background-color: rgba(47, 47, 47, 0.96);
				border-color: rgba(47, 47, 47, 0.96);
			}
		}

		@media (--tabletAndMobile) {

			.tabs__links {

				li {
					flex-grow: 1;
				}
			}

			.tabs__link {
				text-align: center;
			}
		}

		@media (--phone) {
			.tabs__link {
				font-size: 12px;
				padding: 9px 0;
			}
		}
	}

	&_service {

		.tabs {

			&__links {
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
			}

			&__link {
				position: relative;
				padding: 0;
				border-bottom: 1px dashed #ccc;
				z-index: 1;

				&.active {
					background: transparent;
					font-weight: 700;
					border-bottom: none;
				}

				span {
					color: $primaryColor;
				}

			}

			@media (max-width: 1054px) and (min-width: 768px) {

				&__links {
					flex-wrap: wrap;
					justify-content: center;
					margin-bottom: 20px;
				}

				&__link {
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 20px;
				}
			}

			@media (--phone) {

				&__links {
					display: none;

					&.active {
						display: block;
						position: absolute;
						width: calc(100% + 30px);
						left: 50%;
						transform: translateX(-50%);
						padding-left: 20px;
						background: #fff;
						z-index: 11;
						box-shadow: 0 3px 25px rgba(77, 107, 127, .2);
					}
				}

				&__link {
					border-bottom: none;
					margin-left: 0px;
					padding: 8px 10px;

					&:hover {
						background: #efefef;
						color: #000000;
					}
				}
			}
		}

	}

	&_designers {
		padding-bottom: 30px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.16);

		.tabs {

			&__link {
				font-size: 24px;
				font-weight: 300;
				color: #fff;
				padding-left: 0;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 30px;

				&.active {
					background: transparent;

					span {
						border-bottom-color: transparent;
					}
				}

				span {
					border-bottom: 1px dashed currentColor;
				}
			}
		}

		@media (--tablet) {
			margin-bottom: 30px;
			padding-bottom: 10px;
		}

		@media (--phone) {
			margin-bottom: 30px;

			.tabs {

				&__link {
					font-size: 18px;
				}
			}
		}
	}

	&_news {

		.tabs {

			&__links {

				border-bottom: 1px solid #f2f2f2;
				margin-bottom: 20px;

				li + li {
					margin-left: 60px;
				}
			}

			&__link {
				position: relative;
				padding: 0;
				color: #000;
				font-size: 24px;
				font-weight: 300;

				&.active {
					background: transparent;

					&::after {
						content: "";
						position: absolute;
						display: block;
						height: 3px;
						bottom: -1px;
						width: 100%;
						left: 50%;
						transform: translateX(-50%);
						background-color: #ff3824;
					}
				}
			}
		}

		@media (--tablet) {
			.tabs {

				&__links {

					li + li {
						margin-left: 48px;
					}
				}

				&__link {
					font-size: 18px;
				}
			}
		}

		@media (--phone) {
			.tabs {

				&__links {
					li {
						padding-bottom: 5px;
					}

					li + li {
						margin-left: 30px;
					}
				}

				&__link {
					font-size: 14px;

					&.active {

						&:after {
							bottom: -6px;
						}
					}

				}
			}
		}

	}

}
