.title {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1;
	color: #202020;

	&_white{
		color: #ffffff;
	}

	&__mobile{
		display: none;
	}

	&__accent{
		color:$primaryColor;
	}

	@media (--tablet) {
		text-align: center;
		font-size: 30px;

		&__mobile{
			display: inline;
			font-size: 23px;
			font-weight: 400;
		}

		&__desktop{
			display: none;
		}
	}

	@media (--phone) {
		font-size: 23px;
		font-weight: 400;

		&__mobile{
			display: inline-block;
			font-size: 23px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		&__desktop{
			display: none;
		}

	}
}
