.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	line-height: 1;
	right: 0;
	top: 0;
	z-index: 1000;
	max-width: 400px;
	transform:scale(0);
	transition:transform 200ms, opacity 200ms;
	box-shadow: -15px 3px 18px rgba(32, 32, 32, 0.1);

	&.active {
		pointer-events: auto;
		opacity: 1;
		transform:scale(1);
	}

	&__arrow {
		position: absolute;

		&_left {
			top: 50%;
			margin-top: -2px;
			left: -4px;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-right: 4px solid rgba(0, 0, 0, .5);
		}

		&_right {
			top: 50%;
			margin-top: -2px;
			right: -4px;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid rgba(0, 0, 0, .5);
		}

		&_top {
			right: 50%;
			margin-right: -2px;
			top: -4px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 4px solid rgba(0, 0, 0, .5);
		}

		&_bottom {
			right: 50%;
			margin-right: -2px;
			bottom: -4px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid rgba(0, 0, 0, .5);
		}

	}

	&__section {
		background: rgba(0, 0, 0, .5);
		padding: 20px;
		position: relative;
	}

	&_mod1 &__section {
		background: #2e54b6;
	}


	&_mod1 &__arrow {

		&_left {
			border-right: 4px solid #2e54b6;
		}

		&_right {
			border-left: 4px solid #2e54b6;
		}

		&_top {
			border-bottom: 4px solid #2e54b6;
		}

		&_bottom {
			border-top: 4px solid #2e54b6;
		}

	}

	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 10px;
		height: 10px;
		cursor: pointer;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: #fff;
			margin-top: -1px;
			top: 50%;
			transform-origin:50% 50%;
		}

		&:before {
			transform:rotate(45deg);
		}

		&:after {
			transform:rotate(-45deg);
		}

	}

	&__title{
		font-size: 16px;
		color: #000;
		font-weight: 400;
		margin-bottom: 17px;
	}

	&__text {
		font-size: 13px;
	}

	&__link{
		color: $primaryColor;
		font-size: 16px;
	}

	&__image{
		float: left;
		margin-right: 20px;
	}

	&_new-price,
	&_support{

		.tooltip__section{
			background: #ffffff;
		}

		.tooltip__desc{
			margin-bottom: 15px;
		}
		
		.tooltip__arrow{
			
			&_left{
				border:none;
				width: 15px;
				height: 15px;
				background: #fff;
				transform: rotate(45deg);
			}
		}
	}

	&_new-price{
		margin-top: -5px;
		max-width: 434px;
	}

	&_support{
		max-width: 466px;
		line-height: 1.4;
		margin-top: -4px;

		.tooltip__desc{
			margin-top: 30px;

			a{
				color: $primaryColor;
			}
		}
	}

	&_info{
		max-width: 268px;

		.tooltip__section{
			background: #ffffff;
		}

		.tooltip__arrow{

			&_bottom{
				border-top-color:#fff ;
				border-width: 7px;
				bottom: -7px;
			}
		}
	}

}