$font-family:HelveticaNeueCyr, Arial, sans-serif;
$font-size: 14px;
$line-height: 1.4;
$primaryColor: #dd0016;
$secondColor:#58b543;
$phone: "767px";
$tablet:"1000px";
@custom-media --tabletAndMobile (width <1000px);
@custom-media --tablet (width >= 768px) and (width <= 1000px);
@custom-media --phone (width < 768px);

@mixin triangle($triangle-size:20px,$triangle-color:red,$triangle-direction:right) {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: inset $triangle-size;

	@if ($triangle-direction == down) {
		border-color: $triangle-color transparent transparent;
		border-top-style: solid;
		border-bottom-width: 0;
	}
	@if ($triangle-direction == up) {
		border-color: transparent transparent $triangle-color;
		border-bottom-style: solid;
		border-top-width: 0;
	}
	@if ($triangle-direction == right) {
		border-color: transparent transparent transparent $triangle-color;
		border-left-style: solid;
		border-right-width: 0;
	}
	@if ($triangle-direction == left) {
		border-color: transparent $triangle-color transparent transparent;
		border-right-style: solid;
		border-left-width: 0;
	}
}
