.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
	overflow-x: hidden;
	min-height: 100%;
	height: 100%;
	min-width: 320px;
	width: auto;
	background-color: #dcdcdc;
	-webkit-overflow-scrolling: touch;
}