<section class="guarantee">
	<div class="guarantee__title">
		Мы гарантируем конфиденциальность сотрудничества. Вы направили к нам клиента? Мы обеспечим качественное
		обслуживание и сервис профессионального уровня!
	</div>
	<form action="" class="guarantee__form js-form">
		<div class="guarantee__blocks">
			<div class="guarantee__block">
				<div class="form-inputs__block">
					<label for="guarantee-name" class="form-inputs__label form-inputs__label_required">Ваше Ф.И.О.
					</label>
					<input type="text" class="form-inputs__field js-required basket__field"
					       id="guarantee-name"
					       placeholder="Введите имя" required="">
				</div>
				<div class="form-inputs__wrapper">
					<div class="form-inputs__block guarantee__phone">
						<label for="guarantee-phone" class="form-inputs__label form-inputs__label_required">Контактный
							телефон
						</label>
						<div class="form-inputs__code">
							<span>+7</span>
							<input type="tel"
							       class="form-inputs__field form-inputs__field_phone basket__field  js-required js-required-phone js-phone"
							       id="guarantee-phone" placeholder="Введите телефон" title="Введите корректный номер"
							       data-empty="Заполните телефон"
							       required="">
						</div>
					</div>
					<div class="form-inputs__block guarantee__email">
						<label for="email" class="form-inputs__label form-inputs__label_required">E-mail</label>
						<input type="email"
						       class="form-inputs__field js-required js-required-email  basket__field" id="email"
						       placeholder="Email"
						       title="Введите корректный email" data-empty="Заполните e-mail" required>
					</div>
				</div>
				<div class="form-inputs__block">
					<label for="abuse-name" class="form-inputs__label form-inputs__label_required">Адрес
					</label>
					<input type="text" class="form-inputs__field js-required basket__field"
					       id="abuse-name"
					       placeholder="Введите адрес" required="">
				</div>
				<div class="form-inputs__block form-inputs__block_textarea guarantee__desktop">
					<label for="comment-message" class="form-inputs__label">Комментарий</label>
					<textarea class="form-inputs__message basket__message  guarantee__comment" name="message"
					          id="comment-message" cols="30" rows="2" type="text"></textarea>
				</div>
			</div>
			<div class="guarantee__block guarantee__desc">
				<div class="form-inputs__block form-inputs__block_textarea guarantee__tablet">
					<label for="comment2-message" class="form-inputs__label">Комментарий</label>
					<textarea class="form-inputs__message basket__message  guarantee__comment" name="message"
					          id="comment2-message" cols="30" rows="2" type="text"></textarea>
				</div>
				<div class="form-inputs__block form-inputs__block_textarea ">
					<label for="desc-message" class="form-inputs__label form-inputs__label_required">Описание
						проекта</label>
					<textarea class="form-inputs__message basket__message js-required" name="message"
					          id="desc-message" cols="30" rows="10" type="text"></textarea>
				</div>
				<div class="popup__footer">
					<div class="popup__admire">
						Отправляя сообщение, я принимаю условия <a href="#">пользовательского соглашения</a>&nbsp; о предоставлении персональных данных
					</div>
					<button type="submit" class="guarantee__submit js-form__submit popup__button" disabled>
						Отправить
					</button>
				</div>
			</div>
		</div>
	</form>
</section>