.guarantee {

	&__title {
		max-width: 980px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		color: #1f1f1f;
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		text-align: center;
	}

	&__blocks {
		display: flex;
		justify-content: space-between;
	}
	.form-inputs {

		&__block {

			&_textarea {
				margin-bottom: 5px;
			}
		}

		&__wrapper {
			justify-content: space-between;
		}

		&__message {
			margin-bottom: 0;
		}
	}

	.popup__footer {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__submit {
		width: 325px;
	}

	&__block {
		width: 48.5%;
	}

	&__comment {
		height: 40px;
	}

	&__email {
		width: 255px;
	}

	&__phone {
		max-width: 270px;
	}

	&__tablet {
		display: none;
	}

	&__desc {

		.form-inputs__message,
		.form-inputs__error {
			height: 197px;
		}

		.form-inputs__error{
			bottom: 5px;
		}

		.guarantee__comment {
			height: 40px;
		}

	}

	@media (--tabletAndMobile) {

		margin-left: -1%;
		margin-right: -1%;
		padding-bottom: 40px;

		.form-inputs {

			&__wrapper {
				flex-wrap: wrap;
			}
		}

		&__phone {
			max-width: initial;
		}

		&__email {
			width: 100%;
		}
	}

	@media (--tablet) {
		padding-top: 40px;

		&__title{
			font-size: 15px;
			line-height: 20px;
		}

		&__blocks {
			position: relative;
			padding-bottom: 60px;
		}

		&__desktop {
			display: none;
		}

		&__tablet {
			display: block;
		}

		.popup__footer {
			width: 100%;
			left: 0;
			bottom: 0;
			position: absolute;
			justify-content: space-between;
		}

		.popup__admire{
			max-width: 48%;
		}
	}

	@media (--phone) {

		&__title{
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 20px;
		}

		&__blocks{
			flex-wrap: wrap;
		}

		&__block {
			width: 100%;
		}

		&__comment{
			height: 40px;
		}

		&__desc {

			.form-inputs__message,
			.form-inputs__error {
				height: 65px;
			}
		}
	}

}