.breadcrumbs {
	position: relative;
	z-index: 2;

	&__inner {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-left: 20px;
	}

	&__item {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 6px;
			height: 6px;
			background-color: #fff;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			z-index: 3;
		}

		&_mobile{
			display: none;
		}

		&:last-child{
			display: block;
		}
	}

	&__link {
		display: block;
		padding: 20px 25px;
		color: #5a5a5a;
		font-size: 13px;
		font-weight: 400;
	}

	&__text {
		display: block;
		padding: 20px 25px;
		color: #5a5a5a;
		font-size: 13px;
		font-weight: 400;
	}

	@media (--phone) {
		background: #fff;
		margin-left: -1%;
		margin-right: -1%;
		padding-left: 10px;
		padding-right: 10px;

		&_show{
			background-color: #2d2d2e;

			.breadcrumbs__text{
				color: #ffffff;
			}
		}

		&__item{
			display: none;

			&.cut{
				position: relative;
				display: block;
				width: 50%;
				white-space: nowrap;
				overflow: hidden;
				
				.breadcrumbs__text{
					float: right;
				}

				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 20%;
					height: 50%;
					top: 50%;
					transform: translateY(-50%);
					background: linear-gradient(to right, white , transparent);
				}
			}

			&_mobile{
				display: block;
			}

			&:before{
				background-color: #dcdcdc;
			}
		}

		&__text{
			padding: 20px;
		}
	}

}