<div class="breadcrumbs {% if show %} breadcrumbs_show {% endif %}">
	<div itemscope="" itemtype="https://schema.org/BreadcrumbList" itemref="n-breadcrumbs"></div>
	<div class="breadcrumbs__inner">
		<span class="icon icon_breadcrumbs"></span>
		<ul class="breadcrumbs__list">
			{% if card or premium or cardMiele %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Беспроводные акустические системы">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Беспроводные акустические системы</a>
			</li>
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Bang & Olufsen">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Bang & Olufsen</a>
			</li>
			<li class="breadcrumbs__item breadcrumbs__item_mobile">
				<span class="breadcrumbs__text">...</span>
			</li>
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Beoplay A6 Oxidized brass</span>
			</li>
			{% endif %}

			{% if reviewsCard %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Беспроводные акустические системы">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Беспроводные акустические системы</a>
			</li>
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Bang & Olufsen">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Bang & Olufsen</a>
			</li>
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Bang & Olufsen">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Beoplay A6 Oxidized brass</a>
			</li>
			<li class="breadcrumbs__item breadcrumbs__item_mobile">
				<span class="breadcrumbs__text">...</span>
			</li>
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Все отзывы о товаре</span>
			</li>
			{% endif %}

			{% if show %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Стиральные машины">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Стиральные машины</a>
			</li>
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Asko">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Asko</a>
			</li>
			<li class="breadcrumbs__item breadcrumbs__item_mobile">
				<span class="breadcrumbs__text">...</span>
			</li>
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">ШОУРУМ ASKO</span>
			</li>
			{% endif %}

			{% if brand %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Каталог">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Каталог</a>
			</li>
			<li class="breadcrumbs__item breadcrumbs__item_mobile">
				<span class="breadcrumbs__text">...</span>
			</li>
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Asko</span>
			</li>
			{% endif %}

			{% if catalog %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Каталог</span>
			</li>
			{% endif %}

			{% if documents %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Информация и документы</span>
			</li>
			{% endif %}

			{% if reviewsCatalog or top %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Стиральные машины</span>
			</li>
			{% endif %}

			{% if favorite %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Избранное</span>
			</li>
			{% endif %}

			{% if news %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Новости и статьи</span>
			</li>
			{% endif %}

			{% if basket %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Корзина</span>
			</li>
			{% endif %}

			{% if search %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Поиск</span>
			</li>
			{% endif %}

			{% if compare %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Сравнение">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Сравнение</a>
			</li>
			<li class="breadcrumbs__item breadcrumbs__item_mobile">
				<span class="breadcrumbs__text">...</span>
			</li>
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Сушильные машины</span>
			</li>
			{% endif %}

			{% if service %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Сервис Hausdorf</span>
			</li>
			{% endif %}

			{% if reviews %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Отзывы о бутике Hausdorf</span>
			</li>
			{% endif %}

			{% if selection %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Стиральные машины">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Стиральные машины</a>
			</li>

			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Подбор холодильников от редакции Hausdorf</span>
			</li>
			{% endif %}

			{% if admire %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Стиральные машины">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Сервис</a>
			</li>

			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Согласие на обработку персональных данных</span>
			</li>
			{% endif %}

			{% if program %}
			<li class="breadcrumbs__item">
				<div itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<meta itemprop="name" content="Стиральные машины">
					<meta itemprop="url" content="https://market.yandex.ru/catalog/54726/list?hid=91491">
				</div>
				<a href="#" class="breadcrumbs__link">Сервис</a>
			</li>

			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Информация об услуге Miele Exclusive Care.</span>
			</li>
			{% endif %}

			{% if rating %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Рейтинги</span>
			</li>
			{% endif %}

			{% if designers %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Сотрудничество</span>
			</li>

			{% endif %}

			{% if partners %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Партнеры</span>
			</li>
			{% endif %}

			{% if kitchens or kitchen %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">Кухни</span>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
