{% set basket = ' basket' %}
<div class="basket-add">
	<div class="popup__wrapper">
		<div class="popup__title">Товар добавлен в корзину</div>
		<div class="basket-add__wrapper">
			<div class="basket-add__image">
				<img src="images/basket-add-pic.png" alt="">
			</div>
			<div class="basket-add__desc">
				<div class="basket-add__subject">Беспроводная акустическая система</div>
				<a href="#" class="basket-add__name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
				<div class="basket-add__old-price"><span>2 553 000 руб.</span></div>
				<div class="basket-add__price">2 453 000 руб.</div>
			</div>
		</div>

		<!--start relative-->
		{% include 'relative/relative.html' %}
		<!--end relative-->

		<div class="basket-add__footer">
			<button type="button" class="basket-add__continue"><span>Продолжить покупки</span></button>
			<a href="" class="btn btn_basket-add">Перейти в корзину</a>
		</div>
	</div>
</div>