<div class="abuse">
	<div class="popup__wrapper">
		<div class="popup__title">Пожаловаться руководству</div>
		<div class="popup__text">
			<p>Руководство компании Hausdorf уделяет пристальное внимание качеству обслуживания своих клиентов. Если вы столкнулись с какими-либо проблемами на любом этапе заказа, мы будем благодарны за подробную информацию.</p>
			<p>Все сообщения рассматриваются лично руководством компании Hausdorf.</p>
		</div>
		<form action="" class="abuse__form js-form">
			<div class="form-inputs__wrapper">
				<div class="form-inputs__block form-inputs__block_wide">
					<label for="abuse-name" class="form-inputs__label form-inputs__label_required">Ваше имя
					</label>
					<input type="text" class="form-inputs__field js-required basket__field" id="abuse-name" placeholder="Введите имя" required="">
				</div>
				<div class="form-inputs__block">
					<label for="abuse-order" class="form-inputs__label">Номер заказа
					</label>
					<input type="tel" class="form-inputs__field  basket__field" id="abuse-order">
				</div>
			</div>
			<div class="form-inputs__block">
				<label for="abuse-contact" class="form-inputs__label form-inputs__label_required">Телефон или Email
				</label>
				<input type="text" class="form-inputs__field js-required basket__field" id="abuse-contact" placeholder="Телефон или Email" required>
			</div>
			<div class="form-inputs__block form-inputs__block_textarea">
				<label for="abuse-message" class="form-inputs__label">Что произошло</label>
				<textarea class="form-inputs__message basket__message js-required" name="message" id="abuse-message" cols="30" rows="6" type="text"></textarea>
			</div>
			<div class="popup__footer">
				<button type="submit" class="departure__submit js-form__submit popup__button" disabled>
					Отправить
				</button>
				<div class="popup__admire">
					<div>Заказывая обратный звонок, я принимаю условия</div>
					<div>
						<a href="#">&nbsp;пользовательского соглашения&nbsp;</a>
					</div>
					<div>о предоставлении персональных данных.</div>
				</div>
			</div>
		</form>
	</div>
</div>