<div class="basket-add">
	<div class="popup__wrapper">
		<div class="popup__title">Товар добавлен в корзину</div>
		<div class="basket-add__wrapper">
			<div class="basket-add__image">
				<img src="images/basket-add-pic.png" alt="">
			</div>
			<div class="basket-add__desc">
				<div class="basket-add__subject">Беспроводная акустическая система</div>
				<a href="#" class="basket-add__name">Bang & Olufsen Beoplay A6 Oxidized brass</a>
				<div class="basket-add__old-price">
					<span>2 553 000 руб.</span>
				</div>
				<div class="basket-add__price">2 453 000 руб.</div>
			</div>
		</div>

		<!--start relative-->
		<div class="relative ">
			<div class="relative__inner">
				<div class="relative__title">С этим товаром часто покупают:</div>

				<div class="relative__swiper  relative__swiper_basket js-relative-basket-swiper ">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="relative__col">
								<div class="relative__item">
									<a href="#" class="relative__link">
										<div class="relative__image">
											<img class="lazyload" data-src="images/relative-1.png" alt="">
										</div>
										<div class="relative__desc">
											<div class="relative__subject">Hi-Fi наушники</div>
											<div class="relative__name">Bang & Olufsen Beoplay H6</div>
											<div class="relative__price">26 900 руб.</div>
											<button type="button" class="relative__buy js-basket-add">В корзину</button>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="relative__col">
								<div class="relative__item">
									<a href="#" class="relative__link">
										<div class="relative__image">
											<img class="lazyload" data-src="images/relative-2.png" alt="">
										</div>
										<div class="relative__desc">
											<div class="relative__subject">Пульт ДУ</div>
											<div class="relative__name">Bang & Olufsen BeoRemote One</div>
											<div class="relative__price">12 500 руб.</div>
											<button type="button" class="relative__buy js-basket-add">В корзину</button>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="relative__col">
								<div class="relative__item">
									<a href="#" class="relative__link">
										<div class="relative__image">
											<img class="lazyload" data-src="images/relative-3.png" alt="">
										</div>
										<div class="relative__desc">
											<div class="relative__subject">Беспроводные наушники</div>
											<div class="relative__name">Bang & Olufsen Beoplay H5</div>
											<div class="relative__price">12 500 руб.</div>
											<button type="button" class="relative__buy js-basket-add">В корзину</button>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="relative__col">
								<div class="relative__item">
									<a href="#" class="relative__link">
										<div class="relative__image">
											<img class="lazyload" data-src="images/relative-1.png" alt="">
										</div>
										<div class="relative__desc">
											<div class="relative__subject">Hi-Fi наушники</div>
											<div class="relative__name">Bang & Olufsen Beoplay H6</div>
											<div class="relative__price">26 900 руб.</div>
											<button type="button" class="relative__buy js-basket-add">В корзину</button>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="relative__col">
								<div class="relative__item">
									<a href="#" class="relative__link">
										<div class="relative__image">
											<img class="lazyload" data-src="images/relative-1.png" alt="">
										</div>
										<div class="relative__desc">
											<div class="relative__subject">Hi-Fi наушники</div>
											<div class="relative__name">Bang & Olufsen Beoplay H6</div>
											<div class="relative__price">26 900 руб.</div>
											<button type="button" class="relative__buy js-basket-add">В корзину</button>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</div>
		</div>
		<!--end relative-->

		<div class="basket-add__footer">
			<button type="button" class="basket-add__continue">
				<span>Продолжить покупки</span>
			</button>
			<a href="" class="btn btn_basket-add">Перейти в корзину</a>
		</div>
	</div>
</div>