<div class="review">
	<div class="popup__wrapper">
		<div class="popup__title">Отзыв о бутике Hausdorf</div>
		<div class="form-inputs__label form-inputs__label_required">Ваша оценка</div>
		<br>

		<div class="ratings">
			<div class="ratings__section js-ratings__section">
				<div class="ratings__start"></div>
				<div class="ratings__click"></div>
				<div class="ratings__disable"></div>
				<div class="ratings__hover"></div>
			</div>
		</div>
		<div class="review__number js-review__number"></div>
		<form action="" class="review__form js-form">
			<div class="form-inputs__wrapper">
				<div class="form-inputs__block form-inputs__block_wide">
					<label for="abuse-name" class="form-inputs__label form-inputs__label_required">Ваше имя
					</label>
					<input type="text" class="form-inputs__field js-required basket__field" id="abuse-name" placeholder="Введите имя" required="">
				</div>
				<div class="form-inputs__block">
					<label for="email" class="form-inputs__label form-inputs__label_required">E-mail</label>
					<input type="email" class="form-inputs__field js-required js-required-email basket__field" id="email" placeholder="Email" title="Введите корректный email" data-empty="Заполните e-mail" required>
				</div>
			</div>

			<div class="form-inputs__block form-inputs__block_textarea">
				<label for="plus-message" class="form-inputs__label">Преимущества</label>
				<textarea class="form-inputs__message basket__message" name="message" id="plus-message" cols="30" rows="6" type="text"></textarea>
			</div>
			<div class="form-inputs__block form-inputs__block_textarea">
				<label for="minus-message" class="form-inputs__label">Недостатки</label>
				<textarea class="form-inputs__message basket__message" name="message" id="minus-message" cols="30" rows="6" type="text"></textarea>
			</div>
			<div class="form-inputs__block form-inputs__block_textarea">
				<label for="message" class="form-inputs__label form-inputs__label_required">Комментарий</label>
				<textarea class="form-inputs__message basket__message js-required" name="message" id="message" cols="30" rows="6" type="text"></textarea>
			</div>
			<div class="popup__footer">
				<button type="submit" class="departure__submit js-form__submit popup__button" disabled>
					Отправить
				</button>
				<div class="popup__admire">
					<div>Заказывая обратный звонок, я принимаю условия</div>
					<div>
						<a href="#">&nbsp;пользовательского соглашения&nbsp;</a>
					</div>
					<div>о предоставлении персональных данных.</div>
				</div>
			</div>
		</form>
	</div>
</div>