.footer-social {
	float: right;
	font-size: 19px;

	@media (--phone) {
		float: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 28px;
	}

	&__link {
		display: inline-block;
		vertical-align: middle;
		color: #a5a5a5;
		margin-left: 35px;

		&:hover {
			color: #fff;
		}

		@media (--phone) {
			display: block;
			margin: 0;
		}
	}
}