.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10px;

	&__link {
		text-decoration: none;
		display: block;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}

	&_footer{

		.logo__pic{
			display: inline-block;
		}
	}

	@media (--tablet) {
		top: 5px;

		&_footer {
			width: 191px;
		}
	}

	@media (max-width: $phone) {
		top: 7px;
		height: 60px;
		width: 87px;

		&_footer{
			width: 191px;
			margin-left: auto;
			margin-right: auto;

		}
	}

}