{%set items1 = ['Стиральные машины из Германии','Фронтальные стиральные машины шириной 50 см', 'Узкие стиральные машины', 'Стиральные машины шириной 55 см']%}

{%set items2 = ['Стиральные машины под раковину', 'Узкие стиральные машины с сушкой', 'Стиральные машины 50 см', 'Стиральные машины под раковину']%}

{%set items3 = ['Стиральные машины с металлическим баком', 'Стирально сушильные машины' , 'Стиральные машины под раковину', 'Стиральные машины с металлическим баком']%}

{%set items4 = ['Стиральные машины шириной 55 см', 'Угловые стиральные машины', 'Стиральные машины с металлическим баком', 'Стиральные машины из Румынии']%}

{%set items5 = ['Холодильники Asko','Стиральные машины Asko', 'Сушильные машины Asko',  'Варочные панели Asko']%}

{%set items6 = ['Посудомоечные машины Asko', 'Кофемашины Asko', 'Духовые шкафы Asko', 'Вытяжки Asko']%}

{%set items7 = ['Микроволновые печи Asko', 'Подогреватели Asko', 'Аксесуары Asko', 'Вакуумные упаковщики Asko']%}

<section class="selection">
	<div class="selection__top">
		{% if catalog %}
		<div class="selection__image">
			<img class="lazyload" srcset="images/logo-medium.png" alt="">
		</div>
		<div class="small-title">Подборки HAUSDORF</div>
		<a href="#" class="selection__more js-selection__more">
			<span class="selection__more-hided">Показать все</span>
			<span class="selection__more-view">Скрыть</span>
		</a>
		{% endif %}

		{% if brand %}
		<div class="selection__title">Бытовая техника Asko <span>Рус. «АСКО»</span></div>
		<div class="selection__image selection__image_right">
			<img class="lazyload" srcset="images/brand-asko.png" alt="">
		</div>
		{% endif %}
	</div>
	{% if catalog %}
	<div class="selection__row">
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items1 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items2 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items3 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items4 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items1 %}
				<li class="selection__item js-selection__hided hide">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items2 %}
				<li class="selection__item js-selection__hided hide">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items3 %}
				<li class="selection__item js-selection__hided hide">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items4 %}
				<li class="selection__item js-selection__hided hide">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>
	{% endif %}

	{% if brand %}
	<div class="selection__row selection__row_brand">
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items5 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items6 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="selection__col">
			<ul class="selection__list">
				{% for item in items7 %}
				<li class="selection__item">
					<a href="#" class="selection__link">{{item}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
</section>