.selection {
	background: #fff;
	margin-bottom: 15px;

	&__title {
		color: #202020;
		font-size: 24px;
		font-weight: 300;

		span {
			opacity: 0.75;
			font-size: 18px;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	.small-title {
		margin-bottom: 0;
	}

	&__image {
		margin-right: 20px;

		&_right {
			flex-grow: 1;
			text-align: right;
			margin-right: 0;
		}
	}

	&__more {
		color: #000000;
		flex-grow: 1;
		text-align: right;
		padding-right: 20px;

		@include triangle;

		&:after {
			top: 10px;
		}

		&.active {

			&:after {
				top: 4px;
			}

			.selection__more-hided {
				display: none;
			}
			.selection__more-view {
				display: inline;
			}
		}

		span {
			font-size: 16px;
			font-weight: 300;
			color: $primaryColor;
			border-bottom: 1px dashed currentColor;
		}

		&:hover {
			span {
				border: none;
			}
		}

		&-view {
			display: none;
		}

	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		&_brand{

			.selection__col{
				width: 33.33%;
			}
		}
	}

	&__col {
		width: 25%;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {

		margin-bottom: 10px;

		&.hide {
			display: none;
		}
	}

	&__link{
		opacity: 0.75;
		color: #202020;
	}

	@media (--tabletAndMobile) {
		margin-left: -1%;
		margin-right: -1%;

		&__top {
			flex-direction: column;
		}

		&__image {
			margin-right: 0;
			margin-bottom: 10px;
		}

		&__more {
			display: none;
		}

		&__row {
			flex-wrap: nowrap;

			-webkit-overflow-scrolling: touch;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__col {
			min-width: 250px;
			width: 33.33%;
		}

		&__item{

			&.hide{
				display: block;
			}
		}
	}
}