<div class="departure">
	<div class="popup__wrapper">
		<div class="popup__title"><span>Выезд менеджера на дом — бесплатно! </span><span
			class="popup__asterisk">*</span></div>
		<div class="popup__promo">Замер, подбор техники, консультация — на объекте.</div>
		<div class="popup__text">Если вам нужен замер, подбор техники и консультация в нестандартных
			решениях — мы будем рады встретиться на объекте и согласовать возможные варианты
			комплектации.
		</div>
		<ul class="departure__list">
			<li class="departure__item departure__item_time">Удобное время</li>
			<li class="departure__item departure__item_manager">Персональный менеджер</li>
			<li class="departure__item departure__item_consult">Счет сразу после консультации</li>
			<li class="departure__item departure__item_order">Возможна моментальная оплата заказа</li>
		</ul>
		<form action="" class="departure__form js-form">
			<div class="form-inputs__wrapper">
				<div class="form-inputs__block form-inputs__block_wide">
					<label for="departure-name" class="form-inputs__label form-inputs__label_required">Ваше
						имя
					</label>
					<input type="text" class="form-inputs__field js-required basket__field"
					       id="departure-name"
					       placeholder="Введите имя" required="">
				</div>
				<div class="form-inputs__block">
					<label for="departure-phone" class="form-inputs__label form-inputs__label_required">Контактный
						телефон
					</label>
					<div class="form-inputs__code">
						<span>+7</span>
						<input type="tel"
						       class="form-inputs__field form-inputs__field_phone basket__field  js-required js-required-phone js-phone"
						       id="departure-phone" placeholder="Введите телефон" data-empty="Заполните телефон"
						       title="Введите корректный номер" required="">
					</div>
				</div>
			</div>
			<div class="form-inputs__block">
				<label for="departure-address" class="form-inputs__label form-inputs__label_required">Ваш
					адрес
				</label>
				<input type="text" class="form-inputs__field js-required basket__field"
				       id="departure-address"
				       placeholder="Введите адрес" required="">
			</div>
			<div class="popup__footer">
				<button type="submit" class="departure__submit js-form__submit popup__button" disabled>Заказать выезд
				</button>
				<div class="popup__admire">
					<div>Заказывая бесплатный выезд менеджера на дом, я принимаю условия</div>
					<div><a href="#">&nbsp;пользовательского соглашения&nbsp;</a></div>
					<div>о предоставлении персональных данных.</div>
				</div>
			</div>
			<div class="popup__explain">
				<span class="popup__asterisk">*&nbsp;</span>
				<span>Услуга распространяется на бренды люкс и премиум-класса (за исключением бренда
				Miele) и предоставляется бесплатно при заказе комплекта от трех моделей крупной бытовой техники.</span>
			</div>
		</form>
	</div>
</div>