<div class="compare">
	<div class="compare__top js-compare-fixed">
		<div class="compare__left compare__left_tablet">
			<div class="compare__header">
				<div class="compare__title">Сравнение</div>
				<button type="button" class="compare__reset">Очистить</button>
			</div>
			<div class="select js-select select_compare">
				<span class="select__placeholder"><span>Стиральные машины</span></span>
				<ul class="select__list">
					<li class="select__item js-select__item active" data-value="wash machine">Стиральные машины</li>
					<li class="select__item js-select__item" data-value="1">Паровые машины</li>
					<li class="select__item js-select__item" data-value="two">Option 2</li>
				</ul>
				<input type="hidden" name="changeme"/>
			</div>
			<div class="compare__buttons">
				<button type="button" class="compare__button js-compare-all active">Все</button>
				<button type="button" class="compare__button js-compare-diff">Отличия</button>
			</div>
		</div>
		<div class="compare__right compare__right_tablet">
			<div class="compare__swiper">
				<div class="swiper-container swiper_compare  js-compare-swiper" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__item">
								<button type="button" class="compare__close js-compare__close"></button>
								<div class="compare__wrapper">
									<div class="compare__image">
										<img src="images/compare-1.png" alt="">
									</div>
									<div class="compare__desc">
										<div class="stock">В наличии</div>
										<a href="#" class="compare__name">DX-24.56BSK (А) петли справа</a>
									</div>
								</div>
								<div class="compare__footer">
									<div class="compare__price">452 000 руб.</div>
									<button type="button" class="compare__buy">В корзину</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__item">
								<button type="button" class="compare__close js-compare__close"></button>
								<div class="compare__wrapper">
									<div class="compare__image">
										<img src="images/compare-1.png" alt="">
									</div>
									<div class="compare__desc">
										<div class="stock">В наличии</div>
										<a href="#" class="compare__name">DX-24.56BSK (А) петли справа</a>
									</div>
								</div>
								<div class="compare__footer">
									<div class="compare__price">463 000 руб.</div>
									<button type="button" class="compare__buy">В корзину</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__item">
								<button type="button" class="compare__close js-compare__close"></button>
								<div class="compare__wrapper">
									<div class="compare__image">
										<img src="images/compare-1.png" alt="">
									</div>
									<div class="compare__desc">
										<div class="stock">В наличии</div>
										<a href="#" class="compare__name">DX-24.56BSK (А) петли справа</a>
									</div>
								</div>
								<div class="compare__footer">
									<div class="compare__price">451 000 руб.</div>
									<button type="button" class="compare__buy">В корзину</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__item">
								<button type="button" class="compare__close js-compare__close"></button>
								<div class="compare__wrapper">
									<div class="compare__image">
										<img src="images/compare-1.png" alt="">
									</div>
									<div class="compare__desc">
										<div class="stock">В наличии</div>
										<a href="#" class="compare__name">DX-24.56BSK (А) петли справа</a>
									</div>
								</div>
								<div class="compare__footer">
									<div class="compare__price">353 000 руб.</div>
									<button type="button" class="compare__buy">В корзину</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="4">
							<div class="compare__item">
								<button type="button" class="compare__close js-compare__close"></button>
								<div class="compare__wrapper">
									<div class="compare__image">
										<img src="images/compare-1.png" alt="">
									</div>
									<div class="compare__desc">
										<div class="stock">В наличии</div>
										<a href="#" class="compare__name">DX-24.56BSK (А) петли справа</a>
									</div>
								</div>
								<div class="compare__footer">
									<div class="compare__price">253 000 руб.</div>
									<button type="button" class="compare__buy">В корзину</button>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-scrollbar swiper-scrollbar_top"></div>
					<div class="swiper-pagination swiper-pagination_compare"></div>
					<div class="swiper__indicate">
						<span class="js-swiper-indicate-index">1</span>&nbsp;из&nbsp<span
						class="js-swiper-indicate-all">5</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="compare__bottom js-compare__bottom">
		<div class="compare__left js-compare__left">
			<div class="compare__block js-compare__block" data-block="1">
				<div class="compare__type">Общие характеристики</div>
				<div class="compare__value compare__value_character">Производитель</div>
				<div class="compare__value compare__value_character">Ширина (см)</div>
				<div class="compare__value compare__value_character">Глубина (см)</div>
				<div class="compare__value compare__value_character">Габариты (ВxШxГ)</div>
				<div class="compare__value compare__value_character">Максимальная загрузка (кг)</div>
				<div class="compare__value compare__value_character">Объем барабана(л)</div>
			</div>
			<div class="compare__block js-compare__block" data-block="2">
				<div class="compare__type">Режимы</div>
				<div class="compare__value compare__value_character">Количество режимов стирки</div>
				<div class="compare__value compare__value_character">Междунар. обозначения программ</div>
			</div>
			<div class="compare__block js-compare__block" data-block="3">
				<div class="compare__type">Функционал</div>
				<div class="compare__value compare__value_character">Выбор температуры стирки</div>
				<div class="compare__value compare__value_character">Отложенный старт</div>
				<div class="compare__value compare__value_character">Таймер завершения стирки</div>
				<div class="compare__value compare__value_character">Сигнал окончания стирки</div>
				<div class="compare__value compare__value_character">Дополнительные функции</div>
			</div>
			<div class="compare__block js-compare__block" data-block="4">
				<div class="compare__type">Классы</div>
				<div class="compare__value compare__value_character">Класс отжима</div>
				<div class="compare__value compare__value_character">Класс энергопотребления</div>
			</div>
			<div class="compare__block js-compare__block" data-block="5">
				<div class="compare__type">Безопасность</div>
				<div class="compare__value compare__value_character">Защита от детей</div>
				<div class="compare__value compare__value_character">Тип защиты от протечек</div>
				<div class="compare__value compare__value_character">Дополнительные параметры</div>
			</div>
			<div class="compare__block js-compare__block" data-block="6">
				<div class="compare__type">Установка и подключение</div>
				<div class="compare__value compare__value_character">Ширина встраивания</div>
				<div class="compare__value compare__value_character">Возможность установки в колонну</div>
				<div class="compare__value compare__value_character">Ножки для регулировки высоты</div>
			</div>
		</div>
		<div class="compare__right js-compare__right">
			<div class="swiper-container swiper_compare__bottom js-compare-swiper-bottom">
				<div class="swiper-wrapper">
					<div class="swiper-slide" data-slide="0">
						<div class="compare__block js-compare__block compare__block_value" data-block="1">
							<div class="compare__value">Miele</div>
							<div class="compare__value">58.5</div>
							<div class="compare__value">58.5</div>
							<div class="compare__value">85x59.5x58.5 см</div>
							<div class="compare__value">8</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="2">
							<div class="compare__value">12</div>
							<div class="compare__value">Да</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="3">
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="4">
							<div class="compare__value">А</div>
							<div class="compare__value">А++</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="5">
							<div class="compare__value">от детей (блокировка функций панели управления)</div>
							<div class="compare__value">полная</div>
							<div class="compare__value">Контроль за уровнем пены</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="6">
							<div class="compare__value">60</div>
							<div class="compare__value">-</div>
							<div class="compare__value">-</div>
						</div>
					</div>
					<div class="swiper-slide" data-slide="1">
						<div class="compare__block js-compare__block compare__block_value" data-block="1">
							<div class="compare__value">Kuppersbush</div>
							<div class="compare__value">59.5</div>
							<div class="compare__value">58.5</div>
							<div class="compare__value">85x59.5x58.5 см</div>
							<div class="compare__value">8</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="2">
							<div class="compare__value">11</div>
							<div class="compare__value">Да</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="3">
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="4">
							<div class="compare__value">А</div>
							<div class="compare__value">А++</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="5">
							<div class="compare__value">от детей (блокировка функций панели управления)</div>
							<div class="compare__value">полная</div>
							<div class="compare__value">Контроль за уровнем пены</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="6">
							<div class="compare__value">60</div>
							<div class="compare__value">-</div>
							<div class="compare__value">-</div>
						</div>
					</div>
					<div class="swiper-slide" data-slide="2">
						<div class="compare__block js-compare__block compare__block_value" data-block="1">
							<div class="compare__value">Miele</div>
							<div class="compare__value">59.5</div>
							<div class="compare__value">58.5</div>
							<div class="compare__value">85x59.5x58.5 см</div>
							<div class="compare__value">8</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="2">
							<div class="compare__value">11</div>
							<div class="compare__value">Да</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="3">
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="4">
							<div class="compare__value">А</div>
							<div class="compare__value">А++</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="5">
							<div class="compare__value">от детей (блокировка функций панели управления)</div>
							<div class="compare__value">полная</div>
							<div class="compare__value">
								<span>Профессиональная конструкция Quattro co SmartSeal</span>
								<span>Индукционный мотор</span>
								<span>Новая конструкция загрузочного люка</span>
								<span>6-ти кратная защита от протечек AquaBlockSystem</span>
								<span>Барабан Active Drum</span>
								<span>Заливной шланг — Pex с фиттингом 3 / 4 дюйма</span>
								<span>Чугунные противовесы</span>
								<span>Сушка может быть установлена сверху</span>
								<span>Глубина с полностью открытым люком 103 см</span>
								<span>Подготовлена для работы с монетоприёмником</span>
								<span>Подготовлена для работы по протоколу RS485</span>
								<span>Съёмные лопасти</span>
								<span>Сливной клапан</span>
							</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="6">
							<div class="compare__value">-</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
						</div>
					</div>
					<div class="swiper-slide" data-slide="3">
						<div class="compare__block js-compare__block compare__block_value" data-block="1">
							<div class="compare__value">Miele</div>
							<div class="compare__value">59.5</div>
							<div class="compare__value">58.5</div>
							<div class="compare__value">85x59.5x58.5 см</div>
							<div class="compare__value">8</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="2">
							<div class="compare__value">11</div>
							<div class="compare__value">Да</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="3">
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="4">
							<div class="compare__value">А</div>
							<div class="compare__value">А++</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="5">
							<div class="compare__value">от детей (блокировка функций панели управления)</div>
							<div class="compare__value">полная</div>
							<div class="compare__value">Контроль за уровнем пены</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="6">
							<div class="compare__value">60</div>
							<div class="compare__value">-</div>
							<div class="compare__value">-</div>
						</div>
					</div>
					<div class="swiper-slide" data-slide="4">
						<div class="compare__block js-compare__block compare__block_value" data-block="1">
							<div class="compare__value">Miele</div>
							<div class="compare__value">59.5</div>
							<div class="compare__value">58.5</div>
							<div class="compare__value">85x59.5x58.5 см</div>
							<div class="compare__value">8</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="2">
							<div class="compare__value">11</div>
							<div class="compare__value">Да</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="3">
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">Да</div>
							<div class="compare__value">-</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="4">
							<div class="compare__value">А</div>
							<div class="compare__value">А++</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="5">
							<div class="compare__value">от детей (блокировка функций панели управления)</div>
							<div class="compare__value">полная</div>
							<div class="compare__value">Контроль за уровнем пены</div>
						</div>
						<div class="compare__block js-compare__block compare__block_value" data-block="6">
							<div class="compare__value">60</div>
							<div class="compare__value">-</div>
							<div class="compare__value">-</div>
						</div>
					</div>
				</div>
				<div class="swiper-scrollbar swiper-scrollbar_bottom"></div>
			</div>
		</div>
	</div>

	<div class="accordion accordion_compare js-accordion-compare">
		<div class="accordion__block">
			<div class="accordion__button js-accordion__button active">Общие характеристики</div>
			<div class="accordion__panel active">
				<div class="swiper-container js-swiper-accordion-1 compare__swiper-accordion" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Производитель</div>
									<div class="compare__value">Miele</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина (см)</div>
									<div class="compare__value">48.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Глубина (см)</div>
									<div class="compare__value">58.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Габариты (ВxШxГ)</div>
									<div class="compare__value">85x59.5x58.5 см</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Объем барабана(л)</div>
									<div class="compare__value">8</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Производитель</div>
									<div class="compare__value">Kuppersbush</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина (см)</div>
									<div class="compare__value">59.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Глубина (см)</div>
									<div class="compare__value">58.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Габариты (ВxШxГ)</div>
									<div class="compare__value">85x59.5x58.5 см</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Объем барабана(л)</div>
									<div class="compare__value">8</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Производитель</div>
									<div class="compare__value">Asko</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина (см)</div>
									<div class="compare__value">59.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Глубина (см)</div>
									<div class="compare__value">58.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Габариты (ВxШxГ)</div>
									<div class="compare__value">85x59.5x58.5 см</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Объем барабана(л)</div>
									<div class="compare__value">8</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Производитель</div>
									<div class="compare__value">Kuppersbush</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина (см)</div>
									<div class="compare__value">59.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Глубина (см)</div>
									<div class="compare__value">58.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Габариты (ВxШxГ)</div>
									<div class="compare__value">85x59.5x58.5 см</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Объем барабана(л)</div>
									<div class="compare__value">8</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="4">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Производитель</div>
									<div class="compare__value">Miele</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина (см)</div>
									<div class="compare__value">59.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Глубина (см)</div>
									<div class="compare__value">58.5</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Габариты (ВxШxГ)</div>
									<div class="compare__value">85x59.5x58.5 см</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Объем барабана(л)</div>
									<div class="compare__value">8</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<div class="accordion__button js-accordion__button">Режимы</div>
			<div class="accordion__panel">
				<div class="swiper-container js-swiper-accordion-2 compare__swiper-accordion" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Количество режимов стирки</div>
									<div class="compare__value">12</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Междунар. обозначения программ
									</div>
									<div class="compare__value">Да</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Количество режимов стирки</div>
									<div class="compare__value">11</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Междунар. обозначения программ
									</div>
									<div class="compare__value">Да</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Количество режимов стирки</div>
									<div class="compare__value">11</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Междунар. обозначения программ
									</div>
									<div class="compare__value">Да</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Количество режимов стирки</div>
									<div class="compare__value">11</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Междунар. обозначения программ
									</div>
									<div class="compare__value">Да</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="4">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Количество режимов стирки</div>
									<div class="compare__value">11</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Междунар. обозначения программ
									</div>
									<div class="compare__value">Да</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<div class="accordion__button js-accordion__button">Функционал</div>
			<div class="accordion__panel">
				<div class="swiper-container js-swiper-accordion-3 compare__swiper-accordion" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Выбор температуры стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Отложенный старт
									</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Таймер завершения стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Сигнал окончания стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные функции</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Выбор температуры стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Отложенный старт
									</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Таймер завершения стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Сигнал окончания стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные функции</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Выбор температуры стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Отложенный старт
									</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Таймер завершения стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Сигнал окончания стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные функции</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Выбор температуры стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Отложенный старт
									</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Таймер завершения стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Сигнал окончания стирки</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные функции</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<div class="accordion__button js-accordion__button">Классы</div>
			<div class="accordion__panel">
				<div class="swiper-container js-swiper-accordion-4 compare__swiper-accordion" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс отжима</div>
									<div class="compare__value">A</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс энергопотребления
									</div>
									<div class="compare__value">A++</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс отжима</div>
									<div class="compare__value">A</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс энергопотребления
									</div>
									<div class="compare__value">A++</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс отжима</div>
									<div class="compare__value">A</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс энергопотребления
									</div>
									<div class="compare__value">A++</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс отжима</div>
									<div class="compare__value">A</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс энергопотребления
									</div>
									<div class="compare__value">A++</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="4">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс отжима</div>
									<div class="compare__value">A</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Класс энергопотребления
									</div>
									<div class="compare__value">A++</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<div class="accordion__button js-accordion__button">Безопасность</div>
			<div class="accordion__panel">
				<div class="swiper-container js-swiper-accordion-5 compare__swiper-accordion" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Защита от детей</div>
									<div class="compare__value">от детей (блокировка функций панели управления)</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Тип защиты от протечек
									</div>
									<div class="compare__value">полная</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные параметры
									</div>
									<div class="compare__value">Контроль за уровнем пены</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Защита от детей</div>
									<div class="compare__value">от детей (блокировка функций панели управления)</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Тип защиты от протечек
									</div>
									<div class="compare__value">полная</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные параметры
									</div>
									<div class="compare__value">Контроль за уровнем пены</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Защита от детей</div>
									<div class="compare__value">от детей (блокировка функций панели управления)</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Тип защиты от протечек
									</div>
									<div class="compare__value">полная</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные параметры
									</div>
									<div class="compare__value">
										<span>Профессиональная конструкция Quattro co SmartSeal</span>
										<span>Индукционный мотор</span>
										<span>Новая конструкция загрузочного люка</span>
										<span>6-ти кратная защита от протечек AquaBlockSystem</span>
										<span>Барабан Active Drum</span>
										<span>Заливной шланг — Pex с фиттингом 3 / 4 дюйма</span>
										<span>Чугунные противовесы</span>
										<span>Сушка может быть установлена сверху</span>
										<span>Глубина с полностью открытым люком 103 см</span>
										<span>Подготовлена для работы с монетоприёмником</span>
										<span>Подготовлена для работы по протоколу RS485</span>
										<span>Съёмные лопасти</span>
										<span>Сливной клапан</span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Защита от детей</div>
									<div class="compare__value">от детей (блокировка функций панели управления)</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Тип защиты от протечек
									</div>
									<div class="compare__value">полная</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные параметры
									</div>
									<div class="compare__value">Контроль за уровнем пены</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="4">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Защита от детей</div>
									<div class="compare__value">от детей (блокировка функций панели управления)</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Тип защиты от протечек
									</div>
									<div class="compare__value">полная</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Дополнительные параметры
									</div>
									<div class="compare__value">Контроль за уровнем пены</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion__block">
			<div class="accordion__button js-accordion__button">Установка и подключение</div>
			<div class="accordion__panel">
				<div class="swiper-container js-swiper-accordion-6 compare__swiper-accordion" data-swiper="0">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-slide="0">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина встраивания</div>
									<div class="compare__value">60</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Возможность установки в колонну
									</div>

									<div class="compare__value">-</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ножки для регулировки высоты
									</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="1">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина встраивания</div>
									<div class="compare__value">60</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Возможность установки в колонну
									</div>

									<div class="compare__value">-</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ножки для регулировки высоты
									</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="2">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина встраивания</div>
									<div class="compare__value">-</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Возможность установки в колонну
									</div>
									<div class="compare__value">Да</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ножки для регулировки высоты
									</div>
									<div class="compare__value">Да</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="3">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина встраивания</div>
									<div class="compare__value">60</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Возможность установки в колонну
									</div>

									<div class="compare__value">-</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ножки для регулировки высоты
									</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" data-slide="4">
							<div class="compare__block">
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ширина встраивания</div>
									<div class="compare__value">60</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Возможность установки в колонну
									</div>

									<div class="compare__value">-</div>
								</div>
								<div class="compare__unit">
									<div class="compare__value compare__value_character">Ножки для регулировки высоты
									</div>
									<div class="compare__value">-</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>