.compare {
	overflow: hidden;
	margin-bottom: 15px;

	&__top {
		display: flex;
		border-bottom: 5px solid #dcdcdc;

		&.fixed {
			position: fixed;
			width: 100%;
			max-width: 1161px;
			z-index: 10;
			top: 0;

			.compare__left,
			.compare__swiper {
				padding-top: 10px;
				padding-bottom: 0;
			}

			.compare__swiper{
				padding-right: 10px;
			}

			.compare__wrapper {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.select_compare {
				margin-bottom: 10px;
			}
		}
	}

	&__bottom {
		display: flex;
		background: #fff;

		&.delete {

			.compare__value {
				display: none;

				&.diff {
					display: block;
				}
			}
		}

		&.padding {
			padding-top: 235px;
		}

		.compare__right{
			overflow: hidden;
			padding: 0;
			margin-left: 30px;
			margin-right: 30px;
		}
	}

	&__left {
		padding: 20px 30px;
	}

	&__left {
		width: 25%;
		padding-top: 35px;
		min-width: 300px;
	}
	&__right {
		width: 75%;
		background: #fff;
		padding-left: 30px;
		padding-right: 30px;

		.compare__block_value{
			margin-bottom: 50px;
		}
	}

	&__left {
		background-color: #eee;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__title {
		color: #202020;
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
	}

	&__reset {
		background: none;
		color: #5a5a5a;
		font-size: 13px;
		font-weight: 400;
		border: none;
		padding: 0;
		border-bottom: 1px dashed currentColor;
		cursor: pointer;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	&__buttons {
		display: flex;
	}

	&__button {
		width: 50%;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.97);
		border: 1px solid #9b9b9c;
		font-size: 15px;
		font-weight: 400;
		color: #5a5a5a;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: rgba(47, 47, 47, 0.96);
			border-color: rgba(47, 47, 47, 0.96);
			color: #fff;

		}

		&.active {
			background-color: rgba(47, 47, 47, 0.96);
			border-color: rgba(47, 47, 47, 0.96);
			color: #fff;

			&:hover {
				background-color: rgba(255, 255, 255, 0.97);
				color: #5a5a5a;
			}
		}

		&:focus {
			outline: none;
		}
	}

	&__item {
		position: relative;
		max-width: 250px;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
		width: 19px;
		height: 19px;
		background-color: #373737;
		background-image: linear-gradient(to top, rgba(32, 32, 32, 0) 0%, #202020 100%);
		border: none;
		cursor: pointer;

		&::after,
		&::before {
			content: "";
			position: absolute;
			display: block;
			left: 50%;
			top: 50%;
			width: 9px;
			height: 1px;
			background: #fff;
		}

		&::after {
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
		}

		&::before {
			transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		}

		&:focus {
			outline: none;
		}

		&:hover {
			background-image: none;
			background-color: $primaryColor;
		}
	}

	&__wrapper {
		display: flex;
		margin-bottom: 10px;
		padding: 20px;
		border: 1px solid #efefef;
	}

	&__desc {
		padding-left: 20px;
	}

	&__name {
		color: #1f1f1f;
		font-size: 13px;
		font-weight: 400;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		color: $primaryColor;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
	}

	&__buy {
		border: none;
		padding: 6.5px 31px;
		background-color: $primaryColor;
		background-image: linear-gradient(to top, rgba(255, 56, 36, 0.25) 0%, rgba(255, 56, 36, 0) 100%);
		color: #fff;
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: #ff0019;
			background-image: none;
		}

		&:active {
			background-color: $primaryColor;
		}

		&:focus {
			outline: none;
			background-image: none;
			background-color: #ff0019;
		}
	}

	&__swiper {
		overflow: hidden;
		padding: 20px 0;
	}

	&__block {
		margin-bottom: 15px;

		&_value {

			&:first-child{
				padding-top: 75px;
			}
		}

		&.hide {
			display: none;
		}
	}

	&__type {
		margin-bottom: 15px;
		color: #000;
		font-size: 15px;
		font-weight: 500;
	}

	&__value {
		color: #000;
		font-size: 13px;
		font-weight: 500;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;

		span {
			display: block;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		&_character {
			color: #5a5a5a;
		}

	}

	@media (min-width: 1160px) {

		.swiper-slide {
			width: 34% !important;
		}

		&__value {

			&:nth-child(odd) {
				background-color: rgba(239, 239, 239, 0.34);
			}
		}
	}

	@media (max-width: 1160px) {
		margin-left: -1%;
		margin-right: -1%;

		&__top {
			flex-direction: column;

		}

		&__left,
		&__right {
			padding: 10px;

			&_tablet {
				width: 100%;
			}
		}

		&__left {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: #ffffff;
		}

		&__bottom {
			display: none;
		}

		&__blocks {
			display: flex;
		}

		&__block {
			margin-bottom: 0;
		}

		&__value {
			font-size: 12px;
			line-height: 20px;
			color: #000;
			font-weight: 500;

			&_character {
				margin-top: 8px;
				color: #5a5a5a;
				font-weight: 300;
			}
		}

		&__wrapper,
		&__footer {
			flex-direction: column;
		}

		&__image,
		&__desc {
			text-align: center;
		}

		&__image,
		&__price {
			margin-bottom: 10px;
		}

		&__wrapper {
			padding: 20px 0;
		}

		&__desc {
			padding-left: 0;
		}

		&__swiper {
			display: flex;
		}
	}

	@media (max-width: 1160px) and (min-width: 768px) {

		&__left {
			&_tablet {
				padding: 10px;
			}
		}

		&__right {
			display: flex;
		}

		&__header {
			min-width: 200px;
			margin-bottom: 0;
		}

		&__block {
			min-width: 25%;
		}

		&__buttons {
			width: 250px;
		}

		&__value{
			padding:0;

			&_character{
				font-size: 10px;
			}
		}

		&__swiper {

			&-accordion {
				width: 25%;
			}
		}

	}

	@media (--phone) {

		&__left {
			flex-wrap: wrap;

			&_tablet {
				padding: 10px 5px;
			}
		}

		&__right {
			display: flex;
		}

		&__header {
			width: 100%;
		}

		&__buttons {
			width: 150px;
		}

		&__button {
			padding: 9.5px 10px;
		}

		&__blocks {

		}

		&__block {
			min-width: 50%;
		}

		&__swiper {

			&-accordion {
				width: 50%;
			}
		}
	}
}

.delete {

	.compare__unit {
		display: none;

		&.diff {
			display: block;
		}
	}
}